asistente-wwOf9fW7jJK1H4d6.json
{"createdAt":"2025-09-02T21:31:32.354Z","updatedAt":"2025-09-19T15:57:24.651Z","id":"wwOf9fW7jJK1H4d6","name":"asistente","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"recibe mensaje de whatsapp","height":400,"width":740},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"61afade4-6ea5-4e11-8a37-a45b1dd949c8","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"recepcionwp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,224],"id":"e6794832-8d91-42e3-8ca7-2991b468a9d9","name":"recibe whatsapp","webhookId":"06b7fa1d-2797-4efe-a859-1023933c4348"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1580f864-3870-4931-8660-4b1825a4833a","leftValue":"={{ $json.message.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"43e66921-a978-4920-8840-0d77f82b835e"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea6bf271-2d0a-4011-967d-67bb9ca9627f","leftValue":"={{ $json.message.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,224],"id":"4212a0e5-0af2-40f3-ae28-fc1c219cea19","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77e3831b-8316-4a92-8e01-5b72f6184ec8","leftValue":"={{ $json.body.data.message.reactionMessage.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ae5461a6-1cbf-445f-b7f1-4c898a873126","leftValue":"={{ $json.body.data.message.stickerMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,48],"id":"55ca754d-f2b8-4071-8b5b-e8104217d8d7","name":"filtra reacciones"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('seteo inicial').item.json.instance.nombre }}","messageId":"={{ $('seteo inicial').item.json.message.id_session }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[912,464],"id":"2133b621-6560-4439-9392-3c925e329ac5","name":"Download áudio"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,464],"id":"e30566cd-866a-4820-b4dc-1925b2d8c0a7","name":"Converter base64 para áudio."},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"bearer "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,464],"id":"565fe888-680f-48a3-aa3d-01907eafdc46","name":"groq transcripción"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[608,32],"id":"c356c38e-9e51-434c-bcc7-84425711eddb","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"e3d8e45d-6ec7-40c7-8ad0-cf6822baaf0b","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"c94fd657-20eb-4d75-87c1-9aad99dd8068","name":"instance.nombre","value":"={{ $json.body.instance }}","type":"string"},{"id":"af61c2a0-54a0-4a34-b6eb-9ccbfadda86b","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ffc263bd-0a90-4f50-84f1-e3f87474eb01","name":"message.id_user","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"65c29034-84d4-4168-bbf0-267b0553d7d3","name":"message.id_session","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"9f458742-29f6-4ff8-b54d-537e3bd5bef0","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"2b442264-0eb6-4cb2-ab60-7e7953ddc67c","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"25250918-29b3-4e28-9b97-dd589825dc4e","name":"message.date","value":"={{ $json.body.date_time.toDateTime().toISO() }}","type":"string"},{"id":"ca801f80-75f8-4c0a-be9b-af56dd61f65a","name":"user.name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"9bc1e058-2a3f-4bc2-af42-20f2839e258c","name":"keyapi.llamacloud","value":"llx-G4nIoLF8GTb6Cz5lYshItVBld2CGvB3k1rbJkYSCiOQuDI7V","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,224],"id":"7e04b257-d0f1-4d5a-8b97-452e5bd04e01","name":"seteo inicial"},{"parameters":{"assignments":{"assignments":[{"id":"f719677b-0a19-4f96-9c1c-4bbf39f875e6","name":"mensaje","value":"={{ $('groq transcripción').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,288],"id":"9886ca31-2022-47e2-9e91-5f87dfb4092d","name":"Edit Fields"}],"connections":{"recibe whatsapp":{"main":[[{"node":"filtra reacciones","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[],[{"node":"Download áudio","type":"main","index":0}]]},"filtra reacciones":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"seteo inicial","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Converter base64 para áudio.","type":"main","index":0}]]},"Converter base64 para áudio.":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"seteo inicial":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"recibe whatsapp":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","user-agent":"axios/1.7.9","content-length":"926","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"444459aaaa5f","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"reservas","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"3F051893EE82B713F1E0"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"7WgVf7S4ECXZZQ==","senderTimestamp":"1748354136","recipientKeyHash":"3fAiBoqZKz3qpw==","recipientTimestamp":"1748468737"},"deviceListMetadataVersion":2},"conversation":"hola"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1748560000,"instanceId":"5b35680b-73e8-4531-9774-e678d59cf0f9","source":"unknown"},"destination":"https://ene8w.eficiencia.cloud/webhook/secretarIA","date_time":"2025-05-29T20:06:40.443Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evo.eficiencia.cloud","apikey":"E4087C7F5485-43AA-BEAD-32E52988914D"},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/secretarIA","executionMode":"production"}}]},"versionId":"5598237a-68b0-4498-be90-217e195711d4","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:31:32.354Z","updatedAt":"2025-09-02T21:31:32.354Z","role":"workflow:owner","workflowId":"wwOf9fW7jJK1H4d6","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}