asistente-facturador-7veKyVDnVvQp6J6G.json
{"createdAt":"2025-10-30T23:34:00.086Z","updatedAt":"2025-10-31T22:28:03.733Z","id":"7veKyVDnVvQp6J6G","name":"asistente facturador","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"whitelist","height":416,"width":596},"type":"n8n-nodes-base.stickyNote","position":[-1040,592],"typeVersion":1,"id":"66e2e35f-c28e-4da4-9934-f4fc5b95d147","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6970faf6-9d4f-4371-b00a-ba867e978121"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51f35c3d-9e46-4531-b5db-0a3e6a4b4211","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81257730-8d8d-4b11-bae1-f1b01ab09856","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-304,720],"id":"23bb6e2e-752f-42f8-a207-26643c10173f","name":"tipo dato"},{"parameters":{"method":"POST","url":"={{ $json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json[\"message.id\"] }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,80],"id":"30dc7767-261d-43c1-a5b3-e0caa9975bb0","name":"get audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[256,80],"id":"9a897327-6e86-4ed1-a54a-f57e6b29301a","name":"Convert audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,304],"id":"44e7f2c3-0df2-4d6a-ab11-aa10b97319c8","name":"groq transcripción","credentials":{"httpHeaderAuth":{"id":"8PlaFYoc9ho8EcnX","name":"groq api n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"08ce01c6-96e0-4e0b-aa5d-11ee86a30d27","name":"markdown","value":"={{ $json.text }}","type":"string"},{"id":"38457a25-d703-4548-b19b-a8caa0ca673c","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,304],"id":"70b08009-6080-4fc9-af91-8014fb4a236e","name":"audio normalizado"},{"parameters":{"content":"## transcribir mensaje de audio \n","height":500,"width":432,"color":2},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"ef9265d0-7e1c-4c61-85f6-57288637d5e8","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"para_facturar","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-912,640],"id":"0b1cba5f-d20e-4ff5-af84-4f6fe76a18b1","name":"recibe whatsapp","webhookId":"6e0df037-05cd-46bb-8f9f-20de8f9b8a3b","disabled":true},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"mbese6410yrht8j","options":{"fields":["celular"]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-704,640],"id":"06abf779-84d9-47cf-bfeb-ec61ec2dde5a","name":"whitelist1","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json._validacion.estaEnListaBlanca }} }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,864],"id":"d0142663-69ab-40a0-9483-c662b05b4374","name":"filtro"},{"parameters":{"assignments":{"assignments":[{"id":"a31c078a-e8be-4775-8fa4-48874b4e7b14","name":"markdown","value":"={{ $('set fields').item.json['message.content'] }}","type":"string"},{"id":"e4bfbfab-5339-41ed-80c8-e73609f0af36","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,512],"id":"6b957ff0-9584-449a-ae53-34d069b07c1f","name":"normalize txt"},{"parameters":{"jsCode":"// Obtener el número del webhook (remover @s.whatsapp.net)\nconst numeroWebhook = $('recibe whatsapp').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\n\n// Obtener todos los números de la lista blanca\nconst numerosListaBlanca = $input.all().map(item => item.json.celular);\n\n// Verificar si el número está en la lista blanca\nconst estaEnListaBlanca = numerosListaBlanca.includes(numeroWebhook);\n\n// Obtener datos del webhook\nconst webhookData = $('recibe whatsapp').item.json.body;\nconst messageData = webhookData.data;\n\n// Determinar el tipo de contenido\nlet contentType = '';\nif (messageData.message.extendedTextMessage) contentType = 'text';\nelse if (messageData.message.conversation) contentType = 'text';\nelse if (messageData.message.audioMessage) contentType = 'audio';\nelse if (messageData.message.imageMessage) contentType = 'image';\n\n// Obtener el contenido del mensaje\nlet messageContent = '';\nif (messageData.message.extendedTextMessage?.text) {\n  messageContent = messageData.message.extendedTextMessage.text;\n} else if (messageData.message.imageMessage?.caption) {\n  messageContent = messageData.message.imageMessage.caption;\n} else if (messageData.message.conversation) {\n  messageContent = messageData.message.conversation;\n}\n\n// Convertir fecha\nconst messageDate = new Date(webhookData.date_time).toISOString();\n\n// Retornar UN SOLO item con todos los campos limpios\nif (estaEnListaBlanca) {\n  return [{\n    json: {\n      // Campos de instancia\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      \n      // Campos de mensaje\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      \n      // Campos de usuario\n      'user.name': messageData.pushName,\n      \n      // API Keys\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      \n      // Validación\n      '_validacion': {\n        estaEnListaBlanca: true,\n        numeroValidado: numeroWebhook\n      },\n      \n      // Mantener datos originales completos por si acaso\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n} else {\n  return [{\n    json: {\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      'user.name': messageData.pushName,\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      '_validacion': {\n        estaEnListaBlanca: false,\n        numeroValidado: numeroWebhook\n      },\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,864],"id":"43988c09-7ba0-43a4-b155-07d8a585d92e","name":"set fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,992],"id":"514dd595-357e-4746-b67b-43702b568f90","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencion\": \"REGISTRAR_GASTO\",  \n  \"requiere_agente\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1472,992],"id":"c3b9d9f2-912b-4148-ab54-164db5f2b838","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=const promptClasificador = `Eres un clasificador de intenciones. Analiza el mensaje y responde SOLO con un JSON.\n\nMENSAJE DEL USUARIO: \"{{ $('SET MSG').item.json.mensaje_respuesta }}\"\n\nINTENCIONES POSIBLES:\n1. AYUDA - Usuario pide ayuda o instrucciones.\n2. SALUDO - Usuario saluda (hola, buenos días, etc.).\n3. CONFIRMAR - Usuario acepta, aprueba o confirma algo.\n4. CANCELAR - Usuario rechaza, niega o cancela algo.\n5. REGISTRAR_GASTO - Usuario quiere registrar un gasto.\n6. REPORTE - Usuario pide ver gastos, reportes o resumen.\n7. EDITAR - Usuario quiere modificar un gasto anterior.\n8. AGRADECIMIENTO - Usuario expresa gratitud (gracias, muy amable, etc.).\n9. DESPEDIDA - Usuario se despide (adiós, hasta luego, nos vemos, etc.).\n10. NO_CLARO - No se entiende la intención.\n\nREGLAS:\n- Si menciona dinero, montos, “pagó”, “gasté”, “compré” → REGISTRAR_GASTO\n- Si dice “sí”, “ok”, “confirmar”, “correcto”, “de acuerdo” → CONFIRMAR\n- Si dice “no”, “cancelar”, “mejor no”, “anular”, “ya no” → CANCELAR\n- Si pide “ayuda”, “cómo funciona”, “qué puedo hacer” → AYUDA\n- Si dice “hola”, “buenos días”, “buenas tardes”, “qué tal” → SALUDO\n- Si pide “reporte”, “cuánto”, “gastos de”, “resumen” → REPORTE\n- Si dice “gracias”, “muchas gracias”, “te lo agradezco”, “muy amable” → AGRADECIMIENTO\n- Si dice “adiós”, “hasta luego”, “nos vemos”, “cuidate”, “buen día”, “que estés bien” → DESPEDIDA\n- Si el mensaje no encaja claramente en ninguna → NO_CLARO\n\nRESPONDE SOLO CON ESTE JSON (sin texto adicional):\n{\n  \"intencion\": \"AYUDA|SALUDO|CONFIRMAR|CANCELAR|REGISTRAR_GASTO|REPORTE|EDITAR|AGRADECIMIENTO|DESPEDIDA|NO_CLARO\", \n  \"requiere_agente\": true o false\n}\nAnaliza y responde:`;\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1264,640],"id":"e90c1f80-b736-4b7f-ae69-1f87b5dfc946","name":"agent router","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $json.markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,752],"id":"3d9a4d07-c75a-4c64-96eb-d1ba3eccf6f4","name":"SET MSG"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[240,720],"id":"dd16d56b-3f0a-4d00-a9b4-9a33741789a5","name":"Convert image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"que cosa es? y puedes detallar el emisor el total","inputType":"binary","simplify":false,"options":{"maxOutputTokens":2000}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[240,944],"id":"4fe54512-a491-4d9b-afd5-ea9374c8010e","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Del contexto recibido debes generar una frase donde indiques el rubro del comercio de origen u su nombre y el monto que he consumido comprobante.\npor ejemplo: consumi 532 soles en el supermercado Plaza Vea\ncontexto:{{ $json.extraccion }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[544,1168],"id":"7335d2e2-2d3b-43f7-b692-a45281dd141e","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,1360],"id":"337193b0-07ff-4281-bf42-1286d0821e88","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## extrae informacion de imagen","height":436,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,656],"typeVersion":1,"id":"4f84d6fd-b50c-4953-b7a9-c50497ad38a2","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"74370f28-a83f-420d-953c-8e9a7769ff60","name":"markdown","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,960],"id":"671c6433-2402-451a-b199-6a44aaf9dd21","name":"normalizador"},{"parameters":{"content":"## extraer datos de factura de un pdf\n","height":400,"width":432,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,1136],"typeVersion":1,"id":"c0283820-78b1-483d-a1da-82b82ce1e447","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"={{ $('set fields').item.json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $('set fields').item.json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('set fields').item.json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('set fields').item.json[\"message.id\"] }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,1200],"id":"b474b918-cb61-4a90-85ab-cbcc2e9f440a","name":"get pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[240,1200],"id":"f29c0629-89c6-4e43-8fcc-235dfdc4a810","name":"guardar pdf"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"que cosa es? y puedes detallar el emisor el total","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[208,1392],"id":"7c9bcae2-57e3-47bd-ac57-3bcec9a31686","name":"Analyze document","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5c8689e-ecd5-4987-a4df-6f36658d118e","name":"extraccion","value":"={{ $json.content.parts[0].text }}||{{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,864],"id":"9b9a329b-1d06-49bb-8952-1d5aff2815c1","name":"Edit Fields"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","messageId":"={{ $('set fields').item.json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[32,720],"id":"2001b2c7-d815-49d0-a735-7b7af8793e52","name":"get imagen","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"content":"## Corregir\nvalidar el filtro de numeros, aun no funciona","color":3},"type":"n8n-nodes-base.stickyNote","position":[-976,416],"typeVersion":1,"id":"503c93d4-9324-40fb-b779-c25f4e2cea56","name":"Sticky Note4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-976,1504],"id":"35ccc25d-969e-4e3a-aa80-3263dbf1b4c4","name":"When chat message received","webhookId":"1f993496-4e61-4b89-b1c0-5b9610249769"},{"parameters":{"options":{"systemMessage":"=# Prompt para Agente de Creación de Facturas\n\n## Rol y Objetivo\nEres un asistente especializado en la creación de facturas. Tu objetivo es ayudar a generar un JSON estructurado de factura utilizando información de clientes y productos almacenados en NocoDB.\n\n## Herramientas Disponibles\nTienes acceso a un servidor MCP de NocoDB con las siguientes funciones:\n\n- **buscar_cliente**: Obtiene información de un cliente específico \n- **buscar_producto**: Obtiene información de productos\n\n## Proceso de Trabajo\n\n### 1. Recopilación de Información\nCuando el usuario solicite crear una factura, pregunta o identifica:\n- Nombre o documento del cliente\n- Lista de productos (descripcion o codigo)\n- Cantidades de cada producto\n\n### 2. Consulta de Datos\nUsa las herramientas MCP para obtener:\n- **Cliente**: Busca el cliente por nombre o ID usando `buscar_cliente`\n- **Productos**: Para cada producto solicitado, usa `buscar_producto` para obtener:\n  - Nombre del producto\n  - Precio unitario\n  - Descripción \n  - código "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-704,1504],"id":"06106f3b-da94-4f44-9aae-e8dd7415ede8","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-768,1728],"id":"7d73d3c8-9eac-4f40-bb4a-c5d905ae9dcf","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"endpointUrl":"https://ene8w.heleo.com.pe/mcp/mcp_nocodb","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[-480,1728],"id":"d715e19a-3c6a-47f5-aa2d-c5ee525b9136","name":"MCP Client"}],"connections":{"tipo dato":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"normalize txt","type":"main","index":0}],[{"node":"get imagen","type":"main","index":0}],[{"node":"get pdf","type":"main","index":0}]]},"get audio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"audio normalizado","type":"main","index":0}]]},"audio normalizado":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"recibe whatsapp":{"main":[[{"node":"whitelist1","type":"main","index":0}]]},"whitelist1":{"main":[[{"node":"set fields","type":"main","index":0}]]},"filtro":{"main":[[{"node":"tipo dato","type":"main","index":0}]]},"normalize txt":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"set fields":{"main":[[{"node":"filtro","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"agent router","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"agent router","type":"ai_outputParser","index":0}]]},"SET MSG":{"main":[[{"node":"agent router","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"Analyze an image","type":"main","index":0}]]},"Analyze an image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"normalizador","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"normalizador":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"get pdf":{"main":[[{"node":"guardar pdf","type":"main","index":0}]]},"guardar pdf":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"get imagen":{"main":[[{"node":"Convert image","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"recibe whatsapp":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.10.0","content-length":"984","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"control gastos","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"ACC6A8AA6E8E2A11D098BC23A12B4E41","senderPn":"51952373850@s.whatsapp.net","previousRemoteJid":"138748985655322@lid"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"conversation":"Gastos de la semana","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"WVXjSETJAiIadg==","senderTimestamp":"1761576711","recipientKeyHash":"Fhsl0JINg8bnrQ==","recipientTimestamp":"1760789802"},"deviceListMetadataVersion":2,"messageSecret":"q2t7rvFkObgMrQmDOLLGtXcOp+pplfBu8cMUCALUNVY="}},"messageType":"conversation","messageTimestamp":1761848312,"instanceId":"c72aa7a0-c6c1-455f-af14-11c5ca9daaa6","source":"android"},"destination":"https://ene8w.heleo.com.pe/webhook/evolution","date_time":"2025-10-30T15:18:32.471Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evoapi.heleo.com.pe","apikey":"9257B015DBF1-4DC7-A07E-10EE00AEE392"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/evolution","executionMode":"production"}}]},"versionId":"a6a85bca-757d-4dd3-b28b-6cde00e6f373","triggerCount":0,"shared":[{"createdAt":"2025-10-30T23:34:00.086Z","updatedAt":"2025-10-30T23:34:00.086Z","role":"workflow:owner","workflowId":"7veKyVDnVvQp6J6G","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}