asistente-ia-rEGD8TmvOGMBdGNA.json
{"createdAt":"2025-09-02T21:45:24.448Z","updatedAt":"2025-09-19T16:15:35.603Z","id":"rEGD8TmvOGMBdGNA","name":"ASISTENTE IA","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"recibe mensaje de whatsapp","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","position":[-912,1120],"typeVersion":1,"id":"c3639630-ba05-4c12-97ec-f8d0780121b8","name":"Sticky Note"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').item.json.instance.nombre }}","remoteJid":"={{ $('set fields').item.json.message.from }}","messageId":"={{ $('set fields').item.json.message.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[816,464],"id":"86f8ab27-8c82-4fd7-80e1-fabd9ae9b3cc","name":"Evolution API"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').item.json.instance.nombre }}","remoteJid":"={{ $('set fields').item.json.message.from }}","messageText":"=Enviaste este mensaje {{ $('audio normalizado').item.json.mensaje }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1072,464],"id":"ac295846-5e3f-4919-8aad-3822093bdd9f","name":"Evolution API1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6970faf6-9d4f-4371-b00a-ba867e978121"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81257730-8d8d-4b11-bae1-f1b01ab09856","leftValue":"={{ $json.message.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51f35c3d-9e46-4531-b5db-0a3e6a4b4211","leftValue":"={{ $json.message.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,1168],"id":"3707649c-e352-4d87-99e8-4cd54ff749de","name":"tipo dato"},{"parameters":{"assignments":{"assignments":[{"id":"e3d8e45d-6ec7-40c7-8ad0-cf6822baaf0b","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"c94fd657-20eb-4d75-87c1-9aad99dd8068","name":"instance.nombre","value":"={{ $json.body.instance }}","type":"string"},{"id":"af61c2a0-54a0-4a34-b6eb-9ccbfadda86b","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ffc263bd-0a90-4f50-84f1-e3f87474eb01","name":"message.from","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"65c29034-84d4-4168-bbf0-267b0553d7d3","name":"message.id","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"9f458742-29f6-4ff8-b54d-537e3bd5bef0","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"2b442264-0eb6-4cb2-ab60-7e7953ddc67c","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"25250918-29b3-4e28-9b97-dd589825dc4e","name":"message.date","value":"={{ $json.body.date_time.toDateTime().toLocal().toISO() }}","type":"string"},{"id":"9bc1e058-2a3f-4bc2-af42-20f2839e258c","name":"keyapi.llamacloud","value":"llx-G4nIoLF8GTb6Cz5lYshItVBld2CGvB3k1rbJkYSCiOQuDI7V","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-704,1184],"id":"5a7ba5a6-02f5-4bdc-8199-84e7d130e7b1","name":"set fields"},{"parameters":{"method":"POST","url":"={{ $json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,464],"id":"d2fb9578-bab8-4266-9225-b04d42ba14d7","name":"get audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[112,464],"id":"3d2928de-2851-4aca-9290-fb47ce993110","name":"Convert audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"bearer "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,464],"id":"b8909501-16df-4574-9951-020239087df7","name":"groq transcripción"},{"parameters":{"assignments":{"assignments":[{"id":"08ce01c6-96e0-4e0b-aa5d-11ee86a30d27","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,464],"id":"bf10228d-dcb9-488d-9173-8411071f180e","name":"audio normalizado"},{"parameters":{"content":"## transcribir audio \n","height":460,"width":1520,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-176,176],"typeVersion":1,"id":"79c8300a-3363-470f-98f2-914698616405","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"recepcionwp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-896,1184],"id":"cde41d6a-9925-4b25-9d0e-c15fee17e82a","name":"recibe whatsapp","webhookId":"be910529-dea4-4193-a134-4588c247737b"},{"parameters":{"method":"POST","url":"={{ $json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,1616],"id":"227c6c1a-5d9e-4383-9d2b-678a0c625dda","name":"get pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[64,1616],"id":"fe192374-678f-4263-8cfa-e7db12321a5e","name":"guardar pdf"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-G4nIoLF8GTb6Cz5lYshItVBld2CGvB3k1rbJkYSCiOQuDI7V"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,1616],"id":"be8073f8-236f-47be-a5ba-21b91601b5fb","name":"subir pdf"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,1616],"id":"3dea3384-45ac-4931-9353-30b56f2b74b6","name":"verificar estado"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"966ecb8a-3b0b-4a69-84c9-eddf3eff7318"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6e2cf8d-ae0e-47eb-adfd-1d9321b75dab","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[624,1616],"id":"5e10ecd9-7ac9-498f-abdd-5160061e3e25","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[816,1728],"id":"c5efe972-07a4-491e-bc76-59e23df40259","name":"Wait","webhookId":"5afbb272-ec40-4afc-aab1-fc4e60635b1e"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,1536],"id":"72925a51-e9d3-4f5b-8bc4-792df74a8cb1","name":"HTTP Request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"966ecb8a-3b0b-4a69-84c9-eddf3eff7318"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6e2cf8d-ae0e-47eb-adfd-1d9321b75dab","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[624,800],"id":"750ea3b5-aa68-4e4e-967d-89717388341f","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[816,864],"id":"289e6d6e-bddd-4c20-b678-f6854d7ab583","name":"Wait1","webhookId":"5afbb272-ec40-4afc-aab1-fc4e60635b1e"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,688],"id":"ee4014f1-06e6-4d13-8e23-bd1b8c747e67","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-G4nIoLF8GTb6Cz5lYshItVBld2CGvB3k1rbJkYSCiOQuDI7V"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,800],"id":"8d916d90-a0a2-41bb-b17e-271c78db9ea8","name":"subir imagen"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,800],"id":"3888c9f4-a8d9-486a-a912-fda9b5cfe5d3","name":"verificar estado img"},{"parameters":{"method":"POST","url":"={{ $json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,800],"id":"5993795a-07ed-459a-8453-bf5e7852d128","name":"get image1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[48,800],"id":"3a94cadc-20eb-439c-bf78-374fee7711b2","name":"Convert image1"},{"parameters":{"content":"## extraer datos de factura de una imagen\n","height":400,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-176,656],"typeVersion":1,"id":"bf940678-0cb7-44ff-ae17-39470e0a22ac","name":"Sticky Note4"},{"parameters":{"content":"## extraer datos de factura de un pdf\n","height":440,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-160,1504],"typeVersion":1,"id":"adb9bf7b-6450-495d-b89b-3dae9918b8bd","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[864,1104],"id":"2598eb0d-c5c2-4691-81ff-04b439293330","name":"hacer nada"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,1296],"id":"de5f99d8-d466-43b7-b258-88b96bfb4b10","name":"Wait2","webhookId":"69c90a73-5b25-49ee-a3be-6da5eb8f9919"},{"parameters":{"operation":"delete","key":"={{ $('set fields').item.json.message.from }}_buffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[336,1088],"id":"66b47397-7ae3-4e91-948b-42208fc4f1b8","name":"Redis"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.message.last()).id}}","rightValue":"={{ $('set fields').item.json.message.id }}","operator":{"type":"string","operation":"notEquals"},"id":"86f2bea0-d475-4f87-873b-d617b730202a"}],"combinator":"and"},"renameOutput":true,"outputKey":"No hacer nada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bfa0634-c770-41dc-b244-9203231a3421","leftValue":"={{ JSON.parse($json.message.last()).date}}","rightValue":"={{$now.minus(5,'seconds').toString()}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Seguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[336,1200],"id":"a6007c0b-338e-4d8a-8670-fb75abbe0378","name":"Switch3"},{"parameters":{"operation":"push","list":"={{ $('set fields').item.json.message.from }}_buffer","messageData":"={{ JSON.stringify($('set fields').item.json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-96,1200],"id":"d0b92d4d-42a6-4610-a9c9-ec1bd08edca0","name":"push1"},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('set fields').item.json.message.from }}_buffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[128,1200],"id":"bf77df76-b063-40f7-8bc2-410c7cac8c2f","name":"get1"}],"connections":{"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"tipo dato":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"get image1","type":"main","index":0}],[{"node":"push1","type":"main","index":0}]]},"set fields":{"main":[[{"node":"tipo dato","type":"main","index":0}]]},"get audio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"audio normalizado","type":"main","index":0}]]},"recibe whatsapp":{"main":[[{"node":"set fields","type":"main","index":0}]]},"get pdf":{"main":[[{"node":"guardar pdf","type":"main","index":0}]]},"guardar pdf":{"main":[[{"node":"subir pdf","type":"main","index":0}]]},"subir pdf":{"main":[[{"node":"verificar estado","type":"main","index":0}]]},"verificar estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"verificar estado","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"verificar estado img","type":"main","index":0}]]},"subir imagen":{"main":[[{"node":"verificar estado img","type":"main","index":0}]]},"verificar estado img":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"get image1":{"main":[[{"node":"Convert image1","type":"main","index":0}]]},"Convert image1":{"main":[[{"node":"subir imagen","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"get1","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"hacer nada","type":"main","index":0}],[],[{"node":"Wait2","type":"main","index":0}]]},"push1":{"main":[[{"node":"get1","type":"main","index":0}]]},"get1":{"main":[[{"node":"Switch3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"get1":[{"json":{"message":["{\"from\":\"51952373850@s.whatsapp.net\",\"id\":\"2AF6C7D70D279D8851AA9BD532C0B68B\",\"content_type\":\"text\",\"content\":\"Hola\",\"date\":\"2025-05-18T14:20:43.303-05:00\"}","{\"from\":\"51952373850@s.whatsapp.net\",\"id\":\"A29DED912ED38A8C672B4CC9254170EF\",\"content_type\":\"text\",\"content\":\"Mundo\",\"date\":\"2025-05-18T14:20:45.780-05:00\"}","{\"from\":\"51952373850@s.whatsapp.net\",\"id\":\"F41B9A333353DBF9B94D21F50F7451E3\",\"content_type\":\"text\",\"content\":\"Como etas?\",\"date\":\"2025-05-18T14:20:51.122-05:00\"}"]}}]},"versionId":"4beba1c5-4559-49f6-8294-0fd1236c8cae","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:45:24.448Z","updatedAt":"2025-09-02T21:45:24.448Z","role":"workflow:owner","workflowId":"rEGD8TmvOGMBdGNA","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}