avisa-errores-P2KNQOljSeBCsYgy.json
{"createdAt":"2025-09-17T18:45:20.120Z","updatedAt":"2025-09-18T17:27:38.172Z","id":"P2KNQOljSeBCsYgy","name":"Avisa errores","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"1d2a5a59-05aa-4811-bfb1-b4137d8af676","name":"Capturar error"},{"parameters":{"assignments":{"assignments":[{"id":"65497378-e98e-4a41-92d7-7be8c61ae649","name":"error.message","value":"={{ $('Capturar error').item.json.execution.error.message }}","type":"string"},{"id":"2ab4afdc-1452-4185-9c1e-b981f3f8774e","name":"error.message","value":"=⚠️Error en Workflow: <i>{{ $('Capturar error').item.json.workflow.name }}</i></b>\n\n🛠️ Nodo con error:</b> {{ $('Capturar error').item.json.execution.lastNodeExecuted }}\n📝 Mensaje del error:</b> {{ $('Capturar error').item.json.execution.error.message }}\n📅 Fecha:</b> {{ DateTime.fromISO($now, { zone: 'utc' }).setZone('America/Lima').toFormat('dd-MM-yyyy'); }}\n⏰ Hora:</b> {{ DateTime.fromISO($now, { zone: 'Utc' }).setZone('America/Lima').toFormat('HH:mm'); }}\n\n🔗<a href=\"{{ $('Capturar error').item.json.execution.url.replaceAll($env.WEBHOOK_URL,$env.N8N_EDITOR_BASE_URL) }}\"> Ver Ejecución</a></b>\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"b627e0f0-6e18-446a-a582-75538943b1b6","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[208,0],"id":"14ca3dfa-6060-4646-8d29-a9650dbcb95d","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"http://ntf.heleo.com.pe/AVISO_ERROR","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"AVISO","value":"="}]},"sendBody":true,"contentType":"raw","rawContentType":"TEXT/HTML","body":"={{ $json.error.message }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,-144],"id":"38d088f2-1f77-4106-8db3-db849665f10a","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"rAlkxGQOIpQmeMLU","name":"NTFY"}}},{"parameters":{"chatId":"1855348433","text":"={{ $json.error.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[656,144],"id":"89f40771-99ae-4c01-9636-a2195bce67c2","name":"Send a text message","webhookId":"93a9b45f-1b80-4396-b709-2d3bd0ae2d27","credentials":{"telegramApi":{"id":"JapnsteBcRN5728Q","name":"Telegram account 1855348433"}}},{"parameters":{"content":"## INSPIRACION USO NTFY\n\n\nhttps://www.youtube.com/watch?v=DKG1R3xYvwQ","height":240,"width":512},"type":"n8n-nodes-base.stickyNote","position":[0,-400],"typeVersion":1,"id":"3a901154-0e0e-4679-8e5b-c6007f2078cb","name":"Sticky Note"}],"connections":{"Capturar error":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8dc1677e-5209-4b31-bbb8-8b5fb6581170","triggerCount":0,"shared":[{"createdAt":"2025-09-17T18:45:20.120Z","updatedAt":"2025-09-17T18:45:20.120Z","role":"workflow:owner","workflowId":"P2KNQOljSeBCsYgy","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}