blanqueador-de-tablas-nocodb-ggaIDgJ2lzl6nO7H.json
{"createdAt":"2025-07-31T17:09:01.045Z","updatedAt":"2025-09-18T17:38:12.865Z","id":"ggaIDgJ2lzl6nO7H","name":"blanqueador de tablas NocoDB","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"nocoDbApiToken","operation":"delete","projectId":"pc78lwdskp5zr58","table":"msb76rmutdggbo6","id":"={{ $json.Id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[416,48],"id":"89dab599-a472-4288-add5-ed8ac2832ae4","name":"Delete a row","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-464,0],"id":"be425c6f-2c46-47a9-b80e-af3ed867d095","name":"When clicking ‘Execute workflow’"},{"parameters":{"batchSize":"=1","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,0],"id":"de177918-9c8d-4859-b295-8de7206b2f21","name":"Loop Over Items"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pc78lwdskp5zr58","table":"msb76rmutdggbo6","limit":100,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-160,0],"id":"0d5367d8-9826-45e2-a234-c00647e9f358","name":"Get many rows","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}},"disabled":true},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,64],"id":"87cb7685-8c38-4980-9238-cec86af11529","name":"Wait","webhookId":"f858d918-08ea-407b-a5b4-527dcba627c6","disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete a row","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"036fcb01-e3a4-4a6b-b3f6-99b2f0cfa821","triggerCount":0,"shared":[{"createdAt":"2025-07-31T17:09:01.045Z","updatedAt":"2025-07-31T17:09:01.045Z","role":"workflow:owner","workflowId":"ggaIDgJ2lzl6nO7H","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}