chat-guiado-3BCqdmbMKTyTgw0a.json
{"createdAt":"2025-09-02T21:40:11.950Z","updatedAt":"2025-09-02T21:40:11.950Z","id":"3BCqdmbMKTyTgw0a","name":"CHAT GUIADO","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## video fuente \n* https://www.youtube.com/watch?v=B7vCHUI7fZg","width":660},"type":"n8n-nodes-base.stickyNote","position":[-1760,352],"typeVersion":1,"id":"5a8c5418-eb09-408b-86f1-f30e0442d531","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"Recibir","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1760,800],"id":"31323fc8-13bc-4071-a9c8-184a6f194c07","name":"Webhook","webhookId":"8ce0cd46-c6b7-49fb-9dfc-b8f3ecb6fd72"},{"parameters":{"assignments":{"assignments":[{"id":"ad3bec81-610a-4f49-aeb4-51833f9d3492","name":"Envio de entrada","value":"=Gracias por registrarte {{ $('Basic LLM Chain1').item.json.text }}.\n\n¡Nos vemos el 16 de Mayo!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,528],"id":"2b2a9c29-456e-4767-9e68-9cd83d648724","name":"Plantilla2"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","media":"={{ $('Bannerbear').item.json.image_url_png }}","caption":"={{ $json['Envio de entrada'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1872,528],"id":"067fa710-cd9e-4f3a-b73c-9184386627ef","name":"Evolution API7"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2048,528],"id":"03907bfd-73f8-4a90-b47f-44557f15c420","name":"Evolution API8"},{"parameters":{"resource":"chat-api","operation":"fetch-profile-picture","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","number":"={{ $('Edit Fields').item.json['Numero de telefono'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,544],"id":"a2ddd138-d761-442a-bc18-2cde2e7be971","name":"Foto de perfil"},{"parameters":{"operation":"get","imageId":"={{ $json.uid }}"},"type":"n8n-nodes-base.bannerbear","typeVersion":1,"position":[1328,528],"id":"ae33d168-3541-44ec-9630-4915fdbe9242","name":"Bannerbear"},{"parameters":{"templateId":"6jq8BX57PxOYDnlwWa","additionalFields":{},"modificationsUi":{"modificationsValues":[{"name":"image_container","imageUrl":"={{ $json.data.profilePictureUrl }}"},{"name":"name","text":"={{ $('Filter1').item.json.Nombre }}"}]}},"type":"n8n-nodes-base.bannerbear","typeVersion":1,"position":[944,544],"id":"2a46a766-9b3d-409c-ab50-74d9d5248746","name":"Bannerbear1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,528],"id":"ae43d114-4923-4b19-8e4b-2388f1265352","name":"Wait","webhookId":"86d59b90-38bc-4459-a66f-67b274783794"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1520,528],"id":"2f79fb2b-e55a-4145-abbb-9fbf8993a2db","name":"Evolution API6"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Mensaje }} ","options":{"systemMessage":"=# ROL DEL AGENTE\nEres un agente conversacional encargado de validar la asistencia a un evento.  \nTu tarea consiste en guiar al usuario a través de un flujo rígido y secuencial con el fin de:\n\n- Obtener su nombre completo.\n- Confirmarlo explícitamente.\n- Registrar el nombre y número telefónico únicamente tras confirmación, utilizando la herramienta de Base de Datos.\n\n# FLUJO DE CONVERSACIÓN\n\n## 1. Palabra de Activación\n\n- La palabra exacta de activación es: `Entrada`.\n- Si el mensaje inicial no contiene la palabra de activación, responde únicamente con:  \n  `Else`\n\n## 2. Activación del Flujo\n\n- Una vez recibida la palabra `Entrada`, responde únicamente con:  \n  `Activar`.\n\n## 3. Recepción del Nombre\n\n- Si el usuario escribe su nombre, incluso dentro de una oración (por ejemplo: “Mi nombre es...” o “Soy...”):\n  - Extrae el nombre completo (Lo usarás en el paso 4).\n  - Responde únicamente con:  \n    `Nombre`  \n\n**Ejemplo:**  \n- Input: Mi nombre es Sebastián Castillo  \n- Output: Nombre\n\n## 4. Confirmación del Nombre\n\n- Si el usuario confirma que el nombre es correcto con una frase como:\n  - “sí”\n  - “es correcto”\n  - “correcto”\n  - “así es”\n  -\"Listo\"\n  -\"Listo ya\"\n\n  Entonces responde únicamente con:  \n  `Confirmar`\n\n**IMPORTANTE:**  \n- Solo en este momento debes utilizar la herramienta de Base de Datos.  \n- Guarda el nombre confirmado junto al número: `{{ $json.numero_limpio }}`\n- No registres nada sin confirmación.\n\n## 5. Nombre Incorrecto o Corrección\n\n- Si el usuario responde con algo que indica error o corrección como:\n  - “no”\n  - “me equivoqué”\n  - “ese no era”\n\n  Entonces responde con:  \n  `Error`\n\n# ACCESO A BASE DE DATOS\n\n- Tienes acceso a una herramienta llamada Base de Datos.\n- Registra el nombre completo del usuario y su número telefónico (`{{ $json.numero_limpio }}`) solamente después de haber recibido confirmación explícita.\n- Cualquier validación prematura o sin confirmación es inválida.\n\n# REGLAS GENERALES\n\n- Si el usuario no ha escrito la palabra de activación, o escribe \"hola\" o algún saludo responde con:  \n  `Else`\n\n- Nunca escribas nada adicional al nombre, a las respuestas `Activar`, `Confirmar`, `Error`, `Else` o `Valor`\n\n- Si el usuario responde con algo como “sí”, “claro”, “voy” **DESPUÉS** de la activación pero **ANTES** de escribir su nombre, responde con:  \n  `Valor`\n\n-Si el usuario responde con \"Gracias\", o alguna expresión similar, responde con 'Respuesta'\n\n- Solo acepta confirmaciones después de haber recibido un nombre previamente."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-880,784],"id":"f668be5e-6250-43f7-aad8-e6f1f9be164b","name":"AI Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Activar","operator":{"type":"string","operation":"contains"},"id":"fac597b6-ad18-491f-bcf5-694d0ec97749"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef852c89-94f2-41b5-8060-e628b58d4272","leftValue":"={{ $json.output }}","rightValue":"Nombre","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7adbe55-970c-4af7-be4a-07493ff330da","leftValue":"={{ $json.output }}","rightValue":"Confirmar","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbd19c55-b804-4384-8ed8-4b68fb92c53d","leftValue":"={{ $json.output }}","rightValue":"Error","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08480a94-430f-4f42-a066-30b22972c13e","leftValue":"={{ $json.output }}","rightValue":"Else","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00163cfe-f2f6-496c-9271-89921d763eab","leftValue":"={{ $json.output }}","rightValue":"Valor","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c6cb5b6-6cdd-4f6c-b432-f41c3adaf984","leftValue":"={{ $json.output }}","rightValue":"Respuesta","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-496,704],"id":"24dc010d-c220-43ea-bfc9-47eaf632e391","name":"Switch"},{"parameters":{"jsCode":"const raw = $input.first().json['Numero de telefono']; // ej. \"5218332096325@s.whatsapp.net\"\n\n// Elimina el sufijo \"@s.whatsapp.net\"\nconst numeroLimpio = raw.replace(/@s\\.whatsapp\\.net$/, \"\");\n\nreturn {\n  json: {\n    numero_limpio: numeroLimpio\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,784],"id":"71d92b71-f9bc-4138-8c0f-4a58ef5fc06e","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77e3831b-8316-4a92-8e01-5b72f6184ec8","leftValue":"={{ $json.body.data.message.reactionMessage.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ae5461a6-1cbf-445f-b7f1-4c898a873126","leftValue":"={{ $json.body.data.message.stickerMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1568,800],"id":"423ca66c-0a2e-496c-b596-108abb7e5b9a","name":"If"},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"pnhjia0406r7p55","table":"mvotq4u7wnbn8hr","fieldsUi":{"fieldValues":[{"fieldName":"Nombre","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Aquí escribe e lnombre del usuario unicamente después de que haya confirmado que es correcto.`, 'string') }}"},{"fieldName":"Numero","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[-640,1024],"id":"f72b3506-ec26-4da1-b876-f7e6fa097cd0","name":"NocoDB2"},{"parameters":{"assignments":{"assignments":[{"id":"ad3bec81-610a-4f49-aeb4-51833f9d3492","name":"Mensaje de bienvenida","value":"=Hola !\n\nCómo me alegra ver que vas a asistir a 🤖Inc MTY!\n\nGracias por confirmar tu asistencia al evento, por aquí te dejo tu entrada personalizada👇🏼","type":"string"},{"id":"e958b0db-0502-49fc-8519-4d74a4f182f4","name":"Mensaje de nombre","value":"=🔹 Para recibir tu entrada oficial, solo escribe tu nombre completo aquí abajo. 🎓✅","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,0],"id":"e6f7b095-90ae-4f8b-a3ea-0e2a5288819c","name":"Plantilla"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,0],"id":"2a875f07-ee41-4718-b4c9-360104de510d","name":"Evolution API"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $json['Mensaje de bienvenida'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,0],"id":"66efecae-6515-4313-beec-5180bd622543","name":"Evolution API1"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,0],"id":"e1d106d7-7442-4583-94ac-f7d2828d5f52","name":"Evolution API2"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $('Plantilla').item.json['Mensaje de nombre'] }}","options_message":{"delay":2000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[880,0],"id":"7c33a9d1-de9b-4c1f-bd0b-4a0f1f159c97","name":"Evolution API15"},{"parameters":{"assignments":{"assignments":[{"id":"ad3bec81-610a-4f49-aeb4-51833f9d3492","name":"Confirmar Nombre","value":"=✅ ¡Perfecto! He registrado tu nombre como: {{ $json.text }}\n\n🎟 Este será el que aparezca en tu entrada.\n\nSi todo está bien, recibirás tu entrada ahora mismo. Si necesitas hacer algún cambio, dime y ajustamos tu nombre. ","type":"string"},{"id":"3e70772c-3b5f-4ab5-a060-02df832b261a","name":"Confirmar","value":"=¿Puedes confirmar que tu nombre es correcto?","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,224],"id":"38d93611-ef31-4c89-a205-638fe2fe9eab","name":"Plantilla1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $json['Confirmar Nombre'] }}","options_message":{"delay":1500}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[768,224],"id":"59a3a72c-2a5c-400c-86e9-bca72eefb959","name":"Evolution API4"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,224],"id":"74fbb957-1531-4b51-99cf-b04d41464ed0","name":"Evolution API5"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.Mensaje }}","messages":{"messageValues":[{"message":"=Eres un agente especializado en extraer nombres completos de una oración.\nTu única tarea es identificar el nombre presente en el texto y devolverlo exactamente como aparece, sin agregar ningún comentario, etiqueta ni explicación.\nSiempre responde exclusivamente con el nombre.\n\nEjemplos:\n\nInput: Mi nombre es Sebastián Castillo\nOutput: Sebastián Castillo\n\nInput: Nicolás Grimaldo\nOutput: Nicolás Grimaldo\n\nInput: Hola, soy Ana María Hernández\nOutput: Ana María Hernández"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[208,224],"id":"3e827b9c-c0db-4ce2-836b-168c358ec461","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[192,384],"id":"afaa8e56-7448-4a93-818c-202783926c7b","name":"OpenAI Chat Model"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $('Plantilla1').item.json.Confirmar }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[960,224],"id":"9d45906f-16f1-4a2c-bff8-deecca4b5971","name":"Evolution API16"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"150d8749-0139-470e-981c-d7c8438ca95c","leftValue":"={{ $('Code').item.json.numero_limpio }}","rightValue":"={{ $json.Numero }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[112,544],"id":"b6061199-f7fc-42a6-92aa-1f7613b8d77a","name":"Filter1"},{"parameters":{"promptType":"define","text":"={{ $json.Nombre }}","messages":{"messageValues":[{"message":"=Eres un experto en procesamiento de lenguaje natural especializado en extraer únicamente el primer nombre de una persona a partir de su nombre completo.\nTu tarea es identificar el primer nombre y responder únicamente con él, sin incluir apellidos, segundos nombres ni texto adicional.\n\nEjemplos de comportamiento esperado:\n\nInput: Sebastián Castillo Rock\nOutput: Sebastián\n\nInput: Marcelo García\nOutput: Marcelo\n\nInput: Nicolás Grimaldo Cisneros\nOutput: Nicolás\n\nInput: Melanie Fernández Rivera\nOutput: Melanie\n\nImportante: Siempre responde únicamente con el primer nombre. No expliques, no repitas el input, no agregues comentarios."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[320,544],"id":"e92ec5c3-1c69-4439-b935-890dc98b3b8c","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,704],"id":"65ba8754-85dd-4398-adf6-5897f15b9905","name":"OpenAI Chat Model2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pnhjia0406r7p55","table":"mvotq4u7wnbn8hr","returnAll":true,"options":{}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-144,544],"id":"9e800bca-2d0c-48b7-9355-8b783eced7d3","name":"NocoDB"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-64,832],"id":"530057d9-0dfa-440b-b3de-bce7871aa4da","name":"Evolution API9"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[544,832],"id":"f5a6b5aa-af95-46df-adbf-1d26b6638f36","name":"Evolution API10"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $json['Intenta otra vez'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,832],"id":"5b8a0ee7-2559-46c8-b6e6-3c441c0029cd","name":"Evolution API11"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-64,1072],"id":"c0dc6528-08af-4a0d-bc30-e334da85efe5","name":"Evolution API12"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[544,1072],"id":"3803a492-cff6-418b-b971-20f7eea6c039","name":"Evolution API13"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $json['Guia'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,1072],"id":"e41cd69b-f5e6-44a8-babc-abbbf1d9546d","name":"Evolution API14"},{"parameters":{"assignments":{"assignments":[{"id":"e4ffc3c6-157b-4160-9ae9-c6310cebce09","name":"Guia","value":"=¡Hola! Escribe la palabra \"Entrada\" para comenzar.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,1072],"id":"bdf6c5d1-6474-4e47-a8fa-ce705adf9f3f","name":"Edit Fields2"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-64,1312],"id":"0ca66062-6ab5-4997-a26d-d3b69160dfbd","name":"Evolution API25"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[544,1312],"id":"4a0d8af4-b4d2-434e-bbe9-bdcadcb862d7","name":"Evolution API26"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageText":"={{ $json['Guia'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,1312],"id":"d1c2bb04-28f4-4a1a-a871-617c02a239a6","name":"Evolution API27"},{"parameters":{"assignments":{"assignments":[{"id":"e4ffc3c6-157b-4160-9ae9-c6310cebce09","name":"Guia","value":"=¡De nada!","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,1312],"id":"3d461d97-2072-462c-9fb5-2f200f531869","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"e4ffc3c6-157b-4160-9ae9-c6310cebce09","name":"Intenta otra vez","value":"=No te preocupes, puedes escribir tu nombre de nuevo :)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,832],"id":"861b9af3-2192-4ee2-9b8d-77cb3c7bde61","name":"Plantilla3"},{"parameters":{"assignments":{"assignments":[{"id":"eb67d5a6-7a1f-467a-ba32-bb0e065f0a73","name":"Instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"7d415411-dda2-4d57-915b-5a4d72b634a8","name":"Numero de telefono","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"00e1c507-d06d-47d4-9ae2-f39df401b443","name":"Nombre","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"63e6b0db-9f71-4e63-8ac0-4cca2f8ec55e","name":"ID del mensaje","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"572100e6-ae8d-4c5f-80a6-953493fdca28","name":"Mensaje","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,800],"id":"76aaa05d-3b1a-4914-b1af-d1f543ae573e","name":"Edit Fields"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields').item.json.Instancia }}","remoteJid":"={{ $('Edit Fields').item.json['Numero de telefono'] }}","messageId":"={{ $('Edit Fields').item.json['ID del mensaje'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,224],"id":"a3ec6888-2702-40d5-bbd3-d91d24f1107d","name":"Evolution API3"},{"parameters":{"sessionIdType":"customKey","sessionKey":"123123"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-800,1040],"id":"99591852-d3aa-47eb-a3f2-2d5ae4b7c973","name":"Simple Memory"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-960,1024],"id":"0d6fde08-439f-4e3a-bdd8-c1ca7e7b0d8f","name":"Google Gemini Chat Model"},{"parameters":{"imageTemplateId":"ec977b2395cdb08a","download":true,"binaryProperty":"imagen","overridesUi":{"overrideValues":[{"propertiesUi":{"propertyValues":[{"key":"mensaje.text","value":"Esto es una prueba"}]}}]},"options":{}},"type":"n8n-nodes-base.apiTemplateIo","typeVersion":1,"position":[1424,1088],"id":"741389a8-4d1f-4793-8c4b-45059b50528a","name":"APITemplate.io"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Plantilla2":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Evolution API7":{"main":[[{"node":"Evolution API8","type":"main","index":0}]]},"Foto de perfil":{"main":[[{"node":"Bannerbear1","type":"main","index":0}]]},"Bannerbear":{"main":[[{"node":"Evolution API6","type":"main","index":0}]]},"Bannerbear1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Bannerbear","type":"main","index":0}]]},"Evolution API6":{"main":[[{"node":"Plantilla2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API3","type":"main","index":0}],[{"node":"NocoDB","type":"main","index":0}],[{"node":"Evolution API9","type":"main","index":0}],[{"node":"Evolution API12","type":"main","index":0}],[],[{"node":"Evolution API25","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"NocoDB2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Plantilla":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Plantilla","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Evolution API15","type":"main","index":0}]]},"Evolution API15":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Plantilla1":{"main":[[{"node":"Evolution API4","type":"main","index":0}]]},"Evolution API4":{"main":[[{"node":"Evolution API16","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Plantilla1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Evolution API16":{"main":[[{"node":"Evolution API5","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Foto de perfil","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"NocoDB":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Evolution API9":{"main":[[{"node":"Plantilla3","type":"main","index":0}]]},"Evolution API11":{"main":[[{"node":"Evolution API10","type":"main","index":0}]]},"Evolution API12":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Evolution API14":{"main":[[{"node":"Evolution API13","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Evolution API14","type":"main","index":0}]]},"Evolution API25":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Evolution API27":{"main":[[{"node":"Evolution API26","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Evolution API27","type":"main","index":0}]]},"Plantilla3":{"main":[[{"node":"Evolution API11","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3e8d452b-b9b1-4b64-bf39-5b8a95669b7c","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:40:11.950Z","updatedAt":"2025-09-02T21:40:11.950Z","role":"workflow:owner","workflowId":"3BCqdmbMKTyTgw0a","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}