confirmacion-despacho-mqg-9Ye7wSZkT4Bn7eNn.json
{"createdAt":"2025-10-16T15:41:17.422Z","updatedAt":"2025-10-16T18:38:22.721Z","id":"9Ye7wSZkT4Bn7eNn","name":"confirmacion despacho MQG","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"confirmar_mqg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"54cd0ac3-c544-4936-9947-3066888e57af","name":"Webhook","webhookId":"4785dcbf-5f8d-4546-861e-628ced6cf8ed"},{"parameters":{"assignments":{"assignments":[{"id":"05a9d175-23df-4794-a601-21c534ec1e79","name":"body.request_id","value":"={{ $json.body.request_id }}","type":"string"},{"id":"e27618b1-b881-42a2-81fb-4d8f8093c39a","name":"body.guia","value":"={{ $json.body.guia.toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"51045e08-e0ae-489e-a453-06438e2de73e","name":"Edit Fields"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pc78lwdskp5zr58","table":"mzlpnea8erodu6b","fieldsUi":{"fieldValues":[{"fieldName":"id","fieldValue":"={{ $json.body.request_id }}"},{"fieldName":"NUMERO GUIA","fieldValue":"={{ $json.body.guia }}"},{"fieldName":"ESTADO","fieldValue":"Atendido"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[416,0],"id":"af7d3e09-ad08-40b3-9768-5a66382a2a7d","name":"Update a row","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"content":"## Actualiza el estado\nde la tabla de despachos de moquegua","height":304,"width":320},"type":"n8n-nodes-base.stickyNote","position":[352,-96],"typeVersion":1,"id":"0f2f98b0-1ef8-442f-b374-60fbbe63c7bc","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0","content-length":"244","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryHtWHAj5yhAvXzs1w","origin":"https://ene8w.heleo.com.pe","priority":"u=1, i","referer":"https://ene8w.heleo.com.pe/webhook/confirmacion_ilo?request_id=14","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"190.239.25.123"},"params":{},"query":{},"body":{"request_id":"14","guia":"t004-32423"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/confirmar_ilo","executionMode":"production"}}]},"versionId":"d2080296-0e19-406c-ae02-fa159f57241d","triggerCount":1,"shared":[{"createdAt":"2025-10-16T15:41:17.422Z","updatedAt":"2025-10-16T15:41:17.422Z","role":"workflow:owner","workflowId":"9Ye7wSZkT4Bn7eNn","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}