confirmacion-despacho-ilo-VfcRFcQ3XlwPnRE0.json
{"createdAt":"2025-09-16T23:05:37.188Z","updatedAt":"2025-10-29T13:10:34.348Z","id":"VfcRFcQ3XlwPnRE0","name":"confirmacion despacho ILO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"confirmar_ilo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2b842087-b93c-4e31-b2d8-d9f810efc7a1","name":"Webhook","webhookId":"4f5de9b8-7724-4aca-934f-8355dd3a0a10"},{"parameters":{"assignments":{"assignments":[{"id":"05a9d175-23df-4794-a601-21c534ec1e79","name":"body.request_id","value":"={{ $json.body.request_id }}","type":"string"},{"id":"e27618b1-b881-42a2-81fb-4d8f8093c39a","name":"body.guia","value":"={{ $json.body.guia.toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"15ca9dc7-c19a-4db0-b8cf-676a15d4cce5","name":"Edit Fields"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pc78lwdskp5zr58","table":"mz21o6xobrx3e6k","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.request_id }}"},{"fieldName":"NUMERO GUIA","fieldValue":"={{ $json.body.guia }}"},{"fieldName":"ESTADO","fieldValue":"Atendido"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[416,0],"id":"3bdc44f8-04f6-4203-820d-5ebbe0e2982b","name":"Update a row","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0","content-length":"244","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryHtWHAj5yhAvXzs1w","origin":"https://ene8w.heleo.com.pe","priority":"u=1, i","referer":"https://ene8w.heleo.com.pe/webhook/confirmacion_ilo?request_id=14","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"190.239.25.123"},"params":{},"query":{},"body":{"request_id":"14","guia":"t004-32423"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/confirmar_ilo","executionMode":"production"}}]},"versionId":"b4b15617-0a51-4ab8-b179-31194e6c5bcf","triggerCount":1,"shared":[{"createdAt":"2025-09-16T23:05:37.188Z","updatedAt":"2025-09-16T23:05:37.188Z","role":"workflow:owner","workflowId":"VfcRFcQ3XlwPnRE0","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}