contabo-snapshots-PHF4yRarZay48hSq.json
{"createdAt":"2025-09-15T16:55:31.818Z","updatedAt":"2025-09-30T18:08:55.423Z","id":"PHF4yRarZay48hSq","name":"contabo snapshots","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,192],"id":"80af6b52-a813-4ad1-bb24-40db3a076555","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://auth.contabo.com/auth/realms/contabo/protocol/openid-connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"INT-14099377"},{"name":"client_secret","value":"fXC6WD0shZ8492VlvLN9lJMO7IKo3lWb"},{"name":"username","value":"jesus@heleo.com.pe"},{"name":"password","value":"68yf9e8En!"},{"name":"grant_type","value":"password"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"78c2a170-05c5-41af-9c56-f8873677f32b","name":"get token contabo"},{"parameters":{"url":"https://api.contabo.com/v1/compute/instances","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,208],"id":"41e38432-da99-4658-85c4-05bfeca0926c","name":"get instance"},{"parameters":{"url":"=https://api.contabo.com/v1/compute/instances/{{ $('get instance').item.json.data[0].instanceId }}/snapshots","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get token contabo').item.json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,208],"id":"0e6decaf-6113-4442-84a7-0856f5ba9330","name":"list snapshot"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[800,-144],"id":"841f6aa7-2f87-4bf5-b341-22dbaecbe36e","name":"Aggregate"},{"parameters":{"method":"POST","url":"=https://api.contabo.com/v1/compute/instances/{{ $('get instance').item.json.data[0].instanceId }}/snapshots","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get token contabo').item.json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ \"snapshot \" + DateTime.now().toFormat('yyyyMMdd-HHmm') }}"},{"name":"description","value":"GENERADO DESDE N8N"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,304],"id":"1f60f0f8-89a0-4754-9115-eabcbc31cae0","name":"create snapshot"},{"parameters":{"method":"DELETE","url":"=https://api.contabo.com/v1/compute/instances/{{ $('get instance').item.json.data[0].instanceId }}/snapshots/{{ $('list snapshot').item.json.data[0].snapshotId }}\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get token contabo').item.json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,368],"id":"2a882074-3648-44be-99e0-434b7ac9fb9e","name":"delete snapshot"},{"parameters":{"fieldToSplitOut":"data[0]","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1024,-144],"id":"1c819bae-6c46-488b-9fff-9ea6ff1f86fa","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d78d850d-1b18-4009-b837-0fe49ced73f9","leftValue":"={{ $items().length >= 3 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,80],"id":"8ab42b09-0897-4fcd-9138-7ca97677ec0d","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[416,208],"id":"98a0b0c9-edb6-486e-9972-9d88558e0882","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-32,0],"id":"9913f4a6-6dac-42a7-9b42-c705dc601f8f","name":"Schedule Trigger"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1088,304],"id":"9db71627-b22a-4148-9f81-e0db8927697e","name":"Aggregate1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"get token contabo":{"main":[[{"node":"get instance","type":"main","index":0}]]},"get instance":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"list snapshot":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"delete snapshot","type":"main","index":0}],[{"node":"Aggregate1","type":"main","index":0}]]},"delete snapshot":{"main":[[{"node":"list snapshot","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"list snapshot","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"get token contabo","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"create snapshot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"228ed01e-332b-4cbe-a338-bcd829f74d4a","triggerCount":1,"shared":[{"createdAt":"2025-09-15T16:55:31.818Z","updatedAt":"2025-09-15T16:55:31.818Z","role":"workflow:owner","workflowId":"PHF4yRarZay48hSq","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}