contabo-PHF4yRarZay48hSq.json
{"createdAt":"2025-09-15T16:55:31.818Z","updatedAt":"2025-09-18T17:27:32.380Z","id":"PHF4yRarZay48hSq","name":"contabo","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"80af6b52-a813-4ad1-bb24-40db3a076555","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://auth.contabo.com/auth/realms/contabo/protocol/openid-connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"client_id","value":"INT-14099377"},{"name":"client_secret","value":"fXC6WD0shZ8492VlvLN9lJMO7IKo3lWb"},{"name":"username","value":"jesus@heleo.com.pe"},{"name":"password","value":"68yf9e8En!"},{"name":"grant_type","value":"password"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"78c2a170-05c5-41af-9c56-f8873677f32b","name":"get token contabo"},{"parameters":{"url":"https://api.contabo.com/v1/compute/instances","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"41e38432-da99-4658-85c4-05bfeca0926c","name":"get instance"},{"parameters":{"url":"=https://api.contabo.com/v1/compute/instances/{{ $json.data[0].instanceId }}/snapshots","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get token contabo').item.json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0],"id":"0e6decaf-6113-4442-84a7-0856f5ba9330","name":"list snapshot"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,0],"id":"841f6aa7-2f87-4bf5-b341-22dbaecbe36e","name":"Aggregate"},{"parameters":{"method":"POST","url":"=https://api.contabo.com/v1/compute/instances/{{ $json.data[0].instanceId }}/snapshots","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get token contabo').item.json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"Test de creacion"},{"name":"description","value":"Snapshot-de prueba"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-224],"id":"1f60f0f8-89a0-4754-9115-eabcbc31cae0","name":"create snapshot"},{"parameters":{"method":"DELETE","url":"=https://api.contabo.com/v1/compute/instances/{{ $json.data[0][0].instanceId }}/snapshots/{{ $json.data[0][0].snapshotId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get token contabo').item.json.access_token }}"},{"name":"x-request-id","value":"04e0f898-37b4-48bc-a794-1a57abe6aa31"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,0],"id":"2a882074-3648-44be-99e0-434b7ac9fb9e","name":"delete snapshot"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"get token contabo","type":"main","index":0}]]},"get token contabo":{"main":[[{"node":"get instance","type":"main","index":0}]]},"get instance":{"main":[[{"node":"create snapshot","type":"main","index":0}]]},"list snapshot":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"15db69fc-848b-4e15-af60-0d367f8ca8e5","triggerCount":0,"shared":[{"createdAt":"2025-09-15T16:55:31.818Z","updatedAt":"2025-09-15T16:55:31.818Z","role":"workflow:owner","workflowId":"PHF4yRarZay48hSq","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}