crud-gestionar-gastos-mzGtYX8Rnghns9Ho.json
{"createdAt":"2025-11-04T13:25:38.646Z","updatedAt":"2025-11-05T15:53:01.433Z","id":"mzGtYX8Rnghns9Ho","name":"crud gestionar gastos","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"gestionar_gasto","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,272],"id":"32f89f27-57d3-481a-809e-5957f28ae426","name":"Webhook","webhookId":"da391af3-3f94-40f2-9d3c-6781538d36f3"},{"parameters":{"content":"## gestion de gastos\naca cree la web y la publico mediante un webhook","height":720,"width":1264},"type":"n8n-nodes-base.stickyNote","position":[-272,-16],"typeVersion":1,"id":"a7eae80f-5ee1-4c7b-bdd2-af02051cfae1","name":"Sticky Note"},{"parameters":{"content":"## usar este webhook para la gestion crud de los gastos\n### https://saas.eficiencia.cloud/gestionar_gasto\nhttps://ene8w.heleo.com.pe/webhook/gestionar_gasto","height":112,"width":976,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-272,-144],"typeVersion":1,"id":"d8cb2cc8-90de-4517-8b27-1a8cdb9e84d9","name":"Sticky Note1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.id }}"},{"fieldName":"monto","fieldValue":"={{ $json.body.monto }}"},{"fieldName":"categoria","fieldValue":"={{ $json.body.categoria }}"},{"fieldName":"=descripcion","fieldValue":"={{ $json.body.descripcion }}"},{"fieldName":"fecha","fieldValue":"={{ $json.body.fecha }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[352,112],"id":"720a7ae3-b841-471a-a2dc-37edb6c31df2","name":"actualizar","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"nocoDbApiToken","operation":"delete","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","id":"={{ $json.body.id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[352,448],"id":"95baaf75-7caf-4e5b-8fb3-29b0083a212b","name":"eliminar","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.accion }}","rightValue":"=editar","operator":{"type":"string","operation":"equals"},"id":"b661a52d-73a8-46ca-862e-d142ef4637c0"}],"combinator":"and"},"renameOutput":true,"outputKey":"EDITAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61323394-189e-47f9-b384-e4a1980d7f58","leftValue":"{{ $json.body.accion }}","rightValue":"borrar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BORRAR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[64,272],"id":"4cef5b28-4e64-4fbb-b64f-558e691c5b55","name":"accion"},{"parameters":{"respondWith":"noData","options":{"responseCode":"={{ $json.codigo }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1024,288],"id":"39b65e35-468f-4cc8-9561-691076326e94","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"1cbf1b46-ec8d-4c68-8a33-3b6d19b86336","name":"codigo","value":200,"type":"number"},{"id":"6087da5c-ae37-4d6f-a185-3de4fa3182f2","name":"=success","value":true,"type":"boolean"},{"id":"cba214da-4f75-42ef-9564-8c213f1fbe1d","name":"message","value":"Gasto actualizado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,32],"id":"f2e17a50-c178-47db-b4d9-60e5e12706bf","name":"respuesta editar"},{"parameters":{"assignments":{"assignments":[{"id":"1cbf1b46-ec8d-4c68-8a33-3b6d19b86336","name":"codigo","value":200,"type":"number"},{"id":"6087da5c-ae37-4d6f-a185-3de4fa3182f2","name":"=success","value":true,"type":"boolean"},{"id":"cba214da-4f75-42ef-9564-8c213f1fbe1d","name":"message","value":"Gasto eliminado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,368],"id":"9fde5c63-eb5e-4132-93fa-1546400dd9e9","name":"respuesta borrar"},{"parameters":{"assignments":{"assignments":[{"id":"1cbf1b46-ec8d-4c68-8a33-3b6d19b86336","name":"codigo","value":400,"type":"number"},{"id":"6087da5c-ae37-4d6f-a185-3de4fa3182f2","name":"=success","value":false,"type":"boolean"},{"id":"cba214da-4f75-42ef-9564-8c213f1fbe1d","name":"message","value":"Gasto eliminado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,544],"id":"745a8d9c-8586-4e5a-953c-eaa474be52a9","name":"error borrar"},{"parameters":{"assignments":{"assignments":[{"id":"1cbf1b46-ec8d-4c68-8a33-3b6d19b86336","name":"codigo","value":400,"type":"number"},{"id":"6087da5c-ae37-4d6f-a185-3de4fa3182f2","name":"=success","value":false,"type":"boolean"},{"id":"cba214da-4f75-42ef-9564-8c213f1fbe1d","name":"message","value":"No se pudo guardar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,192],"id":"ddfd9c38-9210-4094-a980-8dcd5df7b508","name":"error editar"}],"connections":{"Webhook":{"main":[[{"node":"accion","type":"main","index":0}]]},"accion":{"main":[[{"node":"actualizar","type":"main","index":0}],[{"node":"eliminar","type":"main","index":0}]]},"actualizar":{"main":[[{"node":"respuesta editar","type":"main","index":0}],[{"node":"error editar","type":"main","index":0}]]},"respuesta editar":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"eliminar":{"main":[[{"node":"respuesta borrar","type":"main","index":0}],[{"node":"error borrar","type":"main","index":0}]]},"respuesta borrar":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"error borrar":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"error editar":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0","content-length":"127","accept":"*/*","accept-encoding":"gzip, br","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"190.239.25.123","cf-ew-via":"15","cf-ray":"999cf58542b41b21-GRU","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"eficiencia.cloud","content-type":"application/json","origin":"https://saas.eficiencia.cloud","priority":"u=1, i","referer":"https://saas.eficiencia.cloud/dashboard_gastos?token=b0c29bd3b2fcd3d5b4b9705d70ac22a33be292b3cc2a0b4ff20f8e3ebbb196d5","sec-ch-ua":"\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-auth-token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmYjY3NThkYi1lY2U5LTRiM2EtYmFiNi03ODUyYWMxNTlmZjYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYxMDU1NDYxfQ.21BDxpv_octfivPWzxFM-PbVydcoHWKiNvZvYjUM15c","x-forwarded-for":"172.71.238.187","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.71.238.187"},"params":{},"query":{},"body":{"accion":"editar","id":"68","monto":"43.49","categoria":"comida","descripcion":"Supermercado, Plaza Vea","fecha":"2025-11-04"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/gestionar_gasto","executionMode":"production"}}]},"versionId":"a187fb5e-0823-4653-96c3-357b5083f342","triggerCount":1,"shared":[{"createdAt":"2025-11-04T13:25:38.646Z","updatedAt":"2025-11-04T13:25:38.646Z","role":"workflow:owner","workflowId":"mzGtYX8Rnghns9Ho","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}