dni-eF8PG6cTdO2L7sVE.json
{"createdAt":"2025-09-02T21:59:40.353Z","updatedAt":"2025-09-02T21:59:40.353Z","id":"eF8PG6cTdO2L7sVE","name":"DNI","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.apis.net.pe/v2/reniec/dni?numero={{ $('When chat message received').item.json.chatInput }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"= Bearer {{ $json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,0],"id":"aa3725f9-a3dd-4de8-a0d5-1d8db699ea76","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"be5c9c33-68d3-48e8-a79e-7e5b7673f0ea","name":"When chat message received","webhookId":"1c9d6c2b-fc76-4282-9698-4722744be893"},{"parameters":{"assignments":{"assignments":[{"id":"fca745ae-908a-4ef7-bd34-3b4122fa4eaf","name":"token","value":"apis-token-13451.06aT6beYf43ftbRJHDsBPNaNJGrCZj23","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,0],"id":"4660affc-8038-4a13-b65e-1e8a15817791","name":"Edit Fields"}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"075660fa-03b1-4c38-bb5e-535b73cd0249","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:59:40.353Z","updatedAt":"2025-09-02T21:59:40.353Z","role":"workflow:owner","workflowId":"eF8PG6cTdO2L7sVE","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}