facturacion-api-H6dgn2UkuJBqdZin.json
{"createdAt":"2025-09-02T22:01:01.612Z","updatedAt":"2025-09-02T22:01:01.612Z","id":"H6dgn2UkuJBqdZin","name":"FACTURACION API","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"04cc8162-9f8b-43d0-b43b-38d45da16d85","name":"usuario","value":"jesus.arenas@outlook.com","type":"string"},{"id":"27af7736-211b-4e67-827e-e5f036ccc7b7","name":"password","value":"Arkanhell071","type":"string"},{"id":"178aa664-1b7b-4f9a-8cec-84790e45b197","name":"seleccion","value":"empresas","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,640],"id":"4d32929a-12b4-402f-83f5-38bc8885860e","name":"Variables"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b6dead3-3b68-4a3c-bb13-f6320c0ac7bd","leftValue":"={{ $('Variables').item.json.seleccion }}","rightValue":"empresas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-16,640],"id":"be64b90c-6b97-42ff-ad1e-c8a898dc7458","name":"If"},{"parameters":{"method":"POST","url":"https://facturacion.apisperu.com/api/v1/auth/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"={{ $json.usuario }}"},{"name":"password","value":"={{ $json.password }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,640],"id":"6da75c01-ab5a-459d-a57f-8c469407890f","name":"login"},{"parameters":{"content":"## Empresas","height":400,"width":520},"type":"n8n-nodes-base.stickyNote","position":[240,32],"typeVersion":1,"id":"55dcd795-b222-413e-b8ac-bb106eaab6ef","name":"Sticky Note"},{"parameters":{"url":"https://facturacion.apisperu.com/api/v1/companies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"5aec1e01-0bf0-46c2-b76c-a3aa1b2f3622","name":"listado empresas"},{"parameters":{"method":"POST","url":"https://facturacion.apisperu.com/api/v1/companies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"plan\": \"free\",\n  \"environment\": \"beta\",\n  \"sol_user\": \"PRUEBA11\",\n  \"sol_pass\": \"PRUEBA11\",\n  \"ruc\": \"20447165786\",\n  \"razon_social\": \"prueba 2\",\n  \"direccion\": \"dire\",\n  \"certificado\": \"string\",\n  \"logo\": \"string\",\n  \"client_id\": \"string\",\n  \"client_secret\": \"string\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,112],"id":"4e073ff0-a9cf-41c8-917b-039a1f65722a","name":"crear empresa","disabled":true},{"parameters":{"method":"POST","url":"https://facturacion.apisperu.com/api/v1/companies/certificate/free","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/x-pkcs12"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n\"password\": \"test1\",\n\"ruc\": \"20123456789\"\n}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,112],"id":"840faa1b-c3b7-4950-8271-5885757ed1e8","name":"certificado prueba"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[512,128],"id":"f136af4c-ce72-45d5-957b-ed5aa6ba412d","name":"Extract from File"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,640],"id":"f8b47573-cd91-48bd-8d72-1be99d53cd2c","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://facturacion.apisperu.com/api/v1/invoice/pdf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"ublVersion\": \"2.1\",\n  \"tipoOperacion\": \"0101\",\n  \"tipoDoc\": \"03\",\n  \"serie\": \"B001\",\n  \"correlativo\": \"2\",\n  \"fechaEmision\": \"2021-01-27T00:00:00-05:00\",\n  \"formaPago\": {\n    \"moneda\": \"PEN\",\n    \"tipo\": \"Contado\"\n  },\n  \"tipoMoneda\": \"PEN\",\n  \"client\": {\n    \"tipoDoc\": \"6\",\n    \"numDoc\": 20000000002,\n    \"rznSocial\": \"Cliente\",\n    \"address\": {\n      \"direccion\": \"Direccion cliente\",\n      \"provincia\": \"LIMA\",\n      \"departamento\": \"LIMA\",\n      \"distrito\": \"LIMA\",\n      \"ubigueo\": \"150101\"\n    }\n  },\n  \"company\": {\n    \"ruc\": 20407165786,\n    \"razonSocial\": \"Mi empresa\",\n    \"nombreComercial\": \"Mi empresa\",\n    \"address\": {\n      \"direccion\": \"Direccion empresa\",\n      \"provincia\": \"LIMA\",\n      \"departamento\": \"LIMA\",\n      \"distrito\": \"LIMA\",\n      \"ubigueo\": \"150101\"\n    }\n  },\n  \"mtoOperGravadas\": 100,\n  \"mtoIGV\": 18,\n  \"valorVenta\": 100,\n  \"totalImpuestos\": 18,\n  \"subTotal\": 118,\n  \"mtoImpVenta\": 118,\n  \"details\": [\n    {\n      \"codProducto\": \"P001\",\n      \"unidad\": \"NIU\",\n      \"descripcion\": \"PRODUCTO 1\",\n      \"cantidad\": 2,\n      \"mtoValorUnitario\": 50,\n      \"mtoValorVenta\": 100,\n      \"mtoBaseIgv\": 100,\n      \"porcentajeIgv\": 18,\n      \"igv\": 18,\n      \"tipAfeIgv\": 10,\n      \"totalImpuestos\": 18,\n      \"mtoPrecioUnitario\": 59\n    }\n  ],\n  \"legends\": [\n    {\n      \"code\": \"1000\",\n      \"value\": \"SON CIENTO DIECIOCHO CON 00/100 SOLES\"\n    }\n  ]\n}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,704],"id":"03dd324d-67e0-4df1-8321-8875ad6305f9","name":"generar pdf"},{"parameters":{"method":"POST","url":"https://facturacion.apisperu.com/api/v1/invoice/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"ublVersion\": \"2.1\",\n  \"tipoOperacion\": \"0101\",\n  \"tipoDoc\": \"03\",\n  \"serie\": \"B001\",\n  \"correlativo\": \"2\",\n  \"fechaEmision\": \"2021-01-27T00:00:00-05:00\",\n  \"formaPago\": {\n    \"moneda\": \"PEN\",\n    \"tipo\": \"Contado\"\n  },\n  \"tipoMoneda\": \"PEN\",\n  \"client\": {\n    \"tipoDoc\": \"6\",\n    \"numDoc\": 20000000002,\n    \"rznSocial\": \"Cliente\",\n    \"address\": {\n      \"direccion\": \"Direccion cliente\",\n      \"provincia\": \"LIMA\",\n      \"departamento\": \"LIMA\",\n      \"distrito\": \"LIMA\",\n      \"ubigueo\": \"150101\"\n    }\n  },\n  \"company\": {\n    \"ruc\": 20407165786,\n    \"razonSocial\": \"Mi empresa\",\n    \"nombreComercial\": \"Mi empresa\",\n    \"address\": {\n      \"direccion\": \"Direccion empresa\",\n      \"provincia\": \"LIMA\",\n      \"departamento\": \"LIMA\",\n      \"distrito\": \"LIMA\",\n      \"ubigueo\": \"150101\"\n    }\n  },\n  \"mtoOperGravadas\": 100,\n  \"mtoIGV\": 18,\n  \"valorVenta\": 100,\n  \"totalImpuestos\": 18,\n  \"subTotal\": 118,\n  \"mtoImpVenta\": 118,\n  \"details\": [\n    {\n      \"codProducto\": \"P001\",\n      \"unidad\": \"NIU\",\n      \"descripcion\": \"PRODUCTO 1\",\n      \"cantidad\": 2,\n      \"mtoValorUnitario\": 50,\n      \"mtoValorVenta\": 100,\n      \"mtoBaseIgv\": 100,\n      \"porcentajeIgv\": 18,\n      \"igv\": 18,\n      \"tipAfeIgv\": 10,\n      \"totalImpuestos\": 18,\n      \"mtoPrecioUnitario\": 59\n    }\n  ],\n  \"legends\": [\n    {\n      \"code\": \"1000\",\n      \"value\": \"SON CIENTO DIECIOCHO CON 00/100 SOLES\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,512],"id":"24bda288-c534-4b40-a209-57358382aad3","name":"enviar cpe","disabled":true},{"parameters":{"mode":"jsonToxml","dataPropertyName":"=data{{ $json.xml }}","options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[608,512],"id":"4570a785-e2f7-48fc-ac7f-8828b739a95c","name":"XML"}],"connections":{"Variables":{"main":[[{"node":"login","type":"main","index":0}]]},"If":{"main":[[{"node":"enviar cpe","type":"main","index":0},{"node":"generar pdf","type":"main","index":0}]]},"login":{"main":[[{"node":"If","type":"main","index":0}]]},"certificado prueba":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Variables","type":"main","index":0}]]},"enviar cpe":{"main":[[{"node":"XML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8ee7a3ba-c4da-44c5-a0f9-9d238b82a62c","triggerCount":0,"shared":[{"createdAt":"2025-09-02T22:01:01.612Z","updatedAt":"2025-09-02T22:01:01.612Z","role":"workflow:owner","workflowId":"H6dgn2UkuJBqdZin","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}