formulario-a-correo-Dgycadwfcp764Rqp.json
{"createdAt":"2025-09-02T21:25:38.765Z","updatedAt":"2025-09-02T21:25:38.765Z","id":"Dgycadwfcp764Rqp","name":"FORMULARIO A CORREO","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Formulario de pruebas","formFields":{"values":[{"fieldLabel":"Nombre","requiredField":true},{"fieldLabel":"Correo","fieldType":"email","requiredField":true},{"fieldLabel":"Emprendimiento","requiredField":true},{"fieldLabel":"web emprendimiento "},{"fieldLabel":"Cual es tu objetivo?","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"1e490ca4-a475-42d7-a81a-80d5fe55fbd5","name":"On form submission","webhookId":"8a0d7e2c-2655-4833-9032-2471d1ce4ea0"},{"parameters":{"promptType":"define","text":"=Escribe un correo de bienvenida a la comunidad de eficiencia cloud a:\nNombre: {{ $json.Nombre }}\nEmprendimiento:{{ $json.Emprendimiento }}\nObjetivo:{{ $json['Cual es tu objetivo?'] }}\nIdioma: español\nSolo genera el contenido del correo sin ninguna introduccion.\nEl mail lo envia Jesús Arenas fundador de Eficiencia Cloud\nEntrega el mail sin subject\n\nQue es Eficiencia Cloud?:\n\nNuestra Historia y Compromiso\nEn EficiencIA Cloud, nos dedicamos a transformar empresas a través de la inteligencia artificial. Nuestro equipo de expertos combina conocimiento técnico con visión estratégica para ofrecer soluciones que impulsan la eficiencia y el crecimiento.\n\nMisión\nEmpoderar a las empresas con soluciones de IA innovadoras y accesibles que impulsen su transformación digital y crecimiento sostenible.\n\nVisión\nSer el referente latinoamericano en la implementación de soluciones de IA, reconocidos por nuestra excelencia técnica y compromiso con el éxito de nuestros clientes.\n\nSoluciones de Inteligencia Artificial a tu Alcance\nDescubre cómo nuestros servicios pueden potenciar tu negocio\n\nChatbots y Agentes IA\nAutomatiza la atención al cliente y procesos internos con agentes inteligentes personalizados.\n\nStacks de Desarrollo IA\nImplementación de infraestructura y herramientas para el desarrollo de soluciones IA.\n\nAsesoría sobre IA\nConsultoría estratégica para la implementación efectiva de IA en tu negocio.\n\nCapacitación y Talleres\nProgramas de formación para equipos técnicos y no técnicos en IA."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[240,0],"id":"6882c853-b69d-452c-90f8-b58dfd4ce81c","name":"Basic LLM Chain","notesInFlow":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[352,208],"id":"dfe8ec20-2bf9-48eb-a7bc-b61144f6bdcd","name":"Groq Chat Model"},{"parameters":{"sendTo":"={{ $('On form submission').item.json.Correo }}","subject":"Bienvenido a la comunidad de Eficiencia Cloud","emailType":"text","message":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[608,0],"id":"9fa3d733-c5dc-4abc-aaea-614a684154b3","name":"Gmail","webhookId":"20046834-9e8a-47de-8086-18f21a8ca3c6"}],"connections":{"On form submission":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Nombre":"jesus","Correo":"jesus@heleo.com.pe","Emprendimiento":"eficiencia","web emprendimiento ":"","Cual es tu objetivo?":"ganar dinero","submittedAt":"2025-02-05T14:50:01.565-03:00","formMode":"test"}}]},"versionId":"96412810-c7c4-45c6-9f3e-cb55cc2db191","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:25:38.765Z","updatedAt":"2025-09-02T21:25:38.765Z","role":"workflow:owner","workflowId":"Dgycadwfcp764Rqp","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}