generador-de-instancias-evoapi-1BAJnONcppWQsGmR.json
{"createdAt":"2025-09-02T21:30:24.937Z","updatedAt":"2025-09-12T04:01:51.019Z","id":"1BAJnONcppWQsGmR","name":"generador de instancias EVOapi","active":true,"isArchived":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Generador de QR</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n            background-color: #f0f0f0;\n        }\n        .container {\n            background-color: white;\n            padding: 2rem;\n            border-radius: 8px;\n            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n            text-align: center;\n        }\n        input {\n            width: 100%;\n            padding: 0.5rem;\n            margin-bottom: 1rem;\n            border: 1px solid #ccc;\n            border-radius: 4px;\n        }\n        button {\n            background-color: #4CAF50;\n            color: white;\n            border: none;\n            padding: 0.5rem 1rem;\n            border-radius: 4px;\n            cursor: pointer;\n        }\n        button:hover {\n            background-color: #45a049;\n        }\n        button:disabled {\n            background-color: #cccccc;\n            cursor: not-allowed;\n        }\n        #qrcode {\n            margin-top: 1rem;\n        }\n        /* Se elimina el estilo para #timer ya que el elemento se quitará */\n        .loader {\n            border: 5px solid #f3f3f3;\n            border-top: 5px solid #3498db;\n            border-radius: 50%;\n            width: 50px;\n            height: 50px;\n            animation: spin 1s linear infinite;\n            margin: 20px auto;\n            display: none;\n        }\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Generador de código QR</h1>\n        <input type=\"text\" id=\"instanceName\" placeholder=\"Nombre de la instancia\">\n        <button id=\"generateButton\" onclick=\"generateQRCode()\">Generar QR</button>\n        <div id=\"loader\" class=\"loader\"></div>\n        <div id=\"qrcode\"></div>\n        <!-- Se elimina el div con id=\"timer\" -->\n    </div>\n\n    <script>\n        // Se eliminan las variables relacionadas con el temporizador\n        // let timerInterval;\n        // let timeLeft = 30;\n        // let currentInstanceName = ''; // Ya no es necesario para el temporizador\n\n        async function generateQRCode() {\n            const instanceName = document.getElementById('instanceName').value;\n            if (!instanceName) {\n                alert('Por favor, ingrese el nombre de la instancia.');\n                return;\n            }\n\n            // currentInstanceName = instanceName; // Ya no es necesario\n            await fetchAndDisplayQRCode(instanceName); // Se llama sin el segundo argumento 'true'\n\n            // Se elimina la lógica del temporizador\n            // clearInterval(timerInterval);\n            // timeLeft = 30;\n            // updateTimer(); // Ya no se llama\n            // timerInterval = setInterval(updateTimer, 1000); // Ya no se inicia el intervalo\n        }\n\n        async function fetchAndDisplayQRCode(instanceName) { // Se elimina el parámetro isInitial\n            const loader = document.getElementById('loader');\n            const generateButton = document.getElementById('generateButton');\n            const qrcodeElement = document.getElementById('qrcode');\n\n            loader.style.display = 'block';\n            generateButton.disabled = true;\n            qrcodeElement.innerHTML = '';\n\n            try {\n                // El endpoint es el mismo, se simplifica\n                const endpoint = 'https://ene8w.heleo.com.pe/webhook/crear-instancia-evolution';\n\n                const response = await fetch(endpoint, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ instanceName: instanceName }),\n                });\n\n                if (!response.ok) {\n                    const errorData = await response.json().catch(() => ({ message: 'Error en la respuesta del servidor sin JSON detallado.' }));\n                    console.error('Error en la respuesta del servidor:', response.status, response.statusText, errorData);\n                    throw new Error(errorData.message || `Error en la respuesta del servidor: ${response.status}`);\n                }\n\n                const contentType = response.headers.get('content-type');\n                let imgSrc;\n\n                if (contentType && contentType.includes('application/json')) {\n                    const data = await response.json();\n                    if (data.qrCodeBase64) {\n                        imgSrc = `data:image/png;base64,${data.qrCodeBase64}`;\n                    } else {\n                        console.error('Respuesta JSON no contiene qrCodeBase64:', data);\n                        throw new Error('Formato de respuesta JSON inesperado.');\n                    }\n                } else if (contentType && contentType.includes('image/')) { // Para manejar directamente una imagen\n                    const blob = await response.blob();\n                    imgSrc = URL.createObjectURL(blob);\n                } else {\n                     console.error('Tipo de contenido no esperado:', contentType);\n                    throw new Error('Respuesta del servidor no es una imagen ni JSON con QR.');\n                }\n                qrcodeElement.innerHTML = `<img src=\"${imgSrc}\" alt=\"Código QR\">`;\n\n            } catch (error) {\n                console.error('Error al generar el código QR:', error);\n                alert(`Error al generar el código QR: ${error.message}. Por favor, inténtelo de nuevo.`);\n                qrcodeElement.innerHTML = `<p style=\"color:red;\">Error: ${error.message}</p>`;\n            } finally {\n                loader.style.display = 'none';\n                generateButton.disabled = false;\n            }\n        }\n\n        // Se elimina la función updateQRCode ya que no se usará\n        /*\n        async function updateQRCode() {\n            if (currentInstanceName) {\n                await fetchAndDisplayQRCode(currentInstanceName);\n            }\n        }\n        */\n\n        // Se elimina la función updateTimer ya que no se usará\n        /*\n        function updateTimer() {\n            const timerElement = document.getElementById('timer');\n            if (timerElement) { // Comprobar si el elemento existe antes de intentar usarlo\n                 timerElement.textContent = `Nuevo código QR en: ${timeLeft}s`;\n            }\n\n            if (timeLeft === 0) {\n                clearInterval(timerInterval);\n                updateQRCode();\n                timeLeft = 30;\n                timerInterval = setInterval(updateTimer, 1000);\n            } else {\n                timeLeft--;\n            }\n        }\n        */\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[272,288],"id":"081f4830-da0b-4009-8f57-f51030f1b18f","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,208],"id":"53e1a294-61de-4243-87cb-669d85f7718d","name":"Respond to Webhook"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1520,624],"id":"635d536b-eca5-4e1d-ade2-4f961a5f5e01","name":"Respond to Webhook1"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1328,368],"id":"c0cdc9fa-1449-44c1-98e0-262a0b6f51c9","name":"Respond to Webhook2"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1328,624],"id":"859cdde8-e313-4cbe-9165-6525d997aa90","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.data.base64.split(\",\").last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,624],"id":"a07275ba-6eb6-4de4-ad44-bc49034d6db8","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1136,368],"id":"64d65ee7-fc7f-4f94-8f38-131934519db6","name":"Convert to File1"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.data.base64.split(',').last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,368],"id":"c966d6ee-7cc7-4d31-a040-d8ce849f98d5","name":"Edit Fields1"},{"parameters":{"path":"instanciaevolution","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,288],"id":"47cf6311-21d2-469d-bff2-8aee8b6421d7","name":"Pagina de codigo QR","webhookId":"cce5e6b5-f99a-48a3-8b18-cf524f03c4ce"},{"parameters":{"instanceName":"={{ $('crear-instancia-evolution').item.json.body.instanceName }}","options_Create_instance":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[784,624],"id":"6afce981-de4e-420f-b55b-72dbe8f03f03","name":"Evolution API","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"httpMethod":"POST","path":"crear-instancia-evolution","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,496],"id":"39b09ae4-abe6-4f36-96d8-14cc3731d46d","name":"crear-instancia-evolution","webhookId":"f3988766-f52b-4be0-b0bd-254e485671a3"},{"parameters":{"operation":"instance-connect","instanceName":"={{ $json.data.instance.instanceName }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[960,624],"id":"415524e9-0664-4c26-bac1-62442d9e4899","name":"Evolution API1","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"operation":"instance-connect","instanceName":"={{ $json.data[0].name }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[784,368],"id":"674f7cbb-c298-4cad-be5b-a976784a9de6","name":"Evolution API2","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"operation":"fetch-instances","instanceName":"={{ $json.body.instanceName }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,496],"id":"4448448e-6723-4ca6-9fd1-f3be3f9460b6","name":"buscar","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"df156d6e-6360-4df8-bff0-3f2085e44413","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,496],"id":"1fe4fcf7-6e7d-4e45-9fa3-dee612e277b3","name":"existe?"},{"parameters":{"content":"## inspiracion \nhttps://www.youtube.com/watch?v=VN5XYKYz3iU\n\nLink de la web generadora  de qr:\nhttps://ene8w.eficiencia.cloud/webhook/instanciaevolution","width":600},"type":"n8n-nodes-base.stickyNote","position":[-112,48],"typeVersion":1,"id":"5f50cdc1-9f27-4187-b624-1777f274fda4","name":"Sticky Note"}],"connections":{"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Pagina de codigo QR":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"crear-instancia-evolution":{"main":[[{"node":"buscar","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"buscar":{"main":[[{"node":"existe?","type":"main","index":0}]]},"existe?":{"main":[[{"node":"Evolution API2","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"crear-instancia-evolution":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"23","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9","content-type":"application/json","origin":"https://ene8.eficiencia.cloud","priority":"u=1, i","referer":"https://ene8.eficiencia.cloud/","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c4b2d61b0058","x-real-ip":"190.239.25.123"},"params":{},"query":{},"body":{"instanceName":"mundox"},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/crear-instancia-evolution","executionMode":"production"}}]},"versionId":"2fcd827c-9a6a-499d-b1a1-91b70a3fbb66","triggerCount":2,"shared":[{"createdAt":"2025-09-02T21:30:24.937Z","updatedAt":"2025-09-02T21:30:24.937Z","role":"workflow:owner","workflowId":"1BAJnONcppWQsGmR","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}