gestion-de-reservas-QCuySof8tKZpP9S2.json
{"createdAt":"2025-09-02T21:43:54.175Z","updatedAt":"2025-09-02T21:43:54.175Z","id":"QCuySof8tKZpP9S2","name":"GESTION DE RESERVAS","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"9d8964c7-22c3-4a4c-ad4c-88905aecc1f9","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,1248],"id":"bbf04176-345d-4f37-b8ef-bbe48b2060e6","name":"Recibir Solicitud","webhookId":"9d8964c7-22c3-4a4c-ad4c-88905aecc1f9"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Recibir Solicitud').item.json.query.etapa }}","rightValue":"obtenerHorarios","operator":{"type":"string","operation":"equals"},"id":"2828f69b-6868-4c8f-848c-db2ebcdda302"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c246b231-73f5-4dee-a907-b21de55a7307","leftValue":"={{ $('Recibir Solicitud').item.json.query.etapa }}","rightValue":"agendarCita","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4fe011e-4f99-422c-b7da-3a81b7b1d931","leftValue":"={{ $('Recibir Solicitud').item.json.query.etapa }}","rightValue":"obtenerCitaReagendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cb1554a-6e5e-40d2-b302-6c14dbad5ef3","leftValue":"={{ $('Recibir Solicitud').item.json.query.etapa }}","rightValue":"reAgendarCita","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6613dd4-3185-42b3-ad93-003847b3e38c","leftValue":"={{ $('Recibir Solicitud').item.json.query.etapa }}","rightValue":"cancelarCita","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-928,1200],"id":"26cebc56-bdb0-4e08-a7c8-c981906f711e","name":"Comprobar etapa"},{"parameters":{"assignments":{"assignments":[{"id":"8bb746e9-34df-49ab-82e9-e4ca8c801713","name":"APIKEY CAL","value":"cal_live_4698864ca5bd78ba6c0312e712dcd25a","type":"string"},{"id":"36abf930-feed-4d5d-a669-2233674fa7ad","name":"eventTypeId","value":1982789,"type":"number"},{"id":"d09e24ac-4c9a-40d0-8afc-36ad656366e5","name":"Timezone","value":"America/Lima","type":"string"},{"id":"b70252e7-1219-44c9-826b-fcbe4c96aa5c","name":"zero","value":0,"type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,1248],"id":"a30ebbda-1a57-4ab9-a88f-e39072208c5f","name":"variables"},{"parameters":{"operation":"formatDate","date":"={{ $('Recibir Solicitud').item.json.query.fechaCita }}","format":"custom","customFormat":"yyyy-MM-dd","outputFieldName":"fechaFormateada","options":{"fromFormat":"={{ 'dd-MM-yyyy' }}"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[128,240],"id":"d4e5d495-4596-4da4-af80-ed133c4cba3d","name":"Formatear fecha","onError":"continueErrorOutput"},{"parameters":{"url":"https://api.cal.com/v1/slots","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $('variables').item.json['APIKEY CAL'] }}"},{"name":"startTime","value":"={{ $json.fechaFormateada }}T00:00:00"},{"name":"endTime","value":"={{ $json.fechaFormateada }}T23:59:59"},{"name":"timeZone","value":"={{ $('variables').item.json.Timezone }}"},{"name":"eventTypeId","value":"={{ $('variables').item.json.eventTypeId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,128],"id":"eb85fb08-d5b6-475b-8413-86ab1e22b405","name":"Obtener horarios disponibles"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fee77746-095b-4fa6-b7ae-86a3bc1c37dd","leftValue":"={{ $json.slots }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,128],"id":"0fec7c97-79b7-4e24-b401-3dd4fc8bfe32","name":"Hay horas disponibles?"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"El formato de fecha ingresado no es válido\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,352],"id":"5b40b174-7b70-40a5-bebf-e58e5076ab99","name":"devolver error formato fecha"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"No hay disponibles para la fecha seleccionada\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[864,288],"id":"102ea0d2-ba0f-4878-9e74-0f618a8d4c61","name":"devolver sin horas disponibles"},{"parameters":{"jsCode":"let fecha = $('Formatear fecha').item.json.fechaFormateada\nlet horarios = $('Obtener horarios disponibles').item.json.slots\n\nlet horas = horarios[fecha].map(item => {\n  // Extraemos la hora de cada fecha en el formato HH:mm\n  const hora = item.time.split(\"T\")[1].split(\"-\")[0].slice(0, -3);\n  return hora;\n});\n\nlet mensaje = horas.join(\",\");\n\nreturn {mensaje}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,32],"id":"4f5e42cf-5371-40c2-b36b-41a2ceed23fe","name":"Code"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"mensaje\": \"{{ $json.mensaje }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1104,32],"id":"e59318c1-509e-4898-a947-a8ff237bdb64","name":"devolver horas disponibles"},{"parameters":{"operation":"formatDate","date":"={{ $('Recibir Solicitud').item.json.query.fechaCita }}T{{ $('Recibir Solicitud').item.json.query.horaCita }}","format":"custom","customFormat":"={{ \"yyyy-MM-dd'T'HH:mm:ssZZ\" }}","outputFieldName":"fechaInicio","options":{"fromFormat":"={{ 'dd-MM-yyyy\\'T\\'HH:mm' }}","timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[144,768],"id":"4ff9110a-c9d5-49dc-b4d6-e4efc80d6083","name":"Formatear fecha inicio"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.fechaInicio }}","timeUnit":"hours","duration":1,"outputFieldName":"horaTermino","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[432,768],"id":"2c3a6770-d569-46b1-a1a3-7ea18fc9096a","name":"Calcular hora termino"},{"parameters":{"method":"POST","url":"https://api.cal.com/v1/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $('variables').item.json['APIKEY CAL'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"eventTypeId","value":"={{ $('variables').item.json.eventTypeId }}"},{"name":"start","value":"={{ $('Formatear fecha inicio').item.json.fechaInicio }}"},{"name":"end","value":"={{ $json.horaTermino }}"},{"name":"responses.name","value":"={{ $('Recibir Solicitud').item.json.query.nombre }}"},{"name":"responses.email","value":"={{ $('Recibir Solicitud').item.json.query.email }}"},{"name":"responses.location.value","value":"inPerson"},{"name":"responses.location.optionValue","value":"Av. Bolognesi Nro 920 (A una cuadra del Mcdo. Central Tacna-Perú"},{"name":"metadata","value":"={{ {} }}"},{"name":"timeZone","value":"={{ $('variables').item.json.Timezone }}"},{"name":"language","value":"es"},{"name":"responses.whatsapp","value":"=+{{ $('Recibir Solicitud').item.json.query.whatsapp.replace(\"@s.whatsapp.net\",\"\") }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,768],"id":"346b922b-15d0-4106-b581-69d44dc73465","name":"reservar cita","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"Se produjo un error al agendar la cita\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[864,864],"id":"3eba9d2b-fbb6-48ce-b90e-f2b4ab91f91b","name":"devolver error al ingresar cita"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9749ecf3-43bd-4e56-a73e-0e334c343a4a","leftValue":"={{ $json.status }}","rightValue":"ACCEPTED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[864,672],"id":"cbc33374-0665-4e12-a7c7-500262c3f631","name":"Filter"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"mensaje\": \"La cita fue agendada con exito\",\n  \"direccion\": \"{{ $json.location }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1168,672],"id":"fc69b553-ba3a-4f4f-8e04-c8bdf4201d87","name":"devolver reserva exitosa"},{"parameters":{"content":"## Obtener las horas disponibles a partir de una fecha\n","height":500,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"f130ad47-8856-4347-ad07-e2b0e6beefb5","name":"Sticky Note"},{"parameters":{"content":"## Ingresar citas\n","height":500,"width":1440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,544],"typeVersion":1,"id":"01b81ce6-5f80-4245-bfd5-a3cbfb6fdeef","name":"Sticky Note1"},{"parameters":{"url":"https://api.cal.com/v1/bookings","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $('variables').item.json['APIKEY CAL'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,1248],"id":"01624045-ab14-4ee3-a96f-a3f9bcb4c932","name":"obtener todas las citas","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"Se produjo un error al obtener las citas\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[224,1360],"id":"290ee458-4257-4d6e-b762-e6f246e151e5","name":"devolver error al obtener las citas"},{"parameters":{"fieldToSplitOut":"bookings","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[224,1152],"id":"1183ea4b-9083-41ba-8de8-b967522c7487","name":"separa citas"},{"parameters":{"assignments":{"assignments":[{"id":"30a967b6-bbb1-44d6-922e-9905347823e4","name":"whatappCitas","value":"={{ $json.responses.whatsapp }}","type":"string"},{"id":"c6f89de7-8731-4382-a274-45f5fdc51a2a","name":"whatsappEntrante","value":"=+{{ $('Recibir Solicitud').item.json.query.whatsapp.replace(\"@s.whatsapp.net\",\"\") }}","type":"string"},{"id":"78fe9363-5652-43ff-a6a3-2f869067cf13","name":"eventTypeIdCitas","value":"={{ $json.eventTypeId }}","type":"string"},{"id":"a181c8de-ffa2-4349-87e4-fde0e09a8db2","name":"eventTypeIdUtilizado","value":"={{ $('variables').item.json.eventTypeId }}","type":"string"},{"id":"6605f3a4-3fae-4f28-80e9-e7fa0019cb42","name":"estadoCitas","value":"={{ $json.status }}","type":"string"},{"id":"596a3f51-1755-4f3f-852c-beed201b5d7b","name":"fechaInicio","value":"={{ DateTime.fromISO($json.startTime, { zone: 'utc' }).setZone($('variables').item.json.Timezone).toISO({ includeOffset: true }) }}","type":"string"},{"id":"9fdbc1b3-276a-433c-92f7-b6531cca0b1e","name":"idCita","value":"={{ $json.id }}","type":"string"},{"id":"987f4806-4aec-4c46-86d9-c5c21fe4cdb6","name":"tituloCita","value":"={{ $json.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,1152],"id":"7e9027c3-69b4-46c4-bdde-af659c683500","name":"setear informacion"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"No hay citas agendadas para este usuario\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1104,1328],"id":"85f02988-ccd0-477e-a963-0bf84253a60b","name":"devolver mensaje citas inexistentes"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"citas","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1072,1120],"id":"babde7bc-5f69-4879-a8b7-f308ad2a4b81","name":"juntar citas"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"mensaje\": {{ JSON.stringify($json.citas) }}\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1232,1120],"id":"c66176e7-3ef1-4598-91d1-9c5d2e6aa5ae","name":"devolver citas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4c71a07-2824-468d-ba7a-e5274378a54f","leftValue":"={{ $json.eventTypeIdCitas }}","rightValue":"={{ $json.eventTypeIdUtilizado }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b0e92574-dcf1-4776-be55-77f9747dbc98","leftValue":"={{ $json.whatsappEntrante }}","rightValue":"={{ $json.whatappCitas }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"0e166cfa-2fc0-46cd-80da-b4b8c2f34026","leftValue":"={{ $json.estadoCitas }}","rightValue":"ACCEPTED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a3377776-7d60-4d8c-a9ac-4f143f8e14ec","leftValue":"={{ $json.fechaInicio }}","rightValue":"={{ $now }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,1152],"id":"4db9bb85-a0a9-43a5-8f08-9c58012c32bd","name":"Separar citas validas"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"whatappCitas"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[688,1328],"id":"f05817f3-9787-48cd-9883-4d98da026edb","name":"citas invalidas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a2f8f745-6dcf-428e-8f36-7ef59e9e8574","leftValue":"={{ $json.count_whatappCitas }}","rightValue":"={{ $('variables').item.json.zero }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,1344],"id":"ddfb7a66-8102-49f0-a39e-958a5f85c8c6","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"4c502777-63ef-46e8-864d-77d48f754290","name":"=fechaInicio","value":"={{\nDateTime.fromISO($json.fechaInicio, { zone: 'utc' }).setZone($('variables').item.json.Timezone).toFormat('dd-MM-yyyy');\n}}","type":"string"},{"id":"27a1df4d-e18c-4b0d-a8a0-21f3696ce1ee","name":"idCita","value":"={{ $json.idCita }}","type":"string"},{"id":"96a4f59c-c05b-46f9-8fa2-f57157f7b56d","name":"horaInicio","value":"={{ DateTime.fromISO($json.fechaInicio, { zone: 'utc' }).setZone($('variables').item.json.Timezone).toFormat('HH:mm'); }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,1120],"id":"efdb5fb3-eb2c-4939-8a8a-8dfdacce618d","name":"filtrar información importante"},{"parameters":{"content":"## Obtener citas a traves del numero de telefono","height":500,"width":1440,"color":2},"type":"n8n-nodes-base.stickyNote","position":[0,1088],"typeVersion":1,"id":"3d3a1210-a2fc-472c-9a39-6b0c80385760","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9749ecf3-43bd-4e56-a73e-0e334c343a4a","leftValue":"={{ $json.booking.status }}","rightValue":"ACCEPTED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[800,1680],"id":"6c44ccee-57b9-4267-9951-6237dfda5c54","name":"Filter1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"mensaje\": \"La cita fue re-agendada con exito\" \n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1104,1680],"id":"178a0c2e-9b2d-4096-a14e-7e1dbc1e2926","name":"devolver reserva exitosa1"},{"parameters":{"operation":"formatDate","date":"={{ $('Recibir Solicitud').item.json.query.fechaCita }}T{{ $('Recibir Solicitud').item.json.query.horaCita }}","format":"custom","customFormat":"={{ \"yyyy-MM-dd'T'HH:mm:ssZZ\" }}","outputFieldName":"fechaInicio","options":{"fromFormat":"={{ 'dd-MM-yyyy\\'T\\'HH:mm' }}","timezone":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[80,1792],"id":"d16e2fdf-fa67-4cd7-9157-2a9f92fad5aa","name":"Formatear fecha reagendar"},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.fechaInicio }}","timeUnit":"hours","duration":1,"outputFieldName":"horaTermino","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[368,1792],"id":"09c19ec3-e117-4755-9bfb-efaa49e243a1","name":"Calcular hora termino reagendado"},{"parameters":{"method":"PATCH","url":"=https://api.cal.com/v1/bookings/{{ $('Recibir Solicitud').item.json.query.idCita }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $('variables').item.json['APIKEY CAL'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"startTime","value":"={{ $json.fechaInicio }}"},{"name":"endTime","value":"={{ $json.horaTermino }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,1792],"id":"634631d4-dbb8-416d-aa6a-28c6d9323dba","name":"reagendar cita","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"Se produjo un error al re-agendar la cita\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,1888],"id":"7d957a5d-1690-4159-ad5d-f6ab08712bd9","name":"devolver error al reagendar cita"},{"parameters":{"content":"## Reagendar cita","height":500,"width":1440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,1632],"typeVersion":1,"id":"738efb80-ff04-4bf3-a9ec-b2941c1274f3","name":"Sticky Note3"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"mensaje\": \"Se produjo un error al cancelar la cita\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[592,2432],"id":"b2d0ac22-06ce-46fe-b57f-d79e638934b6","name":"devolver error al reagendar cita1"},{"parameters":{"content":"## Cancelar cita","height":500,"width":1440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,2160],"typeVersion":1,"id":"0bf0cd83-8ea8-49d8-9551-4e7a1cae8cb0","name":"Sticky Note4"},{"parameters":{"method":"PATCH","url":"=https://api.cal.com/v1/bookings/{{ $('Recibir Solicitud').item.json.query.idCita }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"apiKey","value":"={{ $('variables').item.json['APIKEY CAL'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"CANCELLED"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,2320],"id":"84621e0b-cc94-4e12-ae56-926dad268656","name":"cancelar cita","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9749ecf3-43bd-4e56-a73e-0e334c343a4a","leftValue":"={{ $json.booking.status }}","rightValue":"CANCELLED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[592,2224],"id":"e311e2e3-ca93-41c3-bb23-6991d3c30409","name":"cancelar aceptado"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"mensaje\": \"La cita fue cancelada con exito\" \n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[848,2224],"id":"145c21e9-bf6e-45ea-81cd-332d878860b7","name":"devolver confirmacion de cancelacion"}],"connections":{"Recibir Solicitud":{"main":[[{"node":"variables","type":"main","index":0}]]},"Comprobar etapa":{"main":[[{"node":"Formatear fecha","type":"main","index":0}],[{"node":"Formatear fecha inicio","type":"main","index":0}],[{"node":"obtener todas las citas","type":"main","index":0}],[{"node":"Formatear fecha reagendar","type":"main","index":0}],[{"node":"cancelar cita","type":"main","index":0}]]},"variables":{"main":[[{"node":"Comprobar etapa","type":"main","index":0}]]},"Formatear fecha":{"main":[[{"node":"Obtener horarios disponibles","type":"main","index":0}],[{"node":"devolver error formato fecha","type":"main","index":0}]]},"Obtener horarios disponibles":{"main":[[{"node":"Hay horas disponibles?","type":"main","index":0}]]},"Hay horas disponibles?":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"devolver sin horas disponibles","type":"main","index":0}]]},"Code":{"main":[[{"node":"devolver horas disponibles","type":"main","index":0}]]},"Formatear fecha inicio":{"main":[[{"node":"Calcular hora termino","type":"main","index":0}]]},"Calcular hora termino":{"main":[[{"node":"reservar cita","type":"main","index":0}]]},"reservar cita":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"devolver error al ingresar cita","type":"main","index":0}]]},"Filter":{"main":[[{"node":"devolver reserva exitosa","type":"main","index":0}]]},"obtener todas las citas":{"main":[[{"node":"separa citas","type":"main","index":0}],[{"node":"devolver error al obtener las citas","type":"main","index":0}]]},"separa citas":{"main":[[{"node":"setear informacion","type":"main","index":0}]]},"setear informacion":{"main":[[{"node":"Separar citas validas","type":"main","index":0}]]},"juntar citas":{"main":[[{"node":"devolver citas","type":"main","index":0}]]},"Separar citas validas":{"main":[[{"node":"filtrar información importante","type":"main","index":0}],[{"node":"citas invalidas","type":"main","index":0}]]},"citas invalidas":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"devolver mensaje citas inexistentes","type":"main","index":0}]]},"filtrar información importante":{"main":[[{"node":"juntar citas","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"devolver reserva exitosa1","type":"main","index":0}]]},"Formatear fecha reagendar":{"main":[[{"node":"Calcular hora termino reagendado","type":"main","index":0}]]},"Calcular hora termino reagendado":{"main":[[{"node":"reagendar cita","type":"main","index":0}]]},"reagendar cita":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"devolver error al reagendar cita","type":"main","index":0}]]},"cancelar cita":{"main":[[{"node":"cancelar aceptado","type":"main","index":0}],[{"node":"devolver error al reagendar cita1","type":"main","index":0}]]},"cancelar aceptado":{"main":[[{"node":"devolver confirmacion de cancelacion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Recibir Solicitud":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","user-agent":"node","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","sec-fetch-mode":"cors","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"b36ac304beec","x-real-ip":"172.18.0.1"},"params":{},"query":{"etapa":"agendarCita","fechaCita":"22-03-2025","horaCita":"15:00","nombre":"Ademir","email":"Ademirarenast@gmail.com","whatsapp":"51987161002@s.whatsapp.net"},"body":{},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/9d8964c7-22c3-4a4c-ad4c-88905aecc1f9","executionMode":"production"}}]},"versionId":"cdf02d12-0d22-47ae-b09e-440d0ca3fc2f","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:43:54.175Z","updatedAt":"2025-09-02T21:43:54.175Z","role":"workflow:owner","workflowId":"QCuySof8tKZpP9S2","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}