gestionar_cliente-VAKARgPvtC6umJai.json
{"createdAt":"2025-09-02T21:59:01.049Z","updatedAt":"2025-09-02T21:59:01.049Z","id":"VAKARgPvtC6umJai","name":"gestionar_cliente","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://dniruc.apisperu.com/api/v1/{{ $json.tipo_doc }}/{{ $('When Executed by Another Workflow').item.json.output.numero }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"={{ $json.token }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,240],"id":"80a76a05-aea0-4297-a196-5ea97c42b831","name":"HTTP Request"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1376,240],"id":"d5fbfceb-dd2d-4d68-89df-e05e5408c524","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"9f883297-cc7b-49d8-a547-e39d0a3ae997","name":"token","value":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6Implc3VzLmFyZW5hc0BvdXRsb29rLmNvbSJ9.Qo9siv5QbsOf2pKVBunW6v8dds96Fsz38AmZzfOE4Fo","type":"string"},{"id":"e48dce32-cb4e-455f-aa2f-a335019614ac","name":"tipo_doc","value":"={{ $json.output.tipo_documento.toLowerCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,240],"id":"f9d0838e-1db5-444d-99df-e25cd7eafa06","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10dad1a2-e401-4a61-be35-0ea8f556540f","leftValue":"={{ $json.ruc }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,240],"id":"6af760e1-fc65-4b07-9b0f-f2671a11cd15","name":"RUC Valido?"},{"parameters":{"assignments":{"assignments":[{"id":"fe3529ce-e262-468c-821e-1f7f919a28b3","name":"success","value":"false","type":"string"},{"id":"a7206940-d157-4eeb-ad78-4f3b2525d6d9","name":"respuesta","value":"el numero de documento no se encuentra","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,304],"id":"03727d0f-220c-41b3-820c-c62ad3402126","name":"no encontrado"},{"parameters":{"assignments":{"assignments":[{"id":"b39908b5-732f-4e76-8f2e-719b6323e740","name":"numero_documento","value":"={{ $json.ruc }}","type":"string"},{"id":"7c1dce1f-25f2-4138-a662-aa48d908c18c","name":"razonSocial","value":"={{ $json.razonSocial }}","type":"string"},{"id":"130308ae-2ead-4aff-b41e-9506b4a55f8c","name":"direccion","value":"={{ $json.direccion }}","type":"string"},{"id":"904e9b01-760d-4cb3-8d60-0c67e9c5066a","name":"departamento","value":"={{ $json.departamento }}","type":"string"},{"id":"4bd8df73-1e5e-4549-ab7c-c8d07bb3549e","name":"provincia","value":"={{ $json.provincia }}","type":"string"},{"id":"6156e42d-dd01-43b4-8265-9c3cfd870814","name":"distrito","value":"={{ $json.distrito }}","type":"string"},{"id":"f0e4dd93-928e-4c00-951f-41026944a915","name":"ubigeo","value":"={{ $json.ubigeo }}","type":"string"},{"id":"fe3529ce-e262-468c-821e-1f7f919a28b3","name":"success","value":"true","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,112],"id":"65131672-7f23-46a9-8462-0a3c08275988","name":"busqueda exitosa"},{"parameters":{"assignments":{"assignments":[{"id":"fe3529ce-e262-468c-821e-1f7f919a28b3","name":"success","value":"true","type":"string"},{"id":"a7206940-d157-4eeb-ad78-4f3b2525d6d9","name":"respuesta","value":"el cliente ya existe","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"6dd0cf07-5b7d-4122-a3ba-422cf28fb6da","name":"ya existe"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"clientes","mode":"list","cachedResultName":"clientes"},"columns":{"mappingMode":"defineBelow","value":{"activo":true,"numero_documento":"={{ $('busqueda exitosa').item.json.numero_documento }}","razon_social":"={{ $('busqueda exitosa').item.json.razonSocial }}","direccion":"={{ $('busqueda exitosa').item.json.direccion }}","departamento":"={{ $('busqueda exitosa').item.json.departamento }}","provincia":"={{ $('busqueda exitosa').item.json.provincia }}","distrito":"={{ $('busqueda exitosa').item.json.distrito }}","ubigeo":"={{ $('busqueda exitosa').item.json.ubigeo }}","tipo_documento_id":"6"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tipo_documento_id","displayName":"tipo_documento_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"numero_documento","displayName":"numero_documento","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"razon_social","displayName":"razon_social","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion","displayName":"direccion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provincia","displayName":"provincia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"departamento","displayName":"departamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"distrito","displayName":"distrito","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ubigeo","displayName":"ubigeo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"activo","displayName":"activo","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,160],"id":"7a8b78d1-f66d-4e94-a8d3-d77cc5e769bc","name":"guardar","alwaysOutputData":true},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"clientes","mode":"list","cachedResultName":"clientes"},"where":{"values":[{"column":"numero_documento","value":"={{ $json.numero_documento }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,112],"id":"77a136e9-0b81-4edc-bbea-48595cf00431","name":"buscar cliente","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73bed798-d3b2-41ee-a1ba-d556b93766ca","leftValue":"={{ $json.numero_documento }}","rightValue":true,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,112],"id":"12f7f9bc-3c6a-4271-a0a8-f9b36047de80","name":"cliente registrado?"},{"parameters":{"assignments":{"assignments":[{"id":"fe3529ce-e262-468c-821e-1f7f919a28b3","name":"success","value":"true","type":"string"},{"id":"a7206940-d157-4eeb-ad78-4f3b2525d6d9","name":"respuesta","value":"el cliente fue creado correctamente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,160],"id":"d7ffcae2-e1a6-4ee2-8c4f-f4b810bcb59c","name":"nuevo cliente"}],"connections":{"HTTP Request":{"main":[[{"node":"RUC Valido?","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"RUC Valido?":{"main":[[{"node":"busqueda exitosa","type":"main","index":0}],[{"node":"no encontrado","type":"main","index":0}]]},"busqueda exitosa":{"main":[[{"node":"buscar cliente","type":"main","index":0}]]},"guardar":{"main":[[{"node":"nuevo cliente","type":"main","index":0}]]},"buscar cliente":{"main":[[{"node":"cliente registrado?","type":"main","index":0}]]},"cliente registrado?":{"main":[[{"node":"ya existe","type":"main","index":0}],[{"node":"guardar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"output":{"tipo_documento":"ruc","numero":"20609519119"}}}]},"versionId":"4969a87d-1b2a-4bb9-ac33-0e66ba3f7f26","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:59:01.049Z","updatedAt":"2025-09-02T21:59:01.049Z","role":"workflow:owner","workflowId":"VAKARgPvtC6umJai","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}