ingresar-info-vrBY4wXUnrsTYPCr.json
{"createdAt":"2025-09-02T21:58:19.648Z","updatedAt":"2025-09-02T21:58:19.648Z","id":"vrBY4wXUnrsTYPCr","name":"INGRESAR INFO","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-896,240],"id":"48ee0fe3-5b59-4802-ba8e-850d47d3e727","name":"When chat message received","webhookId":"874eb19f-a1c8-43ab-8a3f-a79e5d8c083b"},{"parameters":{"modelName":"models/gemini-2.0-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-688,448],"id":"ac304b83-ffbf-43db-861e-128db6e295c6","name":"Google Gemini Chat Model"},{"parameters":{"text":"={{ $json.chatInput }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"area\": \"Clientes\",\n  \"accion\": \"Buscar\",\n  \"adicional_info\": \" numero de ruc 2053443445\"  \n}","options":{"systemPromptTemplate":"You are an expert information extraction algorithm.\nYour task is to extract only the relevant information from a given text based on the following criteria:\n\n    Areas of interest (choose only one):\n\n        Clientes\n\n        Productos\n\n        Facturas\n\n        Ninguna\n\n    Possible actions (choose only one):\n\n        Crear\n\n        Buscar\n\n        Actualizar\n\n        Ninguna\n\nInstructions:\n\n    Extract only what is necessary to identify the selected area and action.\n\n    If any required value is missing or unclear, simply omit it.\n\n    Be precise and concise. Do not add extra text or explanations.\n\n    Extract any relevant extra data that may help complete or clarify the request"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-576,240],"id":"bff0453f-5f38-4bb2-abad-810ac40bf3a3","name":"Information Extractor"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.area }}","rightValue":"Clientes","operator":{"type":"string","operation":"equals"},"id":"8b907ba2-2d49-46cc-b6ca-fc9cbec20ee3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Clientes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f79232fb-20a4-4bdf-a643-aa441f09ae03","leftValue":"={{ $json.output.area }}","rightValue":"Facturas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facturas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"058d6202-6556-4ab4-9ebd-7fcab7646889","leftValue":"={{ $json.output.area }}","rightValue":"Productos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Productos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71a0fdb4-d8d9-47d4-b1bf-a219573b92f7","leftValue":"={{ $json.output.area }}","rightValue":"Ninguno","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ninguno"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,224],"id":"01b55ccf-f3a9-4e08-aadb-57934dff3e77","name":"Switch"},{"parameters":{"text":"={{ $json.output.adicional_info }}","schemaType":"fromJson","jsonSchemaExample":"{\n\t\"tipo_documento\": \"DNI\",\n\t\"numero\": \"40716578\"\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\n\nSolo hay 2 tpos de documento DNI y RUC"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[0,0],"id":"0f55c837-55ce-4894-9f21-2e193d413cd4","name":"Information Extractor1"},{"parameters":{"modelName":"models/gemini-2.0-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[112,208],"id":"0186bd8d-cbd7-426a-aa3b-0d63f3560486","name":"Google Gemini Chat Model1"},{"parameters":{"workflowId":{"__rl":true,"value":"c5uWVgsEThZMghkt","mode":"list","cachedResultName":"validar_documento"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[368,0],"id":"211e48d4-b105-4308-8fa1-1e651c0d906e","name":"Execute Workflow"}],"connections":{"When chat message received":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"Information Extractor1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2853e9e6-39cf-4a25-8a95-b44879bfa080","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:58:19.648Z","updatedAt":"2025-09-02T21:58:19.648Z","role":"workflow:owner","workflowId":"vrBY4wXUnrsTYPCr","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}