inmobiliaria-agente-tbe45TuJn0BB8u3W.json
{"createdAt":"2025-09-02T21:24:28.966Z","updatedAt":"2025-09-19T16:17:54.581Z","id":"tbe45TuJn0BB8u3W","name":"inmobiliaria agente","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"4301dc2e-44ef-43f8-95bf-cd4c8796d0d3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-9632,-320],"id":"95e2de66-8bdb-459a-8f25-17227ece3540","name":"Webhook","webhookId":"4301dc2e-44ef-43f8-95bf-cd4c8796d0d3","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"90b09d00-02db-4c55-887a-15e3cba95e54","name":"input","value":"={{ $json.Texto }}","type":"string"},{"id":"0c756d81-6b26-46b7-9a81-210327795ead","name":"nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"807f90d6-26f1-404b-a3f8-5fbfda9ab852","name":"telefono","value":"={{ $('seteo inicial').item.json.telefono }}","type":"string"},{"id":"9ec855e8-4131-4ae1-8da0-675875bae85a","name":"id_mensaje","value":"={{ $('seteo inicial').item.json.message.id_session }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8416,-304],"id":"7152f360-0858-4d8d-b483-030849188e27","name":"Input"},{"parameters":{"assignments":{"assignments":[{"id":"be8a1c63-ea52-4122-a74b-89a2fb18b51a","name":"Texto","value":"={{ $('seteo inicial').item.json.message.content }}","type":"string"},{"id":"f7410396-7182-4423-b28f-eff53ec5dca3","name":"Nombre","value":"={{ $('seteo inicial').item.json.user.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8880,-560],"id":"6a74ee3c-65b5-4db6-beac-d8cf13fd4174","name":"Texto"},{"parameters":{"assignments":{"assignments":[{"id":"ed053a66-3d19-4a4c-a79f-ecc1163c1eb7","name":"Texto","value":"={{ $json.text}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8720,-144],"id":"f3ada0a9-88a5-45ba-8c75-73f4c53ee7c3","name":"Audio"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"8690e7b8-0407-48d6-8501-1e035192ef99"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea6bf271-2d0a-4011-967d-67bb9ca9627f","leftValue":"={{ $json.message.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-9296,-320],"id":"bec9ad21-763d-449b-8f15-209efeadb6d0","name":"Switch"},{"parameters":{"name":"buscar_disponibilidad","description":"Esta herramienta deber recibir las variables \"fechaReserva\" y \"horaReserva\" y obtendras si esta disponible la reserva y si no lo esta obtendras diferentes horas disponibles.","workflowId":{"__rl":true,"value":"FRZykpv6ktEHPEK4","mode":"list","cachedResultName":"ToolBuscarCita"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fechaReserva":"={{ $fromAI(\"fechaReserva\") }}","horaReserva":"={{ $fromAI(\"horaReserva\") }}"},"matchingColumns":[],"schema":[{"id":"fechaReserva","displayName":"fechaReserva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"horaReserva","displayName":"horaReserva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-6368,160],"id":"d5fc6738-98ce-48e3-bf71-6640ce27575c","name":"Buscar Reserva","disabled":true},{"parameters":{"name":"reservar_pista","description":"Esta herramienta deber recibir las variables \"fechaReserva\" y \"horaReserva\" y reservara la pista al cliente.","workflowId":{"__rl":true,"value":"BNI5WNAOClkpJ1j5","mode":"list","cachedResultName":"ToolCrearCita"},"workflowInputs":{"mappingMode":"defineBelow","value":{"fechaReserva":"={{ $fromAI(\"fechaReserva\") }}","horaReserva":"={{ $fromAI(\"horaReserva\") }}","nombreReserva":"={{ $fromAI(\"nombreReserva\") }}"},"matchingColumns":[],"schema":[{"id":"fechaReserva","displayName":"fechaReserva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"horaReserva","displayName":"horaReserva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nombreReserva","displayName":"nombreReserva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-6256,160],"id":"c1476e8e-aaf1-4585-80ab-12eb55b4be31","name":"Crear Reserva","disabled":true},{"parameters":{"options":{"systemMessage":"=# **Role**\nEres Pedro, te encargas de la atencion al cliente de la inmobiliaria \"Tu Hogar\".\nTienes más de 20 años de experiencia en la atencion al cliente y una tasa de acierto en tus respuestas del 99.8%.\nEres una pieza fundamental en la empresa, de ti dependen todas las consultas de los clientes y si haces bien tu trabajo podremos pagarte $2000.\nTen en cuenta que hoy es: **{{ $now.format('DDDD') }}**\n\n#Tarea\n- Tu tarea es detectar que es lo que el cliente necesita:\n 1. Buscar propiedades\n 2. Obtener detalles de una propiedad en especifico\n 3. Gestionar una consulta\n\n\n#Especificaciones\n\n## Especificaciones de la tarea 1\n\n  - Cuando el usuario quiera ver alguna de las propiedades que tengas tendras que valorar dos situaciones:\n\n    1. Si el cliente te menciona alguna característica, por ejemplo: \"¿Tienes algun piso en Barcelona por menos de 500 mil?\" o \"Estoy buscando algun chalet por sevilla\". Con las caracterisiticas que te ha dado el cliente llamaras a la herramienta **\"buscar_propiedades\"** y filtraras por las caracteristicas que te haya dicho. Si no encuentras exactamente lo que el te pide le recomendaras propiedades similares y si no encuentras similares le dirás que no tienes las propiedades que el busca.\n\n    2. Si el cliente no proporciona ninguna variable y solo quiere asesoramiento, por ejemplo: \"Buenas que propiedades tienes\" o \"Perdona, estoy buscando casa para alquilar\" hazle las siguientes preguntas una por una (es decir, hazle una pregunta, espera a que te responda, luego la otra, y asi sucesivamente) para definir mejor su búsqueda:\n\n  1. **\"¿Cuál es tu presupuesto aproximado para la compra o alquiler?\"**\n  2. **\"¿En qué zona o ciudad te gustaría encontrar el inmueble?\"**\n  3. **\"¿Cuántas habitaciones necesitas?\"**\n  4. **\"¿Prefieres un piso, una casa o estás abierto a opciones?\"**\n\n**IMPORTANTE: No repitas la respuesta que dió el lead a la anterior pregunta cuando le hagas la siguiente pregunta**. Sencillamente avanza con la siguiente pregunta.\nPor ejemplo, si el lead contestó \"Mi presupuesto es de 120 a 180 mil\", **NO DIGAS**: \"Vale tu presupuesto es de 120 a 180 mil, ¿qué zona o ciudad te gustaría encontrar el inmueble?\"\n\"En su lugar, el mensaje correcto sería algo como \"Bien, ¿qué zona o ciudad te gustaría encontrar el inmueble?\" o \"Perfecto, vamos con la siguiente\".\n- Si el cliente no quiere proporcionarte alguna caracteristica o le da igual, entonces en ese caso podras rellenar ese campo tu como mejor consideres.\n\nUna vez que el cliente haya terminado de contestar todas las preguntas, **llama a la herramienta \"buscar_propiedades\"**.\n\nY le enviaras las propiedades de la forma más clara y limpia posible, con las características de cada propiedad en un formato de lista de puntos.\nY le preguntarás si quiere más información sobre alguno de las propiedades.\n\n## Especificaciones de la tarea 2\n\n### Instrucciones\nSi el cliente te dice que quiere obtener mas información de alguna propiedad en concreto por ejemplo: \"Me ha gustado la 2 que me has enseñado, me puedes dar mas información\", iras al \"Window Buffer Memory\" para obtener los id de las propiedades que le has mostrado anteriormente y obtendras el id de esa propiedad que el usuario te indica y llamarás a la herramienta **buscar_informacion** y le darás el id de esa propiedad.\n\n## Especificaciones de la tarea 3\n\n### Instrucciones\nSi al cliente le gusta algún inmueble **deberás proceder con la reserva de una reunión**, pregúntale, un día y una hora que le venga bien (en caso de que no te lo haya dicho ya) si el cliente te dice una fecha relativa deberás calcular que fecha es para convertirla en el formato \"YYYY-MM-DD\" teniendo en cuenta que la fecha de hoy es: {{ $now.format('DDDD') }} y guardaras la fecha en la variable {{ \"fechaReserva\" }} \n\n  - Una vez obtengas la fecha y la hora **llamarás a la herramienta \"buscar_reserva\"**, la misma te responderá si la fecha esta disponible y si no te devolverá varias horas disponibles ese mismo día.\n\n  - Una vez hayais confirmado una fecha y hora exacta deberás pedirle su nombre y apellidos (si no te lo ha dicho ya) y su correo, cuando los tengas **llamarás a la herramienta \"reservar_reunion\"** con la fecha formateada, la hora, el nombre y correo.\n\nCuando hayas terminado le preguntarás si necesita algo más y si no le darás las gracias y que le esperas allí a la fecha que habeís acordado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-6080,-512],"id":"f7042e57-4c66-47f9-aaaf-9821ec8b1bea","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Supabase1').item.json.session_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-6992,336],"id":"f38222e9-01cb-4718-8d88-4aded9c3cb33","name":"Window Buffer Memory1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Adapta la respuesta \"{{ $json.output }}\" de acuerdo a las siguientes intrucciones:\n\n- Elimina estos caractéres:\n  ·\"*\", \"¿\", \"¡\", \"#\"\n- Mantén los saltos de línea **cuando corresponda**, principalmente en los listados o Bullet Points Lists. \n- Utiliza signos de interrogación \"?\" **solo en el final de las frases.**\n- El mensaje debe sonar relajado formal y respetuaoso.\n- Si la respuesta es breve, rellena únicamente la parte1.\n- Si la respuesta es más extensa, considera rellenar la parte2 y la parte3\n- Si el mensaje contiene una lista, déjala sola en una parte, **manteniendo el formato de lista** (con los saltos de línea correspondientes).\n- **El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\"\n  - \"Estaré encantado de ayudarte\"\n  - \"Gracias por la información\"\n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\".**\n- **La respuesta final debe ser lo más similar posible a la respuesta inicial, no cambies radicalmente las palabras o el significado de la respuesta inicial si no es necesario**."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-5056,-512],"id":"4b6614ec-a988-4220-884e-73cb39af454d","name":"Generador de respuestas","retryOnFail":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-4976,-208],"id":"e6a924d5-6fef-4db5-b81d-74629c76ab4f","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"response\": {\n    \"parte1\": \"Parte uno de la respuesta\",\n    \"parte2\": \"Parte dos de la respuesta\", \n    \"parte3\": \"Parte tres de la respuesta (opcional).\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4832,16],"id":"7c03cdef-51f9-4e80-a6f1-b033f22fbd8c","name":"Structured Output Parser"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4128,-512],"id":"321a5e3f-f586-498d-82cd-52d3c7050214","name":"Wait1","webhookId":"937d32db-206f-4a29-8843-a3db174adfbf"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3680,16],"id":"687b5ca6-e02e-46d6-b85b-293a8d12de0d","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3888,-272],"id":"711772e7-c0ce-4996-ac7e-652a47d7481f","name":"Wait2","webhookId":"22a8c224-6f19-4900-b0f4-f385dca2ac35"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"882db3de-7e7d-4560-806f-310f5a30b3a3","leftValue":"={{ $('Generador de respuestas').item.json.output.response.parte2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4416,-352],"id":"d255ce8a-61b6-47f3-ab48-22f617c932b8","name":"If Parte 2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a3c8735-87ee-4888-9ec6-4704b572eb6f","leftValue":"={{ $('Generador de respuestas').item.json.output.response.parte3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4112,-128],"id":"c005083d-8fb4-4b45-ac80-e6a51e391813","name":"If Parte 3"},{"parameters":{"name":"buscar_propiedades","description":"=# Ejecuta esta herramienta con todos los datos que hayas obtenido del usuario.","workflowId":{"__rl":true,"value":"5aQm4Y9gDUm8KNtf","mode":"list","cachedResultName":"Inmobiliaria | Buscar Inmueble"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numHabitaciones":"={{ $fromAI(\"numHabitaciones\") }}","precioExacto":"={{ $fromAI(\"precioExacto\") }}","precioMin":"={{ $fromAI(\"precioMin\") }}","precioMax":"={{ $fromAI(\"precioMax\") }}","ubicacion":"={{ $fromAI(\"ubicacion\") }}","tipoInmueble":"={{ $fromAI(\"tipoInmueble\") }}"},"matchingColumns":[],"schema":[{"id":"precioExacto","displayName":"precioExacto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"precioMin","displayName":"precioMin","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"precioMax","displayName":"precioMax","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ubicacion","displayName":"ubicacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numHabitaciones","displayName":"numHabitaciones","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"tipoInmueble","displayName":"tipoInmueble","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-6512,160],"id":"f895d6e6-ee5c-48bd-a2db-93cd02d10f94","name":"Buscar Propiedades","disabled":true},{"parameters":{"name":"buscar_informacion","description":"Llamarás a esta herramienta cuando el cliente te pida mas informacion sobre alguno de los inmuebles que le has proporcionado para poder obtener mas informacion","workflowId":{"__rl":true,"value":"5vVYXz3GPjfDc1KX","mode":"list","cachedResultName":"Inmobiliaria | Buscar Informacion"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ $fromAI(\"Id\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-6128,160],"id":"9c1d2ceb-30be-4818-ae64-0662ea5d85e5","name":"Buscar Informacion","disabled":true},{"parameters":{"content":"## Encolado de mensajes\n","height":860,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-8192,-624],"typeVersion":1,"id":"6595f2e4-d43b-4bb7-8c58-88947c02d777","name":"Sticky Note"},{"parameters":{"content":"## Recibe mensaje de Whatsapp\n","height":860,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[-9648,-624],"typeVersion":1,"id":"93bb138c-4253-4f82-9d91-9855732ac13f","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"e3d8e45d-6ec7-40c7-8ad0-cf6822baaf0b","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"c94fd657-20eb-4d75-87c1-9aad99dd8068","name":"instance.nombre","value":"={{ $json.body.instance }}","type":"string"},{"id":"af61c2a0-54a0-4a34-b6eb-9ccbfadda86b","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"ffc263bd-0a90-4f50-84f1-e3f87474eb01","name":"message.id_user","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"65c29034-84d4-4168-bbf0-267b0553d7d3","name":"message.id_session","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"9f458742-29f6-4ff8-b54d-537e3bd5bef0","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $json.body.data.message.conversation ? 'text': '' }}{{ $json.body.data.message.audioMessage ? 'audio': '' }}{{ $json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"2b442264-0eb6-4cb2-ab60-7e7953ddc67c","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"25250918-29b3-4e28-9b97-dd589825dc4e","name":"message.date","value":"={{ $json.body.date_time.toDateTime().toISO() }}","type":"string"},{"id":"ca801f80-75f8-4c0a-be9b-af56dd61f65a","name":"user.name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"9bc1e058-2a3f-4bc2-af42-20f2839e258c","name":"keyapi.llamacloud","value":"llx-G4nIoLF8GTb6Cz5lYshItVBld2CGvB3k1rbJkYSCiOQuDI7V","type":"string"},{"id":"558b0df5-2ebf-4559-abd6-5c734334733d","name":"telefono","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-9456,-320],"id":"b0916076-579f-42db-8075-c3fa1e3d025f","name":"seteo inicial"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"bearer "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8912,-144],"id":"3c576399-10e4-42c1-8d91-cae8e6ffe4c1","name":"groq transcripción"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('seteo inicial').item.json.instance.nombre }}","messageId":"={{ $('seteo inicial').item.json.message.id_session }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-9328,-64],"id":"09a75884-1f82-4e99-b17d-9bb97580b320","name":"descarga audio"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-9152,-64],"id":"46c54103-a667-4f5e-b78b-0ee2ab3730eb","name":"Convertir base64 a audio."},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_fila_mensajes","mode":"list","cachedResultName":"n8n_fila_mensajes"},"limit":1,"where":{"values":[{"column":"telefono","value":"={{ $json.telefono }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-8096,-304],"id":"8fa8f68e-7736-42b7-9b9c-21b3cc97030c","name":"Postgres","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"890eb9cb-2fc3-4a87-a1ab-94eaa963ba90","leftValue":"={{ $json.mensaje }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7920,-304],"id":"f5517a56-2c0f-4623-96e8-9d56c69cf8be","name":"tiene conversación?"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensajes","mode":"list","cachedResultName":"n8n_fila_mensajes"},"columns":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('Postgres').item.json.mensaje }}/{{ $('Input').item.json.input }}","telefono":"={{ $('Input').item.json.telefono }}"},"matchingColumns":["telefono"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensaje","displayName":"id_mensaje","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono","displayName":"telefono","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mensaje","displayName":"mensaje","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_hora","displayName":"fecha_hora","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-7696,-400],"id":"29aa8f51-01ef-4a1c-b0df-3862b8237a62","name":"Postgres1","retryOnFail":true},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7456,-400],"id":"7015fbbf-2cdf-4251-bb22-a5f9737d648d","name":"Wait4","webhookId":"84c5a7a8-4df3-4d0e-a8b3-8633a167c3f1"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7456,-208],"id":"03eeb1a9-bf1c-428f-abc2-72c38d50503d","name":"Wait5","webhookId":"84c5a7a8-4df3-4d0e-a8b3-8633a167c3f1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b26f51fc-a585-4854-868a-8e9efc0fe1d8","leftValue":"={{ $json.mensaje.split('/').pop() }}","rightValue":"={{ $('Input').item.json.input }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6992,-224],"id":"658c6fe8-bb72-4cb7-9827-fbc34884dd62","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"ee0be3d6-83b5-4fdd-aecb-0503e4f4d7e3","name":"mensaje_final","value":"={{ $('recupera').item.json.mensaje.replace('/',' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6992,-400],"id":"ae779484-6f6c-4def-8618-c031b8df1f2c","name":"Edit Fields"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-6240,-288],"id":"c1c4c848-3115-4fac-bf3b-bc181903d88d","name":"Google Gemini Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-5520,-272],"id":"cbd7befb-8ec7-4246-8aa3-7c8a9bef400f","name":"Think"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensajes","mode":"list","cachedResultName":"n8n_fila_mensajes"},"deleteCommand":"delete","where":{"values":[{"column":"telefono","value":"={{ $('If2').item.json.telefono }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-6752,-400],"id":"99070e1c-3497-43dc-8713-ab537d4b2ad5","name":"elimina cola"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensajes","mode":"list","cachedResultName":"n8n_fila_mensajes"},"columns":{"mappingMode":"defineBelow","value":{"id":0,"id_mensaje":"={{ $('seteo inicial').item.json.message.id_session }}","telefono":"={{ $('seteo inicial').item.json.telefono }}","mensaje":"={{ $('seteo inicial').item.json.message.content }}","fecha_hora":"={{ $('seteo inicial').item.json.message.date }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"id_mensaje","displayName":"id_mensaje","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensaje","displayName":"mensaje","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_hora","displayName":"fecha_hora","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-7696,-208],"id":"84fd2374-f05d-42e3-93b7-25cd16f14f3f","name":"crea","retryOnFail":true},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"n8n_fila_mensajes","mode":"list","cachedResultName":"n8n_fila_mensajes"},"limit":1,"where":{"values":[{"column":"telefono","value":"={{ $json.telefono }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-7216,-304],"id":"a21a30c7-8b62-4c88-9f73-8f2ac9a6960e","name":"recupera","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"modelName":"models/gemini-2.0-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5136,16],"id":"e321ce0d-c18c-4895-916b-c6e6491771b5","name":"Google Gemini Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=51952373850"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-6080,-288],"id":"4982dd66-5395-4bc6-9e5e-dc4f79701bd7","name":"Postgres Chat Memory"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('seteo inicial').item.json.instance.nombre }}","remoteJid":"={{ $('seteo inicial').item.json.telefono }}","messageText":"={{ $('Generador de respuestas').item.json.output.response.parte1 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4416,-560],"id":"1333e649-e8b0-4f6b-8257-431487e4ae25","name":"Responder parte1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('seteo inicial').item.json.instance.nombre }}","remoteJid":"={{ $('seteo inicial').item.json.telefono }}","messageText":"={{ $('Generador de respuestas').item.json.output.response.parte2 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3952,-512],"id":"c342d22c-6ae8-4b3f-9c06-5642a7ff81af","name":"Responder parte2"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('seteo inicial').item.json.instance.nombre }}","remoteJid":"={{ $('seteo inicial').item.json.telefono }}","messageText":"={{ $('Generador de respuestas').item.json.output.response.parte3 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3696,-272],"id":"bf37c8fd-72a8-4ebc-bef2-f579be78f7fe","name":"Responder parte3"},{"parameters":{"content":"## Dividir respuesta\n","height":860,"width":1820,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-5232,-624],"typeVersion":1,"id":"cb1af0d3-8c54-4b0a-98c2-527e38eee809","name":"Sticky Note2"},{"parameters":{"authentication":"nocoDbApiToken","workspaceId":"wc9xslxo","projectId":"pedqg1800wrc246","table":"mqimz04t9flld6x","id":"1"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-5152,-880],"id":"8946cd80-64d8-4738-ac2a-e7828dad74f9","name":"NocoDB"},{"parameters":{"url":"={{ $json.archivo[0].signedUrl }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"X-Amz-Algorithm","value":"..."}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/pdf"}]},"sendBody":true,"contentType":"raw","rawContentType":"={{ $json.archivo[0].mimetype }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{ $json.archivo[0].title }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4992,-880],"id":"848f31b4-e0a3-4cf0-a5cb-28670afdec30","name":"HTTP Request"},{"parameters":{"content":"## enviar brochure\nDescargamos desde la ruta del contenedor S3","height":340,"width":800,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-5216,-992],"typeVersion":1,"id":"ee9313d8-4a76-457e-9969-b63a0d8dc869","name":"Sticky Note3"},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"={{ $('seteo inicial').item.json.instance.nombre }}","remoteJid":"={{ $('seteo inicial').item.json.telefono }}","media":"={{ $json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4656,-880],"id":"9ab59f21-791d-4800-8604-c85dfa9cd994","name":"Responder parte"},{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"brochere-living-tower.pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-4832,-880],"id":"faa61121-6dc3-4110-8d26-fe7c231480ed","name":"Extract from File"},{"parameters":{"content":"## AGENTE\n","height":540,"width":1320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-6576,-624],"typeVersion":1,"id":"fe6b6311-20ad-450b-bdd1-4e9957481462","name":"Sticky Note4"},{"parameters":{"content":"## Tools \n","height":300,"width":760,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-6016,-64],"typeVersion":1,"id":"0b2c3c6c-1dc7-44e8-98ea-b2e95a84820a","name":"Sticky Note5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-6512,-512],"id":"01698fc5-6f63-4911-9ec7-84bd1ebca17e","name":"When chat message received","webhookId":"e61cf382-b4b6-4e98-a0a0-1eea493781b8"},{"parameters":{"descriptionType":"manual","toolDescription":"# Ejecuta esta herramienta con todos los datos que hayas obtenido del usuario.","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wc9xslxo","projectId":"pedqg1800wrc246","table":"mynh492xpckrke7","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[-5920,-288],"id":"37caacf9-2af9-47d1-abbe-a6d523bf0d84","name":"Buscar propiedades"},{"parameters":{"descriptionType":"manual","toolDescription":"# Ejecuta esta herramienta con todos los datos que hayas obtenido del usuario.","authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wc9xslxo","projectId":"pedqg1800wrc246","table":"mynh492xpckrke7","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.nocoDbTool","typeVersion":3,"position":[-5760,-272],"id":"fc3bc9fc-8f82-4eec-be55-85bcb50a3c4e","name":"preguntas frecuentes"}],"connections":{"Webhook":{"main":[[{"node":"seteo inicial","type":"main","index":0}]]},"Input":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Input","type":"main","index":0}]]},"Audio":{"main":[[{"node":"Input","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Texto","type":"main","index":0}],[{"node":"descarga audio","type":"main","index":0}]]},"Generador de respuestas":{"main":[[{"node":"Responder parte1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Generador de respuestas","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Wait1":{"main":[[{"node":"Responder parte2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Responder parte3","type":"main","index":0}]]},"If Parte 2":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"If Parte 3","type":"main","index":0}]]},"If Parte 3":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"seteo inicial":{"main":[[{"node":"Switch","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"Audio","type":"main","index":0}]]},"descarga audio":{"main":[[{"node":"Convertir base64 a audio.","type":"main","index":0}]]},"Convertir base64 a audio.":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"tiene conversación?","type":"main","index":0}]]},"tiene conversación?":{"main":[[{"node":"Postgres1","type":"main","index":0}],[{"node":"crea","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"recupera","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"recupera","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"elimina cola","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"crea":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"recupera":{"main":[[{"node":"If2","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Generador de respuestas","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Responder parte1":{"main":[[{"node":"If Parte 2","type":"main","index":0}]]},"Responder parte2":{"main":[[{"node":"If Parte 3","type":"main","index":0}]]},"Responder parte3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Responder parte","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Buscar propiedades":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"preguntas frecuentes":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","user-agent":"axios/1.7.9","content-length":"926","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"444459aaaa5f","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"reservas","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"3F051893EE82B713F1E0"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"7WgVf7S4ECXZZQ==","senderTimestamp":"1748354136","recipientKeyHash":"3fAiBoqZKz3qpw==","recipientTimestamp":"1748468737"},"deviceListMetadataVersion":2},"conversation":"hola"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1748560000,"instanceId":"5b35680b-73e8-4531-9774-e678d59cf0f9","source":"unknown"},"destination":"https://ene8w.eficiencia.cloud/webhook/secretarIA","date_time":"2025-05-29T20:06:40.443Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evo.eficiencia.cloud","apikey":"E4087C7F5485-43AA-BEAD-32E52988914D"},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/secretarIA","executionMode":"production"}}],"Edit Fields":[{"json":{"mensaje_final":"hola hola, quiero informacion"}}],"NocoDB":[{"json":{"Id":1,"CreatedAt":"2025-06-04 15:35:10+00:00","UpdatedAt":"2025-06-06 18:30:02+00:00","titulo":"QUATRO INMOBILIARIA","archivo":[{"url":"https://nocohub-001-prod-app-attachments.s3.us-east-2.amazonaws.com/nc/uploads/2025/06/06/62fbd8290ce7228bf63bffce47c09383b3faed46/brochere-living-tower_C9UdW.pdf","title":"brochere-living-tower.pdf","mimetype":"application/pdf","size":3789381,"icon":"mdi-pdf-box","id":"atzy986pzhafwh48","thumbnails":{"tiny":{"signedUrl":"https://nocohub-001-prod-app-attachments.s3.us-east-2.amazonaws.com/nc/thumbnails/2025/06/06/62fbd8290ce7228bf63bffce47c09383b3faed46/brochere-living-tower_C9UdW.pdf/tiny.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIATUJCOBWTKOMQ5JMU%2F20250607%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20250607T173629Z&X-Amz-Expires=7411&X-Amz-Signature=891807159efee5a50880e47a8f1db44df66ad2e2901bff0247c5ce94a8f70ba1&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D%22brochere-living-tower.pdf%22&response-content-type=image%2Fjpeg&x-amz-checksum-mode=ENABLED&x-id=GetObject"},"small":{"signedUrl":"https://nocohub-001-prod-app-attachments.s3.us-east-2.amazonaws.com/nc/thumbnails/2025/06/06/62fbd8290ce7228bf63bffce47c09383b3faed46/brochere-living-tower_C9UdW.pdf/small.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIATUJCOBWTKOMQ5JMU%2F20250607%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20250607T173629Z&X-Amz-Expires=7411&X-Amz-Signature=b6539e28bb335b685b5524753b8d6bc2d3b7abda867f78ec3a9bf1ef77bcde03&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D%22brochere-living-tower.pdf%22&response-content-type=image%2Fjpeg&x-amz-checksum-mode=ENABLED&x-id=GetObject"},"card_cover":{"signedUrl":"https://nocohub-001-prod-app-attachments.s3.us-east-2.amazonaws.com/nc/thumbnails/2025/06/06/62fbd8290ce7228bf63bffce47c09383b3faed46/brochere-living-tower_C9UdW.pdf/card_cover.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIATUJCOBWTKOMQ5JMU%2F20250607%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20250607T173629Z&X-Amz-Expires=7411&X-Amz-Signature=9bf02a65b7b2339487f49c6690e966fad7a0d382deb22ed81e69fb9c81589104&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D%22brochere-living-tower.pdf%22&response-content-type=image%2Fjpeg&x-amz-checksum-mode=ENABLED&x-id=GetObject"}},"signedUrl":"https://nocohub-001-prod-app-attachments.s3.us-east-2.amazonaws.com/nc/uploads/2025/06/06/62fbd8290ce7228bf63bffce47c09383b3faed46/brochere-living-tower_C9UdW.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIATUJCOBWTKOMQ5JMU%2F20250607%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20250607T173629Z&X-Amz-Expires=7411&X-Amz-Signature=fd6943e2f5aef56367445af320dfe9674179e66033ca3abadb82996bb7f6e6af&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D%22brochere-living-tower.pdf%22&response-content-type=application%2Fpdf&x-amz-checksum-mode=ENABLED&x-id=GetObject"}],"IDENTIFICADOR":1}}]},"versionId":"65c6f15d-8426-4237-a7dd-7d1d9eb4018f","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:24:28.966Z","updatedAt":"2025-09-02T21:24:28.966Z","role":"workflow:owner","workflowId":"tbe45TuJn0BB8u3W","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}