limpiar-ejecuciones-50dah1kYHam2Khid.json
{"createdAt":"2025-11-03T14:48:09.057Z","updatedAt":"2025-11-03T15:47:21.899Z","id":"50dah1kYHam2Khid","name":"limpiar ejecuciones","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,0],"id":"e495ad22-cf66-4071-b772-9c3eec9da301","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-176,0],"id":"28eda9d8-f6e5-4d97-bb58-bc8438c9d4ca","name":"Get many workflows","credentials":{"n8nApi":{"id":"1ZiNXRzSep5UiYf3","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,0],"id":"c69dfc26-98f5-4832-92ae-2c5bc662d42c","name":"Loop Over Items"},{"parameters":{"resource":"execution","limit":250,"filters":{"workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"status":"success"},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[368,64],"id":"c2840e42-5bc8-409c-bae6-89c1592819c6","name":"Get many executions","alwaysOutputData":true,"credentials":{"n8nApi":{"id":"1ZiNXRzSep5UiYf3","name":"n8n account"}}},{"parameters":{"jsCode":"const executionsToKeep = $input.first().json.executionsToKeep ?? 50;\n\n// Filtrar ejecuciones válidas\nconst validExecutions = items.filter(item =>\n  item.json.workflowId && item.json.startedAt\n);\n\n// Agrupar por workflowId\nconst grouped = {};\nfor (const item of validExecutions) {\n  const wfId = item.json.workflowId;\n  if (!grouped[wfId]) grouped[wfId] = [];\n  grouped[wfId].push(item);\n}\n\n// Ordenar por startedAt ASCENDENTE (más antigua primero)\nfor (const wfId in grouped) {\n  grouped[wfId].sort((a, b) =>\n    new Date(a.json.startedAt) - new Date(b.json.startedAt)\n  );\n}\n\n// Obtener ejecuciones a eliminar (todas excepto las últimas X)\nlet toDelete = [];\nfor (const wfId in grouped) {\n  const executions = grouped[wfId];\n  const totalExecutions = executions.length;\n  \n  // Si hay más de las que queremos mantener, eliminar las más antiguas\n  if (totalExecutions > executionsToKeep) {\n    toDelete = toDelete.concat(executions.slice(0, -executionsToKeep));\n  }\n}\n\n// Si no hay ejecuciones para eliminar, retornar un item con shouldDelete: false\nif (toDelete.length === 0) {\n  return [{\n    json: {\n      shouldDelete: false,\n      message: 'No hay ejecuciones para eliminar en este flujo'\n    }\n  }];\n}\n\n// Si hay ejecuciones para eliminar, agregar shouldDelete: true a cada una\nreturn toDelete.map(item => ({\n  json: {\n    ...item.json,\n    shouldDelete: true\n  }\n}));"},"id":"c6f59d8f-6508-4a69-95ca-fa7239b350fb","name":"Code","type":"n8n-nodes-base.code","position":[608,64],"typeVersion":2},{"parameters":{"resource":"execution","operation":"delete","executionId":"={{ $json.id }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1184,192],"id":"962f17f3-141d-45f5-901c-95156586356c","name":"Delete an execution","credentials":{"n8nApi":{"id":"1ZiNXRzSep5UiYf3","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"50a37467-8775-47f1-8b9e-6b98234018d0","leftValue":"={{ $json.shouldDelete }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,64],"id":"4588a24e-f80a-4be3-a8f4-27b6d9773269","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get many executions","type":"main","index":0}]]},"Get many executions":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Delete an execution":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Delete an execution","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bda0b156-512a-42a1-b5ed-bac792c296cd","triggerCount":0,"shared":[{"createdAt":"2025-11-03T14:48:09.057Z","updatedAt":"2025-11-03T14:48:09.057Z","role":"workflow:owner","workflowId":"50dah1kYHam2Khid","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}