programacion-de-despachos-tacna-rjmm3FHEuOTqLq7Z.json
{"createdAt":"2025-07-25T16:18:31.491Z","updatedAt":"2025-11-17T22:36:56.915Z","id":"rjmm3FHEuOTqLq7Z","name":"programacion de despachos Tacna","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"actualizar_estado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,912],"id":"556d852f-7842-498d-8f38-bbdb9fe86e8f","name":"Webhook1","webhookId":"a9be40fe-5c2e-43d8-96c0-5cbd47605366","disabled":true},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"w6mcgi31","projectId":"p9171fz9m48msih","table":"mny2g6skcvc2mku","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.data.rows[0].Id }}"},{"fieldName":"ESTADO","fieldValue":"={{ $json.body.data.rows[0].ESTADO === 'Pendiente' ? 'Atendido' : 'Pendiente' }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[432,912],"id":"ab440250-bceb-4660-85e5-d87bcf2760d6","name":"NocoDB","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"14d7711b-8568-4c9f-afb0-d4f1785180f5","name":"id","value":"={{ $json.body.data.rows[0].Id }}","type":"number"},{"id":"910d3c3f-aed4-40b4-98fd-9d28a9b15879","name":"comprobante_flete","value":"={{ $json.body.data.rows[0][\"COMPROBANTE FLETE\"] }}","type":"string"},{"id":"5030330e-07a1-4e54-811f-744adfd5f1d5","name":"comprobante_venta","value":"={{ $json.body.data.rows[0][\"COMPROBANTE VENTA\"].toUpperCase() }}","type":"string"},{"id":"6bb8d472-107f-46d2-93d1-8408abaa03f4","name":"cliente","value":"={{ $json.body.data.rows[0].CLIENTE.toUpperCase() }}","type":"string"},{"id":"9a00446a-8e1c-41bc-baf7-52b8ea7a360c","name":"direccion","value":"={{ $json.body.data.rows[0].DIRECCION }}","type":"string"},{"id":"3fc0960f-ce4c-438c-b288-f9b6fb8dc946","name":"distrito","value":"={{ $json.body.data.rows[0].DISTRITO }}","type":"string"},{"id":"694bfee7-c9d3-4467-abb4-4b66ca00f051","name":"referencia","value":"={{ $json.body.data.rows[0].REFERENCIA }}","type":"string"},{"id":"76c27bad-2139-47ab-a0fc-4bda8e978b1e","name":"celular_cliente","value":"={{ $json.body.data.rows[0][\"CELULAR CLIENTE\"] }}","type":"string"},{"id":"9e292e85-604e-4d6c-8592-d9a75c8bfa3d","name":"productos","value":"={{ $json.body.data.rows[0].PRODUCTOS }}","type":"string"},{"id":"0364ac29-7478-481b-b354-2f4ff50e74b2","name":"vendedor.nombre","value":"={{ $json.body.data.rows[0].VENDEDOR }}","type":"string"},{"id":"8458aad0-4cf9-45e2-a7d0-e09c2c72873b","name":"almacen.nombre","value":"={{ $json.body.data.rows[0].ALMACEN }}","type":"string"},{"id":"2624cc69-390c-4b1e-8147-1e262543ead2","name":"fecha_despacho","value":"={{ DateTime.fromFormat($json.body.data.rows[0][\"FECHA DESPACHO\"], 'yyyy-LL-dd').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,560],"id":"22283268-d90d-44ce-b682-a4d5bd94e4f3","name":"seteo"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pc78lwdskp5zr58","table":"m2mme5wfbxwccoi","options":{"fields":[],"where":"=(nombre,like,{{ $json.body.data.rows[0].VENDEDOR }})"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[0,240],"id":"62755251-5ada-442f-887b-3eaa27c3704c","name":"vendedor","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pc78lwdskp5zr58","table":"mckcqzlg4iajdjy","options":{"where":"=(nombre,like,{{ $json.body.data.rows[0].ALMACEN }})"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[0,400],"id":"7b9f4cd6-38b6-478c-9f35-fe60b57c63f8","name":"almacen","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"76ff039e-f52b-49f3-846a-94d2899e7d60","name":"almacen.nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"ac8024f5-19e7-4037-9756-4fdf3f00300b","name":"almacen.correo","value":"={{ $json.correo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,400],"id":"c907248f-74da-4204-8e26-e3d97fb466ff","name":"almacen set"},{"parameters":{"assignments":{"assignments":[{"id":"326cee9d-d598-4347-9ccf-ad3b3de041e8","name":"vendedor.nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"2a3c40e8-59b9-44d0-8a4f-461c6f74d301","name":"vendedor.correo","value":"={{ $json.correo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,240],"id":"aac94e8c-6bc8-413a-83cd-894d4e793f4f","name":"vendedor set"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[432,544],"id":"c3dbdf8c-a118-4464-a0bf-485ae9e227ea","name":"Merge"},{"parameters":{"jsCode":"// CODE NODE - AFTER Merge Append Node\n// Mode: Run Once for All Items\n// 'items' es un array de items n8n: [{json: {vendedor}}, {json: {almacen}}, {json: {pedido}}]\n\nconsole.log(`---- INICIO NODO CODE (POST MERGE APPEND - CORREGIDO) ----`);\nconsole.log(`Array 'items' recibido (estructura n8n):`, JSON.stringify(items, null, 2)); // Ver estructura real\nif (!items || items.length < 3) {\n    console.error(`Se esperaban al menos 3 items n8n, pero se recibieron ${items?.length}. No se puede combinar.`);\n    return [];\n}\n\n// 1. Inicializar objeto para ACUMULAR datos\nlet acumulado = {\n  id: null, fecha_despacho:null, comprobante_flete: null, comprobante_venta: null, cliente: null,\n  direccion: null, distrito: null, referencia: null, celular_cliente: null,\n  productos: null, vendedor_nombre: null, vendedor_correo: null,\n  almacen_nombre: null, almacen_correo: null,\n};\n\n// 2. Iterar sobre TODOS los items n8n en el array 'items'\nitems.forEach((item, index) => {\n  // *** ACCEDER AL PAYLOAD JSON DENTRO DEL ITEM ***\n  const currentJson = item?.json;\n  console.log(`\\nProcesando payload JSON del item en índice ${index}:`, JSON.stringify(currentJson));\n\n  if (!currentJson) {\n    console.log(`  -> Item ${index} inválido o sin JSON.`);\n    return; // Saltar al siguiente item\n  }\n\n  // A. Si es el item del PEDIDO (tiene 'id' DENTRO de json), copiar sus datos base\n  if (currentJson.id !== undefined) {\n    console.log(`  -> Identificado como PEDIDO (ID: ${currentJson.id}). Copiando datos base.`);\n    // Copiar datos desde currentJson a acumulado\n    acumulado.id = currentJson.id;\n    acumulado.fecha_despacho = currentJson.fecha_despacho;\n    acumulado.comprobante_flete = currentJson.comprobante_flete;\n    acumulado.comprobante_venta = currentJson.comprobante_venta;\n    // ... (copiar el resto de campos del pedido como antes) ...\n    acumulado.cliente = currentJson.cliente;\n    acumulado.direccion = currentJson.direccion;\n    acumulado.distrito = currentJson.distrito;\n    acumulado.referencia = currentJson.referencia;\n    acumulado.celular_cliente = currentJson.celular_cliente;\n    acumulado.productos = currentJson.productos;\n\n    // Tomar nombres del pedido si no tenemos otros aún\n    if (!acumulado.vendedor_nombre && currentJson.vendedor?.nombre) {\n      acumulado.vendedor_nombre = currentJson.vendedor.nombre;\n    }\n    if (!acumulado.almacen_nombre && currentJson.almacen?.nombre) {\n      acumulado.almacen_nombre = currentJson.almacen.nombre;\n    }\n  }\n\n  // B. Si contiene datos del VENDEDOR (correo DENTRO de json.vendedor)\n  if (currentJson.vendedor?.correo) {\n    console.log(`  -> Encontrado VENDEDOR con correo: ${currentJson.vendedor.correo}`);\n    acumulado.vendedor_correo = currentJson.vendedor.correo;\n    if (currentJson.vendedor.nombre) {\n      acumulado.vendedor_nombre = currentJson.vendedor.nombre;\n    }\n  } else if (currentJson.vendedor?.nombre && !acumulado.vendedor_nombre) {\n      console.log(`  -> Encontrado VENDEDOR solo con nombre: ${currentJson.vendedor.nombre}`);\n      acumulado.vendedor_nombre = currentJson.vendedor.nombre;\n  }\n\n\n  // C. Si contiene datos del ALMACÉN (correo DENTRO de json.almacen)\n  if (currentJson.almacen?.correo) {\n    console.log(`  -> Encontrado ALMACÉN con correo: ${currentJson.almacen.correo}`);\n    acumulado.almacen_correo = currentJson.almacen.correo;\n     if (currentJson.almacen.nombre) {\n      acumulado.almacen_nombre = currentJson.almacen.nombre;\n    }\n  } else if (currentJson.almacen?.nombre && !acumulado.almacen_nombre) {\n     console.log(`  -> Encontrado ALMACÉN solo con nombre: ${currentJson.almacen.nombre}`);\n     acumulado.almacen_nombre = currentJson.almacen.nombre;\n  }\n\n}); // Fin del forEach\n\n// 3. Construir el objeto final usando los datos ACUMULADOS\nconst finalOutput = {\n  // ... (construcción igual que antes, usando 'acumulado') ...\n  id: acumulado.id ?? 'ID No encontrado',\n  fecha_despacho: acumulado.fecha_despacho,\n  comprobante_flete: acumulado.comprobante_flete,\n  comprobante_venta: acumulado.comprobante_venta ?? 'No encontrado',\n  cliente: acumulado.cliente ?? 'No encontrado',\n  direccion: acumulado.direccion ?? 'No encontrado',\n  distrito: acumulado.distrito ?? 'No encontrado',\n  referencia: acumulado.referencia ?? 'No encontrado',\n  celular_cliente: acumulado.celular_cliente ?? 'No encontrado',\n  productos: acumulado.productos ?? 'No encontrado',\n  vendedor: {\n    nombre: acumulado.vendedor_nombre ?? 'Nombre Vendedor No Encontrado',\n    correo: acumulado.vendedor_correo ?? 'Correo Vendedor No Encontrado'\n  },\n  almacen: {\n    nombre: acumulado.almacen_nombre ?? 'Nombre Almacén No Encontrado',\n    correo: acumulado.almacen_correo ?? 'Correo Almacén No Encontrado'\n  }\n};\n\nconsole.log(\"\\n---- OBJETO FINAL CONSTRUIDO (CORREGIDO) ----\");\nconsole.log(\"Final Output:\", JSON.stringify(finalOutput, null, 2));\n\n// 4. Devolver un ARRAY que contiene UN SOLO item con el objeto final\nconsole.log(\"\\n---- DEVOLVIENDO RESULTADO ----\");\nreturn [ { json: finalOutput } ]; // La salida sigue siendo un item n8n estándar"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,544],"id":"fe30185f-514c-4404-a682-6fd3a7fb3284","name":"Code"},{"parameters":{"html":"<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DISTRITO</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.distrito }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>VENDEDOR</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>{{ $json.vendedor.nombre }}</em></td>\n    </tr>\n  </tbody>\n</table>\n\n<br><br>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333333; margin-top: 20px;\">\n  Para confirmar que la atención del despacho ha sido completada, por favor haz clic en el siguiente botón:\n</p>\n\n<p style=\"text-align: left; margin: 20px 0;\">\n  <a \n    href=\"https://heleo.com.pe/programaciones/confirmacion.php?order_id={{ $json.id }}\" \n    target=\"_blank\" \n    style=\"display: inline-block; padding: 12px 20px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px; font-weight: bold;\"\n  >\n    Confirmar Atención del Despacho\n  </a>\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 13px; color: #666666; margin-top: 20px;\">\n  Si el botón no funciona, copia y pega la siguiente URL en tu navegador:\n  <br><br>\n  <a href=\"https://heleo.com.pe/programaciones/confirmacion.php?order_id={{ $json.id }}\" style=\"color: #007bff;\">\n    https://heleo.com.pe/programaciones/confirmacion.php?order_id={{ $json.id }}\n  </a>\n</p>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[864,1024],"id":"8dc50406-cbc3-44b0-a6dc-0e38a77f4449","name":"HTML"},{"parameters":{"httpMethod":"POST","path":"mail_confirmacion","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-288,928],"id":"41b92649-a38e-460d-b488-b11e637ae96c","name":"confirmacion email","webhookId":"a9be40fe-5c2e-43d8-96c0-5cbd47605366"},{"parameters":{"fromEmail":" despachos.tcn@heleo.com.pe","toEmail":"=jesus@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DISTRITO</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.distrito }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>VENDEDOR</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>{{ $json.vendedor.nombre }}</em></td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n   Correo generado automáticamente desde el formulario web: \n  <a href=\"https://app.nocodb.com/p/programacion-heleo\" style=\"color: #888888;\">https://app.nocodb.com/p/programacion-heleo</a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://app.nocodb.com/p/tablero-heleo\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n  </tbody>\n</table>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1008,848],"id":"802bef89-846d-4ca0-817b-5970f9fd8eaa","name":"Send Email test","webhookId":"fff26288-779d-4ea7-a22d-e892d078cd14","credentials":{"smtp":{"id":"uS35xM5EWFp1oRAg","name":"Email despachos Tacna"}}},{"parameters":{"content":"## Área de pruebas\n","height":380,"width":580},"type":"n8n-nodes-base.stickyNote","position":[640,800],"typeVersion":1,"id":"db93060f-3f9c-46c2-b8fe-c354d38ff2f5","name":"Sticky Note"},{"parameters":{"content":"## Área de trabajo:DESPACHOS\n\n-Formulario recibido.\n-Registrado en la base de datos.\n-Correo electrónico al vendedor y al almacén.","height":620,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-320,160],"typeVersion":1,"id":"8e65ec1b-5ef2-4cef-855d-34b63e0cb9d1","name":"Sticky Note1"},{"parameters":{"content":"## Cambio de estado de despacho\n","height":280,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-320,800],"typeVersion":1,"id":"7a5f434a-c8a5-429c-8f0f-1983d854a3b5","name":"Sticky Note2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pc78lwdskp5zr58","table":"msb76rmutdggbo6","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.order_id }}"},{"fieldName":"ESTADO","fieldValue":"Atendido"},{"fieldName":"ATENDIDO POR","fieldValue":"={{ $json.body.driver }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-64,928],"id":"012355f9-ef56-4928-875e-00f1e718406b","name":"Estado: Atendido","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"fromEmail":" despachos.tcn@heleo.com.pe","toEmail":"={{ $json.vendedor.correo }}","subject":"PROGRAMACION DE DESPACHOS (copia vendedor)","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DISTRITO</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.distrito }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>VENDEDOR</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>{{ $json.vendedor.nombre }}</em></td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n   Correo generado automáticamente desde el formulario web: \n  <a href=\"https://link.heleo.com.pe/programacionTacna\" style=\"color: #888888;\">https://link.heleo.com.pe/programacionTacna</a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://link.heleo.com.pe/panelTacna\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n  </tbody>\n</table>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[864,464],"id":"97173563-443c-40c2-8c56-cd5d17b17f95","name":"Enviar Email Vendedor","webhookId":"fff26288-779d-4ea7-a22d-e892d078cd14","retryOnFail":true,"credentials":{"smtp":{"id":"uS35xM5EWFp1oRAg","name":"Email despachos Tacna"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":" despachos.tcn@heleo.com.pe","toEmail":"={{ $json.almacen.correo }};angel.chambi@heleo.com.pe;gabriela@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS (copia almacen)","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DISTRITO</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.distrito }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>VENDEDOR</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>{{ $json.vendedor.nombre }}</em></td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd; background-color: #f9f9f9;\">\n        Para confirmar que la atención del despacho ha sido completada, por favor, haz clic en el siguiente enlace:\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n        <a \n          href=\"https://heleo.com.pe/programaciones/confirmacion_tacna.php?order_id={{ $json.id }}\" \n          target=\"_blank\" \n          style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n        >\n          Confirmar Atención del despacho\n        </a>\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n        Si el botón no funciona, puedes copiar y pegar la siguiente URL en tu navegador:\n        <br>\n        <a href=\"https://heleo.com.pe/programaciones/confirmacion_tacna.php?order_id={{ $json.id }}\">\n          https://heleo.com.pe/programaciones/confirmacion_tacna.php?order_id={{ $json.id }}\n        </a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://link.heleo.com.pe/panelTacna\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n  </tbody>\n</table>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[864,624],"id":"55b6d356-fc07-4e0c-90af-e560280e5af3","name":"Enviar Email almacenero","webhookId":"fff26288-779d-4ea7-a22d-e892d078cd14","retryOnFail":true,"credentials":{"smtp":{"id":"uS35xM5EWFp1oRAg","name":"Email despachos Tacna"}},"onError":"continueRegularOutput"},{"parameters":{"path":"vista-html","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[704,1024],"id":"60d3fef4-d2f1-450f-8ff8-8f62e8257faa","name":"Webhook","webhookId":"fb60357b-1bc5-4d95-abf6-87bdda81f92f"},{"parameters":{"respondWith":"text","responseBody":"={{$json}}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Name","value":"Content-Type"},{"name":"Value","value":"text/html"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,1024],"id":"4235fa18-7214-432a-93e8-7e5cfe791528","name":"Respond to Webhook"},{"parameters":{"httpMethod":"POST","path":"programaciones_heleo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-288,512],"id":"c29823c4-00ee-46af-878b-0d9a4f9899f5","name":"Formulario despacho","webhookId":"a9be40fe-5c2e-43d8-96c0-5cbd47605366"}],"connections":{"Webhook1":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"seteo":{"main":[[{"node":"Merge","type":"main","index":2}]]},"vendedor":{"main":[[{"node":"vendedor set","type":"main","index":0}]]},"almacen":{"main":[[{"node":"almacen set","type":"main","index":0}]]},"almacen set":{"main":[[{"node":"Merge","type":"main","index":1}]]},"vendedor set":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Enviar Email Vendedor","type":"main","index":0},{"node":"Enviar Email almacenero","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"confirmacion email":{"main":[[{"node":"Estado: Atendido","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Formulario despacho":{"main":[[{"node":"vendedor","type":"main","index":0},{"node":"almacen","type":"main","index":0},{"node":"seteo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"confirmacion email":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","content-length":"41","accept":"*/*","content-type":"application/json","x-forwarded-for":"149.56.147.198","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"5416dc3d8717","x-real-ip":"149.56.147.198","accept-encoding":"gzip"},"params":{},"query":{},"body":{"order_id":104,"driver":"Freddy Flores"},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/mail_confirmacion","executionMode":"production"}}],"Formulario despacho":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","user-agent":"axios/1.9.0","content-length":"728","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"52.15.226.51","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"444459aaaa5f","x-real-ip":"52.15.226.51"},"params":{},"query":{},"body":{"type":"records.after.insert","id":"1ab06ff0-abcb-4d53-b4b2-4cdff8bd47cd","data":{"table_id":"mny2g6skcvc2mku","table_name":"programaciones","rows":[{"Id":420,"nc_order":318,"COMPROBANTE FLETE":null,"COMPROBANTE VENTA":"FC01-42523","CLIENTE":"TOTAL CO S.A.C.","DIRECCION":"FUNDO FODEO S/N ","DISTRITO":"Cercado","REFERENCIA":"PASANDO POR EL AEROPUERTO ","CELULAR CLIENTE":"97694167","PRODUCTOS":"LLAMAR ANTES DE SALIR ","ESTADO":"Pendiente","ATENDIDO POR":null,"VENDEDOR":"Lourdes Aguilar","ALMACEN":"Patio Constructor","FECHA DESPACHO":"2025-05-16","CreatedAt":"2025-05-16 18:51:50+00:00","UpdatedAt":null,"fecha_creacion":"2025-05-16 18:51:50+00:00","diasDespacho":136,"diasHoy":136,"diferencia dias":0,"TIPO FECHA":"HOY"}]}},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/programaciones_heleo","executionMode":"production"}}]},"versionId":"3437f349-54d1-4c9e-9bdd-4cc5bf104ee2","triggerCount":3,"shared":[{"createdAt":"2025-07-25T16:18:31.491Z","updatedAt":"2025-07-25T16:18:31.491Z","role":"workflow:owner","workflowId":"rjmm3FHEuOTqLq7Z","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}