programacion-despachos-ilo-s7YSvy6u6Ppzz318.json
{"createdAt":"2025-08-11T23:31:31.284Z","updatedAt":"2025-09-17T17:42:02.863Z","id":"s7YSvy6u6Ppzz318","name":"Programacion Despachos Ilo","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"14d7711b-8568-4c9f-afb0-d4f1785180f5","name":"id","value":"={{ $json.body.data.rows[0].Id }}","type":"number"},{"id":"910d3c3f-aed4-40b4-98fd-9d28a9b15879","name":"comprobante_flete","value":"={{ $json.body.data.rows[0][\"COMPROBANTE FLETE\"] }}","type":"string"},{"id":"5030330e-07a1-4e54-811f-744adfd5f1d5","name":"comprobante_venta","value":"={{ $json.body.data.rows[0][\"COMPROBANTE VENTA\"].toUpperCase() }}","type":"string"},{"id":"6bb8d472-107f-46d2-93d1-8408abaa03f4","name":"cliente","value":"={{ $json.body.data.rows[0].CLIENTE.toUpperCase() }}","type":"string"},{"id":"9a00446a-8e1c-41bc-baf7-52b8ea7a360c","name":"direccion","value":"={{ $json.body.data.rows[0].DIRECCION }}","type":"string"},{"id":"694bfee7-c9d3-4467-abb4-4b66ca00f051","name":"referencia","value":"={{ $json.body.data.rows[0].REFERENCIA }}","type":"string"},{"id":"76c27bad-2139-47ab-a0fc-4bda8e978b1e","name":"celular_cliente","value":"={{ $json.body.data.rows[0][\"CELULAR CLIENTE\"] }}","type":"string"},{"id":"9e292e85-604e-4d6c-8592-d9a75c8bfa3d","name":"productos","value":"={{ $json.body.data.rows[0].PRODUCTOS }}","type":"string"},{"id":"2624cc69-390c-4b1e-8147-1e262543ead2","name":"fecha_despacho","value":"={{ DateTime.fromFormat($json.body.data.rows[0][\"FECHA DESPACHO\"], 'yyyy-LL-dd').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,352],"id":"79755fb2-958b-41c7-8287-fa9561f20015","name":"seteo"},{"parameters":{"httpMethod":"POST","path":"mail_confirmacion_ilo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,768],"id":"c998b5fb-b873-4ea2-8edc-c4036003ec10","name":"confirmacion email","webhookId":"a9be40fe-5c2e-43d8-96c0-5cbd47605366"},{"parameters":{"content":"## Área de trabajo:DESPACHOS\n\n-Formulario recibido.\n-Registrado en la base de datos.\n-Correo electrónico al vendedor y al almacén.","height":524,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,96],"typeVersion":1,"id":"76d45126-8983-4dc5-8035-c67fd9e51c1e","name":"Sticky Note1"},{"parameters":{"content":"## Cambio de estado de despacho(obsoleto)\n","height":280,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,640],"typeVersion":1,"id":"9a62602e-1a7a-46f5-9362-7785d78795c9","name":"Sticky Note2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pc78lwdskp5zr58","table":"mz21o6xobrx3e6k","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.order_id }}"},{"fieldName":"ESTADO","fieldValue":"Atendido"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[256,768],"id":"4cd0cc24-6dc3-4b3f-8882-7a5270ccc5b1","name":"Estado: Atendido","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"fromEmail":"sender@heleo.com.pe","toEmail":"=jesus@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS ILO(copia vendedor)","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>    \n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>    \n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n   Correo generado automáticamente desde el formulario web: \n  <a href=\"https://link.heleo.com.pe/programacionIlo\" style=\"color: #888888;\">https://link.heleo.com.pe/programacionIlo</a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://link.heleo.com.pe/panelIlo\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n  </tbody>\n</table>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[720,96],"id":"809f27c0-f275-45f9-85e3-143d35f74ee2","name":"Enviar Email Vendedor","webhookId":"fff26288-779d-4ea7-a22d-e892d078cd14","retryOnFail":true,"credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"fromEmail":" sender@heleo.com.pe","toEmail":"=gladys@heleo.com.pe;paola.condorchua@heleo.com.pe;angel.chambi@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS ILO","html":"={{ $json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[896,352],"id":"eb3beb33-4405-4370-85f8-c0c764ed166f","name":"Enviar Email almacenero","webhookId":"fff26288-779d-4ea7-a22d-e892d078cd14","retryOnFail":true,"credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"programaciones_ilo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,352],"id":"2dfd024d-c75b-4447-9fe4-3520cda68963","name":"Formulario despacho","webhookId":"a9be40fe-5c2e-43d8-96c0-5cbd47605366"},{"parameters":{"html":"<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>    \n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>    \n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n   Correo generado automáticamente desde el formulario web: \n  <a href=\"https://link.heleo.com.pe/programacionilo\" style=\"color: #888888;\">https://link.heleo.com.pe/programacionilo</a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://link.heleo.com.pe/panelIlo\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n<tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n        Si el botón no funciona, puedes copiar y pegar la siguiente URL en tu navegador:\n        <br>\n        <a href=\"https://ene8w.heleo.com.pe/webhook/confirmacion_ilo?request_id={{ $json.id }}\">\n          https://ene8w.heleo.com.pe/webhook/confirmacion_ilo?request_id={{ $json.id }}\n        </a>\n      </td>\n</tr>\n  </tbody>\n</table>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[608,352],"id":"93817ab1-651e-4f4c-b6d5-6f8684441839","name":"HTML"},{"parameters":{"fromEmail":" sender@heleo.com.pe","toEmail":"=gladys@heleo.com.pe;paola.condorchua@heleo.com.pe;angel.chambi@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS ILO","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>   \n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd; background-color: #f9f9f9;\">\n        Para confirmar que la atención del despacho ha sido completada, por favor, haz clic en el siguiente enlace:\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n        <a \n          href=\"https://heleo.com.pe/programaciones/confirmacion_ilo.php?order_id={{ $json.id }}\" \n          target=\"_blank\" \n          style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n        >\n          Confirmar Atención del despacho\n        </a>\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n        Si el botón no funciona, puedes copiar y pegar la siguiente URL en tu navegador:\n        <br>\n        <a href=\"https://heleo.com.pe/programaciones/confirmacion_ilo.php?order_id={{ $json.id }}\">\n          https://heleo.com.pe/programaciones/confirmacion_ilo.php?order_id={{ $json.id }}\n        </a>\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n        Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n        <br>\n        <a \n          href=\"https://link.heleo.com.pe/panelIlo\" \n          target=\"_blank\" \n          style=\"color: #007bff; text-decoration: underline;\"\n        >\n          Ver estado de los despachos\n        </a>\n      </td>\n    </tr>\n  </tbody>\n</table>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[928,96],"id":"d11e595f-b5c6-4a4a-a95d-197ead511d6f","name":"Enviar Email almacenero1","webhookId":"fff26288-779d-4ea7-a22d-e892d078cd14","retryOnFail":true,"credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"disabled":true,"onError":"continueRegularOutput"}],"connections":{"seteo":{"main":[[{"node":"HTML","type":"main","index":0}]]},"confirmacion email":{"main":[[{"node":"Estado: Atendido","type":"main","index":0}]]},"Formulario despacho":{"main":[[{"node":"seteo","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Enviar Email almacenero","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91f9830a-3f7c-41f9-9b7d-893cd78b9583","triggerCount":2,"shared":[{"createdAt":"2025-08-11T23:31:31.284Z","updatedAt":"2025-08-11T23:31:31.284Z","role":"workflow:owner","workflowId":"s7YSvy6u6Ppzz318","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}