programacion-despachos-mqg-kNSgjOJBY8AoU7ut.json
{"createdAt":"2025-10-16T15:31:11.308Z","updatedAt":"2025-10-16T21:27:22.960Z","id":"kNSgjOJBY8AoU7ut","name":"Programacion Despachos MQG","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"14d7711b-8568-4c9f-afb0-d4f1785180f5","name":"id","value":"={{ $json.body.data.rows[0].Id }}","type":"number"},{"id":"910d3c3f-aed4-40b4-98fd-9d28a9b15879","name":"comprobante_flete","value":"={{ $json.body.data.rows[0][\"COMPROBANTE FLETE\"] }}","type":"string"},{"id":"5030330e-07a1-4e54-811f-744adfd5f1d5","name":"comprobante_venta","value":"={{ $json.body.data.rows[0][\"COMPROBANTE VENTA\"].toUpperCase() }}","type":"string"},{"id":"6bb8d472-107f-46d2-93d1-8408abaa03f4","name":"cliente","value":"={{ $json.body.data.rows[0].CLIENTE.toUpperCase() }}","type":"string"},{"id":"9a00446a-8e1c-41bc-baf7-52b8ea7a360c","name":"direccion","value":"={{ $json.body.data.rows[0].DIRECCION }}","type":"string"},{"id":"694bfee7-c9d3-4467-abb4-4b66ca00f051","name":"referencia","value":"={{ $json.body.data.rows[0].REFERENCIA }}","type":"string"},{"id":"76c27bad-2139-47ab-a0fc-4bda8e978b1e","name":"celular_cliente","value":"={{ $json.body.data.rows[0][\"CELULAR CLIENTE\"] }}","type":"string"},{"id":"9e292e85-604e-4d6c-8592-d9a75c8bfa3d","name":"productos","value":"={{ $json.body.data.rows[0].PRODUCTOS }}","type":"string"},{"id":"2624cc69-390c-4b1e-8147-1e262543ead2","name":"fecha_despacho","value":"={{ DateTime.fromFormat($json.body.data.rows[0][\"FECHA DESPACHO\"], 'yyyy-LL-dd').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,352],"id":"3767b9f9-3911-4974-9b82-a2bd562e869a","name":"seteo"},{"parameters":{"httpMethod":"POST","path":"d0bb65cc-f477-43ed-b432-5a97ed7c7dfe","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,768],"id":"e6a42770-1776-43b8-8376-2d20382698d5","name":"confirmacion email","webhookId":"d0bb65cc-f477-43ed-b432-5a97ed7c7dfe","disabled":true},{"parameters":{"content":"## Área de trabajo:DESPACHOS\n\n-Formulario recibido.\n-Registrado en la base de datos.\n-Correo electrónico al vendedor y al almacén.","height":524,"width":1540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,96],"typeVersion":1,"id":"b729ff55-8aaf-453d-a863-98e3e5e7cb7f","name":"Sticky Note1"},{"parameters":{"content":"## Cambio de estado de despacho(obsoleto)\n","height":280,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,640],"typeVersion":1,"id":"51ce0b8b-79f5-4cc1-bb34-34a4f6a9fc9c","name":"Sticky Note2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pc78lwdskp5zr58","table":"mz21o6xobrx3e6k","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.order_id }}"},{"fieldName":"ESTADO","fieldValue":"Atendido"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[256,768],"id":"2fd33c5f-b1d1-42d8-a820-9712e17b4156","name":"Estado: Atendido","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"fromEmail":"sender@heleo.com.pe","toEmail":"=jesus@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS ILO(copia vendedor)","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>    \n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>    \n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n   Correo generado automáticamente desde el formulario web: \n  <a href=\"https://link.heleo.com.pe/programacionIlo\" style=\"color: #888888;\">https://link.heleo.com.pe/programacionIlo</a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://link.heleo.com.pe/panelIlo\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n  </tbody>\n</table>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[720,96],"id":"572fa535-2c5e-4da9-8ca2-ae75e51ebe66","name":"Enviar Email Vendedor","webhookId":"fdbd4f60-df31-4592-b8e6-69fcdc9f8a77","retryOnFail":true,"credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"despachos_mqg@heleo.com.pe","toEmail":"=marilia@heleo.com.pe;rchecalla@heleo.com.pe;klauss.hidalgo@heleo.com.pe;dgamonal@heleo.com.pe;hugo@heleo.com.pe;angel.chambi@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS MOQUEGUA","html":"={{ $json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[896,352],"id":"a465cdf3-ecbe-44da-8a36-b5ca6e6cbd98","name":"Enviar Email almacenero","webhookId":"c7e58d25-6461-4d74-b135-35c81d3d25a0","retryOnFail":true,"credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"programaciones_mqg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,352],"id":"6eb0621d-a09d-4065-9a1d-084339cc5e21","name":"Formulario despacho","webhookId":"4cd01721-cee2-4470-a022-d415ec388082"},{"parameters":{"html":"<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>    \n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>    \n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n   Correo generado automáticamente desde el formulario web: \n  <a href=\"https://link.heleo.com.pe/programacionmqg\" style=\"color: #888888;\">https://link.heleo.com.pe/programacionmqg</a>\n      </td>\n    </tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n    <br>\n    <a \n      href=\"https://link.heleo.com.pe/panelmqg\" \n      target=\"_blank\" \n      style=\"color: #007bff; text-decoration: underline;\"\n    >\n      Ver estado de los despachos\n    </a>\n  </td>\n</tr>\n<tr>\n  <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n    Para confirmar la atencion del despacho, haz clic en el siguiente enlace:\n    <br><br>\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/confirmacion_mqg?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; background-color: #007bff; color: #ffffff; padding: 10px 18px; text-decoration: none; border-radius: 5px; font-weight: bold;\"\n    >\n      Confirmar Despacho\n    </a>\n    <br><br>\n    Si el botón no funciona, puedes copiar y pegar esta URL en tu navegador:\n    <br>\n    <a href=\"https://ene8w.heleo.com.pe/webhook/confirmacion_mqg?request_id={{ $json.id }}\" style=\"color: #007bff; word-break: break-all;\">\n      https://ene8w.heleo.com.pe/webhook/confirmacion_mqg?request_id={{ $json.id }}\n    </a>\n  </td>\n</tr>\n  </tbody>\n</table>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[608,352],"id":"7c1905e7-6560-41e5-8241-0d0bb96e6df5","name":"HTML"},{"parameters":{"fromEmail":" sender@heleo.com.pe","toEmail":"=gladys@heleo.com.pe;paola.condorchua@heleo.com.pe;angel.chambi@heleo.com.pe","subject":"PROGRAMACION DE DESPACHOS ILO","html":"=<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"1\" align=\"left\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; color: #333333; border: 1px solid #dddddd; margin: 0 auto;\">\n  <tbody>\n    <tr style=\"background-color: #f2f2f2;\">\n      <td width=\"200\" style=\"padding: 10px; font-weight: bold; border: 1px solid #dddddd;\"><em>FECHA DE DESPACHO</em></td>\n      <td width=\"400\" style=\"padding: 10px; border: 1px solid #dddddd;\"><strong><em>{{ $json.fecha_despacho }}</em></strong></td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE FLETE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_flete }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>COMPROBANTE DE VENTA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.comprobante_venta }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>DIRECCIÓN</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.direccion }}</td>\n    </tr>   \n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>REFERENCIA</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.referencia }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>CELULAR DE CLIENTE</em></td>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\">{{ $json.celular_cliente }}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 10px; border: 1px solid #dddddd;\"><em>PRODUCTO A PROGRAMAR</em></td>\n      <td style=\"padding: 10px; white-space: pre-line; border: 1px solid #dddddd;\">{{ $json.productos }}</td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd; background-color: #f9f9f9;\">\n        Para confirmar que la atención del despacho ha sido completada, por favor, haz clic en el siguiente enlace:\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n        <a \n          href=\"https://heleo.com.pe/programaciones/confirmacion_ilo.php?order_id={{ $json.id }}\" \n          target=\"_blank\" \n          style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n        >\n          Confirmar Atención del despacho\n        </a>\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n        Si el botón no funciona, puedes copiar y pegar la siguiente URL en tu navegador:\n        <br>\n        <a href=\"https://heleo.com.pe/programaciones/confirmacion_ilo.php?order_id={{ $json.id }}\">\n          https://heleo.com.pe/programaciones/confirmacion_ilo.php?order_id={{ $json.id }}\n        </a>\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd;\">\n        Si deseas revisar el estado actual de los despachos, puedes ingresar al siguiente enlace:\n        <br>\n        <a \n          href=\"https://link.heleo.com.pe/panelIlo\" \n          target=\"_blank\" \n          style=\"color: #007bff; text-decoration: underline;\"\n        >\n          Ver estado de los despachos\n        </a>\n      </td>\n    </tr>\n  </tbody>\n</table>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[928,96],"id":"57acb528-f63b-4ee7-b5b8-b7e3af374e00","name":"Enviar Email almacenero1","webhookId":"7519801c-bcb6-45d7-964a-69f99a00045e","retryOnFail":true,"credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"disabled":true,"onError":"continueRegularOutput"}],"connections":{"seteo":{"main":[[{"node":"HTML","type":"main","index":0}]]},"confirmacion email":{"main":[[{"node":"Estado: Atendido","type":"main","index":0}]]},"Formulario despacho":{"main":[[{"node":"seteo","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Enviar Email almacenero","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Formulario despacho":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.11.0","content-length":"633","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"type":"records.after.insert","id":"13eb350e-0bc8-4f3c-9c58-4213913b317c","version":"v3","data":{"table_id":"mzlpnea8erodu6b","table_name":"Programaciones MQG","rows":[{"Id":1,"CreatedAt":"2025-10-16 21:56:11+00:00","UpdatedAt":null,"FECHA DESPACHO":"2025-10-16","COMPROBANTE FLETE":null,"COMPROBANTE VENTA":"FC08-55444","CLIENTE":"test","DIRECCION":"mqg","REFERENCIA":"cerca","CELULAR CLIENTE":"34535342","PRODUCTOS":"fierro","VENDEDOR":"Marilia Justo","ESTADO":"Pendiente","diasHoy":289,"diasDespacho":289,"diferencia dias":0,"tipo fecha":"HOY","Button":{"type":"webhook","label":"reenviar","fk_webhook_id":"hknz48ec5fc9zuoe"}}]}},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/programaciones_mqg","executionMode":"production"}}]},"versionId":"e97ffad9-fab3-44ae-8121-d72bfeeee1a4","triggerCount":1,"shared":[{"createdAt":"2025-10-16T15:31:11.308Z","updatedAt":"2025-10-16T15:31:11.308Z","role":"workflow:owner","workflowId":"kNSgjOJBY8AoU7ut","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}