registro-de-gastos-mvp-4Q3wGkLcFfiFdYuQ.json
{"createdAt":"2025-10-14T16:25:20.664Z","updatedAt":"2025-10-31T15:29:55.813Z","id":"4Q3wGkLcFfiFdYuQ","name":"REGISTRO DE GASTOS mvp","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"whitelist","height":416,"width":596},"type":"n8n-nodes-base.stickyNote","position":[-3136,496],"typeVersion":1,"id":"790fa949-091b-40df-a372-c633dddd2cbb","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6970faf6-9d4f-4371-b00a-ba867e978121"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51f35c3d-9e46-4531-b5db-0a3e6a4b4211","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81257730-8d8d-4b11-bae1-f1b01ab09856","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2400,624],"id":"e60d7b31-6037-4808-a154-a37484b978eb","name":"tipo dato"},{"parameters":{"method":"POST","url":"={{ $json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json[\"message.id\"] }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,-16],"id":"100cbb84-5804-426b-823a-d3c279d21a2f","name":"get audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1840,-16],"id":"c34a2187-70c6-45e7-81db-de4dbe82c61f","name":"Convert audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2016,208],"id":"d7d7f8ef-85b7-4955-a7dc-c752f6e7870a","name":"groq transcripción","credentials":{"httpHeaderAuth":{"id":"8PlaFYoc9ho8EcnX","name":"groq api n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"08ce01c6-96e0-4e0b-aa5d-11ee86a30d27","name":"markdown","value":"={{ $json.text }}","type":"string"},{"id":"38457a25-d703-4548-b19b-a8caa0ca673c","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,208],"id":"c15b0c79-8b65-4d26-a8a1-36827be9f08c","name":"audio normalizado"},{"parameters":{"content":"## transcribir mensaje de audio \n","height":500,"width":432,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2096,-96],"typeVersion":1,"id":"0943ec4e-b1ff-4926-bcc0-707fa8f5ba69","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"evolution","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3008,544],"id":"46ab1aa6-d376-445a-8cbd-c768f9acfc44","name":"recibe whatsapp","webhookId":"6e0df037-05cd-46bb-8f9f-20de8f9b8a3b"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"mbese6410yrht8j","options":{"fields":["celular"]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2800,544],"id":"d5ba8b6f-91f4-4e0d-93d9-0234dd4e7ca9","name":"whitelist1","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json._validacion.estaEnListaBlanca }} }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2800,768],"id":"03c37357-0a30-40c5-92ed-a39e9863ceb8","name":"filtro"},{"parameters":{"assignments":{"assignments":[{"id":"a31c078a-e8be-4775-8fa4-48874b4e7b14","name":"markdown","value":"={{ $('set fields').item.json['message.content'] }}","type":"string"},{"id":"e4bfbfab-5339-41ed-80c8-e73609f0af36","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,416],"id":"b8a6a730-bcbe-48f4-be5e-b3b4ff8a3a66","name":"normalize txt"},{"parameters":{"jsCode":"// Obtener el número del webhook (remover @s.whatsapp.net)\nconst numeroWebhook = $('recibe whatsapp').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\n\n// Obtener todos los números de la lista blanca\nconst numerosListaBlanca = $input.all().map(item => item.json.celular);\n\n// Verificar si el número está en la lista blanca\nconst estaEnListaBlanca = numerosListaBlanca.includes(numeroWebhook);\n\n// Obtener datos del webhook\nconst webhookData = $('recibe whatsapp').item.json.body;\nconst messageData = webhookData.data;\n\n// Determinar el tipo de contenido\nlet contentType = '';\nif (messageData.message.extendedTextMessage) contentType = 'text';\nelse if (messageData.message.conversation) contentType = 'text';\nelse if (messageData.message.audioMessage) contentType = 'audio';\nelse if (messageData.message.imageMessage) contentType = 'image';\n\n// Obtener el contenido del mensaje\nlet messageContent = '';\nif (messageData.message.extendedTextMessage?.text) {\n  messageContent = messageData.message.extendedTextMessage.text;\n} else if (messageData.message.imageMessage?.caption) {\n  messageContent = messageData.message.imageMessage.caption;\n} else if (messageData.message.conversation) {\n  messageContent = messageData.message.conversation;\n}\n\n// Convertir fecha\nconst messageDate = new Date(webhookData.date_time).toISOString();\n\n// Retornar UN SOLO item con todos los campos limpios\nif (estaEnListaBlanca) {\n  return [{\n    json: {\n      // Campos de instancia\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      \n      // Campos de mensaje\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      \n      // Campos de usuario\n      'user.name': messageData.pushName,\n      \n      // API Keys\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      \n      // Validación\n      '_validacion': {\n        estaEnListaBlanca: true,\n        numeroValidado: numeroWebhook\n      },\n      \n      // Mantener datos originales completos por si acaso\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n} else {\n  return [{\n    json: {\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      'user.name': messageData.pushName,\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      '_validacion': {\n        estaEnListaBlanca: false,\n        numeroValidado: numeroWebhook\n      },\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,768],"id":"d70cef1f-7a61-4374-91a9-07a8bbc355c6","name":"set fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-896,896],"id":"c94330da-7081-4820-b975-4199259a7c10","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencion\": \"REGISTRAR_GASTO\",  \n  \"requiere_agente\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-624,896],"id":"34be4e73-e1df-42ed-8e62-d88bbe717026","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=const promptClasificador = `Eres un clasificador de intenciones. Analiza el mensaje y responde SOLO con un JSON.\n\nMENSAJE DEL USUARIO: \"{{ $('SET MSG').item.json.mensaje_respuesta }}\"\n\nINTENCIONES POSIBLES:\n1. AYUDA - Usuario pide ayuda o instrucciones.\n2. SALUDO - Usuario saluda (hola, buenos días, etc.).\n3. CONFIRMAR - Usuario acepta, aprueba o confirma algo.\n4. CANCELAR - Usuario rechaza, niega o cancela algo.\n5. REGISTRAR_GASTO - Usuario quiere registrar un gasto.\n6. REPORTE - Usuario pide ver gastos, reportes o resumen.\n7. EDITAR - Usuario quiere modificar un gasto anterior.\n8. AGRADECIMIENTO - Usuario expresa gratitud (gracias, muy amable, etc.).\n9. DESPEDIDA - Usuario se despide (adiós, hasta luego, nos vemos, etc.).\n10. NO_CLARO - No se entiende la intención.\n\nREGLAS:\n- Si menciona dinero, montos, “pagó”, “gasté”, “compré” → REGISTRAR_GASTO\n- Si dice “sí”, “ok”, “confirmar”, “correcto”, “de acuerdo” → CONFIRMAR\n- Si dice “no”, “cancelar”, “mejor no”, “anular”, “ya no” → CANCELAR\n- Si pide “ayuda”, “cómo funciona”, “qué puedo hacer” → AYUDA\n- Si dice “hola”, “buenos días”, “buenas tardes”, “qué tal” → SALUDO\n- Si pide “reporte”, “cuánto”, “gastos de”, “resumen” → REPORTE\n- Si dice “gracias”, “muchas gracias”, “te lo agradezco”, “muy amable” → AGRADECIMIENTO\n- Si dice “adiós”, “hasta luego”, “nos vemos”, “cuidate”, “buen día”, “que estés bien” → DESPEDIDA\n- Si el mensaje no encaja claramente en ninguna → NO_CLARO\n\nRESPONDE SOLO CON ESTE JSON (sin texto adicional):\n{\n  \"intencion\": \"AYUDA|SALUDO|CONFIRMAR|CANCELAR|REGISTRAR_GASTO|REPORTE|EDITAR|AGRADECIMIENTO|DESPEDIDA|NO_CLARO\", \n  \"requiere_agente\": true o false\n}\nAnaliza y responde:`;\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-832,544],"id":"153f957a-df4f-4ebe-b709-3acc6d536947","name":"agent router","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0578a726-56d5-4c4a-b349-761422eb3c03","leftValue":"={{ $json.output.intencion }}","rightValue":"REPORTE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPORTE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.intencion }}","rightValue":"SALUDO","operator":{"type":"string","operation":"equals"},"id":"d9aa8ade-84b5-488f-97b6-344db456f4ce"}],"combinator":"and"},"renameOutput":true,"outputKey":"SALUDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b19531da-204f-431f-a413-dc8b81f8ffe5","leftValue":"={{ $json.output.intencion }}","rightValue":"AYUDA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AYUDA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"822d8abf-b27d-4237-a82c-eaf49d6d5819","leftValue":"={{ $json.output.intencion }}","rightValue":"AGRADECIMIENTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGRADECIMIENTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8775902-4707-4b01-b135-1d8c0c8dea14","leftValue":"={{ $json.output.intencion }}","rightValue":"DESPEDIDA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DESPEDIDA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72f45b52-1bb2-4b6c-9980-f586e9dfdc1e","leftValue":"={{ $json.output.intencion }}","rightValue":"NO_CLARO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ACLARAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ce60d75-e249-4d40-8533-812ce316a0a6","leftValue":"={{ $json.output.intencion }}","rightValue":"CONFIRMAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONFIRMACION"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c86ce8f1-77ea-4d29-9b48-59d718f14bf3","leftValue":"={{ $json.output.intencion }}","rightValue":"CANCELAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2455e47d-7c42-4413-92d3-8fb7c67a2f37","leftValue":"={{ $json.output.intencion }}","rightValue":"REGISTRAR_GASTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GASTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7f12bd5-0fa4-4f6e-9fa2-340dfac0bacc","leftValue":"={{ $json.output.intencion }}","rightValue":"EDITAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"EDITAR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-480,416],"id":"3cc3824b-252f-4b7c-8170-2347b84a621d","name":"Switch"},{"parameters":{"jsCode":"// Nodo Set - Respuesta Saludo\nconst hora = new Date().getHours();\nlet saludo = '¡Hola';\n\nif (hora < 12) saludo = '¡Buenos días';\nelse if (hora < 19) saludo = '¡Buenas tardes';\nelse saludo = '¡Buenas noches';\n\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `${saludo}! 👋\n\nSoy tu asistente de control de gastos.\n\nPuedes decirme cosas como:\n- \"Pagué 25 en almuerzo\"\n- \"50 soles de taxi\"\n\nO escribe *ayuda* para ver todas las opciones 😊`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,160],"id":"2b56ad9a-fbf7-4195-993a-a0fe5ba7e5f5","name":"Code saludo"},{"parameters":{"jsCode":"// Nodo Set - Respuesta Ayuda\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `📱 *Guía de Control de Gastos*\n\n*🎯 Para registrar gastos:*\n- \"Pagué 25 en almuerzo\"\n- \"15 soles de taxi\"\n- \"100 de supermercado\"\n\n*📊 Categorías disponibles:*\ncomida • transporte • servicios  \nentretenimiento • salud • educación  \nhogar • otros\n\n*📅 Para ver reportes:*\n- \"Mis gastos de hoy\"\n- \"Resumen de la semana\"\n- \"Gastos del mes\"\n- \"Del 1 al 15 de septiembre\"\n\n*🗣️ Nuevas funciones:*\n- Envíame mensajes *por voz* (audio) y los interpretaré automáticamente.  \n- Puedes *enviar imágenes o PDFs de comprobantes* (boletas, facturas, tickets) y los analizaré para registrar tus gastos automáticamente.\n\n*🔜 Próximamente:*\n- Editar o eliminar gastos anteriores  \n- Estadísticas y gráficos detallados  \n- Exportar reportes en Excel o PDF  \n\n¿En qué puedo ayudarte hoy? 😊`\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,240],"id":"6cded090-5b05-449c-be45-d6a731012e53","name":"Code ayuda"},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $json.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,240],"id":"811c47d1-3a59-41fb-96f2-264f0cc07a72","name":"respuesta"},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $json.markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,656],"id":"96f05711-7c44-42bc-8f40-0279757d3f19","name":"SET MSG"},{"parameters":{"text":"=const prompt = `Eres un asistente de control de gastos personal por WhatsApp. Tu función es ayudar al usuario a registrar sus gastos de forma conversacional.\n\nCONTEXTO:\n- fecha actual {{ $now.format('dd/MM/yyyy HH:mm') }}\n- Mensaje: {{ $('SET MSG').item.json.mensaje_respuesta }}\n- Moneda: Soles (S/)\n\nCATEGORÍAS DISPONIBLES:\ncomida, transporte, servicios, entretenimiento, salud, educacion, hogar, mis padres, otros\n\nINSTRUCCIONES:\n1. Analiza el mensaje del usuario e identifica si quiere:\n   - Registrar un nuevo gasto\n   - Ver un reporte\n   - Solicitar ayuda\n   \n2. Para registrar gastos, extrae:\n   - Monto (número)\n   - Categoría (de la lista disponible)\n   - Descripción (texto libre)\n\n3. Si falta información, pregunta de forma natural\n\nREGLAS IMPORTANTES:\n- Si el monto está claro, siempre pide confirmación\n- Si NO hay monto, solicita esa información primero\n- Sé conciso y usa emojis apropiados\n- Si no entiendes el mensaje, pide clarificación\n- Los montos deben ser números positivos\n- Si mencionan una categoría que no existe, usa la más cercana o \"otros\"\n- NUNCA inventes datos, si algo no está claro en el mensaje, pregunta.\n- Siempre requiere confirmacion\n\nAhora analiza el mensaje del usuario y responde SOLO con el JSON:`;","schemaType":"fromJson","jsonSchemaExample":"{\n  \"accion\": \"confirmar_gasto\",\n  \"datos_extraidos\": {\n    \"monto\": 25,\n    \"categoria\": \"comida\",\n    \"descripcion\": \"almuerzo\",\n    \"fecha_gasto\": \"14/10/2025\"\n  },  \n  \"mensaje_usuario\": \"💰 ¿Confirmar gasto?\\n\\n📋 Categoría: Comida\\n💵 Monto: S/ 25.00\\n📝 Descripción: Almuerzo\\n\\nResponde *Sí* para guardar o *No* para cancelar\",\n  \"requiere_confirmacion\": true\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[80,1072],"id":"9fd2c0bc-c55e-43c9-8eb9-472688525574","name":"Information Extractor"},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","fieldsUi":{"fieldValues":[{"fieldName":"telefono","fieldValue":"={{ $('set fields').item.json['message.from'].replace('@s.whatsapp.net','') }}"},{"fieldName":"monto","fieldValue":"={{ $json.output.datos_extraidos.monto }}"},{"fieldName":"categoria","fieldValue":"={{ $json.output.datos_extraidos.categoria }}"},{"fieldName":"descripcion","fieldValue":"={{ $json.output.datos_extraidos.descripcion }}"},{"fieldName":"fecha","fieldValue":"={{ DateTime.fromFormat($json.output.datos_extraidos.fecha_gasto, 'dd/MM/yyyy').toFormat('yyyy-MM-dd') }}"},{"fieldName":"estado","fieldValue":"={{ $json.output.requiere_confirmacion ? 'pendiente' : 'confirmado' }}"},{"fieldName":"contexto_chat","fieldValue":"={{ $('SET MSG').item.json.mensaje_respuesta }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[416,1072],"id":"b46ddae3-3ac0-4674-9005-af21f5192c73","name":"crear gasto","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[208,1280],"id":"26ac8fa5-c9d4-4efc-b1ed-754b19604258","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","options":{"where":"= (estado,eq,pendiente)~and(telefono,eq,{{ $('set fields').item.json._validacion.numeroValidado }}) "}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[80,704],"id":"570bc1dc-e647-4f91-ac71-1a6c70e535a8","name":"get pendientes","alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json.tiene_datos }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,704],"id":"e8c45423-f8c6-4ce9-b3f9-70597cdc0b01","name":"filtro1"},{"parameters":{"jsCode":"// Nodo Set - Respuesta NO_CLARO\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `🤔 No logré entender bien tu mensaje.\n\nPuedes decirme con más detalle qué deseas hacer.\nPor ejemplo:\n- \"Registrar gasto de 20 soles en transporte\"\n- \"Mostrar mis gastos de esta semana\"\n- \"Ayuda\" para ver cómo funciona el bot.\n\n¿Podrías aclararlo un poco, por favor? 😊`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,512],"id":"002735f1-2e45-4746-993f-d9170e77e5d9","name":"Code aclarar"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","options":{"where":"= (estado,eq,pendiente)~and(telefono,eq,{{ $('set fields').item.json._validacion.numeroValidado }}) "}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[80,880],"id":"f88cf3df-e029-4b99-8aa8-cd8c5ca2e411","name":"get pendientes1","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json.tiene_datos }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,880],"id":"ee9aaf36-5d35-431a-b9ff-639e67371261","name":"filtro2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","fieldsUi":{"fieldValues":[{"fieldName":"id","fieldValue":"={{ $('get pendientes').item.json.Id }}"},{"fieldName":"estado","fieldValue":"confirmado"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[848,688],"id":"43cbcb62-3a63-440d-b584-fb5a7e9dfb94","name":"actualizar gasto","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"delete","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","id":"={{ $('get pendientes1').item.json.Id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[848,864],"id":"8ef3ff25-a351-45ef-ac1b-2d8df17046d4","name":"borrar gasto","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"jsCode":"// Obtenemos los datos del nodo \"BuscarGasto\" (ajusta el nombre exacto)\nconst gasto = $node[\"get pendientes\"].json;\n\n// Extraemos los campos del gasto\nconst { monto, categoria, descripcion, fecha } = gasto;\n\n// Función para convertir fecha de YYYY-MM-DD a DD/MM/YYYY\nfunction formatearFecha(fecha) {\n  if (!fecha) return 'Hoy';\n  \n  // Si ya viene en formato DD/MM/YYYY, retornarla tal cual\n  if (fecha.includes('/')) return fecha;\n  \n  // Convertir de YYYY-MM-DD a DD/MM/YYYY\n  const partes = fecha.split('-');\n  if (partes.length === 3) {\n    return `${partes[2]}/${partes[1]}/${partes[0]}`;\n  }\n  \n  return fecha; // Si no coincide con ningún formato, devolver original\n}\n\n// Creamos el mensaje de confirmación con negritas (asterisco simple)\nconst mensaje = `✅ Perfecto, he registrado tu gasto correctamente.\n\n💰 *Monto:* ${monto ? monto + ' soles' : 'No especificado'}\n🏷️ *Categoría:* ${categoria || 'No especificada'}\n📝 *Descripción:* ${descripcion || 'No especificada'}\n📅 *Fecha:* ${formatearFecha(fecha)}\n\nGracias por confirmar. 🎉`;\n\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: mensaje\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,688],"id":"d85fe74b-1a8d-43f6-9e34-d50ee50b3f02","name":"Code confirmacion"},{"parameters":{"jsCode":"// Nodo Set - Respuesta CANCELAR\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `❌ Entendido, he cancelado el registro del gasto.\n\nNo se ha guardado el gasto.  \nSi quieres volver a intentarlo, puedes decirme algo como:\n- \"Registrar gasto de 40 soles en comida\"\n- \"Agregar gasto en transporte\"\n`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,864],"id":"e3cd9d52-c1a0-4791-94c1-ca394a6f06d9","name":"Code cancelacion"},{"parameters":{"jsCode":"// Obtener todos los items que vienen del nodo anterior\nconst items = $input.all();\n\n// Si no hay items o el primer objeto no tiene claves => vacío\nconst tieneDatos = items.length > 0 && Object.keys(items[0].json || {}).length > 0;\n\nreturn [\n  {\n    json: {\n      tiene_datos: tieneDatos\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,880],"id":"9a276557-a6df-4637-8eab-c85986df64fc","name":"Code in JavaScript1"},{"parameters":{"jsCode":"// Obtener todos los items que vienen del nodo anterior\nconst items = $input.all();\n\n// Si no hay items o el primer objeto no tiene claves => vacío\nconst tieneDatos = items.length > 0 && Object.keys(items[0].json || {}).length > 0;\n\nreturn [\n  {\n    json: {\n      tiene_datos: tieneDatos\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,704],"id":"9660d4f6-190e-4fcf-bc68-a619f05d7f75","name":"Code in JavaScript"},{"parameters":{"text":"=const prompt = `\nEres un asistente que analiza solicitudes de reportes de gastos y devuelve un objeto JSON con el rango de fechas solicitado para consultar la base de datos NocoDB.\n\nCONTEXTO:\n- Fecha actual: {{ $now.toISODate() }}\n- Mensaje del usuario: {{ $('SET MSG').item.json.mensaje_respuesta }}\n- Moneda: Soles (S/)\n\nTU TAREA:\n1. Analiza la intención del usuario y determina si se refiere a un periodo de tiempo específico.\n2. Si se mencionan expresiones como:\n   - \"hoy\", \"ayer\", \"anteayer\"\n   - \"esta semana\", \"semana pasada\"\n   - \"este mes\", \"mes pasado\"\n   - o rangos explícitos (\"del 1 al 15 de septiembre\", \"desde el lunes hasta el jueves\", etc.)\n   entonces debes calcular **fecha_inicio** y **fecha_fin** correspondientes.\n3. Si el mensaje no indica claramente un rango temporal, usa **\"ninguno\"** para ambos campos.\n\nFORMATO DE RESPUESTA:\nDevuelve SIEMPRE un JSON con esta estructura exacta:\n\n{\n  \"fecha_inicio\": \"YYYY-MM-DD\" | \"ninguno\",\n  \"fecha_fin\": \"YYYY-MM-DD\" | \"ninguno\",\n  \"descripcion\": \"texto que describe el rango (ejemplo: 'gastos de la semana pasada')\"\n}\n`;","schemaType":"fromJson","jsonSchemaExample":"{\n  \"fecha_inicio\": \"2025-10-07\",\n  \"fecha_fin\": \"2025-10-07\",\n  \"descripcion\": \"gastos de hoy\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-64,-48],"id":"a8472ccb-cd36-4b8e-8b1f-cec11f7092ea","name":"reporteador"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","options":{"where":"={{ $('rangos y token').item.json.where }}"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[848,-48],"id":"38166a98-0f3c-477e-9a83-379999342dde","name":"BuscarGastos","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $('Information Extractor').item.json.output.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1072],"id":"865f2b9f-9ef0-400a-b1ed-fcfb3d707dab","name":"set respuesta"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,144],"id":"9060fbfc-f728-464f-be86-d638a79a215b","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Nodo Code reporte — Generar respuesta de reporte (funciona con varios items entrantes)\n// Obtener todos los items entrantes al nodo (cada item tiene .json)\nconst items = $input.all();\n// Mapear a un array simple de objetos JSON\nconst data = items.map(i => i.json);\n\n// Si no hay registros válidos\nif (!Array.isArray(data) || data.length === 0 || Object.keys(data[0] || {}).length === 0) {\n  return [{\n    json: {\n      ...$json,\n      mensaje_usuario: \"📭 No encontré gastos en ese período.\",\n      total: 0,\n      resumen: {},\n      registros: []\n    }\n  }];\n}\n\n// Función para convertir fecha de YYYY-MM-DD a DD/MM/YYYY\nfunction formatearFecha(fecha) {\n  if (!fecha) return '';\n  \n  // Si ya viene en formato DD/MM/YYYY, retornarla tal cual\n  if (fecha.includes('/')) return fecha;\n  \n  // Convertir de YYYY-MM-DD a DD/MM/YYYY\n  const partes = fecha.split('-');\n  if (partes.length === 3) {\n    return `${partes[2]}/${partes[1]}/${partes[0]}`;\n  }\n  \n  return fecha; // Si no coincide con ningún formato, devolver original\n}\n\n// Calcular total y agrupar por categoría\nlet total = 0;\nconst resumen = {};\nfor (const g of data) {\n  const monto = Number(g.monto) || 0;\n  total += monto;\n  const cat = g.categoria || \"Sin categoría\";\n  resumen[cat] = (resumen[cat] || 0) + monto;\n}\n\n// Obtener periodo si existe (ej: 'hoy', 'ayer', etc.)\nconst periodo = $json.periodo || ($json.output && $json.output.reporte) || '';\n\n// Construir mensaje con formato WhatsApp (asterisco simple)\nlet mensaje = `📊 *Reporte de gastos${periodo ? ' ' + periodo : ''}*\\n`;\nmensaje += `Total general: 💰 ${total.toFixed(2)} soles\\n\\n`;\nmensaje += `*Por categorías:*\\n`;\nfor (const [categoria, suma] of Object.entries(resumen)) {\n  mensaje += `- ${categoria}: ${suma.toFixed(2)} soles\\n`;\n}\n\nmensaje += `\\n🧾 *Detalles:*\\n`;\nfor (const g of data) {\n  const desc = g.descripcion || 'Sin descripción';\n  const fecha = formatearFecha(g.fecha || '');\n  mensaje += `• ${desc} — ${Number(g.monto).toFixed(2)} soles (${g.categoria || 'Sin categoría'}, *${fecha}*)\\n`;\n}\n\nmensaje += `\\nSe encontraron ${data.length} registros en total.`;\n\n// ========== NUEVA SECCIÓN: CONSTRUIR URL CON TOKEN ==========\n// Obtener el token generado (viene del nodo \"guardar token\" de NocoDB)\nconst token = $('rangos y token').first().json.token;\n\n// Construir la URL del dashboard con el token\nconst baseUrl = 'https://proxy.eficiencia.cloud/dashboard_gastos';\nconst dashboardUrl = `${baseUrl}?token=${token}`;\n\n// Agregar el enlace al mensaje\nmensaje += `\\n\\n🔗 *Reporte interactivo:*\\n${dashboardUrl}`;\nmensaje += `\\n\\n⚠️ _Este enlace es de un solo uso y expira en 24 horas._`;\n\n// Retornar resultado para siguientes nodos\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: mensaje,\n    total,\n    resumen,\n    registros: data,\n    dashboard_url: dashboardUrl,  // URL completa para usar en otros nodos si es necesario\n    token: token  // Token por si lo necesitas en otro nodo\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-48],"id":"8ee3ceb1-a1df-470d-8901-8898f5fc0875","name":"Code reporte"},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('set fields').first().json['instance.nombre'] }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('set fields').first().json['message.id'] }}","remoteJid":"={{ $('set fields').first().json['message.from'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1824,688],"id":"bc4002c9-9db6-459e-979d-364e4aabb5d3","name":"cerrar","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('set fields').first().json['instance.nombre'] }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('set fields').first().json['message.id'] }}","remoteJid":"={{ $('set fields').first().json['message.from'] }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1408,1072],"id":"892699bd-7ce3-44ec-a279-7028abeb7d28","name":"cerrar chat","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","delay":"={{ Math.floor(Math.random() * 12001) }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1008,1072],"id":"bbda14b3-7cde-430b-9a8c-3d3aa51e2cc0","name":"escribiendo","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageId":"={{ $('set fields').item.json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,1072],"id":"b8354418-d279-4e8e-acb1-98fb89034ab5","name":"leido","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageText":"={{ $('set respuesta').item.json.mensaje_respuesta }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1216,1072],"id":"7fcc676a-dfca-4c07-aee0-8332211c980f","name":"respondiendo","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('set fields').first().json[\"instance.nombre\"] }}","remoteJid":"={{ $('set fields').first().json['message.from'] }}","delay":"={{ Math.floor(Math.random() * 12001) }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1824,480],"id":"fa3ca7b1-a15f-4085-be33-358271bdaac7","name":"escribiendo1","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').first().json[\"instance.nombre\"] }}","remoteJid":"={{ $('set fields').first().json['message.from'] }}","messageId":"={{ $('set fields').first().json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1632,480],"id":"f83ec9dc-4cd6-4cc7-81d7-b08058da0d5a","name":"leido1","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').first().json['instance.nombre'] }}","remoteJid":"={{ $('set fields').first().json['message.from'] }}","messageText":"={{ $('respuesta').item.json.mensaje_respuesta }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1632,688],"id":"952b51e9-fcbb-43d5-9880-6666a4e60da4","name":"respuesta1","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1856,624],"id":"e9a39f23-d54c-4284-9903-8e913de472af","name":"Convert image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"que cosa es? y puedes detallar el emisor el total","inputType":"binary","simplify":false,"options":{"maxOutputTokens":2000}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1856,848],"id":"5813d5d3-c4a7-4a68-960c-0b5b1f525497","name":"Analyze an image","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Del contexto recibido debes generar una frase donde indiques el rubro del comercio de origen u su nombre y el monto que he consumido comprobante.\npor ejemplo: consumi 532 soles en el supermercado Plaza Vea\ncontexto:{{ $json.extraccion }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1552,1072],"id":"50946f8b-63a8-4c14-be22-786429e7c307","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1536,1264],"id":"b6efb45e-e642-42e0-bc3e-d54a5f18a8dc","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## extrae informacion de imagen","height":436,"width":432,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2096,560],"typeVersion":1,"id":"a86fc79e-97ec-4997-bad7-c19ad67ca6e8","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"74370f28-a83f-420d-953c-8e9a7769ff60","name":"markdown","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,864],"id":"127c2740-0a04-4de5-b36f-f43fae7a4cf1","name":"normalizador"},{"parameters":{"content":"## extraer datos de factura de un pdf\n","height":400,"width":432,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2096,1040],"typeVersion":1,"id":"108ddb91-7980-407e-8f3c-b43feb689716","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"={{ $('set fields').item.json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $('set fields').item.json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('set fields').item.json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $('set fields').item.json[\"message.id\"] }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2048,1104],"id":"21f7ad7f-b0ee-46a1-828a-cab5e03859ee","name":"get pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1856,1104],"id":"d7da69c2-ab99-41f4-b97f-8e2ad8c6ede3","name":"guardar pdf"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"text":"que cosa es? y puedes detallar el emisor el total","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1888,1296],"id":"e18c258a-5b61-4ba7-bd12-43f02f86f973","name":"Analyze document","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5c8689e-ecd5-4987-a4df-6f36658d118e","name":"extraccion","value":"={{ $json.content.parts[0].text }}||{{ $json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1552,768],"id":"bde18e6b-611c-4cdb-a12b-cbfc0df10156","name":"Edit Fields"},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"prl7a2tz6nswihw","table":"mfq6lpi1ie3qtgi","fieldsUi":{"fieldValues":[{"fieldName":"token","fieldValue":"={{ $json.token }}"},{"fieldName":"token_mas_datos","fieldValue":"={{ $json.token_mas_datos }}"},{"fieldName":"filtro","fieldValue":"={{ $json.where }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[592,-48],"id":"3fab4dcb-d852-4d0f-8913-0f68e22228fb","name":"guardar token","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"jsCode":"// Obtener las fechas desde la salida del agente\nconst fechaInicioAgente = $json.output?.fecha_inicio || 'ninguno';\nconst fechaFinAgente = $json.output?.fecha_fin || 'ninguno';\nconst descripcion = $json.output?.descripcion || 'sin descripción';\n\n// Teléfono del usuario (ajusta según tu flujo)\nconst telefono = $('set fields').first().json._validacion.numeroValidado;\n\n// Función para obtener fecha actual en hora de Perú (UTC-5)\nfunction getPeruDate() {\n  const now = new Date();\n  const peruTime = new Date(now.getTime() - (5 * 60 * 60 * 1000));\n  return peruTime;\n}\n\n// Función para formatear fecha y hora (YYYY-MM-DD HH:MM:SS)\nfunction formatDateTime(date) {\n  const year = date.getUTCFullYear();\n  const month = String(date.getUTCMonth() + 1).padStart(2, '0');\n  const day = String(date.getUTCDate()).padStart(2, '0');\n  const hours = String(date.getUTCHours()).padStart(2, '0');\n  const minutes = String(date.getUTCMinutes()).padStart(2, '0');\n  const seconds = String(date.getUTCSeconds()).padStart(2, '0');\n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n// Obtener fecha actual\nconst hoy = getPeruDate();\n\n// Validar fechas (por si vienen como \"ninguno\")\nconst fechaInicio = fechaInicioAgente !== 'ninguno' ? fechaInicioAgente : null;\nconst fechaFin = fechaFinAgente !== 'ninguno' ? fechaFinAgente : null;\n\n// Construir el WHERE para NocoDB\nlet where = `(telefono,eq,${telefono})`;\nif (fechaInicio && fechaFin) {\n  where += `~and(fecha,ge,exactDate,${fechaInicio})~and(fecha,le,exactDate,${fechaFin})`;\n}\n\n// Generar token seguro de 32 caracteres\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(32).toString('hex');\n\n// Crear objeto a encriptar\nconst datosParaEncriptar = JSON.stringify({\n  token: token,\n  telefono: telefono,\n  fechaInicio: fechaInicio,\n  fechaFin: fechaFin,\n  descripcion: descripcion\n});\n\n// Encriptar usando Base64 URL-safe\nconst token_mas_datos = Buffer.from(datosParaEncriptar).toString('base64')\n  .replace(/\\+/g, '-')  // URL-safe\n  .replace(/\\//g, '_')  // URL-safe\n  .replace(/=/g, '');   // Sin padding\n\n// Retornar datos al flujo\nreturn [{\n  json: {\n    ...$json,\n    token,\n    token_mas_datos,\n    where,\n    descripcion,\n    fechaInicio,\n    fechaFin,\n    fechaHoraActual: formatDateTime(hoy)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-48],"id":"25047938-0b53-43e1-9db4-f1ad2967e841","name":"rangos y token"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-272,1024],"id":"0523d2b1-6ffd-42c3-ae09-17d10bcce657","name":"No Operation, do nothing"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","messageId":"={{ $('set fields').item.json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2064,624],"id":"620246bd-014c-4747-b23b-71211b7bbd91","name":"get imagen","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"content":"## Corregir\nvalidar el filtro de numeros, aun no funciona","color":3},"type":"n8n-nodes-base.stickyNote","position":[-3072,320],"typeVersion":1,"id":"6b4e321d-42b3-46ab-a98e-835f9729da1b","name":"Sticky Note4"},{"parameters":{"jsCode":"// Nodo Code - Respuesta Despedida\nconst hora = new Date().getHours();\nlet despedida = '¡Hasta luego';\n\nif (hora < 12) despedida = '¡Que tengas un excelente día';\nelse if (hora < 19) despedida = '¡Que tengas una linda tarde';\nelse despedida = '¡Que tengas una buena noche';\n\nconst despedidas = [\n  `${despedida}! 👋\\n\\nCualquier cosa que necesites, aquí estaré para ayudarte. ¡Cuídate! 😊`,\n  `${despedida}! 🌟\\n\\n¡Nos vemos pronto! Recuerda que puedes escribirme cuando quieras. 💙`,\n  `${despedida}! ✨\\n\\nFue un gusto ayudarte. ¡Hasta la próxima! 😊`,\n  `${despedida}! 🎉\\n\\n¡Que todo te salga genial! Aquí estaré cuando me necesites. 🤗`\n];\n\n// Seleccionar una despedida aleatoria\nconst mensajeDespedida = despedidas[Math.floor(Math.random() * despedidas.length)];\n\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: mensajeDespedida\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,432],"id":"767005d9-ce2a-4f9f-89ed-45b7400f4827","name":"Code despedida"},{"parameters":{"jsCode":"// Nodo Code - Respuesta Agradecimiento\nconst agradecimientos = [\n  `¡De nada! 😊\\n\\nEstoy aquí para ayudarte cuando lo necesites. ¡Que tengas un excelente día! 🌟`,\n  `¡Un placer ayudarte! 💙\\n\\nSi necesitas algo más, solo dímelo. ¡Estoy aquí para ti! 😊`,\n  `¡Para eso estoy! 🎉\\n\\nNo dudes en escribirme si necesitas ayuda con tus gastos. ¡Feliz día! ✨`,\n  `¡Con gusto! 🤗\\n\\nCualquier cosa que necesites, aquí me tienes. ¡Que todo te vaya genial! 💫`,\n  `¡Siempre a la orden! 😊\\n\\nRecuerda que puedes consultarme lo que sea. ¡Buen día! 🌈`\n];\n\n// Seleccionar un agradecimiento aleatorio\nconst mensajeAgradecimiento = agradecimientos[Math.floor(Math.random() * agradecimientos.length)];\n\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: mensajeAgradecimiento\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,336],"id":"4be4c27c-ce0e-4532-9fd7-fccd63718e59","name":"Code agradecimiento"},{"parameters":{"content":"## Rspuesta al usario\n","height":1712,"width":2576,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-512,-160],"typeVersion":1,"id":"b093c4f2-84c6-4bec-baf9-622d53af7470","name":"Sticky Note5"}],"connections":{"tipo dato":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"normalize txt","type":"main","index":0}],[{"node":"get imagen","type":"main","index":0}],[{"node":"get pdf","type":"main","index":0}]]},"get audio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"audio normalizado","type":"main","index":0}]]},"audio normalizado":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"recibe whatsapp":{"main":[[{"node":"whitelist1","type":"main","index":0}]]},"whitelist1":{"main":[[{"node":"set fields","type":"main","index":0}]]},"filtro":{"main":[[{"node":"tipo dato","type":"main","index":0}]]},"normalize txt":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"set fields":{"main":[[{"node":"filtro","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"agent router","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"agent router","type":"ai_outputParser","index":0}]]},"agent router":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"reporteador","type":"main","index":0}],[{"node":"Code saludo","type":"main","index":0}],[{"node":"Code ayuda","type":"main","index":0}],[{"node":"Code agradecimiento","type":"main","index":0}],[{"node":"Code despedida","type":"main","index":0}],[{"node":"Code aclarar","type":"main","index":0}],[{"node":"get pendientes","type":"main","index":0}],[{"node":"get pendientes1","type":"main","index":0}],[{"node":"Information Extractor","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code saludo":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code ayuda":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"respuesta":{"main":[[{"node":"leido1","type":"main","index":0}]]},"SET MSG":{"main":[[{"node":"agent router","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"crear gasto","type":"main","index":0}]]},"crear gasto":{"main":[[{"node":"set respuesta","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"get pendientes":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code aclarar":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"filtro1":{"main":[[{"node":"actualizar gasto","type":"main","index":0}],[{"node":"Code aclarar","type":"main","index":0}]]},"get pendientes1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"filtro2":{"main":[[{"node":"borrar gasto","type":"main","index":0}],[{"node":"Code aclarar","type":"main","index":0}]]},"actualizar gasto":{"main":[[{"node":"Code confirmacion","type":"main","index":0}]]},"borrar gasto":{"main":[[{"node":"Code cancelacion","type":"main","index":0}]]},"Code confirmacion":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code cancelacion":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"filtro2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"filtro1","type":"main","index":0}]]},"reporteador":{"main":[[{"node":"rangos y token","type":"main","index":0}]]},"BuscarGastos":{"main":[[{"node":"Code reporte","type":"main","index":0}]]},"set respuesta":{"main":[[{"node":"leido","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"reporteador","type":"ai_languageModel","index":0}]]},"Code reporte":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"cerrar chat":{"main":[[]]},"escribiendo":{"main":[[{"node":"respondiendo","type":"main","index":0}]]},"leido":{"main":[[{"node":"escribiendo","type":"main","index":0}]]},"respondiendo":{"main":[[{"node":"cerrar chat","type":"main","index":0}]]},"escribiendo1":{"main":[[{"node":"respuesta1","type":"main","index":0}]]},"leido1":{"main":[[{"node":"escribiendo1","type":"main","index":0}]]},"respuesta1":{"main":[[{"node":"cerrar","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"Analyze an image","type":"main","index":0}]]},"Analyze an image":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"normalizador","type":"main","index":0}]]},"normalizador":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"get pdf":{"main":[[{"node":"guardar pdf","type":"main","index":0}]]},"guardar pdf":{"main":[[{"node":"Analyze document","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"guardar token":{"main":[[{"node":"BuscarGastos","type":"main","index":0}]]},"rangos y token":{"main":[[{"node":"guardar token","type":"main","index":0}]]},"get imagen":{"main":[[{"node":"Convert image","type":"main","index":0}]]},"Code agradecimiento":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code despedida":{"main":[[{"node":"respuesta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"respuesta":[{"json":{"mensaje_respuesta":"📊 **Reporte de gastos**\nTotal general: 💰 143.89 soles\n\n**Por categorías:**\n- transporte: 50.00 soles\n- comida: 58.89 soles\n- entretenimiento: 35.00 soles\n\n🧾 **Detalles:**\n• Gasto en el grifo Victoria — 50.00 soles (transporte, 27/10/2025)\n• supermercado plazavea — 12.80 soles (comida, 28/10/2025)\n• compras en supermercado plaza vea — 44.09 soles (comida, 28/10/2025)\n• un disfraz — 35.00 soles (entretenimiento, 29/10/2025)\n• pan de rochetti — 2.00 soles (comida, 29/10/2025)\n\nSe encontraron 5 registros en total.\n\n🔗 **Reporte interactivo:**\nhttps://proxy.eficiencia.cloud/dashboard_gastos?token=0e2428366db3e3672e36bdd9720ee73f2925f8291d0ac0bb8c225d756ed890d7\n\n⚠️ _Este enlace es de un solo uso y expira en 24 horas._"}}],"recibe whatsapp":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.10.0","content-length":"1010","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"control gastos","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"AC7B05C92963EBE17743B96BCDE21B54","senderPn":"51952373850@s.whatsapp.net","previousRemoteJid":"138748985655322@lid"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"conversation":"Hoy gaste 4.5 en 3 sándwich para mi desayuno","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"a3NP3oXKR8SJNA==","senderTimestamp":"1761915252","recipientKeyHash":"Fhsl0JINg8bnrQ==","recipientTimestamp":"1760789802"},"deviceListMetadataVersion":2,"messageSecret":"ySlohbHHvRE7GHcYrAQxXKCObx3KhvHcWJZNXgV/TDM="}},"messageType":"conversation","messageTimestamp":1761924221,"instanceId":"c72aa7a0-c6c1-455f-af14-11c5ca9daaa6","source":"android"},"destination":"https://ene8w.heleo.com.pe/webhook/evolution","date_time":"2025-10-31T12:23:42.073Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evoapi.heleo.com.pe","apikey":"9257B015DBF1-4DC7-A07E-10EE00AEE392"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/evolution","executionMode":"production"}}]},"versionId":"9e6f2796-7627-4c2d-b1e5-b33ceede0473","triggerCount":1,"shared":[{"createdAt":"2025-10-14T16:25:20.664Z","updatedAt":"2025-10-14T16:25:20.664Z","role":"workflow:owner","workflowId":"4Q3wGkLcFfiFdYuQ","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}