registro-de-gastos-mvp-4Q3wGkLcFfiFdYuQ.json
{"createdAt":"2025-10-14T16:25:20.664Z","updatedAt":"2025-10-17T03:39:57.287Z","id":"4Q3wGkLcFfiFdYuQ","name":"REGISTRO DE GASTOS mvp","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"whitelist","height":240,"width":980},"type":"n8n-nodes-base.stickyNote","position":[-3520,592],"typeVersion":1,"id":"790fa949-091b-40df-a372-c633dddd2cbb","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6970faf6-9d4f-4371-b00a-ba867e978121"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81257730-8d8d-4b11-bae1-f1b01ab09856","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51f35c3d-9e46-4531-b5db-0a3e6a4b4211","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2400,624],"id":"e60d7b31-6037-4808-a154-a37484b978eb","name":"tipo dato"},{"parameters":{"method":"POST","url":"={{ $json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json[\"message.id\"] }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,64],"id":"100cbb84-5804-426b-823a-d3c279d21a2f","name":"get audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1920,224],"id":"c34a2187-70c6-45e7-81db-de4dbe82c61f","name":"Convert audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,400],"id":"d7d7f8ef-85b7-4955-a7dc-c752f6e7870a","name":"groq transcripción","credentials":{"httpHeaderAuth":{"id":"8PlaFYoc9ho8EcnX","name":"groq api n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"08ce01c6-96e0-4e0b-aa5d-11ee86a30d27","name":"markdown","value":"={{ $json.text }}","type":"string"},{"id":"38457a25-d703-4548-b19b-a8caa0ca673c","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,576],"id":"c15b0c79-8b65-4d26-a8a1-36827be9f08c","name":"audio normalizado"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageId":"={{ $('set fields').item.json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,208],"id":"f83ec9dc-4cd6-4cc7-81d7-b08058da0d5a","name":"Evolution API2","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageText":"={{ $('respuesta').item.json.mensaje_respuesta }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1424,208],"id":"952b51e9-fcbb-43d5-9880-6666a4e60da4","name":"Evolution API3","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"content":"## transcribir mensaje de audio \n","height":724,"width":432,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-2080,0],"typeVersion":1,"id":"0943ec4e-b1ff-4926-bcc0-707fa8f5ba69","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"recepcionwp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3472,656],"id":"46ab1aa6-d376-445a-8cbd-c768f9acfc44","name":"recibe whatsapp","webhookId":"6e0df037-05cd-46bb-8f9f-20de8f9b8a3b"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mhbct5pzxzep05y","options":{"fields":["celular"]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-3232,656],"id":"d5ba8b6f-91f4-4e0d-93d9-0234dd4e7ca9","name":"whitelist1","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json._validacion.estaEnListaBlanca }} }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2784,656],"id":"03c37357-0a30-40c5-92ed-a39e9863ceb8","name":"filtro"},{"parameters":{"assignments":{"assignments":[{"id":"a31c078a-e8be-4775-8fa4-48874b4e7b14","name":"markdown","value":"={{ $('set fields').item.json['message.content'] }}","type":"string"},{"id":"e4bfbfab-5339-41ed-80c8-e73609f0af36","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,816],"id":"b8a6a730-bcbe-48f4-be5e-b3b4ff8a3a66","name":"normalize txt"},{"parameters":{"jsCode":"// Obtener el número del webhook (remover @s.whatsapp.net)\nconst numeroWebhook = $('recibe whatsapp').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\n\n// Obtener todos los números de la lista blanca\nconst numerosListaBlanca = $input.all().map(item => item.json.celular);\n\n// Verificar si el número está en la lista blanca\nconst estaEnListaBlanca = numerosListaBlanca.includes(numeroWebhook);\n\n// Obtener datos del webhook\nconst webhookData = $('recibe whatsapp').item.json.body;\nconst messageData = webhookData.data;\n\n// Determinar el tipo de contenido\nlet contentType = '';\nif (messageData.message.extendedTextMessage) contentType = 'text';\nelse if (messageData.message.conversation) contentType = 'text';\nelse if (messageData.message.audioMessage) contentType = 'audio';\nelse if (messageData.message.imageMessage) contentType = 'image';\n\n// Obtener el contenido del mensaje\nlet messageContent = '';\nif (messageData.message.extendedTextMessage?.text) {\n  messageContent = messageData.message.extendedTextMessage.text;\n} else if (messageData.message.imageMessage?.caption) {\n  messageContent = messageData.message.imageMessage.caption;\n} else if (messageData.message.conversation) {\n  messageContent = messageData.message.conversation;\n}\n\n// Convertir fecha\nconst messageDate = new Date(webhookData.date_time).toISOString();\n\n// Retornar UN SOLO item con todos los campos limpios\nif (estaEnListaBlanca) {\n  return [{\n    json: {\n      // Campos de instancia\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      \n      // Campos de mensaje\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      \n      // Campos de usuario\n      'user.name': messageData.pushName,\n      \n      // API Keys\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      \n      // Validación\n      '_validacion': {\n        estaEnListaBlanca: true,\n        numeroValidado: numeroWebhook\n      },\n      \n      // Mantener datos originales completos por si acaso\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n} else {\n  return [{\n    json: {\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      'user.name': messageData.pushName,\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      '_validacion': {\n        estaEnListaBlanca: false,\n        numeroValidado: numeroWebhook\n      },\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,656],"id":"d70cef1f-7a61-4374-91a9-07a8bbc355c6","name":"set fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1312,864],"id":"c94330da-7081-4820-b975-4199259a7c10","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"intencion\": \"REGISTRAR_GASTO\",  \n  \"requiere_agente\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1040,864],"id":"34be4e73-e1df-42ed-8e62-d88bbe717026","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=const promptClasificador = `Eres un clasificador de intenciones. Analiza el mensaje y responde SOLO con un JSON.\n\nMENSAJE DEL USUARIO: \"{{ $('SET MSG').item.json.mensaje_respuesta }}\"\n\nINTENCIONES POSIBLES:\n1. AYUDA - Usuario pide ayuda o instrucciones.\n2. SALUDO - Usuario saluda (hola, buenos días, etc.).\n3. CONFIRMAR - Usuario acepta, aprueba o confirma algo.\n4. CANCELAR - Usuario rechaza, niega o cancela algo.\n5. REGISTRAR_GASTO - Usuario quiere registrar un gasto.\n6. REPORTE - Usuario pide ver gastos, reportes o resumen.\n7. EDITAR - Usuario quiere modificar un gasto anterior.\n8. NO_CLARO - No se entiende la intención.\n\nREGLAS:\n- Si menciona dinero, montos, pagó, gasté, compré → REGISTRAR_GASTO\n- Si dice \"sí\", \"si\", \"ok\", \"confirmar\", \"correcto\" → CONFIRMAR\n- Si dice \"no\", \"cancelar\", \"mejor no\", \"anular\", \"ya no\" → CANCELAR\n- Si pide \"ayuda\", \"cómo funciona\", \"qué puedo hacer\" → AYUDA\n- Si dice \"hola\", \"buenos días\", \"qué tal\" → SALUDO\n- Si pide \"reporte\", \"cuánto\", \"gastos de\", \"resumen\" → REPORTE\n\nRESPONDE SOLO CON ESTE JSON (sin texto adicional):\n{\n  \"intencion\": \"AYUDA|SALUDO|CONFIRMACION|REGISTRAR_GASTO|REPORTE|EDITAR|NO_CLARO\", \n  \"requiere_agente\": true o false\n}\nAnaliza y responde:`;","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1248,672],"id":"153f957a-df4f-4ebe-b709-3acc6d536947","name":"agent router","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.intencion }}","rightValue":"SALUDO","operator":{"type":"string","operation":"equals"},"id":"d9aa8ade-84b5-488f-97b6-344db456f4ce"}],"combinator":"and"},"renameOutput":true,"outputKey":"SALUDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b19531da-204f-431f-a413-dc8b81f8ffe5","leftValue":"={{ $json.output.intencion }}","rightValue":"AYUDA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AYUDA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72f45b52-1bb2-4b6c-9980-f586e9dfdc1e","leftValue":"={{ $json.output.intencion }}","rightValue":"NO_CLARO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ACLARAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ce60d75-e249-4d40-8533-812ce316a0a6","leftValue":"={{ $json.output.intencion }}","rightValue":"CONFIRMAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONFIRMACION"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c86ce8f1-77ea-4d29-9b48-59d718f14bf3","leftValue":"={{ $json.output.intencion }}","rightValue":"CANCELAR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2455e47d-7c42-4413-92d3-8fb7c67a2f37","leftValue":"={{ $json.output.intencion }}","rightValue":"REGISTRAR_GASTO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GASTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0578a726-56d5-4c4a-b349-761422eb3c03","leftValue":"={{ $json.output.intencion }}","rightValue":"REPORTE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REPORTE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-880,592],"id":"3cc3824b-252f-4b7c-8170-2347b84a621d","name":"Switch"},{"parameters":{"jsCode":"// Nodo Set - Respuesta Saludo\nconst hora = new Date().getHours();\nlet saludo = '¡Hola';\n\nif (hora < 12) saludo = '¡Buenos días';\nelse if (hora < 19) saludo = '¡Buenas tardes';\nelse saludo = '¡Buenas noches';\n\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `${saludo}! 👋\n\nSoy tu asistente de control de gastos.\n\nPuedes decirme cosas como:\n- \"Pagué 25 en almuerzo\"\n- \"50 soles de taxi\"\n\nO escribe *ayuda* para ver todas las opciones 😊`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,16],"id":"2b56ad9a-fbf7-4195-993a-a0fe5ba7e5f5","name":"Code saludo"},{"parameters":{"jsCode":"// Nodo Set - Respuesta Ayuda\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `📱 *Guía de Control de Gastos*\n\n*🎯 Para registrar gastos:*\n- \"Pagué 25 en almuerzo\"\n- \"15 soles de taxi\"\n- \"100 de supermercado\"\n\n*📊 Categorías disponibles:*\ncomida • transporte • servicios\nentretenimiento • salud • educacion\nhogar • otros\n\n*🔜 Próximamente:*\n- Ver reportes diarios/semanales\n- Editar gastos anteriores\n- Estadísticas detalladas\n\n¿En qué puedo ayudarte? 😊`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,144],"id":"6cded090-5b05-449c-be45-d6a731012e53","name":"Code ayuda"},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $json.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,208],"id":"811c47d1-3a59-41fb-96f2-264f0cc07a72","name":"respuesta"},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $json.markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,672],"id":"96f05711-7c44-42bc-8f40-0279757d3f19","name":"SET MSG"},{"parameters":{"text":"=const prompt = `Eres un asistente de control de gastos personal por WhatsApp. Tu función es ayudar al usuario a registrar sus gastos de forma conversacional.\n\nCONTEXTO:\n- fecha actual {{ $now.toISO() }}\n- Mensaje: {{ $('SET MSG').item.json.mensaje_respuesta }}\n- Moneda: Soles (S/)\n\nCATEGORÍAS DISPONIBLES:\ncomida, transporte, servicios, entretenimiento, salud, educacion, hogar, otros\n\nINSTRUCCIONES:\n1. Analiza el mensaje del usuario e identifica si quiere:\n   - Registrar un nuevo gasto\n   - Ver un reporte\n   - Solicitar ayuda\n   \n2. Para registrar gastos, extrae:\n   - Monto (número)\n   - Categoría (de la lista disponible)\n   - Descripción (texto libre)\n\n3. Si falta información, pregunta de forma natural\n\nREGLAS IMPORTANTES:\n- Si el monto está claro, siempre pide confirmación\n- Si NO hay monto, solicita esa información primero\n- Sé conciso y usa emojis apropiados\n- Si no entiendes el mensaje, pide clarificación\n- Los montos deben ser números positivos\n- Si mencionan una categoría que no existe, usa la más cercana o \"otros\"\n- NUNCA inventes datos, si algo no está claro en el mensaje, pregunta\n\nAhora analiza el mensaje del usuario y responde SOLO con el JSON:`;","schemaType":"fromJson","jsonSchemaExample":"{\n  \"accion\": \"confirmar_gasto\",\n  \"datos_extraidos\": {\n    \"monto\": 25,\n    \"categoria\": \"comida\",\n    \"descripcion\": \"almuerzo\",\n    \"fecha_gasto\": \"14/10/2025\"\n  },  \n  \"mensaje_usuario\": \"💰 ¿Confirmar gasto?\\n\\n📋 Categoría: Comida\\n💵 Monto: S/ 25.00\\n📝 Descripción: Almuerzo\\n\\nResponde *Sí* para guardar o *No* para cancelar\",\n  \"requiere_confirmacion\": true\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-272,976],"id":"9fd2c0bc-c55e-43c9-8eb9-472688525574","name":"Information Extractor"},{"parameters":{"assignments":{"assignments":[{"id":"e5a6f70a-51ea-4fb2-9c00-be558b14179c","name":"mensaje_respuesta","value":"={{ $('Information Extractor').item.json.output.mensaje_usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,976],"id":"865f2b9f-9ef0-400a-b1ed-fcfb3d707dab","name":"respuesta1"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageId":"={{ $('set fields').item.json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[464,976],"id":"b8354418-d279-4e8e-acb1-98fb89034ab5","name":"Evolution API","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageText":"={{ $('respuesta1').item.json.mensaje_respuesta }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[656,976],"id":"7fcc676a-dfca-4c07-aee0-8332211c980f","name":"Evolution API4","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","fieldsUi":{"fieldValues":[{"fieldName":"telefono","fieldValue":"={{ $('set fields').item.json['message.from'].replace('@s.whatsapp.net','') }}"},{"fieldName":"monto","fieldValue":"={{ $json.output.datos_extraidos.monto }}"},{"fieldName":"categoria","fieldValue":"={{ $json.output.datos_extraidos.categoria }}"},{"fieldName":"descripcion","fieldValue":"={{ $json.output.datos_extraidos.descripcion }}"},{"fieldName":"fecha","fieldValue":"={{ $json.output.datos_extraidos.fecha_gasto }}"},{"fieldName":"estado","fieldValue":"={{ $json.output.requiere_confirmacion ? 'pendiente' : 'confirmado' }}"},{"fieldName":"contexto_chat","fieldValue":"={{ $('SET MSG').item.json.mensaje_respuesta }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[80,976],"id":"b46ddae3-3ac0-4674-9005-af21f5192c73","name":"crear gasto","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-240,1456],"id":"26ac8fa5-c9d4-4efc-b1ed-754b19604258","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","options":{"where":" (estado,eq,pendiente)~and(telefono,eq,51952373850) "}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-528,704],"id":"570bc1dc-e647-4f91-ac71-1a6c70e535a8","name":"get pendientes","alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json.tiene_datos }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,544],"id":"e8c45423-f8c6-4ce9-b3f9-70597cdc0b01","name":"filtro1"},{"parameters":{"jsCode":"// Nodo Set - Respuesta NO_CLARO\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `🤔 No logré entender bien tu mensaje.\n\nPuedes decirme con más detalle qué deseas hacer.\nPor ejemplo:\n- \"Registrar gasto de 20 soles en transporte\"\n- \"Mostrar mis gastos de esta semana\"\n- \"Ayuda\" para ver cómo funciona el bot.\n\n¿Podrías aclararlo un poco, por favor? 😊`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,256],"id":"002735f1-2e45-4746-993f-d9170e77e5d9","name":"Code aclarar"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","options":{"where":" (estado,eq,pendiente)~and(telefono,eq,51952373850) "}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-400,832],"id":"f88cf3df-e029-4b99-8aa8-cd8c5ca2e411","name":"get pendientes1","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json.tiene_datos }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,720],"id":"ee9aaf36-5d35-431a-b9ff-639e67371261","name":"filtro2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","fieldsUi":{"fieldValues":[{"fieldName":"id","fieldValue":"={{ $('get pendientes').item.json.Id }}"},{"fieldName":"estado","fieldValue":"confirmado"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[432,448],"id":"43cbcb62-3a63-440d-b584-fb5a7e9dfb94","name":"actualizar gasto","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"delete","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","id":"={{ $('get pendientes1').item.json.Id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[304,656],"id":"8ef3ff25-a351-45ef-ac1b-2d8df17046d4","name":"borrar gasto","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"jsCode":"// Obtenemos los datos del nodo \"BuscarGasto\" (ajusta el nombre exacto)\nconst gasto = $node[\"get pendientes\"].json;\n\n// Extraemos los campos del gasto\nconst { monto, categoria, descripcion, fecha } = gasto;\n\n// Creamos el mensaje de confirmación\nconst mensaje = `✅ Perfecto, he registrado tu gasto correctamente.\n\n💰 **Monto:** ${monto ? monto + ' soles' : 'No especificado'}\n🏷️ **Categoría:** ${categoria || 'No especificada'}\n📝 **Descripción:** ${descripcion || 'No especificada'}\n📅 **Fecha:** ${fecha || 'Hoy'}\n\nGracias por confirmar. 🎉`;\n\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: mensaje\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,448],"id":"d85fe74b-1a8d-43f6-9e34-d50ee50b3f02","name":"Code confirmacion"},{"parameters":{"jsCode":"// Nodo Set - Respuesta CANCELAR\nreturn [{\n  json: {\n    ...$json,\n    mensaje_usuario: `❌ Entendido, he cancelado el registro del gasto.\n\nNo se ha guardado el gasto.  \nSi quieres volver a intentarlo, puedes decirme algo como:\n- \"Registrar gasto de 40 soles en comida\"\n- \"Agregar gasto en transporte\"\n`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,656],"id":"e3cd9d52-c1a0-4791-94c1-ca394a6f06d9","name":"Code cancelacion"},{"parameters":{"jsCode":"// Obtener todos los items que vienen del nodo anterior\nconst items = $input.all();\n\n// Si no hay items o el primer objeto no tiene claves => vacío\nconst tieneDatos = items.length > 0 && Object.keys(items[0].json || {}).length > 0;\n\nreturn [\n  {\n    json: {\n      tiene_datos: tieneDatos\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,784],"id":"9a276557-a6df-4637-8eab-c85986df64fc","name":"Code in JavaScript1"},{"parameters":{"jsCode":"// Obtener todos los items que vienen del nodo anterior\nconst items = $input.all();\n\n// Si no hay items o el primer objeto no tiene claves => vacío\nconst tieneDatos = items.length > 0 && Object.keys(items[0].json || {}).length > 0;\n\nreturn [\n  {\n    json: {\n      tiene_datos: tieneDatos\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,608],"id":"9660d4f6-190e-4fcf-bc68-a619f05d7f75","name":"Code in JavaScript"},{"parameters":{"text":"=const prompt = `Eres un asistente que analiza solicitudes de reportes de gastos y devuelve un objeto JSON con el tipo de reporte y la información necesaria para consultarlo en la base de datos NocoDB.\n\nCONTEXTO:\n- fecha actual {{ $now.toISO() }}\n- Mensaje: {{ $('SET MSG').item.json.mensaje_respuesta }}\n- Moneda: Soles (S/)\n\nTu tarea es identificar si el usuario quiere un reporte de:\n- **hoy**\n- **ayer**\n- **semana**\n- **mes**\n- o **ninguno**, si no está claro.\n\nEl resultado debe ser **siempre** un JSON con la siguiente estructura:\n\n{\n  \"reporte\": \"hoy\" | \"ayer\" | \"semana\" | \"mes\" | \"ninguno\",\n  \"descripcion\": \"breve resumen de lo que el usuario pidió\"\n}`;","schemaType":"fromJson","jsonSchemaExample":"{\n  \"reporte\": \"semana\",\n  \"descripcion\": \"El usuario pidió el reporte de gastos de la semana\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-608,1168],"id":"a8472ccb-cd36-4b8e-8b1f-cec11f7092ea","name":"reporteador"},{"parameters":{"jsCode":"// Obtener el tipo de reporte desde el agente\nconst reporte = $json.output?.reporte || 'ninguno';\n\n// Teléfono del usuario (ajusta según tu flujo)\nconst telefono =$('set fields').first().json._validacion.numeroValidado;\n\n// Función para formatear fechas (YYYY-MM-DD)\nfunction formatDate(date) {\n  return date.toISOString().split('T')[0];\n}\n\nconst hoy = new Date();\nlet fechaInicio, fechaFin;\n\nswitch (reporte) {\n  case 'hoy':\n    fechaInicio = formatDate(hoy);\n    fechaFin = formatDate(hoy);\n    break;\n  case 'ayer':\n    const ayer = new Date(hoy);\n    ayer.setDate(hoy.getDate() - 1);\n    fechaInicio = formatDate(ayer);\n    fechaFin = formatDate(ayer);\n    break;\n  case 'semana':\n    const inicioSemana = new Date(hoy);\n    inicioSemana.setDate(hoy.getDate() - hoy.getDay());\n    fechaInicio = formatDate(inicioSemana);\n    fechaFin = formatDate(hoy);\n    break;\n  case 'mes':\n    const inicioMes = new Date(hoy.getFullYear(), hoy.getMonth(), 1);\n    fechaInicio = formatDate(inicioMes);\n    fechaFin = formatDate(hoy);\n    break;\n  default:\n    fechaInicio = null;\n    fechaFin = null;\n}\n\n// Construir el WHERE según lo que pida el usuario\nlet where = `(telefono,eq,${telefono})`;\n\nif (fechaInicio && fechaFin) {\n  where += `~and(fecha,ge,exactDate,${fechaInicio})~and(fecha,le,exactDate,${fechaFin})`;\n}\n\n// Retornar solo el WHERE\nreturn [{\n  json: {\n    ...$json,\n    where\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,1232],"id":"25047938-0b53-43e1-9db4-f1ad2967e841","name":"Code in JavaScript2"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","options":{"where":"={{ $json.where }}"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[224,1232],"id":"38166a98-0f3c-477e-9a83-379999342dde","name":"Get many rows","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}}],"connections":{"tipo dato":{"main":[[{"node":"get audio","type":"main","index":0}],[],[{"node":"normalize txt","type":"main","index":0}],[]]},"get audio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"audio normalizado","type":"main","index":0}]]},"audio normalizado":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"recibe whatsapp":{"main":[[{"node":"whitelist1","type":"main","index":0}]]},"whitelist1":{"main":[[{"node":"set fields","type":"main","index":0}]]},"filtro":{"main":[[{"node":"tipo dato","type":"main","index":0}]]},"normalize txt":{"main":[[{"node":"SET MSG","type":"main","index":0}]]},"set fields":{"main":[[{"node":"filtro","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"agent router","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"agent router","type":"ai_outputParser","index":0}]]},"agent router":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code saludo","type":"main","index":0}],[{"node":"Code ayuda","type":"main","index":0}],[{"node":"Code aclarar","type":"main","index":0}],[{"node":"get pendientes","type":"main","index":0}],[{"node":"get pendientes1","type":"main","index":0}],[{"node":"Information Extractor","type":"main","index":0}],[{"node":"reporteador","type":"main","index":0}]]},"Code saludo":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code ayuda":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"respuesta":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"SET MSG":{"main":[[{"node":"agent router","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"crear gasto","type":"main","index":0}]]},"respuesta1":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API4","type":"main","index":0}]]},"crear gasto":{"main":[[{"node":"respuesta1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0},{"node":"reporteador","type":"ai_languageModel","index":0}]]},"get pendientes":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code aclarar":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"filtro1":{"main":[[{"node":"actualizar gasto","type":"main","index":0}],[{"node":"Code aclarar","type":"main","index":0}]]},"get pendientes1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"filtro2":{"main":[[{"node":"borrar gasto","type":"main","index":0}],[{"node":"Code aclarar","type":"main","index":0}]]},"actualizar gasto":{"main":[[{"node":"Code confirmacion","type":"main","index":0}]]},"borrar gasto":{"main":[[{"node":"Code cancelacion","type":"main","index":0}]]},"Code confirmacion":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code cancelacion":{"main":[[{"node":"respuesta","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"filtro2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"filtro1","type":"main","index":0}]]},"reporteador":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Get many rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"recibe whatsapp":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.10.0","content-length":"947","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"agente financiero","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"ACC6731136E9194D63EFECCA43879228","senderLid":"138748985655322@lid"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"conversation":"Reporte de gastos de ayer","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"tODnfE1yAWtVmg==","senderTimestamp":"1760620496","recipientKeyHash":"hxb6AZWoY+oQ9A==","recipientTimestamp":"1760275626"},"deviceListMetadataVersion":2,"messageSecret":"ZaoQVshkUfls4De7e1zHHmV7DFtloFzkXjAk68FedLs="}},"messageType":"conversation","messageTimestamp":1760658897,"instanceId":"1601078f-45da-46b5-9a83-c49b4143f3e9","source":"android"},"destination":"https://ene8w.heleo.com.pe/webhook/recepcionwp","date_time":"2025-10-16T20:54:57.697Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evoapi.heleo.com.pe","apikey":"D5FEEC92EABF-4073-94D9-613BF0CB489B"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/recepcionwp","executionMode":"production"}}]},"versionId":"34c321ec-927c-48eb-b11a-9f6125be47b6","triggerCount":1,"shared":[{"createdAt":"2025-10-14T16:25:20.664Z","updatedAt":"2025-10-14T16:25:20.664Z","role":"workflow:owner","workflowId":"4Q3wGkLcFfiFdYuQ","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}