registro-de-gastos-oOMp2kItjb4tyZGJ.json
{"createdAt":"2025-09-02T21:39:07.953Z","updatedAt":"2025-10-05T16:42:19.353Z","id":"oOMp2kItjb4tyZGJ","name":"REGISTRO DE GASTOS","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"whitelist","height":240,"width":1140},"type":"n8n-nodes-base.stickyNote","position":[-3776,608],"typeVersion":1,"id":"e5c74fbb-9c00-4bcd-bb52-cf2f109a4c8d","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6970faf6-9d4f-4371-b00a-ba867e978121"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81257730-8d8d-4b11-bae1-f1b01ab09856","leftValue":"={{ $json.message.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51f35c3d-9e46-4531-b5db-0a3e6a4b4211","leftValue":"={{ $json.message.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1872,640],"id":"99ef8a96-2ee4-42c4-b846-8bed6024e528","name":"tipo dato"},{"parameters":{"assignments":{"assignments":[{"id":"e3d8e45d-6ec7-40c7-8ad0-cf6822baaf0b","name":"instance.server_url","value":"={{ $('recibe whatsapp').item.json.body.server_url }}","type":"string"},{"id":"c94fd657-20eb-4d75-87c1-9aad99dd8068","name":"instance.nombre","value":"={{ $('recibe whatsapp').item.json.body.instance }}","type":"string"},{"id":"af61c2a0-54a0-4a34-b6eb-9ccbfadda86b","name":"instance.apikey","value":"={{ $('recibe whatsapp').item.json.body.apikey }}","type":"string"},{"id":"ffc263bd-0a90-4f50-84f1-e3f87474eb01","name":"message.from","value":"={{ $('recibe whatsapp').item.json.body.data.key.remoteJid }}\n","type":"string"},{"id":"65c29034-84d4-4168-bbf0-267b0553d7d3","name":"message.id","value":"={{ $('recibe whatsapp').item.json.body.data.key.id }}","type":"string"},{"id":"9f458742-29f6-4ff8-b54d-537e3bd5bef0","name":"message.content_type","value":"={{ $('recibe whatsapp').item.json.body.data.message.extendedTextMessage ? 'text': '' }}{{ $('recibe whatsapp').item.json.body.data.message.conversation ? 'text': '' }}{{ $('recibe whatsapp').item.json.body.data.message.audioMessage ? 'audio': '' }}{{ $('recibe whatsapp').item.json.body.data.message.imageMessage ? 'image': '' }}","type":"string"},{"id":"2b442264-0eb6-4cb2-ab60-7e7953ddc67c","name":"message.content","value":"={{ $('recibe whatsapp').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('recibe whatsapp').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('recibe whatsapp').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"25250918-29b3-4e28-9b97-dd589825dc4e","name":"message.date","value":"={{ $('recibe whatsapp').item.json.body.date_time.toDateTime().toISO() }}","type":"string"},{"id":"ca801f80-75f8-4c0a-be9b-af56dd61f65a","name":"user.name","value":"={{ $('recibe whatsapp').item.json.body.data.pushName }}","type":"string"},{"id":"84f14250-c750-45ae-88a6-a04613c57de6","name":"keyapi.deepgram","value":"87347040d82c105d3f47de19f7582ae2bf341754","type":"string"},{"id":"9bc1e058-2a3f-4bc2-af42-20f2839e258c","name":"keyapi.llamacloud","value":"llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2816,656],"id":"85c7c67e-6e45-4a47-9bb5-c082f5d43a06","name":"set fields"},{"parameters":{"method":"POST","url":"={{ $json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1296,272],"id":"952ab33f-becf-4c5e-a0d2-ee19c043422e","name":"get audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1088,272],"id":"209d4b51-45e5-40f8-9419-2fe790c62233","name":"Convert audio"},{"parameters":{"method":"POST","url":"https://api.deepgram.com/v1/listen","sendQuery":true,"queryParameters":{"parameters":[{"name":"punctuate","value":"true"},{"name":"model","value":"nova-2"},{"name":"language","value":"es-419"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Token {{ $('set fields').item.json.deepgram.keyapi }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1888,192],"id":"2ce98882-c5b9-4321-87ec-d4915f872129","name":"transcripcion","disabled":true},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,272],"id":"974454e5-b62c-44de-b66a-daf19d2b516d","name":"groq transcripción","credentials":{"httpHeaderAuth":{"id":"WXTd1sbJsaDRm6Ik","name":"groq api n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"08ce01c6-96e0-4e0b-aa5d-11ee86a30d27","name":"markdown","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,272],"id":"a77135ea-3011-4fcf-a780-5a00d14cfda2","name":"audio normalizado"},{"parameters":{"method":"POST","url":"={{ $json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,640],"id":"74432bb7-696f-4fb6-9638-3315f6298d28","name":"get image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1392,640],"id":"99708e5a-4dde-44a9-9f0c-d162b37d4325","name":"Convert image"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').item.json.instance.nombre }}","remoteJid":"={{ $('set fields').item.json.message.from }}","messageId":"={{ $('set fields').item.json.message.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,672],"id":"b4e51b91-9f87-4428-86c2-717ea557366b","name":"Evolution API2","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').item.json.instance.nombre }}","remoteJid":"={{ $('set fields').item.json.message.from }}","messageText":"=Enviaste este cpe {{ JSON.stringify($('Formatear datos').item.json.output) }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[576,672],"id":"875c3c6a-4ded-4884-9274-97799634d9f4","name":"Evolution API3","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"content":"## transcribir audio \n","height":340,"width":1520,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1984,144],"typeVersion":1,"id":"ecfd17bb-c505-4b6a-9bac-5386bf08adad","name":"Sticky Note1"},{"parameters":{"content":"## extraer datos de factura de una imagen\n","height":400,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1984,512],"typeVersion":1,"id":"273aad60-1279-45a8-ba86-236c46fac37a","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"recepcionwp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3712,672],"id":"ee184e05-3078-4c69-aa26-22e4b409241f","name":"recibe whatsapp","webhookId":"06b7fa1d-2797-4efe-a859-1023933c4348"},{"parameters":{"content":"## extraer datos de factura de un pdf\n","height":440,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1984,928],"typeVersion":1,"id":"5d862d88-3172-4f55-8c15-178949c21759","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"={{ $json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $json.instance.nombre }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1552,1040],"id":"ea6552de-0e78-4e00-9063-f367115445fd","name":"get pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1392,1040],"id":"bb268b90-18a7-4573-b779-1706d0068f70","name":"guardar pdf"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,1040],"id":"4755a4a8-722e-489a-8e13-fad690c30bbb","name":"subir pdf"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,1040],"id":"81105d02-25b8-4a46-9334-df6d8a733268","name":"verificar estado"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"966ecb8a-3b0b-4a69-84c9-eddf3eff7318"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6e2cf8d-ae0e-47eb-adfd-1d9321b75dab","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-832,1040],"id":"5757963a-548d-4e81-b02e-d61bbfb1af47","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,1152],"id":"9088c1b5-ebf2-4658-ae56-fdd12c14b1be","name":"Wait","webhookId":"5afbb272-ec40-4afc-aab1-fc4e60635b1e"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,960],"id":"d6ce2c30-7482-4969-8b17-b85f1d13af03","name":"HTTP Request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"966ecb8a-3b0b-4a69-84c9-eddf3eff7318"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6e2cf8d-ae0e-47eb-adfd-1d9321b75dab","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-816,640],"id":"eadf738c-b0f3-4d92-98d7-042faa92e692","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-640,704],"id":"565766e4-e2a1-4e02-8e58-bed1c6e38c14","name":"Wait1","webhookId":"5afbb272-ec40-4afc-aab1-fc4e60635b1e"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,528],"id":"4d571666-19ec-43fb-bfa2-f7cde97e0017","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,640],"id":"b2136947-ad12-4efa-8d7f-8575a9af7607","name":"subir imagen"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json.keyapi.llamacloud }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-992,640],"id":"359b4d36-ad6d-4bd1-8e32-6d1c1bad82d8","name":"verificar estado img"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un asistente que extrae información de gastos personales a partir de una transcripción de audio.\n\nLa fecha actual es {{$now}}.\n\nA partir del texto proporcionado, genera un objeto JSON con los siguientes campos:\n\n- descripcion: ¿En qué se gastó?\n- monto: ¿Cuánto se gastó? Solo el número, sin símbolo de moneda.\n- moneda: Moneda utilizada (por ejemplo, \"PEN\", \"USD\").\n- fecha: Fecha del gasto (si no se menciona, usa la fecha actual).\n- metodo_pago: Forma de pago (efectivo, tarjeta, transferencia, etc.).\n- categoria: Categoría general del gasto (alimentación, transporte, salud, etc.).\n- fuente: Medio por el cual se registró (audio, imagen, PDF, etc.).\n- notas: Cualquier información adicional útil.\n\nYou must format your output as a JSON value that adheres to a given \"JSON Schema\" instance.\n\n\"JSON Schema\" is a declarative language that allows you to annotate and validate JSON documents.\n\nYour output will be parsed and type-checked according to the provided schema instance, so make sure all fields in your output match the schema exactly and there are no trailing commas!\n\nHere is the JSON Schema instance your output must adhere to. Include the enclosing markdown codeblock:\n```json\n{\"type\":\"object\",\"properties\":{\"descripcion\":{\"type\":\"string\"},\"monto\":{\"type\":\"number\"},\"fecha\":{\"type\":\"string\"},\"metodo_pago\":{\"type\":\"string\"},\"categoria\":{\"type\":\"string\"}},\"additionalProperties\":false,\"$schema\":\"http://json-schema.org/draft-07/schema#\"}\n```\n\nEjemplo de salida:\n\n```json\n{\n  \"descripcion\": \"compra de gasolina\",\n  \"monto\": 80.50,\n  \"moneda\": \"PEN\",\n  \"fecha\": \"2025-05-06\",\n  \"metodo_pago\": \"tarjeta\",\n  \"categoria\": \"transporte\",\n  \"fuente\": \"audio\",\n  \"notas\": null\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-464,0],"id":"50cea11c-510c-4f79-a392-67974a8d4c1a","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n  \"descripcion\": \"compra de gasolina\",\n  \"monto\": 80.50,\n  \"moneda\": \"PEN\",\n  \"fecha\": \"2025-05-06\",\n  \"metodo_pago\": \"tarjeta\",\n  \"categoria\": \"transporte\",\n  \"fuente\": \"audio\",\n  \"notas\": null\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[160,880],"id":"e1487df1-fc89-4594-9615-c151312b6e4a","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un asistente que extrae información de gastos personales a partir un texto.\n\nLa fecha actual es {{$now}}.\n\nA partir del texto proporcionado, genera un objeto JSON con los siguientes campos:\n\n- descripcion: ¿En qué se gastó?\n- monto: ¿Cuánto se gastó? Solo el número, sin símbolo de moneda.\n- moneda: Moneda utilizada (si no se menciona, usa \"PEN\").\n- fecha: Fecha del gasto (si no se menciona, usa la fecha actual en formato DD/MM/AAAA).\n- metodo_pago: Forma de pago (efectivo, tarjeta, transferencia, etc.).\n- categoria: Categoría general del gasto (alimentación, transporte, salud, etc.).\n- fuente: Medio por el cual se registró (audio, imagen, PDF, etc.).\n- notas: Cualquier información adicional útil.\n\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,640],"id":"f38893ca-c07f-40bf-a306-4b562459a4f0","name":"Formatear datos"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[16,880],"id":"62fdb325-3a7f-4457-929b-83a5e2547ccd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3152,1376],"id":"938cc528-5c16-43c0-a209-9f7ca102081e","name":"Wait2","webhookId":"74ff0a92-d245-4c95-b2ad-f6e536830476"},{"parameters":{"conversationKey":"={{ $json.message.from }}","messageField":"={{ $json.message.content }}"},"type":"n8n-nodes-message-buffer.messageBuffer","typeVersion":1,"position":[-3392,1200],"id":"237ac4ba-751c-4d94-a503-55f4f7d3ae2e","name":"Message Buffer","credentials":{"redis":{"id":"ina424WXS84AZdi5","name":"Redis account"}}},{"parameters":{"content":"## seguridad","height":640,"width":576},"type":"n8n-nodes-base.stickyNote","position":[-3488,976],"typeVersion":1,"id":"6762d0a7-a060-41df-9e5b-53f667a47a25","name":"Sticky Note4"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mhbct5pzxzep05y","options":{"fields":["celular"]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-3440,672],"id":"1940ff36-cdff-42ae-9250-4f9866f8e95d","name":"whitelist1","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $input.all().map(item => item.json.celular).includes($('recibe whatsapp').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','')) }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3136,672],"id":"c61761ed-0d9e-4b5b-be8c-63c4c1548b22","name":"filtro"},{"parameters":{"chatId":"1855348433","text":"={{ $json.consolidatedMessage }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3120,1120],"id":"6c6c913d-9b90-4837-8a94-69f17cf87b47","name":"Send a text message","webhookId":"103c3300-86f7-43a9-b72d-26412405fb8a","credentials":{"telegramApi":{"id":"JapnsteBcRN5728Q","name":"Telegram account 1855348433"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-944,-64],"id":"4b65b10a-33b2-4081-974b-66f74bc29260","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"tipo dato":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"get image","type":"main","index":0}],[],[{"node":"get pdf","type":"main","index":0}]]},"set fields":{"main":[[{"node":"tipo dato","type":"main","index":0}]]},"get audio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"audio normalizado","type":"main","index":0}]]},"audio normalizado":{"main":[[{"node":"Formatear datos","type":"main","index":0}]]},"get image":{"main":[[{"node":"Convert image","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"subir imagen","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"recibe whatsapp":{"main":[[{"node":"whitelist1","type":"main","index":0}]]},"get pdf":{"main":[[{"node":"guardar pdf","type":"main","index":0}]]},"guardar pdf":{"main":[[{"node":"subir pdf","type":"main","index":0}]]},"subir pdf":{"main":[[{"node":"verificar estado","type":"main","index":0}]]},"verificar estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"verificar estado","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Formatear datos","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"verificar estado img","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Formatear datos","type":"main","index":0}]]},"subir imagen":{"main":[[{"node":"verificar estado img","type":"main","index":0}]]},"verificar estado img":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Formatear datos","type":"ai_outputParser","index":0}]]},"Formatear datos":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Formatear datos","type":"ai_languageModel","index":0}]]},"Wait2":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"Message Buffer":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"whitelist1":{"main":[[{"node":"filtro","type":"main","index":0}]]},"filtro":{"main":[[{"node":"set fields","type":"main","index":0}]]},"Send a text message":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"recibe whatsapp":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.10.0","content-length":"6383","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"agente financiero","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"AC3A534D9CB2623142EFDDE9DF902264","senderLid":"138748985655322@lid"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/559818777_1525539725284618_1040751479352679754_n.enc?ccb=11-4&oh=01_Q5Aa2gEiYB6MGBA2q-BlToVpL48_p6Di7firLl7q9AwK0hXKww&oe=690A0646&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"5DyRu8AVumRE2A8NZmgAKyavLIj54+gSHrT+VBxQ8cE=","fileLength":"3290","seconds":1,"ptt":true,"mediaKey":"QX/id2OaFVMFg4shhE31DrR58Bk2iQn4Bj0qffQqmoY=","fileEncSha256":"/SE6EhhpX+P2Qenm5F3BtH7SK6iLshQBL6uGDZR9C4E=","directPath":"/v/t62.7117-24/559818777_1525539725284618_1040751479352679754_n.enc?ccb=11-4&oh=01_Q5Aa2gEiYB6MGBA2q-BlToVpL48_p6Di7firLl7q9AwK0hXKww&oe=690A0646&_nc_sid=5e03e0","mediaKeyTimestamp":"1759681954","contextInfo":{"entryPointConversionSource":"global_search_new_chat","entryPointConversionApp":"whatsapp","entryPointConversionDelaySeconds":5},"waveform":"AAAGISQJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcRLkhTV1FKREE8Lx8JAAAAAAAAAAAAAAAAAAAAAAAAAA=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"XpIuZy875nWuMw==","senderTimestamp":"1759607364","recipientKeyHash":"hxb6AZWoY+oQ9A==","recipientTimestamp":"1758972695"},"deviceListMetadataVersion":2,"messageSecret":"ig7QVMxUsB5K5fZg08QOoOHPCT6CPhoSWnyPRXZSMCk="},"base64":"T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAA6GABAAAAAAAAAAAAAgAAADTYCYIUXubg/wPp2fD/R/8z/yro6fgCAgJLhgcIBwcUC+TBNuzFgAfJcifhROpQB8l5yMlXwAfJecjJV8CAArIoAyZyhM6xsYGWhA7313RjeIu3RfW5SU64aMZ28YkQ9N96zhVyYQsvwS3d+yclneLpusVJHm7AS4YmJh0jKYn38TIVfmVLcP0C96iZYI9OgSzJ0Zbb/oGBGLP7aXFCMocaD04agRZfLqIkndVtmkYzCjuEeCX/Drayi/EkdKjx0nlaZGLZpaDdNbGN4ILB/cnhRHi6If4gk3sPsJ9821DOyD/Qk5kvwImakz35FQ4lgVVoTwlES/s+NyZPTnEfYOMXsZxsDFPln3pYiXW592lsGeJBnxsH39FJ0yNBrjEvFJNPFSoGldkcEV2YwBpceqjG9cuJJzjOzAgJBYuXnC3YBBx47NYMjq7SFxGKwUm/U2Z6+5OsYTHnJTZRtJ5LhiUpJiAfiTJgjlgCTD3LBjWWyysV+7TanTQPOW6aw+MX7gHLVoWLrUqMiID/JFA+21EhcJc1QzxI9NSD/EGY+SUcpNqdNqh48/CngsZv8N79qMNQgdoP02micZSyzKO0lDISu1tWn5vX8piHJaV6UXNVay9naYb7a4AtS5lNqLglMxvRBZ81dQUGtAvZg8deKxIkt1t2qwrNkQRoncQ+s8vx8aQIft5PgqwPwvN8x3InreYHH7uISmKA9Act71UjA+g7s8WZT75usM/WIkmK04LqXKiiwvnlnDEfCHutcUuGHywqLCsEnNfFChwiKe1cUo1l2hVfMpk4Mtx5sFM2sK5LLAEciTJhsQ5NvbTKinNezhoS+HTaxg2C0ujIqnJRUc0SncoeV9It7d/ix9uEwmCJMnzcTOoGWhjJ3aVkd0uw1pgV/WMjFp2MDj1B6L9ADzj3yNb0ZLPYabaJPu4hUPowKqkywpKnh/eewjMwFvKRZ4HpQYlfCoVKFKA+Ina6DcvYHRCZKImSfoDe5Gro4YmVj/sYUpT6Dt+n+tASfiI3zeXfTJ2W5vpRuAXfciSpOeiJjY1pFUMloIk27FTAOEu9lQb86Uc0aVHCofhGrb7YkxhjIKbrhSoWUu1g+gXOwEuGJCskJCUvQ78Zhx5Qu1pJEEL+/c8xKs+o7J8Pu/MxAn/AlCMKFMIu9ECJKnHB9ANw3QOuj3aJK+Y1cGCQx+Bm3kIzTYURt2v97/k3AH8s2rtMHJYMLzl8DCxHrR2jrFP+Dh9fMmVnPOKGCoSqZFCpNYlH8GxvvNLILVCaaIAI+WxdgpYI6u87JTAdUVffTiwa42bEMziJixYm7jVNLVYdQLv32AtvsmX3SuI4OthmdWd2xJyy9AmoVkqwcvTs5IRjVSzPPGwEm/Mmy1wHqnDEurZViNe27iY+2OZvuuu/LLvT7BaZIaKHS4YmJiQcJQQtJadLkaam4TziTfind7dRcjtEuuNbQyw2FWBW2mFf0Tiq899gK3HWXkx81s/DAjAOJ8Ccc9nJQfMsTrVH3MQrF42Gt7puLFomnvcrlvc+Kk33J2vPmGX3w7+6IszessO40q73FCofiD/ODM7Q1kArlvc455puOjVRu4K92w15gPjtgQc3dr8z11LAK4lJXwPhbY+XA+PsrNP3zGz2bc+iEqsn1lv309+395pPd+5jkCuW/eq102kF6Fs3eG0/StQzupOQzAoklrLwfUrUSsfCwEuGIiEiKy8rlvf/uA2LBrXhrQlYuaw4Ioqs+YD3Td4PohZK0jqFXHiQLUQ2WHB79yI9RheVh8234lWDZESgAtGS+OwGS4zF3rHYKzgYoIToJqUa1KBnWoy7xp1gcU4oIVwiWHLCFX7vqxakQIfzdtO9dnaw4zDu3rkeXx5fhYrGad5zgt8WHmRLyHAYDoa7f58yutJMU9CIBYJfCpuejBxD4FXayyRMMnAtmmpNzG3ecRJckg8wkeCq8gJGDYnR7uOajCYXgIhk/Ll7SPSlSLFaMs6dXzwDfo48DFLnmDgZVGKwhV5Bl8u8YMgFFN+w0EuGMiswQDqIxeD/UiBJV5PBn9cRA29bUjwCrrQc3KIhdOK+LcUSGvS65YSLkNY4xE45T3GfWWkpKIDspcIobfJq/7aty6nYzQuLXYNxezY1g+cVdkPLzV5Fd/ClxMuCPe3IUcCBiGYR6swxY58n8nisM7/VvgW9MXK0yCijLQYCBNVWvHqGOLUFgCmn1IqiPRqKxGCkNxkl7f1H/HcVhPGoFBs53nQ9T+wMaczvhw2KNxxJm4r/UtOyV8VdtTv9uaN56I4TCoPZkrzzxc4YHtMyrBqwpKral5wJiOKXdQeu87aOBr5Fa6F8aaKReUWgsS/np+/pIgoPrpopnwkzNj9m+MPE8JegDfw47Iwf86PuMmjDPquoTniKD5bDCjPNFKvl13Ogzs0TtGB7rWqikT7LiJq769lbGDLracxrZH9L6BNzuDCQS4Y3MywxMqsq8aaDuDGS6XggGWJN9SIrm3syXiSiC1zmF32qRJaeDO2FV1z2JGz3fFwJRKzXeF1JYfGlWJCoHWfDNZFZBUMGxQv1wg6MeMsY9R0fPc21WhKinoUxDVhyDByAAVD9yqFQ6b8nqFzHuBCphYCQj+7LXzmNLOk4hA9ot26BjbmYyTx64PGt3X8ifrpX/ZtfaGncvL0BgKjWuuLRzkdXMryGtiEzvMvPWyomJkwcPC3Y84N+xzaWUZKm6NuC1MPG0++dlkTnKaCfk+S+8719n+vxuIW33HYoANAK+mzwQAPUgC9nJlQ2ctB0oSnqjSlCTFG+1OxYbVWFwJ8TqQCKOPn2jZMug0KWLr2bycYKsDk7nIvQhevqdRXPGIWKRfppy986iBzdGVmf5fCAS4YuMjw2KZ6qoR2N+GDFW3mxxR9BvIp48XFTozYIXiaTtRrsuDIrqhmh9q31W4WaaDHI2mujjj0wfhCHS1D10xeVUZqjtvo8qgnoS5vQ/2oSUSN4cu3LoSWe3mqrlAPT+ES6nuNVA6G8m0/EpejRANf+A9fyQhL0O8vH7otgD0eE/AeZNqRWl8eId7kvqZo8xatgq+l2BfE25kJBBqP1CVXBoKUkfmUdiwsIgzabtMOZtnOOCN37z5bll1q8bIKMDFxgSolrZSnU3VnSDzLnSl74AYgo3D2pWozZYOxzVcb8HP3euwvYmHu3xOoxV/WKi0FHdGSgeVGb9onpvq1Cukb2gdx0gpBA4hbxic+SKiMdORMUKFzGqO0Mee7IJOWJZvgNWXYMSVwCS4YpJSUoIIpb9SeYmhbdYxjAgVRW+6hZCUyxswVwJk8yyHtrUiSu+IhG0zxzJuegiexgywgByKqQcp2eYqKNseeTFmJYNQsOvALHFUZZKahcb9FrQDCW9j0J3yR6RrFTU9y4iWNzW8bPrAzBGla5xKRE8HmKhOUYaYAtT9t5DufStVfEknxApbb+/m6o7sOdwHo6IWaMawEtdaT7gA5Poft3LUxsxGAYIiJCC9b0ETlmgB/UKGHQ1ZD3ubSlDaCdG7EtaTrMkh7wCxqgyVobFgQbTGhWRiaJeiZGv0x/4tK6clJ0kcY0gEuGJiQnJCYszyAJn2xCx13zeDnCnZaR/ILRqOv8gMY1SAKVHVaUkmRTaqupsitx2BmIckqwzWqU+fzR3qGl7V/cy77fubSJtZU+UJraoByfeCuj9eg+r2jnOhjNnkz2EIX2fsoSbdHd5En5mN9CaGISyJFQqKSggC1P3D05Qnti8X/YjNQqwAS99MzVwXskhqhOasg9cSk4OewbUC1471PNkJhI6ano7nm9rzba+tKtKS5yc8V9ssXNmCMuiceGPNSALVCY5gYgE7L8VIGkQxpKn/IzsJDodzjo6jF4NH+4YukHJLKsFRQMS4YoJywmKi0Vm2EDXJ92c4lghkTBRKKS48qWFK6XLcQ+17mZkIMsDlD96DnzBWArgE9QGZcq/CpsSrBN2pOmYj8sJ20hIW1256F83IaEaZLg1ca+i2Qrcd2M5xnDMjmTgMHxsd7wYvv8WO9puSVeat7Z87pjFLd4tlG6L4MfCRdLYCsvZsqKtItrwJz/Yme2QcMQVM2kn1oa/sn4o3+xRP9vy3q0FYgWKcELxoZyOP8Dt+ZQIGZuf71AU7PARHGFy2fwX8T6RMoB70I9yXdq+VuUKyymldw7b2INrjnx/WGbc7hxLt3IRmic18l9FZ+0n7ajqrWF03BLBksGSwQ="},"contextInfo":{"entryPointConversionSource":"global_search_new_chat","entryPointConversionApp":"whatsapp","entryPointConversionDelaySeconds":5},"messageType":"audioMessage","messageTimestamp":1759681954,"instanceId":"1601078f-45da-46b5-9a83-c49b4143f3e9","source":"android"},"destination":"https://ene8w.heleo.com.pe/webhook/recepcionwp","date_time":"2025-10-05T13:32:35.345Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evoapi.heleo.com.pe","apikey":"D5FEEC92EABF-4073-94D9-613BF0CB489B"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/recepcionwp","executionMode":"production"}}]},"versionId":"b29fa648-c81a-424a-a073-61e8ccaf0596","triggerCount":1,"shared":[{"createdAt":"2025-09-02T21:39:07.953Z","updatedAt":"2025-09-02T21:39:07.953Z","role":"workflow:owner","workflowId":"oOMp2kItjb4tyZGJ","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}