registro-de-gastos-oOMp2kItjb4tyZGJ.json
{"createdAt":"2025-09-02T21:39:07.953Z","updatedAt":"2025-10-12T14:21:22.304Z","id":"oOMp2kItjb4tyZGJ","name":"REGISTRO DE GASTOS","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"whitelist","height":240,"width":1364},"type":"n8n-nodes-base.stickyNote","position":[-3776,608],"typeVersion":1,"id":"e5c74fbb-9c00-4bcd-bb52-cf2f109a4c8d","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"6970faf6-9d4f-4371-b00a-ba867e978121"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81257730-8d8d-4b11-bae1-f1b01ab09856","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51f35c3d-9e46-4531-b5db-0a3e6a4b4211","leftValue":"={{ $json[\"message.content_type\"] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2224,640],"id":"99ef8a96-2ee4-42c4-b846-8bed6024e528","name":"tipo dato"},{"parameters":{"method":"POST","url":"={{ $json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json[\"message.id\"] }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,32],"id":"952ab33f-becf-4c5e-a0d2-ee19c043422e","name":"get audio"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-688,32],"id":"209d4b51-45e5-40f8-9419-2fe790c62233","name":"Convert audio"},{"parameters":{"method":"POST","url":"https://api.deepgram.com/v1/listen","sendQuery":true,"queryParameters":{"parameters":[{"name":"punctuate","value":"true"},{"name":"model","value":"nova-2"},{"name":"language","value":"es-419"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Token {{ $('set fields').item.json.deepgram.keyapi }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,-272],"id":"2ce98882-c5b9-4321-87ec-d4915f872129","name":"transcripcion","disabled":true},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,32],"id":"974454e5-b62c-44de-b66a-daf19d2b516d","name":"groq transcripción","credentials":{"httpHeaderAuth":{"id":"8PlaFYoc9ho8EcnX","name":"groq api n8n"}}},{"parameters":{"assignments":{"assignments":[{"id":"08ce01c6-96e0-4e0b-aa5d-11ee86a30d27","name":"markdown","value":"={{ $json.text }}","type":"string"},{"id":"38457a25-d703-4548-b19b-a8caa0ca673c","name":"message.from","value":"={{ $('set fields').item.json['message.from'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,32],"id":"a77135ea-3011-4fcf-a780-5a00d14cfda2","name":"audio normalizado"},{"parameters":{"method":"POST","url":"={{ $json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,400],"id":"74432bb7-696f-4fb6-9638-3315f6298d28","name":"get image"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-992,400],"id":"99708e5a-4dde-44a9-9f0c-d162b37d4325","name":"Convert image"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageId":"={{ $('set fields').item.json['message.id'] }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1536,656],"id":"b4e51b91-9f87-4428-86c2-717ea557366b","name":"Evolution API2","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('set fields').item.json['instance.nombre'] }}","remoteJid":"={{ $('set fields').item.json['message.from'] }}","messageText":"=Enviaste este cpe {{ JSON.stringify($('Formatear datos').item.json.output) }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1728,656],"id":"875c3c6a-4ded-4884-9274-97799634d9f4","name":"Evolution API3","credentials":{"evolutionApi":{"id":"N4pL7HiqWBppbj8r","name":"Evolution account"}}},{"parameters":{"content":"## transcribir audio \n","height":340,"width":1520,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1504,-96],"typeVersion":1,"id":"ecfd17bb-c505-4b6a-9bac-5386bf08adad","name":"Sticky Note1"},{"parameters":{"content":"## extraer datos de factura de una imagen\n","height":400,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1504,288],"typeVersion":1,"id":"273aad60-1279-45a8-ba86-236c46fac37a","name":"Sticky Note2"},{"parameters":{"httpMethod":"POST","path":"recepcionwp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3712,672],"id":"ee184e05-3078-4c69-aa26-22e4b409241f","name":"recibe whatsapp","webhookId":"06b7fa1d-2797-4efe-a859-1023933c4348"},{"parameters":{"content":"## extraer datos de factura de un pdf\n","height":440,"width":1520,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1504,768],"typeVersion":1,"id":"5d862d88-3172-4f55-8c15-178949c21759","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"={{ $json[\"instance.server_url\"] }}/chat/getBase64FromMediaMessage/{{ $json[\"instance.nombre\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json[\"instance.apikey\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $json.message.id }}"},{"name":"convertToMp4","value":"={{Boolean(false)}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1152,912],"id":"ea6552de-0e78-4e00-9063-f367115445fd","name":"get pdf"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-992,912],"id":"bb268b90-18a7-4573-b779-1706d0068f70","name":"guardar pdf"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $('set fields').item.json['keyapi.llamacloud'] }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,912],"id":"4755a4a8-722e-489a-8e13-fad690c30bbb","name":"subir pdf"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json['keyapi.llamacloud'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,912],"id":"81105d02-25b8-4a46-9334-df6d8a733268","name":"verificar estado"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"966ecb8a-3b0b-4a69-84c9-eddf3eff7318"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6e2cf8d-ae0e-47eb-adfd-1d9321b75dab","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-432,912],"id":"5757963a-548d-4e81-b02e-d61bbfb1af47","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,1024],"id":"9088c1b5-ebf2-4658-ae56-fdd12c14b1be","name":"Wait","webhookId":"5afbb272-ec40-4afc-aab1-fc4e60635b1e"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json['keyapi.llamacloud'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,832],"id":"d6ce2c30-7482-4969-8b17-b85f1d13af03","name":"HTTP Request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"966ecb8a-3b0b-4a69-84c9-eddf3eff7318"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6e2cf8d-ae0e-47eb-adfd-1d9321b75dab","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-416,400],"id":"eadf738c-b0f3-4d92-98d7-042faa92e692","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-240,464],"id":"565766e4-e2a1-4e02-8e58-bed1c6e38c14","name":"Wait1","webhookId":"5afbb272-ec40-4afc-aab1-fc4e60635b1e"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json['keyapi.llamacloud'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,288],"id":"4d571666-19ec-43fb-bfa2-f7cde97e0017","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $('set fields').item.json['keyapi.llamacloud'] }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-816,400],"id":"b2136947-ad12-4efa-8d7f-8575a9af7607","name":"subir imagen"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('set fields').item.json['keyapi.llamacloud'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-592,400],"id":"359b4d36-ad6d-4bd1-8e32-6d1c1bad82d8","name":"verificar estado img"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un asistente que extrae información de gastos personales a partir de una transcripción de audio.\n\nLa fecha actual es {{$now}}.\n\nA partir del texto proporcionado, genera un objeto JSON con los siguientes campos:\n\n- descripcion: ¿En qué se gastó?\n- monto: ¿Cuánto se gastó? Solo el número, sin símbolo de moneda.\n- moneda: Moneda utilizada (por ejemplo, \"PEN\", \"USD\").\n- fecha: Fecha del gasto (si no se menciona, usa la fecha actual).\n- metodo_pago: Forma de pago (efectivo, tarjeta, transferencia, etc.).\n- categoria: Categoría general del gasto (alimentación, transporte, salud, etc.).\n- fuente: Medio por el cual se registró (audio, imagen, PDF, etc.).\n- notas: Cualquier información adicional útil.\n\nYou must format your output as a JSON value that adheres to a given \"JSON Schema\" instance.\n\n\"JSON Schema\" is a declarative language that allows you to annotate and validate JSON documents.\n\nYour output will be parsed and type-checked according to the provided schema instance, so make sure all fields in your output match the schema exactly and there are no trailing commas!\n\nHere is the JSON Schema instance your output must adhere to. Include the enclosing markdown codeblock:\n```json\n{\"type\":\"object\",\"properties\":{\"descripcion\":{\"type\":\"string\"},\"monto\":{\"type\":\"number\"},\"fecha\":{\"type\":\"string\"},\"metodo_pago\":{\"type\":\"string\"},\"categoria\":{\"type\":\"string\"}},\"additionalProperties\":false,\"$schema\":\"http://json-schema.org/draft-07/schema#\"}\n```\n\nEjemplo de salida:\n\n```json\n{\n  \"descripcion\": \"compra de gasolina\",\n  \"monto\": 80.50,\n  \"moneda\": \"PEN\",\n  \"fecha\": \"2025-05-06\",\n  \"metodo_pago\": \"tarjeta\",\n  \"categoria\": \"transporte\",\n  \"fuente\": \"audio\",\n  \"notas\": null\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[400,-256],"id":"50cea11c-510c-4f79-a392-67974a8d4c1a","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n  \"descripcion\": \"compra de gasolina\",\n  \"monto\": 80.50,\n  \"moneda\": \"PEN\",\n  \"fecha\": \"2025-05-06\",\n  \"metodo_pago\": \"tarjeta\",\n  \"categoria\": \"transporte\",\n  \"fuente\": \"audio\",\n  \"notas\": null\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1296,880],"id":"e1487df1-fc89-4594-9615-c151312b6e4a","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un asistente que extrae información de gastos personales a partir un texto.\n\nLa fecha actual es {{$now}}.\n\nA partir del texto proporcionado, genera un objeto JSON con los siguientes campos:\n\n- descripcion: ¿En qué se gastó?\n- monto: ¿Cuánto se gastó? Solo el número, sin símbolo de moneda.\n- moneda: Moneda utilizada (si no se menciona, usa \"PEN\").\n- fecha: Fecha del gasto (si no se menciona, usa la fecha actual en formato DD/MM/AAAA).\n- metodo_pago: Forma de pago (efectivo, tarjeta, transferencia, etc.).\n- categoria: Categoría general del gasto (alimentación, transporte, salud, etc.).\n- fuente: Medio por el cual se registró (audio, imagen, PDF, etc.).\n- notas: Cualquier información adicional útil.\n\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1152,656],"id":"f38893ca-c07f-40bf-a306-4b562459a4f0","name":"Formatear datos"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1152,880],"id":"62fdb325-3a7f-4457-929b-83a5e2547ccd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,864],"id":"938cc528-5c16-43c0-a209-9f7ca102081e","name":"Wait2","webhookId":"74ff0a92-d245-4c95-b2ad-f6e536830476"},{"parameters":{"conversationKey":"={{ $json.message.from }}","messageField":"={{$json.markdown}}"},"type":"n8n-nodes-message-buffer.messageBuffer","typeVersion":1,"position":[464,672],"id":"237ac4ba-751c-4d94-a503-55f4f7d3ae2e","name":"Message Buffer","credentials":{"redis":{"id":"ina424WXS84AZdi5","name":"Redis account"}}},{"parameters":{"content":"## seguridad","height":640,"width":576},"type":"n8n-nodes-base.stickyNote","position":[352,496],"typeVersion":1,"id":"6762d0a7-a060-41df-9e5b-53f667a47a25","name":"Sticky Note4"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mhbct5pzxzep05y","options":{"fields":["celular"]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-3440,672],"id":"1940ff36-cdff-42ae-9250-4f9866f8e95d","name":"whitelist1","credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4dc86c1f-e498-4094-809d-fe512b7ba1e5","leftValue":"={{ $json._validacion.estaEnListaBlanca }} }}","rightValue":"={{ $input.all().map(item => item.json.celular) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2928,672],"id":"c61761ed-0d9e-4b5b-be8c-63c4c1548b22","name":"filtro"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[128,-256],"id":"4b65b10a-33b2-4081-974b-66f74bc29260","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a31c078a-e8be-4775-8fa4-48874b4e7b14","name":"markdown","value":"={{ $json.message.content }}","type":"string"},{"id":"e4bfbfab-5339-41ed-80c8-e73609f0af36","name":"message.from","value":"={{ $json.message.from }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,688],"id":"d71e5fe8-54aa-49b0-aea7-989b855cccbf","name":"normalize txt"},{"parameters":{"jsCode":"// Obtener el número del webhook (remover @s.whatsapp.net)\nconst numeroWebhook = $('recibe whatsapp').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\n\n// Obtener todos los números de la lista blanca\nconst numerosListaBlanca = $input.all().map(item => item.json.celular);\n\n// Verificar si el número está en la lista blanca\nconst estaEnListaBlanca = numerosListaBlanca.includes(numeroWebhook);\n\n// Obtener datos del webhook\nconst webhookData = $('recibe whatsapp').item.json.body;\nconst messageData = webhookData.data;\n\n// Determinar el tipo de contenido\nlet contentType = '';\nif (messageData.message.extendedTextMessage) contentType = 'text';\nelse if (messageData.message.conversation) contentType = 'text';\nelse if (messageData.message.audioMessage) contentType = 'audio';\nelse if (messageData.message.imageMessage) contentType = 'image';\n\n// Obtener el contenido del mensaje\nlet messageContent = '';\nif (messageData.message.extendedTextMessage?.text) {\n  messageContent = messageData.message.extendedTextMessage.text;\n} else if (messageData.message.imageMessage?.caption) {\n  messageContent = messageData.message.imageMessage.caption;\n} else if (messageData.message.conversation) {\n  messageContent = messageData.message.conversation;\n}\n\n// Convertir fecha\nconst messageDate = new Date(webhookData.date_time).toISOString();\n\n// Retornar UN SOLO item con todos los campos limpios\nif (estaEnListaBlanca) {\n  return [{\n    json: {\n      // Campos de instancia\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      \n      // Campos de mensaje\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      \n      // Campos de usuario\n      'user.name': messageData.pushName,\n      \n      // API Keys\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      \n      // Validación\n      '_validacion': {\n        estaEnListaBlanca: true,\n        numeroValidado: numeroWebhook\n      },\n      \n      // Mantener datos originales completos por si acaso\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n} else {\n  return [{\n    json: {\n      'instance.server_url': webhookData.server_url,\n      'instance.nombre': webhookData.instance,\n      'instance.apikey': webhookData.apikey,\n      'message.from': messageData.key.remoteJid,\n      'message.id': messageData.key.id,\n      'message.content_type': contentType,\n      'message.content': messageContent,\n      'message.date': messageDate,\n      'user.name': messageData.pushName,\n      'keyapi.deepgram': '87347040d82c105d3f47de19f7582ae2bf341754',\n      'keyapi.llamacloud': 'llx-8YVJLHZdOWSL0J4CEfDP7sV9UrgiLNZygPKB2S4RYbj51vVL',\n      '_validacion': {\n        estaEnListaBlanca: false,\n        numeroValidado: numeroWebhook\n      },\n      '_original': $('recibe whatsapp').item.json\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3184,672],"id":"c134ba09-829a-4111-b5d8-1f7d48815fdb","name":"set fields"}],"connections":{"tipo dato":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"get image","type":"main","index":0}],[{"node":"normalize txt","type":"main","index":0}],[{"node":"get pdf","type":"main","index":0}]]},"get audio":{"main":[[{"node":"Convert audio","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"audio normalizado","type":"main","index":0}]]},"audio normalizado":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"get image":{"main":[[{"node":"Convert image","type":"main","index":0}]]},"Convert image":{"main":[[{"node":"subir imagen","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"recibe whatsapp":{"main":[[{"node":"whitelist1","type":"main","index":0}]]},"get pdf":{"main":[[{"node":"guardar pdf","type":"main","index":0}]]},"guardar pdf":{"main":[[{"node":"subir pdf","type":"main","index":0}]]},"subir pdf":{"main":[[{"node":"verificar estado","type":"main","index":0}]]},"verificar estado":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"verificar estado","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"verificar estado img","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"subir imagen":{"main":[[{"node":"verificar estado img","type":"main","index":0}]]},"verificar estado img":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Formatear datos","type":"ai_outputParser","index":0}]]},"Formatear datos":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Formatear datos","type":"ai_languageModel","index":0}]]},"Wait2":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"Message Buffer":{"main":[[{"node":"Formatear datos","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"whitelist1":{"main":[[{"node":"set fields","type":"main","index":0}]]},"filtro":{"main":[[{"node":"tipo dato","type":"main","index":0}]]},"normalize txt":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"set fields":{"main":[[{"node":"filtro","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"recibe whatsapp":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.10.0","content-length":"6820","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"agente financiero","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"AC6D216210FDB6391E8E834065F1D020","senderLid":"138748985655322@lid"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/564611875_818393690558070_3488918073151664904_n.enc?ccb=11-4&oh=01_Q5Aa2wEDkmIVd8HxGOeKGKxaqS3mz5QUIikld5gZ102pDTAn3w&oe=6912227B&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"l6kfo7pWOevA/9UOHvy67EPFsGTHnfOXWji/zG+W7RY=","fileLength":"3820","seconds":1,"ptt":true,"mediaKey":"Tce0MXmBub5V5I4XJvnQHHPl89pXZvOxRm/QjmU2Vqs=","fileEncSha256":"0n0lLOsbTB9uBKyHX5LUXaZB0iwwradsQbFQ/jdniYg=","directPath":"/v/t62.7117-24/564611875_818393690558070_3488918073151664904_n.enc?ccb=11-4&oh=01_Q5Aa2wEDkmIVd8HxGOeKGKxaqS3mz5QUIikld5gZ102pDTAn3w&oe=6912227B&_nc_sid=5e03e0","mediaKeyTimestamp":"1760218181","waveform":"AAAAAAAABxANCAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIHTRNT09MSko8KhIBAAAAAAAAAAAAAAAAAAAAAA=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"IFYh7Q4gutIqeg==","senderTimestamp":"1759881890","recipientKeyHash":"hxb6AZWoY+oQ9A==","recipientTimestamp":"1758972695"},"deviceListMetadataVersion":2,"messageSecret":"X2TGDKDDKYadOWbX11zYP1LH0YwF4/e6YMt71LOjhyM="},"base64":"T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAAqHMBAAAAAAAAAAAAAgAAAHUKRN4TV/T01uLR3Nnv/0f/K+Ldv8jPakuGBwgHBxEL5ME27MWAB8lyJ+FE6lAHyXnIyVfAB8l5yMlXwIACgg9O3E+qv5K12L6fNFZJiD1ZW+aM4IYAvpG4WHMLC0Ze5WYfdak0Co1AuKwA1Q7FgEuGKTAmJSKH8AdbJ/gvzn68AWRaSXRwL0+o3Gs27dhmTP//vMaytGKon8Zps3YQpogHlLeRzccFofHSxx0fBuNr31W1xzVKABeA6IjpQV61EfmN0xFa6HpOooq6a61CIIkNk2VQB6HyIQOdgSJz3fW0uy5XwLyXCQt30e+3SzdPiefcuj+AgMqxDUtIM7qfi0yEvKTUHM77BRUYmcfO4XyeB9TZyahOsf1T6IDGpz9zN4Geug2RcEygdzCWs+af3JUvCSdu3bI68o4DfLmA7M0dBoET0EjOcfIs9eo9sLUGhK0UYylScNIFBRu7N3dHTy407UVLhh4uJycqgLFer7wNF5QhXterJV0IXa0JU8nAn2OhAqS3MJSAgVkngua/2ftYAZivFFC8DWFkNtHoVfQrwMBn+oPpn1sO29VOgAxdugLaGuc0XoE/DLtvKIjDGDHTZHyb/xBsnG4n+Y2KxUilIk1Am8kngHFmhzMCnIE38XX7AfOopb802x2daVgSmyv2erbzKzqNvqZ8h42Axiawjxj8cIFAIshJvkQJs2+zH9mynXsZv+EPN14dNaO+3KWPXU8cgmLhgfC5w4HyC4Gkg1l8otRo+tmyTp5OfcRZtbDSw6UG9sNAMKmsEjlpOGX3LkFs2u9AS4YfISwgIirmuQYQSvd1NLBDUf1pxql8MMbLIAjeysGdQG8KfWApeDkN059SdGTqE0H+SSNfdhGRmUt5SYAyFbBUw+epWDCAjMZKyZw9K4/fOnnGXFuXDRRSW8EsM1urzCuWrjaYoVvrstjyL0jgMXTKQIGACivUc1nUCiDuth7sfCpFoi1g6udAecDiCzdgY+cMKRauLwaJVQpRnLGshB1dg+n0oXO2oCwRYLwOaogcJr2vwCeQsPu+bHPP//vUrG8F5jqRDb6Q57EEa99+CsL3Wnp4YEuGIDAhKB0EJUPNNe+x6CUgkuenp5mvIiLnHQ9G+M2jLA9Ga5TeeICkPjyOQXgszvov0xMQordW+arQPHen9b8higbEvcSKAVR/QLV84d6WGz4te00oEIDHXRz6r5lT57xZsKHntFDtufazw7NY5rLCx1sX2hVIUIFlQUdsf5/wldz7xMAY6ieVoFAKhw+pPzRWxNJCYoE7pTw/rmmxzyAo4R96KhMplOdLJ8YdeXFp4jNHR2TqO87lpicehwNbv38wSpzKu8oDOeh53azs1ceQbxeENnZ0PnIiX77cNkTNhmBLhiQgIyEjI+K9TSmm9BlBoTcUJtvZ2CVMftrRAAMtXwjb490/tlso+a2AH8doCoCl/QI9N3bLZmeZLP3q8uLOqyxdq6b9lJ8QCoAhz9ND/uZARPBjLEzvvp427nQFU+UU/jdUqcHUOQ4GOIpkZgO074rayMBM7fB5M5qi6WtwmPspajfDdERX3qqVZDfb4CHGU1wYaid1FArHFCDdnZ8tAU0Bv8hfBnmGW8xdF+NEuR3VIcarSjXjgo1uuPhRThnpM7bI4AAYZVwGvI2OeUlm+UuGHyIcJSkhotT+eHw4DOwzBY0IsoVbUfekQ1iTyrcsfrUSZ92AH8Ycr+cphlesAxMp95LSlZISVG9DzDsNvIhUtojRRfxbOAMnbg50ujSbEHAl0Vlmqh89X8gIm7Uoko5Ho8SAb4gbIMASzcuDdlbh9e5jvikynZL1lIQ+B/6AqZtjhyd3SJuYhz9WMiGSEmxJpzt7xPFQPPWJod5twwcsxkMz5PTcz9AIIjXKySizFaiAlh4B1w9gN+VYMssSA6UUDZ2PPI9R53WpB2ADB+tiFMBW4aHaFcQsyIhLhiAkISElKNwnHQt99K56Un5ikSCG65OAdUEGEt+zfgOuiIkVAmACzG4OScTOdAZ5HAiYa/FkiUL5khN8cyffFFU7Sy2mmFMHS0AesX7HcS/nzaNMrRTVJLPi5cOFdKIwrRho0SwzCa5Fz4AeoaVdivn/lFFZbQdm3Fp5tGXbMxTPkArFDL2mTWNDPTUCxfJZMjk5TGo2OlPT2oM+XE+BYArqIi21e4eLaDfR+BTdwAEkA5BnUQwKpTrjiEDqcO/K3WcEOtoIjBhptqjN7rMaeAEQGQIqEazgS4YnJSIlIx7g+Gp4+Rx4BZR7VBd2qVc88I8MH6umFFg5JKZG+prxiuKmKzJdgB6ik2Pg8HjeOxwcw+Y+o8LvDydhAhKfNh8495Ez17ohmjYd5IAeoVKOHpwdEvGf5okqzLKHkCIMcdsYLCLknWi2Hx6I1z64HqFj2ytaExA15UeDBXSWyHhrtBN9x+E87QOHM/5FF91+bAJiwIBT+eT9EXAdrQTiNS6Nws5gl0CBvNG1hh7tqqFLz6bl6N19ij7HTqAdej6qQp5GyknV/b+Qd68viAmUo1dsMP8l/ymu9YTvn3oailqs/tvjzgaOVrlLhjo4NTI0nEGKiPByE6yBqL2e/RGrbFMwqmTp6UsJbInRas8/637f9uzrimmKn5E7uP+zEIeWzN/GP8bcRgamQJ8q/48bPZgvt4XiNO/bJNuPo4bznOxfmzGR4fSMc/d/9BCQXqrnEsGDxcEhXlyZWn5ghu698boWoXjanFdE+rP7XTEXbL6iN5ws9RRptfPmskSPloTmo6jVqQvvGEjiHndOP9mbEh7U+dvd7ICk08rebhK5EBPQzjYLpzL/GspRgVqkbcWwOjvObQxyRUGkadn5WGF+b5b00vcVXfq9IJ5BpAOAKRxSuDmAPxe4NzJqbCCKHf+9csQdFJU8e8NV+VlCmj3zsKwlp44pPBm1RL4HgNidzysOu10saOea85TpxQcO3Ejge6WjunuEC/yUJH05G+10SMCa/7mZRRFbfMKy2TJHQEuGPTAyLS6fO/SNB2COfq86U7+GoQFxnQ5xDfOyW1k18FpszB+pB0ds1uVDRbE4NIWVN9Og3KsIUU77rPKiVeu7CaXgp4C/zbkYKW1EngZsHQanXp3heFJTy9BXY71bHdQgPTIgwZ3WC+vYDLSo+BdBVm2wo2UjdwjDDYzBtAp9+c909f8xzxQjnd0mDyD4nQ6rZPAkv9gLQbxiFgbJN171UWTY4SCeb60i1q8MHHubaSTETmD8v12rKkEFI3p6rLTbggu9wjGDgWbsmP7x/aTv7FCb8ctPj5TT/6z492OLVVAcRqak9QzLdS4A67Elt4r8aPPJjoPQno4yaONh8xJyiLyFfxIbySudiRppougjZM6RgrOkA701oNmNf5Dn+WY57OCI/XLaGiBLhicnKCgch+w3p3RL9jfsLm/HnYTbYO4raD5AmvLLT7QWZQHDbhoo1jsmG6tJh25UQirO8aVzrofS+b9psNP24XrFYrSBtL90p3Zt8reuvpgygIMghxbOzNzYW6HXNhR2nkw5X81V0l01/PmCPe7ocKQLE7khCnVCBTT6RQK7TMn0SJ6ASBKUIYYPsKqs8/fJE/KrAgDFfFqoI/deQNhQVaC5OqACwTxRUziJz/rX5ZMtGh9SBV2mxYR++LGQxEaAG24yK3g+44kb8AhN0mBjc0EdZFAnx5tTM5y2AkShs93FS4YuJiAkIYBJI7LmmlyaQuuj4SUSAbFp14VS5YdVnaMoY47EE66VBBYFD0MMKgXlY8uPtsSBGuEnY6x33FsoYdJZU9ETXnzGc39Cbikc1Uo2R0wg42OVGHPqqCblBfKZdVyD1cxtLgVkLa5BGsqxVH4qw/UBdy9I568mGGGLUTaCNXYYVlBsfyChOrP97q/NBcKsNENLQ4hQRhuwcpt8GKXVg3gbtUpg+sPd2BfujilCp9o0HW0sfTtHfg++ObzzGGMV++2WRIm9zLrK1AXxMJ/dcIT1DU2oTd4D5PdLhh4gHx0gGKXJXmcFVzJhMgHhLCvbYvsAQQmHBWjm4oWQ+EmAGGDHf5UoCbe2u3fENrcr+BNi/ZE8wpot6e2ORXSkikAYYMfgVm90/WBIy7yo2tSYfjDwx1dlC90jlpJbUz8qGGGKgOOZPgDl2t8SF4kMVpbVUrvuzoaG4uKP33QYYMd4WiTu/3LmBTi8eBjPQVKFKoYyGnHxUMVFJEMc4RhgNSQs236f+bdLbL4jOMlJ6ANQONzea7LI5nyngEuGGyEhHiAYYMqRRmCYiePjanIyxVYdTluvJIYZJgxYsCAYlpvReSdx3U+N41adcbmGUiLHUZzUcTHV4G6lqVS/8HQYlcb0g6It1Tp1d6xiEFrcdcQ4SmkI9clfeFz3bo9ygiAYYTyZ+ag4It7Dg7smhaotHorhF4lId2dgv3H/sCAY0mo9EFVr45b5z4OIfvKqMrPKYMHQgleJu2t6vdMBgIEc5wcyC3Pf1RG76dW88b3qoDk92rmXx98mB7TqlpISAuFOTxL0S4YlISMeHyk+r1QxEf4eQoqxOrUibNqcZnJCKfBm/nvb3z72bN24pCosqNshoKAFalg3sCq3q9hSLmZuFty3gIWdvJ+ED4X0b6RtNhke8HN9Dj4hOOrJV8v6JSHVFonzN1jXY8yFbHzyVjfDzQC/wBuOLPoDNELgUKnsNkkUHPH8eXXOKQoL/jX6ETQFyht9jxo3vMOeO/bl+GpJBhculOe//xSX57KDPl/c+5wbfKa+v1NTWyLzHICIFtj/vs71IqHbW6ni7A4pdesIH6NAS4MhIhuF7O9WyNSaes/MQdfr0mSqctmPM+WQ8AYjDA1vfieDYBuIrssh7ceVQPgwGqH7pLxcnggSF5yzuBnJE/XAuboJ23QCg60jEm4keW7QvEt8JTm9GCoOPfAXs19fFqbk41PQPwk9Ow=="},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1760218182,"instanceId":"1601078f-45da-46b5-9a83-c49b4143f3e9","source":"android"},"destination":"https://ene8w.heleo.com.pe/webhook/recepcionwp","date_time":"2025-10-11T18:29:42.867Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evoapi.heleo.com.pe","apikey":"D5FEEC92EABF-4073-94D9-613BF0CB489B"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/recepcionwp","executionMode":"production"}}]},"versionId":"6fb7abca-7a8b-4d56-81fc-331f4e883fa9","triggerCount":1,"shared":[{"createdAt":"2025-09-02T21:39:07.953Z","updatedAt":"2025-09-02T21:39:07.953Z","role":"workflow:owner","workflowId":"oOMp2kItjb4tyZGJ","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}