respuesta-solicitud-K47V7zxTvIJiFvpG.json
{"createdAt":"2025-08-29T19:03:29.147Z","updatedAt":"2025-09-30T18:43:14.475Z","id":"K47V7zxTvIJiFvpG","name":"respuesta solicitud","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"confirmacion_solicitud","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-688,192],"id":"eb913a2d-a893-4e84-88e2-a3b22135b2b7","name":"confirmacion email","webhookId":"a9be40fe-5c2e-43d8-96c0-5cbd47605366"},{"parameters":{"content":"## Cambio de estado de despacho\n","height":456,"width":832,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"97df8a01-efaf-47fe-83cf-e27deaff5c4c","name":"Sticky Note3"},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of $input.all()) {\n    // Verificar si hay datos binarios\n    const hasBinary = item.binary && Object.keys(item.binary).length > 0;\n    \n    if (hasBinary) {\n        // Si hay binarios, procesarlos\n        for (const [key, binaryData] of Object.entries(item.binary)) {\n            results.push({\n                json: {\n                    fileName: binaryData.fileName || `attachment_${key}`,\n                    mimeType: binaryData.mimeType || 'application/octet-stream',\n                    originalKey: key,\n                    hasAttachment: true, // Indicador de que SÍ hay archivo adjunto\n                    // Mantener otros datos JSON si existen\n                    ...item.json\n                },\n                binary: {\n                    attachment: binaryData // Renombrar para usar en email\n                }\n            });\n        }\n    } else {\n        // Si no hay binarios, mantener el item pero agregar el indicador\n        results.push({\n            json: {\n                hasAttachment: false, // Indicador de que NO hay archivo adjunto\n                // Mantener todos los datos JSON originales\n                ...item.json\n            }\n            // No incluir binary ya que no existe\n        });\n    }\n}\n\nreturn results.length > 0 ? results : $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,192],"id":"90f69290-81e1-45eb-bccd-0a120b697ba4","name":"Code1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[272,288],"id":"acc928de-07a4-47f0-9ab1-04f317548911","name":"Merge4"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"mlzp2itrhk2iut6","id":"={{ $json.body.user_id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[272,48],"id":"3f82e691-dcfd-4d35-b6b0-999ef3e3fb05","name":"query: atendido por","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","id":"={{ $json.Id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[960,64],"id":"09dbe4ec-db75-4d0c-b026-ebb721c45d6e","name":"Get Registro","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.request_id }}"},{"fieldName":"Estado","fieldValue":"Ya atendida"},{"fieldName":"hora atencion","fieldValue":"={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}"},{"fieldName":"Adjunto NC","binaryData":true,"binaryProperty":"attachment"},{"fieldName":"atendido por","fieldValue":"={{ $json.Nombre }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[688,32],"id":"a6970c09-7a21-4331-b37a-6af4f71bb2df","name":"Actualizar Estado: Atendida","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.request_id }}"},{"fieldName":"Estado","fieldValue":"Ya atendida"},{"fieldName":"hora atencion","fieldValue":"={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}"},{"fieldName":"atendido por","fieldValue":"={{ $json.Nombre }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[688,288],"id":"8f130dad-02e3-4d4d-8f1f-c4bab2e36e32","name":"Actualizar Estado: Atendida1","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d492d8a8-d3e7-4004-be26-d5f92be25f7a","leftValue":"={{ $json.hasAttachment }}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,176],"id":"1a2e9589-65e3-41aa-8f19-8e7d83de0b3c","name":"tiene adjunto"},{"parameters":{"jsCode":"// Verificar si existe el campo \"Adjunto NC\" y tiene datos\nif ($json[\"Adjunto NC\"] && Array.isArray($json[\"Adjunto NC\"]) && $json[\"Adjunto NC\"].length > 0) {\n  return {\n    urls: $json[\"Adjunto NC\"].map(a => a.signedUrl),\n    titulos: $json[\"Adjunto NC\"].map(a => a.title),\n    mimetype: $json[\"Adjunto NC\"].map(a => a.mimetype),\n    hasAdjuntoNC: true,\n    count: $json[\"Adjunto NC\"].length\n  };\n} else {\n  // Si no hay adjuntos NC, devolver arrays vacíos\n  return {\n    urls: [],\n    titulos: [],\n    mimetype: [],\n    hasAdjuntoNC: false,\n    count: 0\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,64],"id":"3c26e380-3bfe-4bb0-99d5-3036564d4284","name":"rutas1"},{"parameters":{"jsCode":"return $json.urls.map((url, index) => ({\n  url,\n  titulo: $json.titulos[index],\n  mime: $json.mimetype[index],\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,64],"id":"84894031-464f-4e4b-891a-d226cb42e88c","name":"split1"},{"parameters":{"jsCode":"const newItem = { json: {}, binary: {} };\n\nitems.forEach((item, index) => {\n  const binaryKey = Object.keys(item.binary)[0];\n  newItem.binary[`file${index + 1}`] = item.binary[binaryKey];\n});\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,64],"id":"9a8d4fba-599c-4bce-876e-e1a659244aac","name":"join binary1"},{"parameters":{"jsCode":"const item = items[0]; // Un solo item con todos los binarios\nconst attachmentKeys = Object.keys(item.binary);\n\n// Guardamos la lista de attachments en el JSON para que el nodo Email la use\nitem.json.attachmentsList = attachmentKeys.join(',');\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,64],"id":"95ff4e59-ccf4-4179-9ed9-1bdfaa14cbc8","name":"nombres1"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{ $json.titulo }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,64],"id":"e9a32dda-c9cb-468e-9190-354a127bfbe2","name":"recupera adjuntos1","retryOnFail":true},{"parameters":{"content":"## Envio de correo de respuesta","height":456,"width":1424,"color":2},"type":"n8n-nodes-base.stickyNote","position":[848,0],"typeVersion":1,"id":"386b10b0-671c-4ea8-9bfd-55d38a73ae51","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"417b71e0-421b-4613-8b40-a72ea8d1499e","name":"Numero de Guia","value":"={{ $json['Numero de Guia'] || \"\" }}","type":"string"},{"id":"5e312a6e-3c3b-4a1d-a504-5f82469a0bf3","name":"Numero de Comprobante","value":"={{ $json['Numero de Comprobante'] || \"\"}}","type":"string"},{"id":"1fe4db5f-3e36-426f-bd0f-8f8ed53413ef","name":"Requerimiento","value":"={{ $json.Requerimiento }}","type":"string"},{"id":"d8968860-3153-43d4-99ba-e6c6de743f4d","name":"Motivo de Anulacion","value":"={{ $json['Motivo de Anulacion'] || \"\"}}","type":"string"},{"id":"e6f7b3a1-c80d-40d7-afce-08c17c17c005","name":"Estado de la Mercaderia","value":"={{ $json['Estado de la Mercaderia'] }}","type":"string"},{"id":"9d97aa16-4dd8-4277-b6ed-7abc4f605d51","name":"Mercaderia","value":"={{ $json.Mercaderia || \"\"}}","type":"string"},{"id":"20d7c85f-97eb-407a-87be-7b33f31f2e38","name":"atendido por","value":"={{ $json['atendido por'] }}","type":"string"},{"id":"950e6b58-a3b8-492a-b24f-3295c766629f","name":"Solicitante","value":"={{ $json.Solicitante }}","type":"string"},{"id":"88f510ae-abb1-4bb5-847e-a195bf61cde4","name":"Correo","value":"={{ $json.Correo }}","type":"string"},{"id":"216a9a86-8f42-4e40-b6bf-3a161efa7020","name":"Motivo NC","value":"={{ $json.Motivo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,304],"id":"8bc23ad3-e9b8-4f07-8839-0eb7e2f28f46","name":"Edit Fields"},{"parameters":{"html":"{{ $json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1360,208],"id":"9b75a30a-0a30-462e-a755-c3b3a3a22033","name":"html respuesta","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1856,272],"id":"628d4d7a-52e3-4b8d-835a-f2b749716f5a","name":"Merge2"},{"parameters":{"fromEmail":"sender@heleo.com.pe","toEmail":"={{ $json.Correo }};{{ $json['correos receptores'] }}","subject":"=Respuesta a Solicitud de {{ $json.Requerimiento }}","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2032,288],"id":"0ab7c47d-3fff-41f1-b869-526298b33268","name":"envio de solicitud de NC1","webhookId":"9179849f-f2eb-4954-9351-10bd2f1efe2d","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"407f2c5d-af29-447f-b0b6-80155d91df08","leftValue":"={{ $json.hasAdjuntoNC }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,64],"id":"eb4396af-ed8e-4e9b-9410-49787ad5e26d","name":"If"},{"parameters":{"content":"## Respuesta desde la pagina de confirmacion de solicitud\n","height":80,"width":832},"type":"n8n-nodes-base.stickyNote","position":[0,-112],"typeVersion":1,"id":"355001e5-e662-4b1f-a043-e04e2750e0d8","name":"Sticky Note"},{"parameters":{"jsCode":"// Nodo Code (JavaScript en n8n)\nconst data = $json;  // datos que vienen del flujo\n\nlet mensajeExtra = \"\";\n\nif (data.Requerimiento === \"Nota de credito\") {\n  mensajeExtra = `<p>Se generó la nota de crédito para el comprobante <strong>${data[\"Numero de Comprobante\"]}</strong>.</p>`;\n  mensajeExtra2 = `<p><strong>Por favor no olvidar de aplicar la Nota de Credito durante el día.</strong></p>`;\n} else if (data.Requerimiento === \"Anulación de Comprobante\") {\n  mensajeExtra = `<p>El comprobante de venta <strong>${data[\"Numero de Comprobante\"]}</strong> ha sido anulado.</p>`;\n  mensajeExtra2 = ``;\n} else if (data.Requerimiento === \"Anulación de Guia de Remisión\") {\n  mensajeExtra = `<p>La guía de remisión <strong>${data[\"Numero de Guia\"]}</strong> ha sido anulada.</p>`;\n  mensajeExtra2 = ``;\n}\n\n// Motivo de anulación y estado (solo si existen)\nlet motivo = data[\"Motivo de Anulacion\"] \n  ? `<p><strong>Motivo de anulación:</strong> ${data[\"Motivo de Anulacion\"]}</p>` \n  : \"\";\n\nlet estado = data[\"Estado de la Mercaderia\"] \n  ? `<p><strong>Estado de la mercadería:</strong> ${data[\"Estado de la Mercaderia\"]}</p>` \n  : \"\";\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<body style=\"margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f6f6f6;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f6f6f6\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#ffffff\" \n               style=\"margin:20px auto; border-radius:8px; overflow:hidden; box-shadow:0 2px 6px rgba(0,0,0,0.1);\">\n          \n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" bgcolor=\"#004aad\" style=\"padding:20px; color:#ffffff; font-size:20px; font-weight:bold;\">\n              Respuesta a su solicitud de ${data.Requerimiento}\n            </td>\n          </tr>\n          \n          <!-- Contenido -->\n          <tr>\n            <td style=\"padding:30px; color:#333333; font-size:15px; line-height:1.6;\">\n              <p>Estimado/a <strong>${data.Solicitante}</strong>,</p>\n              <p>Le informamos que su solicitud de <strong>${data.Requerimiento}</strong> ya ha sido atendida satisfactoriamente.</p>\n              \n              ${mensajeExtra}\n              ${motivo}\n              ${estado}        \n              ${mensajeExtra2}\n              <p>Si requiere información adicional o desea hacer alguna otra consulta, estamos a su disposición para ayudarle.</p>\n              <p>Le agradecemos por comunicarse con nosotros.</p>\n            </td>\n          </tr>     \n          \n          <!-- Firmante -->\n          <tr>\n            <td style=\"padding:20px 30px; color:#333333; font-size:14px; line-height:1.4;\">\n              <p>Atentamente,</p>\n              <p><strong>${data[\"atendido por\"]}</strong><br>\n              Usuario que atendió su solicitud</p>\n            </td>\n          </tr>\n                \n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,208],"id":"0e2a013a-e053-4f79-aa91-4754fe95b89c","name":"built template html"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pgdr03jv1pxs0up","table":"mlzp2itrhk2iut6","options":{"viewId":"vwhj54lx2flyckf5"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[32,592],"id":"b382768c-5494-47a3-8dec-dd1e9f685d42","name":"receptores","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Correo"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[336,592],"id":"05e575b7-0a8c-4087-9bb7-13fa34897d33","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"9e31ff6f-aef6-4bf8-ab0c-e258a1f9e77c","name":"correos receptores","value":"={{ $json.Correo.join(';') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,592],"id":"086727bd-7c46-4965-aeb4-a49da5bad78d","name":"listado correos"},{"parameters":{"content":"## correos de receptores de solicitud\n","height":272,"width":832,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,480],"typeVersion":1,"id":"c2d8159d-630e-4813-8be8-71a3d8a17455","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c8d1a6c0-afcc-4c39-9095-858f01482ac6","leftValue":"={{ $json.body.accion }}","rightValue":"=confirmar","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,192],"id":"346d1f50-e1e3-404e-9cb9-9e047747f4d2","name":"confirmar"},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $json.body.request_id }}"},{"fieldName":"Estado","fieldValue":"Rechazada"},{"fieldName":"hora atencion","fieldValue":"={{ $now.toFormat(\"yyyy-LL-dd HH:mm:ss\") }}"},{"fieldName":"atendido por","fieldValue":"={{ $json.Nombre }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-288,496],"id":"73fad454-47a0-4a2b-9585-edd8ceff57d8","name":"Actualizar Estado: Rechazada","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}}],"connections":{"confirmacion email":{"main":[[{"node":"confirmar","type":"main","index":0}]]},"Code1":{"main":[[{"node":"query: atendido por","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"tiene adjunto","type":"main","index":0}]]},"query: atendido por":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Get Registro":{"main":[[{"node":"rutas1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Actualizar Estado: Atendida":{"main":[[{"node":"Get Registro","type":"main","index":0}]]},"Actualizar Estado: Atendida1":{"main":[[{"node":"Get Registro","type":"main","index":0}]]},"tiene adjunto":{"main":[[{"node":"Actualizar Estado: Atendida","type":"main","index":0}],[{"node":"Actualizar Estado: Atendida1","type":"main","index":0}]]},"rutas1":{"main":[[{"node":"If","type":"main","index":0}]]},"split1":{"main":[[{"node":"recupera adjuntos1","type":"main","index":0}]]},"join binary1":{"main":[[{"node":"nombres1","type":"main","index":0}]]},"nombres1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"recupera adjuntos1":{"main":[[{"node":"join binary1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"built template html","type":"main","index":0},{"node":"Merge2","type":"main","index":2}]]},"html respuesta":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"envio de solicitud de NC1","type":"main","index":0}]]},"If":{"main":[[{"node":"split1","type":"main","index":0}],[{"node":"Merge2","type":"main","index":0}]]},"built template html":{"main":[[{"node":"html respuesta","type":"main","index":0}]]},"receptores":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"listado correos","type":"main","index":0}]]},"listado correos":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"confirmar":{"main":[[{"node":"Code1","type":"main","index":0},{"node":"receptores","type":"main","index":0}],[{"node":"Actualizar Estado: Rechazada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":null,"pinData":{"confirmacion email":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0","content-length":"569","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","content-type":"multipart/form-data; boundary=----WebKitFormBoundarya6JRdcv5qnclP9Wp","origin":"https://ene8w.heleo.com.pe","priority":"u=1, i","referer":"https://ene8w.heleo.com.pe/webhook/sl?request_id=172","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"190.239.25.123"},"params":{},"query":{},"body":{"request_id":"172","user_id":"25","requerimiento":"Anulación de Comprobante","estado":"En espera","accion":"confirmar"},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/confirmacion_solicitud","executionMode":"production"}}]},"versionId":"edebc371-8ed1-43e3-904d-0d62a9af6cfb","triggerCount":1,"shared":[{"createdAt":"2025-08-29T19:03:29.147Z","updatedAt":"2025-08-29T19:03:29.147Z","role":"workflow:owner","workflowId":"K47V7zxTvIJiFvpG","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}