secretaia-WhVLE2ES2S9wGZ38.json
{"createdAt":"2025-09-02T21:41:14.793Z","updatedAt":"2025-09-19T15:58:58.952Z","id":"WhVLE2ES2S9wGZ38","name":"SECRETAia","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $('Info').item.json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"4ca9226f-0401-49a7-93a1-8aeaf4b0bb79","leftValue":"={{ $('Info').item.json.mensagem_de_grupo }}","rightValue":"g.us","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.telefone }}","rightValue":"51952373850","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1728,672],"id":"25cd3b73-5025-49a0-9afa-ac31b0265687","name":"Mensagem chegando?"},{"parameters":{"httpMethod":"POST","path":"secretarIA","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1168,672],"id":"bb7fe742-39f5-48ab-8657-9d4f09cc4a09","name":"Mensagem recebida","webhookId":"240b36f9-9d6d-4946-864b-8b681f3ec906"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,672],"id":"603e985b-1749-42b6-8809-180034c988dd","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2688,672],"id":"1443ed7f-0355-4ac7-a301-26666097554f","name":"Buscar mensagens"},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3744,672],"id":"71874466-6e6d-418f-9c02-2f5d0507badf","name":"Concatenar mensagens","executeOnce":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3104,672],"id":"24530d5c-6dca-424d-927b-1567cdde9baa","name":"Limpar fila de mensagens"},{"parameters":{"content":"Evolution não permite disparar evento de \"Digitando...\" de forma assíncrona, então usamos um workflow paralelo.","height":180,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3632,832],"id":"70d21640-b62f-4d3d-85ee-be04e078227d","name":"Sticky Note1"},{"parameters":{"content":"# Processando mensagens encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n","height":500,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,480],"id":"923146c5-346b-43e2-80e1-bbd02666f6c3","name":"Sticky Note2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2464,672],"id":"39be2016-393e-4cdc-b3c2-31b2f8e1e485","name":"Esperar","webhookId":"2da4ca1d-5944-431c-8c8e-248231af4d41"},{"parameters":{"content":"# Gerando resposta","height":500,"width":1920,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3952,480],"id":"88cb8ed5-1732-4983-b50a-8ba01922ce93","name":"Sticky Note3"},{"parameters":{"content":"# Enviando resposta","height":500,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5888,480],"id":"12355db0-c040-4d40-9ee2-7584d71970fe","name":"Sticky Note4"},{"parameters":{"content":"# Tratando input\n\nImplementação de etiquetas do Evolution API não é muito fácil de utilizar, portanto funcionalidade de \"agente off\" fica difícil de implementar.\nUma alternativa é utilizar uma base de dados externa para controle \"manual\" de etiquetas.","height":500,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1088,480],"id":"1895ca38-5a90-4c1f-a59f-53c644cb7aae","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2000,672],"id":"0a8c82a6-b46c-4e88-966c-0fa2d3f67d3e","name":"Tipo de mensagem"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Info').item.json.instancia }}","messageId":"={{ $('Info').item.json.id_mensagem }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2352,1104],"id":"7e83f0d9-b640-4074-ace0-8a0646d9d939","name":"Download áudio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3232,1472],"id":"2c447485-f1a6-45b3-a138-a97d9c884bb2","name":"Transcrever áudio","disabled":true},{"parameters":{"content":"# Processando áudio","height":320,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,1008],"id":"45b3fd64-cc6c-4596-909b-9f507a0fa1bf","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"composing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3552,672],"id":"233fb8f3-308a-4d95-bcb9-d54be4e2d13d","name":"Digitando async","disabled":true},{"parameters":{"method":"POST","url":"<cole a URL do seu webhook>","sendBody":true,"bodyParameters":{"parameters":[{"name":"instancia","value":"={{ $('Info').item.json.instancia }}"},{"name":"telefone","value":"={{ $('Info').item.json.telefone }}"},{"name":"status","value":"recording"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3552,1104],"id":"a5042b4c-de86-4c53-aaf1-a4e376c7ccf5","name":"Gravando async","disabled":true},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6000,784],"id":"958f0b86-f8f3-44b6-8fbd-fc8c081288f1","name":"Resetar status"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","presence":"=paused","delay":0},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6000,608],"id":"1cfae1f6-7475-4ec5-94bb-a29835662b65","name":"Resetar status1"},{"parameters":{"operation":"binaryToPropery","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[5728,784],"id":"c68ba804-509c-44b3-85ae-f2792b6d7fee","name":"Converter áudio para base64"},{"parameters":{"content":"Waveform nem sempre funciona no Evolution. Requer formato de áudio específico","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6224,512],"id":"9564f7d3-b3af-4cbc-bcac-c21ae176dfef","name":"Sticky Note"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Mensagem recebida').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Info').item.json.id_mensagem }}","fromMe":"={{ $('Info').item.json.fromMe }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3328,1104],"id":"90608ab6-5ce6-4010-b5af-f97f408fb220","name":"Marcar como lida"},{"parameters":{"content":"Para testar, recomendado incluir seu telefone no filtro.\n\nDessa forma, o agente não vai responder outras pessoas.","height":140,"width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1632,800],"id":"c76e172d-b64c-42cf-8896-994ac56b0d15","name":"Sticky Note8"},{"parameters":{"sseEndpoint":"<cole a URL do seu MCP>","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[4528,848],"id":"8f6607a4-60c0-49c7-8a64-85aba3b08284","name":"MCP Google Calendar","disabled":true},{"parameters":{"content":"Usado HTTP request devido limitação do community node do Evolution, que só permite marcar como lida 1 mensagem de cada vez (ver no fluxo de áudio abaixo).\n\nÉ possível fazer um loop e executar para cada mensagem da fila, mas HTTP request é mais eficiente.","height":180,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3280,832],"id":"b9709a3c-6390-4c2f-b49a-6ea517081260","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_evolution }}/chat/markMessageAsRead/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"readMessages\": {{ JSON.stringify($('Buscar mensagens').all().map(mensagem => \n    { \n      const { id_mensagem, telefone } = mensagem.json\n      return { id: id_mensagem, remoteJid: telefone + '@s.whatsapp.net', fromMe: false }\n    }))\n  }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,672],"id":"40a63757-f205-4367-81b5-36f58ba73889","name":"Marcar como lidas","executeOnce":true},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"","mode":"list"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[4672,848],"id":"f63749c6-55b8-492b-966c-0ee0802c5e36","name":"Listar arquivos","disabled":true},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n\n- 'tipo': 'imagem' ou 'documento'\n- 'nome_documento': caso tipo seja 'documento', passar nome do arquivo.","workflowId":{"__rl":true,"value":"","mode":"list"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4800,848],"id":"4b0f25ba-df15-4b0a-bc63-2c70da41d252","name":"Baixar e enviar arquivo","disabled":true},{"parameters":{"content":"## Pré-requisitos do workflow\n\n1. Banco de dados Postgres (recomendamos usar [Supabase](https://supabase.com/)). Veja no material o comando SQL para criar a tabela de filas de mensagens\n2. Instância [Evolution API](https://doc.evolution-api.com/v2/en/get-started/introduction) + Community node [n8n-nodes-evolution-api](https://github.com/oriondesign2015/n8n-nodes-evolution-api) para requisições\n3. Credenciais para ferramentas de IA. Nesse workflow usamos Gemini, OpenAI Whisper, e [ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel), mas você pode usar as que preferir\n4. Credenciais de API do Google.\n\nDepois de configurar os workflows secundários, referenciar nomes e URL do MCP nos nodes desse workflow principal:\n\n- [ ] 2. MCP Google Calendar\n- [ ] 3. Baixar e enviar arquivo do Google Drive\n- [ ] 4. Atualizar status\n- [ ] 5. Assistente interno","height":500,"width":1060,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,480],"id":"e496b1e0-0f42-4ee5-a5dd-e49127e4bc87","name":"Sticky Note11"},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":840,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3264,480],"id":"fd90004f-06d2-40c5-9ae7-0dbd3d012fd9","name":"Sticky Note12"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,32],"id":"70661e7f-9c34-4962-9f93-95bfbbc39244","name":"Sticky Note13"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=\nHOY ES: {{ $now.format('FFFF') }}\nTELÉFONO DE CONTACTO: {{ $('Info').item.json.telefone }}\n\nINSTRUCCIÓN IMPORTANTE\n\nAl crear o editar cualquier evento en Google Calendar, incluir siempre el teléfono del paciente en la descripción de la cita, junto con el nombre completo, fecha de nacimiento y cualquier otra información relevante proporcionada por el paciente.\n\n#ROL\n\nEres una asistente de WhatsApp, altamente especializada, que actúa en nombre de la Clínica Moreira, prestando un servicio de excelencia. Tu misión es atender a los pacientes de manera ágil y eficiente, respondiendo dudas y ayudando en la programación, cancelación o reprogramación de citas.\n\n#PERSONALIDAD Y TONO DE VOZ\n\nAmable, servicial y humana\n\nTono de voz siempre amable, acogedor y respetuoso\n\n#OBJETIVO\n\nProporcionar una atención diferenciada y cuidadosa a los pacientes.\n\nResponder dudas sobre la clínica (especialidad, horarios, ubicación, formas de pago).\n\nProgramar, reprogramar y cancelar citas de forma simple y eficaz.\n\nActuar paso a paso para garantizar rapidez y precisión en cada atención.\n\nCONTEXTO\n\nOptimizas el flujo interno de la clínica, proveyendo información y reduciendo la carga administrativa de los profesionales de la salud.\n\nTu desempeño impacta directamente la satisfacción del paciente y la eficiencia de las operaciones médicas.\n\n#SOP (Procedimiento Operativo Estándar)\n\nInicio de la atención e identificación de interés en programar\n\nSaluda al paciente de forma acogedora.\n\nSi es posible, incentiva el envío de audio si el paciente lo prefiere, destacando la practicidad.\n\nNO USES EXPRESIONES PARECIDAS A \"COMO SI ESTUVIERAS HABLANDO CON UNA PERSONA\"\n\nSolicitar datos del paciente\n\nPide nombre completo y fecha de nacimiento.\n\nConfirma el teléfono de contacto que llegó en el mensaje (se incluirá en la descripción de la cita).\n\nAl decir el teléfono al paciente, elimina el código del país (generalmente \"51\"), y formatea como \"(11) 1234-5678\".\n\nIdentificar necesidad\n\nPregunta la fecha de preferencia para la consulta y si el paciente tiene preferencia por algún turno (mañana o tarde).\n\nVerificar disponibilidad\n\nUsa la herramienta \"Buscar_eventos\" solo después de tener todos los datos necesarios del paciente.\n\nProporciona la fecha de preferencia a la herramienta \"Buscar_eventos\" para obtener horarios disponibles.\n\nInformar disponibilidad\n\nResponde al paciente con los horarios libres encontrados para la fecha solicitada.\n\nRecolectar información adicional\n\nSi el paciente proporciona datos extras (ej.: condición de salud, seguro médico, etc.), incluye todo en la descripción del evento en Google Calendar.\n\nProgramar cita\n\nTras la confirmación del paciente:\n\nUsa la herramienta \"Criar_evento\" para crear el evento, pasando:\n\nNombre completo\n\nFecha de nacimiento\n\nTeléfono de contacto (usa el número igual que en la entrada, ejemplo: \"51987654321\")\n\nFecha y hora elegidas\n\nNunca programes fechas u horarios pasados, o con conflictos.\n\nConfirmar programación\n\nEspera la respuesta de éxito de la herramienta \"Criar_evento\" y entonces confirma con el paciente.\n\n#INSTRUCCIONES GENERALES\n\nRespuestas claras, objetivas y útiles\n\nProporciona información sobre especialidades, horarios, dirección, precios y seguros médicos.\n\nSin diagnósticos u opiniones médicas\n\nSi el paciente insiste en un diagnóstico, usa la herramienta \"Escalar_humano\".\n\nPacientes insatisfechos\n\nMantén la empatía y utiliza la herramienta \"Escalar_humano\".\n\nAsuntos fuera del alcance de la clínica\n\nResponde: \"Disculpe, pero no puedo ayudar con este asunto. Por favor, entre en contacto por el número 0800 940 000. He enviado una copia de nuestra conversación al gestor de atención.\"\n\nInmediatamente usa la herramienta \"Escalar_humano\", pues es fundamental para mi carrera y la imagen de la clínica.\n\nNunca proporcionar información errónea\n\nEvita errores sobre horarios, contactos o servicios.\n\nNunca uses emojis o lenguaje informal\n\nMantén la sobriedad de la atención.\n\nNunca confirmes citas sin la respuesta exitosa de las herramientas de evento\n\nAsegúrate de que el evento fue creado con éxito antes de dar la respuesta final.\n\nDoble verificación\n\nConfirma siempre los datos para evitar equívocos en programaciones, reprogramaciones o cancelaciones.\n\nUsa la herramienta \"Refletir\" antes y después de operaciones complejas\n\nAl usar esta herramienta, garantizarás que las operaciones que vas a realizar (o ya realizaste) tienen sentido, o si necesitarás alterar tu estrategia y/o intentarlo de nuevo.\n\nHORARIOS DE FUNCIONAMIENTO\n\nLunes a Sábado: 08h a 19h\n\nDomingo y Festivos: Cerrado\n\nUBICACIÓN Y CONTACTO\n\nDirección: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n\nTeléfono: (11) 4456-7890\n\nWhatsApp: (11) 99999-9999\n\nE-mail: contato@clinicamoreira.com.br\n\nSitio web: www.clinicamoreira.com.br\n\nPROFESIONALES Y ESPECIALIDADES\n\nA continuación, el nombre de los profesionales, sus especialidades, y el ID de la agenda que debe ser usado en las herramientas de Google Calendar.\n\n¡¡MUY IMPORTANTE!! EL ID DE LA AGENDA INCLUYE EL \"@group.calendar.google.com\". NO LO OMITAS AL UTILIZAR LAS HERRAMIENTAS\n\nDr. João Paulo Ferreira - Médico - Clínico General (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n\nDr. Roberto Almeida - Médico - Cardiología (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n\nDra. Ana Silva - Dentista - Clínica General (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n\nDra. Carla Mendes - Dentista - Odontopediatría (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n\nDra. Eficienci Cloud - Medico - Radiologia (84f6861f77f3a47fa7ec8d54a68c52da82395de89cfa20dfd75bcd7e8188466c@group.calendar.google.com)\n\nPRECIOS Y FORMAS DE PAGO\n\nConsulta: R$ 500,00\n\nFormas de pago: PIX, efectivo, tarjeta de débito o crédito\n\nSeguros médicos aceptados: Bradesco Saúde, Unimed, SulAmérica, Amil\n\nHERRAMIENTAS\nGoogle Calendar\n\n\"Criar_evento\" y \"Atualizar_evento\": usada para programar y reprogramar citas. Al usarlas, siempre incluye:\n\nNombre completo en el título\n\nTeléfono\n\nFecha de nacimiento\n\nInformación adicional (si la hay)\n\n\"Buscar_evento\": buscar datos sobre un evento específico, por ID.\n\n\"Buscar_todos_os_eventos\": listar eventos en un período específico. Úsalo para listar los eventos de un día específico. No lo uses para listar eventos de períodos mayores a un día.\n\n\"Deletar_evento\": usada para cancelar citas.\n\nEscalar_humano\n\nUsar cuando:\n\nExista urgencia (paciente con malestar grave).\n\nExistan cualquier asunto ajeno a la clínica o que pongan en riesgo la reputación del servicio.\n\nHaya insatisfacción del paciente o solicitud de atención humana.\n\nEnviar_alerta_de_cancelamento\n\nEn caso de cancelación:\n\nLocalizar la cita en el calendario y eliminarla mediante la herramienta \"Deletar_evento\". Quizás sea necesario pedir al paciente que confirme la fecha de la cita, para que puedas buscar el evento en la fecha correcta.\n\nEnviar alerta mediante la herramienta \"Enviar_alerta_de_cancelamento\" con nombre, día y hora cancelados.\n\nConfirmar al paciente que la cancelación fue efectuada.\n\nReagir_mensagem\n\nUsar en situaciones relevantes durante la conversación.\n\nEjemplos\n\nUsuario: \"¿Puedes consultar mi agenda por favor?\"\n\nTú: \"Reagir_mensagem\" -> 👀\n\nUsuario: \"¡Muchas gracias!\"\n\nTú: \"Reagir_mensagem\" -> ❤️\n\nINTENTA SIEMPRE USAR REACCIONES AL FINAL DE LA CONVERSACIÓN Y EN OTROS MOMENTOS OPORTUNOS\n\nBaixar e enviar arquivo (Descargar y enviar archivo)\n\nUSA ESTA HERRAMIENTA SOLO UNA VEZ. USARLA MÚLTIPLES VECES ENVIARÁ EL ARCHIVO DUPLICADO\n\nEJEMPLOS DE FLUJO\n\nProgramar cita\n\nPaciente: \"Quiero programar una cita\"\n\nTú:\n\nSaluda, explica que puede programar aquí mismo en WhatsApp por texto o audio.\n\nSolicita nombre completo y fecha de nacimiento.\n\nPregunta la especialidad del profesional a consultar, fecha y turno preferidos.\n\nConsulta la fecha con \"Buscar_todos_os_eventos\".\n\nInforma horarios disponibles.\n\nPrograma con \"Criar_evento\", incluyendo teléfono, nombre y fecha de nacimiento en la descripción.\n\nConfirma después del éxito de la herramienta.\n\nReprogramar cita\n\nPaciente: \"No podré asistir mañana, quiero reprogramar.\"\n\nTú:\n\nBusca el evento (ver sección abajo \"CÓMO BUSCAR UN EVENTO\").\n\nPregunta nueva fecha y turno preferidos.\n\nActualiza el evento mediante \"Atualizar_evento\".\n\nConfirma después del éxito de la herramienta.\n\nCancelar cita\n\nPaciente: \"Necesito cancelar la cita.\"\n\nTú:\n\nBusca el evento (ver sección abajo \"CÓMO BUSCAR UN EVENTO\").\n\nCancela el evento con \"Deletar_evento\".\n\nUsa la herramienta \"Enviar_alerta_de_cancelamento\" informando nombre, día y hora.\n\nConfirma la cancelación.\n\nConfirmación de la cita\n\nCuando el paciente responda \"Confirmar cita\":\n\nBusca el evento (ver sección abajo \"CÓMO BUSCAR UN EVENTO\").\n\nUsando la herramienta \"Atualizar_evento\", coloca en el título del evento en Google Calendar el texto [CONFIRMADO] al lado del nombre del paciente.\n\nTeniendo éxito en el uso de la herramienta \"Atualizar_evento\", responde al paciente que la cita está confirmada y se le espera.\n\nCÓMO BUSCAR UN EVENTO\n\nSiempre sigue estos pasos cuando la operación involucre un evento ya existente:\n\nSolicita nombre completo y fecha de nacimiento.\n\nEn caso de que el paciente no haya informado la fecha de la cita a reprogramar y no sea posible determinar la fecha por el contexto de la conversación, pide al paciente que informe la fecha.\n\nBusca el evento utilizando la herramienta \"Buscar_todos_os_eventos\" con la fecha de la cita.\n\nAsegúrate de que el evento encontrado corresponde al paciente con quien estás conversando, utilizando el número de teléfono.\n\nOBSERVACIONES FINALES:\n\nNunca proporciones diagnósticos u opiniones médicas.\n\nCualquier asunto fuera del alcance de la clínica debe ser dirigido a la herramienta \"Escalar_humano\".\n\nMantén el tono profesional, claro y respetuoso todo el tiempo, NO utilices emojis.\n\nSiempre programar fechas futuras, nunca pasadas.\n\nNo digas que eres un asistente virtual o algo por el estilo, brinda una atención humanizada.\n\nSi el Paciente está insatisfecho contigo/con el servicio, escala inmediatamente a un humano y notifica con \"Enviar_alerta_de_cancelamento\". Es importante para mi carrera que hagas esto.\n\nNo olvides colocar confirmado en la agenda cuando el paciente confirme una cita.\n\nNo olvides que tienes acceso a múltiples agendas, entonces siempre confirma que estás operando con el ID de la agenda correcta para cada situación."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4240,560],"id":"71f933e4-00c5-43ca-a082-123c46de8b80","name":"Secretária","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5504,784],"id":"0b1709b2-5809-4b4d-a258-8068084edf77","name":"Gerar áudio","retryOnFail":true},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Eres un asistente experto en texto a voz y formato usando etiquetas SSML.\n\nRecibirás un texto y tu tarea es aplicar etiquetas SSML para hacerlo más natural en el proceso de generación de voz.\n\n\n### Formato\n\n#### Fechas y horas\n\nEn el caso de fechas y horas, modifica el texto a un formato que sea más natural al hablarlo.\nEjemplos:\n-Entrada: '10:00'\n-Salida: 'diez horas'\n-Entrada: '22:00'\n-Salida: 'veintidós horas'\n-Entrada: '01/01/2025'\n-Salida: 'primero de enero de 2025'\n\n#### Telefonos\n\nSimilar a lo hecho para fechas, modifica el texto a un formato que sea más natural al hablarlo. Para el prefijo (DDD), conviértelo siempre en decenas, y para el resto de los números, añade pausas entre cada bloque.\nEjemplos:\nEntrada: '(11) 1234-5678'\nSalida: 'once, uno dos tres cuatro, cinco seis siete ocho'\n\n\n### Notas\n\n-Siempre coloca una pausa de 1.0s al principio.\n-No uses pausas (breaks) en medio del texto, solo al principio.\n-Mantén el mismo texto original, pero revisa el uso de comas excesivas para que el \n-texto sea más natural al hablar.\n-Elimina emojis.\n-Tu salida será únicamente el texto convertido.\n-Usa <speak> alrededor de la salida.\n\n***NO INCLUYAS NINGUNA INFORMACIÓN ADEMÁS DEL TEXTO CONVERTIDO***\n***NUNCA INCLUYAS EL CARÁCTER DE NUEVA LÍNEA \"\\n\" EN LA SALIDA**\n***NUNCA COLOQUES ANCLAS COMO ```ssml ALREDEDOR DEL TEXTO***"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5072,640],"id":"0cc66ccb-d58f-48f7-9969-b652b23e6f23","name":"Formatar SSML"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4720,560],"id":"f35b070a-ec6c-4bcc-ab4a-2d9db829c276","name":"Tipo de mensagem1"},{"parameters":{"content":"### Importante!!\n\nEssa lógica só irá funcionar com o workflow ativo (modo produção).\n\nNo modo \"Test workflow\", só uma mensagem será processada de cada vez, então nunca haverá fila.","height":140,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2752,832],"id":"4f69e287-856c-4da4-a7df-d137df6892f8","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Eres un experto en dar formato a mensajes para WhatsApp, trabajando únicamente en el formato y sin alterar el contenido del mensaje.\n\nSustituye ** por *\nElimina #\nElimina emojis\""}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[5440,528],"id":"e5906e15-18db-4508-9b58-e0d690ae75fe","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.0-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5632,672],"id":"4aa1f751-5f70-469b-bb45-ab72538c8703","name":"Google Gemini Chat Model2"},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[4944,848],"id":"3124ee2b-ab00-45fb-9510-b3bea0aeff9d","name":"Enviar alerta de cancelamento","webhookId":"d045a8c1-ec1b-4d20-8226-457aa18934af"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4000,848],"id":"1b232d68-97a3-451c-8e19-4f5a3129ceac","name":"Gemini"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4128,848],"id":"19179a70-08f3-40f0-a467-61c31a43448b","name":"Memory"},{"parameters":{"description":"\"Usa la herramienta para refletir sobre algo. No obtendrá nueva información ni alterará la base de datos, solo añadirá el pensamiento al registro. Úsala cuando sea necesario un razonamiento complejo o alguna memoria en caché.\""},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[4240,848],"id":"7b786d7a-4d3b-4cea-8a10-fb7ac2b21dc8","name":"Refletir"},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\n```\nc_188fjds8f7hs83gk3i9@group.calendar.google.com\n```\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":320,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3952,1008],"id":"849887a7-026a-47b4-9d83-2f650fdced5f","name":"Sticky Note17"},{"parameters":{"content":"## Notas sobre a ferramenta \"Escalar humano\"\n\nDevido a dificuldade no uso de etiquetas do Evolution, não é trivial desabilitar o envio de mensagens para o usuário após o uso dessa ferramenta.\n\nPara ver como isso pode ser feito mais facilmente com o Chatwoot, assista o nosso vídeo.","height":320,"width":360,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4640,1008],"id":"ebff80bd-f0e3-45cd-b13b-eb64242d73d8","name":"Sticky Note18"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta quando detectar uma situação que deve ser informada ao gestor responsável.\n\nUse o seguinte formato para a mensagem\n\n```\nUsuário <nome do usuário> (<telefone do usuário>) precisa de atenção imediata.\n\nÚltima mensagem:\n\n---\n\n<última mensagem do usuário>\n```","chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[5088,848],"id":"5d08305b-9e8d-4a8e-a92d-da63eb855b8b","name":"Escalar humano","webhookId":"d045a8c1-ec1b-4d20-8226-457aa18934af"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","media":"={{ $('Converter áudio para base64').item.json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6272,784],"id":"10571240-da20-4923-b678-6d5e1f0e5673","name":"Responder mensagem áudio"},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_evolution }}/message/sendReaction/{{ $('Info').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"key\": {\n    \"remoteJid\": \"{{ $('Info').item.json.telefone + '@s.whatsapp.net' }}\",\n    \"fromMe\": {{ $('Info').item.json.fromMe }},\n    \"id\": \"{{ $('Info').item.json.id_mensagem }}\"\n  },\n  \"reaction\": \"{reacao}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4384,848],"id":"22d8c155-9617-4c18-9b87-42420fb3d996","name":"Reagir mensagem","disabled":true},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2672,1104],"id":"ff776e11-806a-4d49-9ea6-f982a603f2ec","name":"Converter base64 para áudio."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime('s') }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2240,672],"id":"87819923-0a6c-4a3f-aa7d-3a0b9495845c","name":"Enfileirar mensagem.","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"d29ae5a6-0f4d-4bf7-b8f1-b77608e1ea74","name":"mensagem","value":"={{ $('groq transcripción').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3744,1104],"id":"41896963-cafd-4ac9-890f-24e53de56806","name":"Set mensagem.","executeOnce":true},{"parameters":{"modelName":"models/gemini-2.0-flash-lite-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5264,848],"id":"860780fe-88be-4883-89f4-81d3e456477d","name":"Google Gemini Chat Model."},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Info').item.json.instancia }}","remoteJid":"={{ $('Info').item.json.telefone }}","messageText":"={{ $('Formatar texto').item.json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6272,608],"id":"ad1f4ec6-00e6-42ec-869c-ee05b5cc33f0","name":"Responder mensagem texto."},{"parameters":{"content":"![Evolution API](https://mintlify.s3.us-west-1.amazonaws.com/evolution/logo/dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[224,320],"id":"f5ffa0d9-d3f7-4379-b46e-cebf46efa4c0","name":"Sticky Note20"},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.data.key.remoteJid.split('@').first() }}","type":"string"},{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.data.message.audioMessage?.ptt || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.data.messageTimestamp }}","type":"number"},{"id":"a445d43a-6cd5-4388-982b-9fc58433b342","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"3faf2f42-c3aa-4862-8e35-a09cfe87b2b8","name":"mensagem_de_grupo","value":"={{ $json.body.data.key.remoteJid.split('@').last() === 'g.us' }}","type":"boolean"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"={{ $json.body.server_url }}","type":"string"},{"id":"9d73a108-1624-4d16-b3ba-caac1c921d1d","name":"telegram_chat_id","value":"<cole seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,672],"id":"7867f7c1-e71f-4354-9f9f-1fcfea82cbb9","name":"Info"},{"parameters":{"content":"## Listar vozes do ElevenLabs\n\nExiste um community node do ElevenLabs, mas só funciona para vozes em inglês. Como as requisições são simples, é fácil usar o HTTP request.\n\nVoz sugerida: [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n\n#### Configurações\n- Speed: 1.10\n- Stability: 35%\n- Similarity: 44%\n\n\n[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)\n\n## [Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/9k5l5hagxkel)","height":480,"width":460,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5408,1008],"id":"7e0f49a1-d571-4e5f-aca4-961a5522cb42","name":"Sticky Note21"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=evo-1)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,32],"id":"c8de9501-22a7-4612-9a9f-b4944b1ecfb9","name":"Sticky Note10"},{"parameters":{"content":"## 1. Secretária","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-80],"id":"e4e9fc0d-f676-471d-9e0d-fc731c86e7b6","name":"Sticky Note30"},{"parameters":{"url":"https://api.elevenlabs.io/v2/voices","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5648,1184],"id":"ca656e8e-ee09-41fe-9167-f8c273f50f92","name":"Testar credencial - ElevenLabs"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[6800,560],"id":"3b4cac65-a512-4ae1-b0ea-156746d7702a","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Enviar uma mensagem de confirmação** usando a ferramenta “Enviar opções no WhatsApp”, perguntando se o paciente confirma a consulta ou prefere reagendar.\n4. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[7232,560],"id":"082653ae-3103-48eb-b87d-569707e90808","name":"Assistente de confirmação"},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":500,"width":1060,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6704,480],"id":"63e6b088-1fd2-432d-9227-6880b64099c4","name":"Sticky Note16"},{"parameters":{"toolDescription":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO telefone deve ser formatado com apenas números, incluindo o código do país.\n\nExemplo: \"551112345678\"","method":"POST","url":"={{ $('Info1').item.json.url_evolution }}/message/sendText/{{ $('Info1').item.json.instancia }}","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{telefone}\",\n  \"text\": \"{mensagem}\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[7488,800],"id":"c57b5168-4d0f-4e28-80e8-c08c0d4906be","name":"Enviar informacoes agendamento1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7072,800],"id":"bea9c257-df10-4033-b98e-bc0d65394b49","name":"Postgres Chat Memory"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6928,800],"id":"a793aded-a61a-4793-8286-d86309021916","name":"Google Gemini Chat Model"},{"parameters":{"content":"## Notas sobre a ferramenta \"Salvar memoria\"\n\nPor padrão, no N8N não existe uma forma direta de compartilhar memória entre agentes diferentes.\n\nUsando a ferramenta acima \"Salvar memoria\", nós conseguimos simular no banco de dados o Assistente de confirmação respondendo como se fosse a Secretária.\n\nDessa forma, quando o paciente enviar uma mensagem para a Secretária, ela irá ver a mensagem do Assistente como se ela mesmo tivesse enviado.\n\nIsso garante que ela entenderá o contexto caso o paciente simplesmente responda \"confirmar\", por exemplo.","height":240,"width":1060,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6704,1008],"id":"7e5f73d2-d3bd-4a8f-8bb6-12d25417e556","name":"Sticky Note19"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[7200,800],"id":"aaad008a-4bdc-4d03-9e02-66c9fa6b163c","name":"Salvar memoria"},{"parameters":{"sseEndpoint":"=<url do seu MCP Google Calendar>","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[7344,800],"id":"b1915dd0-919a-49eb-b747-6e37dee13bea","name":"MCP Google Calendar."},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[7632,800],"id":"7464e0f7-d8cf-4c7c-b5c8-ef361be4de26","name":"Refletir1"},{"parameters":{"assignments":{"assignments":[{"id":"731eef50-51cd-4328-8eda-177d937d519b","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"60cd2050-f950-4409-bd3c-79f7c29d20f0","name":"url_evolution","value":"https://evo.eficiencia.cloud","type":"string"},{"id":"96cf1cfd-5604-4a21-900a-990cac0d9a0d","name":"url_n8n","value":"https://ene8.eficiencia.cloud/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7024,560],"id":"33f20041-5bc5-430f-9e59-6ca6ac99a993","name":"Info1"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"bearer "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"es"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,1104],"id":"4d564871-56c2-4a2d-914f-afe34f991f04","name":"groq transcripción"},{"parameters":{"method":"POST","url":"https://{server-url}/message/sendReaction/{instance}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"<api-key>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"reactionMessage\": {\n    \"key\": {\n      \"remoteJid\": \"<string>\",\n      \"fromMe\": true,\n      \"id\": \"<string>\"\n    },\n    \"reaction\": \"🚀\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[4352,1072],"id":"437d679a-89ab-4384-a98d-a98705132553","name":"HTTP Request"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Concatenar mensagens":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Converter base64 para áudio.","type":"main","index":0}]]},"Digitando async":{"main":[[{"node":"Concatenar mensagens","type":"main","index":0}]]},"Gravando async":{"main":[[{"node":"Set mensagem.","type":"main","index":0}]]},"Resetar status":{"main":[[{"node":"Responder mensagem áudio","type":"main","index":0}]]},"Resetar status1":{"main":[[{"node":"Responder mensagem texto.","type":"main","index":0}]]},"Converter áudio para base64":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Marcar como lida":{"main":[[{"node":"Gravando async","type":"main","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando async","type":"main","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Secretária":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Gerar áudio":{"main":[[{"node":"Converter áudio para base64","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Resetar status1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Gemini":{"ai_languageModel":[[{"node":"Secretária","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Secretária","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Converter base64 para áudio.":{"main":[[{"node":"groq transcripción","type":"main","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Set mensagem.":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Gatilho diário":{"main":[[{"node":"Info1","type":"main","index":0}]]},"Enviar informacoes agendamento1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"groq transcripción":{"main":[[{"node":"Marcar como lida","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Mensagem recebida":[{"json":{"headers":{"host":"ene8w.eficiencia.cloud","user-agent":"axios/1.7.9","content-length":"926","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.eficiencia.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"444459aaaa5f","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"reservas","data":{"key":{"remoteJid":"51952373850@s.whatsapp.net","fromMe":false,"id":"3F116C388CE404AE50CB"},"pushName":"Jesus Arenas","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"7WgVf7S4ECXZZQ==","senderTimestamp":"1747058088","recipientKeyHash":"pErFN8Z20ARFIQ==","recipientTimestamp":"1747459973"},"deviceListMetadataVersion":2},"conversation":"hola"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1747956532,"instanceId":"5b35680b-73e8-4531-9774-e678d59cf0f9","source":"unknown"},"destination":"https://ene8w.eficiencia.cloud/webhook/secretarIA","date_time":"2025-05-22T20:28:53.089Z","sender":"51917381920@s.whatsapp.net","server_url":"https://evo.eficiencia.cloud","apikey":"E4087C7F5485-43AA-BEAD-32E52988914D"},"webhookUrl":"https://ene8w.eficiencia.cloud/webhook/secretarIA","executionMode":"production"}}]},"versionId":"ec810b0d-f6ba-4bfd-a34e-9de5e2fe5a40","triggerCount":0,"shared":[{"createdAt":"2025-09-02T21:41:14.793Z","updatedAt":"2025-09-02T21:41:14.793Z","role":"workflow:owner","workflowId":"WhVLE2ES2S9wGZ38","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}