solicitud-de-documentos-v2-fhHO3OiySuxT4FjB.json
{"createdAt":"2025-10-21T18:49:57.760Z","updatedAt":"2025-10-22T14:00:19.532Z","id":"fhHO3OiySuxT4FjB","name":"Solicitud de documentos v2","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"solicitudxdocumentos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,-112],"id":"a47636c1-0d9f-4fce-87b5-66d81bec27a6","name":"Webhook","webhookId":"519c1d17-57e8-414a-ba89-8f0171fe5de0"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.requerimiento }}","rightValue":"Nota de credito","operator":{"type":"string","operation":"equals"},"id":"bbbd0805-c7f6-4946-82e7-aca1e35ca9d3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nota de credito"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88f6692a-cfb7-4fc4-ac0d-79ded889b63d","leftValue":"={{ $json.requerimiento }}","rightValue":"Anulación de Comprobante","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comprobante"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51ab55c3-a7d0-4de2-aaf2-623698eab26a","leftValue":"={{ $json.requerimiento }}","rightValue":"Anulación de Guia de Remisión","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guia"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,-128],"id":"f407c6a7-421b-4100-ae33-0d88fef3d37b","name":"Switch","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"ee4f67d0-1b07-4655-8a43-b1194d99b666","name":"id","value":"={{ $json.body.data.rows[0].Id }}","type":"number"},{"id":"c3742b47-9602-4c52-b768-df27630f46c2","name":"requerimiento","value":"={{ $json.body.data.rows[0].Requerimiento }}","type":"string"},{"id":"76f13308-42cb-4b8f-be79-26c0fe8fd609","name":"=guia","value":"={{ $json.body.data.rows[0]['Numero de Guia'] || ' '}}","type":"string"},{"id":"364eb360-95b1-4614-b1ce-6059379e53cf","name":"comprobante","value":"={{ $json.body.data.rows[0]['Numero de Comprobante'] || ' ' }}","type":"string"},{"id":"0229a774-bdfd-46f1-bdf3-4478487bbbd6","name":"nuevo comprobante","value":"={{ $json.body.data.rows[0]['Nuevo Comprobante'] || ' ' }}","type":"string"},{"id":"b902d704-cefe-43d4-803a-a2b0ddf165ff","name":"motivo anulacion","value":"={{ $json.body.data.rows[0]['Motivo de Anulacion'] || ' ' }}","type":"string"},{"id":"cbe05ff6-d786-4453-8b6d-a533f21aa531","name":"cliente","value":"={{ $json.body.data.rows[0]['Nombre Cliente'] || ' ' }}","type":"string"},{"id":"5f656526-e545-401f-92c4-6b41a1f268c2","name":"motivo nc","value":"={{ $json.body.data.rows[0].Motivo || ' '}}","type":"string"},{"id":"f943ca70-4a10-456f-aaa3-a095b572abb5","name":"mercaderia","value":"={{ $json.body.data.rows[0].Mercaderia || ' '}}","type":"string"},{"id":"707da941-c905-44df-a8ea-0aabba9a7cfe","name":"solicitante","value":"={{ $json.body.data.rows[0].Solicitante }}","type":"string"},{"id":"57ce74ec-bf1e-486d-8d57-253f2bddae92","name":"correo solicitante","value":"={{ $json.body.data.rows[0].Correo }}","type":"string"},{"id":"b65ccad9-d4d3-4786-8277-373b95940912","name":"estado  mercaderia","value":"={{ $json.body.data.rows[0]['Estado de la Mercaderia'] || ' '}}","type":"string"},{"id":"67b2c232-b107-4d67-85e0-42590e558998","name":"autorizador","value":"={{ $json.body.data.rows[0].Autorizador || ' '}}","type":"string"},{"id":"280fec3d-b5f7-460f-afc3-bb809937e8a3","name":"importe","value":"={{ $json.body.data.rows[0]['Importe Comprobante'] || ' '}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-112],"id":"701d39d2-00c5-4a64-8a48-7c31c55cccf1","name":"valores cargados","alwaysOutputData":true},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Comprobante</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor blanco -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Comprobante\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json.guia }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Importe de Comprobante:</strong> {{ $json.importe }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Comprobante de Reemplazo:</strong> {{ $json['nuevo comprobante'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong><br>\n                {{ $json['motivo anulacion'] }}\n              </div>\n\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n              \n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                Este mensaje fue generado automáticamente a partir de un formulario de solicitudes.\n                 <a href=\"https://link.heleo.com.pe/solicitudes_documentos\" style=\"color: #888888;\">https://link.heleo.com.pe/solicitudes_documentos</a>\n              </div>\n\n            </td>\n          </tr>\n        </table>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[672,352],"id":"fc5f3acd-ddb2-409c-b567-197ab380b830","name":"anulacion comprobantes","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Guía de Remisión</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor principal -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Guía de Remisión\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.Solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json['Numero de Guia'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong> {{ $json['Motivo de Anulacion'] }}\n              </div>\n\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n              \n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                Este mensaje fue generado automáticamente a partir de un formulario de solicitud.\n                 <a href=\"https://link.heleo.com.pe/solicitudes_documentos\" style=\"color: #888888;\">https://link.heleo.com.pe/solicitudes_documentos</a>\n              </div>\n\n            </td>\n          </tr>\n        </table>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1280,1184],"id":"5f88e6de-059c-4e73-b8f8-ccf3bb399990","name":"anulacion de guia","alwaysOutputData":false},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Generación de Nota de Crédito</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Wrapper a 100% para fondo -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n        \n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"650\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor fijo 650px -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"650\" \n               style=\"width:650px; max-width:650px; min-width:650px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n              \n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Generación de Nota de Crédito\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Autorizado por:</strong> {{ $json.autorizador }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Estado de la Mercadería:</strong> {{ $json['estado  mercaderia'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Nombre Cliente:</strong> {{ $json.cliente }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo:</strong> {{ $json['motivo nc'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Mercadería:</strong>\n                <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" \n                       style=\"width:100%; border-collapse:collapse; margin-top:10px;\">\n                  <thead>\n                    <tr>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Código</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Cantidad</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Producto</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Total</th>\n                    </tr>\n                  </thead>\n                  <tbody style=\"font-size:14px; line-height:1.4;\">\n                    {{ $json.mercaderia_tabla }}\n                  </tbody>\n                </table>\n              </div>\n\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                Este mensaje fue generado automáticamente a partir de un formulario de solicitud.\n                <a href=\"https://link.heleo.com.pe/solicitudes_documentos\" style=\"color: #888888;\">https://link.heleo.com.pe/solicitudes_documentos</a>\n              </div>\n\n            </td>\n          </tr>\n        </table>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1712,-64],"id":"1c0a38c0-007f-4fb9-ad5b-c49fcb3fdc6b","name":"nota de credito"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","id":"={{ $json.id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[688,-352],"id":"47a83945-7b01-480a-bb61-9a04955904f7","name":"Get a row","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"jsCode":"return {\n  urls: $json.adjuntos.map(a => a.signedUrl),\n  titulos: $json.adjuntos.map(a => a.title),\n  mimetype: $json.adjuntos.map(a => a.mimetype)\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-576],"id":"cccc4c85-728a-4de6-8fc7-8a51058cf5c5","name":"rutas"},{"parameters":{"jsCode":"return $json.urls.map((url, index) => ({\n  url,\n  titulo: $json.titulos[index],\n  mime: $json.mimetype[index],\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,-384],"id":"8490aefe-93f4-4884-bd53-f1af1482ff48","name":"split"},{"parameters":{"jsCode":"const newItem = { json: {}, binary: {} };\n\nitems.forEach((item, index) => {\n  const binaryKey = Object.keys(item.binary)[0];\n  newItem.binary[`file${index + 1}`] = item.binary[binaryKey];\n});\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,-384],"id":"f7c1b323-c4da-4884-a9aa-ae16e96e9f11","name":"join binary"},{"parameters":{"jsCode":"const item = items[0]; // Un solo item con todos los binarios\nconst attachmentKeys = Object.keys(item.binary);\n\n// Guardamos la lista de attachments en el JSON para que el nodo Email la use\nitem.json.attachmentsList = attachmentKeys.join(',');\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,-384],"id":"f57abebb-fd9d-48af-9cac-c773d9580d97","name":"nombres"},{"parameters":{"fromEmail":"={{ $('Switch').item.json['correo solicitante'] }}","toEmail":"={{ $('valores cargados').item.json['correo solicitante'] }}","subject":"Solicitud de Nota de Credito","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2976,16],"id":"9fde1770-ddd2-4836-ad6a-2d107e3420bf","name":"envio de solicitud de NC","webhookId":"98976ce8-a34d-4359-986d-2b1fbe4bed16","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"{{ $('Switch').item.json['correo solicitante'] }}","toEmail":"={{ $('valores cargados').item.json['correo solicitante'] }}","subject":"=Solicitud de {{ $('valores cargados').item.json.requerimiento }}","html":"={{ $json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[992,416],"id":"c57f5366-83eb-4590-b965-4688cf9b180b","name":"correo para anulacion de comprobante","webhookId":"87427f67-ab26-4f5f-91fd-fa58006bcde9","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1104,64],"id":"a0287829-e6f2-41cd-90b8-7ebf9fee971c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"text":"={{ $json.mercaderia }}","schemaType":"fromJson","jsonSchemaExample":"[\n  { \"codigo\": \"998\", \"cantidad\": \"50\", \"producto\": \"Cemento rápido - 25kg\", \"total\": \"500\" },\n  { \"codigo\": \"1120\", \"cantidad\": \"36\", \"producto\": \"Fragua Weber Blanco\", \"total\": \"230\" }\n]\n","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nIf you know the attribute exists but its value is unknown, output a single space (\" \") as its value."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[944,-112],"id":"3624aadc-8490-4c9c-b725-01cdd5765fe4","name":"Information Extractor","retryOnFail":true},{"parameters":{"jsCode":"// Tomamos el array de productos\nconst productos = $json.output || [];\n\n// Generamos las filas HTML\nconst filas = productos.map(p => `\n  <tr>\n    <td>${p.codigo || ''}</td>\n    <td>${p.cantidad || ''}</td>\n    <td>${p.producto || ''}</td>\n    <td>${p.total || ''}</td>\n  </tr>\n`).join(\"\");\n\n// Retornamos el HTML listo para la tabla\nreturn [{\n  json: {\n    mercaderia_tabla: filas\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-16],"id":"3fe9fe59-b311-4c61-be7e-67feb2bdd240","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1248,-192],"id":"73221c89-ee2d-4ba8-bec9-ec731efd3d7c","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2976,-208],"id":"aebd26c2-774b-4e23-9e8b-00c7be337fe2","name":"Merge1"},{"parameters":{"content":"## Solicitud de Nota de Credito\ncopia de correo para los solictantes","height":656,"width":2800},"type":"n8n-nodes-base.stickyNote","position":[576,-448],"typeVersion":1,"id":"62043d84-c10d-4be8-b70a-0c27a3d645e7","name":"Sticky Note"},{"parameters":{"content":"## Solicitud de Anulacion de comprobante de venta\ncopia de correo para los solictantes","height":544,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[576,224],"typeVersion":1,"id":"117c6e5f-2e92-4bbb-8789-5ff48c21f176","name":"Sticky Note1"},{"parameters":{"content":"## Solicitud de Anulacion de guia de remision\ncopia de correo para los solictantes","height":560,"width":2800,"color":5},"type":"n8n-nodes-base.stickyNote","position":[576,784],"typeVersion":1,"id":"3d5a0755-c93c-48a5-a8ff-d4cedbd2da84","name":"Sticky Note2"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de {{ $json.requerimiento }}</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Wrapper a 100% para fondo -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n        \n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"650\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor fijo 650px -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"650\" \n               style=\"width:650px; max-width:650px; min-width:650px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n              \n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de {{ $json.requerimiento }}\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Autorizado por:</strong> {{ $json.autorizador }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Estado de la Mercadería:</strong> {{ $json['estado  mercaderia'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Nombre Cliente:</strong> {{ $json.cliente }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo:</strong> {{ $json['motivo nc'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Mercadería:</strong>\n                <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" \n                       style=\"width:100%; border-collapse:collapse; margin-top:10px;\">\n                  <thead>\n                    <tr>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Código</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Cantidad</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Producto</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Total</th>\n                    </tr>\n                  </thead>\n                  <tbody style=\"font-size:14px; line-height:1.4;\">\n                    {{ $json.mercaderia_tabla }}\n                  </tbody>\n                </table>\n              </div>          \n\n            </td>\n          </tr>\n           <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd; background-color: #f9f9f9;\">\n        Para confirmar que la atención de solicitud ha sido atendida, por favor, haz clic en el siguiente enlace:\n      </td>\n    </tr>\n    <tr>\n  <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/sl?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n    >\n      Confirmar Atención de Solicitud\n    </a>\n  </td>\n</tr>\n        </table>\n        <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2128,272],"id":"77129170-eb76-4879-ad40-69aeaf670bdb","name":"nota de credito1"},{"parameters":{"content":"## Copia de correo al destinatario","height":544,"width":1952,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1424,224],"typeVersion":1,"id":"bc8c9b6b-69e9-489f-9098-3323f7d70f40","name":"Sticky Note4"},{"parameters":{"fromEmail":"={{ $('Switch').item.json[\"correo solicitante\"] }}","toEmail":"={{ $json['correos receptores'] }}","subject":"=Solicitud de  {{ $('valores cargados').item.json.requerimiento }}","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2464,512],"id":"eeb371a6-e2a5-411b-9b85-dae02f50f8cf","name":"envio de copia de solicitud","webhookId":"99650612-84da-4c91-a697-61d079c61a34","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Guía de Remisión</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor principal -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Guía de Remisión\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json.guia }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong><br>\n                {{ $json['motivo anulacion'] }}\n              </div>       \n\n            </td>\n          </tr>\n<tr>\n  <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/sl?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n    >\n      Confirmar Atención de Solicitud\n    </a>\n  </td>\n</tr>\n        </table>\n        <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1616,480],"id":"25fbc5c1-b9b9-4902-aab1-aa4a76d6085b","name":"anulacion de guia1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Comprobante</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor blanco -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Comprobante\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json.guia }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Importe de Comprobante:</strong> {{ $json.importe }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Comprobante de Reemplazo:</strong> {{ $json['nuevo comprobante'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong><br>\n                {{ $json['motivo anulacion'] }}\n              </div>              \n\n            </td>\n          </tr>\n<tr>\n  <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/sl?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n    >\n      Confirmar Atención de Solicitud\n    </a>\n  </td>\n</tr>\n        </table>\n         <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1792,368],"id":"d65d8e70-042a-4849-9580-de6ec9bea5a9","name":"html anulacion","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2752,288],"id":"951df991-81cb-403f-a6b4-ae878c4ceadb","name":"Merge3"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{ $json.titulo }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-384],"id":"99bd17ad-6d5a-4092-85eb-1fbc00c644dc","name":"recupera adjuntos","retryOnFail":true},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pgdr03jv1pxs0up","table":"mlzp2itrhk2iut6","options":{"viewId":"vwhj54lx2flyckf5"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[48,176],"id":"a35e53b8-2603-4dab-b0f8-732f7938a87f","name":"receptores","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Correo"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[48,384],"id":"57b5c45d-7f0d-4399-8ee0-e525956731a8","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"9e31ff6f-aef6-4bf8-ab0c-e258a1f9e77c","name":"correos receptores","value":"={{ $json.Correo.join(';') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,688],"id":"bd19ae11-fc75-4f44-96ec-3382f6403542","name":"listado correos"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2144,576],"id":"4eaeac65-cf87-407e-bc19-0eb34325da5f","name":"Merge5"},{"parameters":{"assignments":{"assignments":[{"id":"aed67bf7-489e-4931-8e03-7cd2a27c4f49","name":"urls","value":"={{ $json[\"adjuntos\"].map(a => a.signedUrl) }}","type":"array"},{"id":"b2e41c5a-1cb2-4dc0-9402-ab55e6b7fb79","name":"titulos","value":"={{ $json[\"adjuntos\"].map(a => a.title) }}","type":"array"},{"id":"5bded2ba-3d2d-4ee0-b41b-7c7feaebe43a","name":"mimetype","value":"={{ $json[\"adjuntos\"].map(a => a.mimetype) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,-416],"id":"c401b35b-16c8-42c0-b58d-d98ac6f9a03c","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"464bae20-3c7e-4786-a41b-d9688526c422","leftValue":"={{ $json.adjuntos[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,-336],"id":"adf25184-5be4-43ac-8199-1fc2f1512960","name":"con adjunto"},{"parameters":{"assignments":{"assignments":[{"id":"c911363c-fc3e-4c42-a021-57969accb0b0","name":"attachmentsList","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1856,-224],"id":"6a42c69f-d646-4192-a807-0c741a1696b2","name":"variable en blanco"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","id":"={{ $json.id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[656,1056],"id":"2f4004f0-3d5a-46cc-b8dd-152dc4eef147","name":"Get a row1","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"aed67bf7-489e-4931-8e03-7cd2a27c4f49","name":"urls","value":"={{ $json[\"Adjunto Guia\"].map(a => a.signedUrl) }}","type":"array"},{"id":"b2e41c5a-1cb2-4dc0-9402-ab55e6b7fb79","name":"titulos","value":"={{ $json[\"Adjunto Guia\"].map(a => a.title) }}","type":"array"},{"id":"5bded2ba-3d2d-4ee0-b41b-7c7feaebe43a","name":"mimetype","value":"={{ $json[\"Adjunto Guia\"].map(a => a.mimetype) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,832],"id":"2f26a565-6977-4950-9f10-0fca2164254e","name":"Edit Fields1"},{"parameters":{"jsCode":"return $json.urls.map((url, index) => ({\n  url,\n  titulo: $json.titulos[index],\n  mime: $json.mimetype[index],\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,832],"id":"4117d3aa-e8f1-445f-9ab3-397bc7bd6017","name":"split1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"464bae20-3c7e-4786-a41b-d9688526c422","leftValue":"={{ $json['Adjunto Guia'][0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,944],"id":"31b4a096-a9d3-4875-aec4-03be4d6a5765","name":"guia adjunta"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{ $json.titulo }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,1024],"id":"e8baa3af-f2ac-41c1-bd17-a39ec6695bf9","name":"recupera adjuntos1","retryOnFail":true},{"parameters":{"jsCode":"const item = items[0]; // Un solo item con todos los binarios\nconst attachmentKeys = Object.keys(item.binary);\n\n// Guardamos la lista de attachments en el JSON para que el nodo Email la use\nitem.json.attachmentsList = attachmentKeys.join(',');\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,1040],"id":"b89a987b-c480-48fc-9125-a96cb527678f","name":"nombres1"},{"parameters":{"jsCode":"const newItem = { json: {}, binary: {} };\n\nitems.forEach((item, index) => {\n  const binaryKey = Object.keys(item.binary)[0];\n  newItem.binary[`file${index + 1}`] = item.binary[binaryKey];\n});\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,1024],"id":"26953618-058c-4f42-a7c4-252b24823c10","name":"join binary1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2192,960],"id":"1a72caeb-da8b-41d4-8b2d-b2d816a3d6d7","name":"Merge2"},{"parameters":{"fromEmail":"={{ $('Switch').item.json['correo solicitante'] }}","toEmail":"={{ $json['correos receptores'] }}","subject":"Solicitud de Nota de Credito","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2592,1104],"id":"616f1887-620b-4ab2-be72-6c8bb2181991","name":"envio de solicitud de guia","webhookId":"98976ce8-a34d-4359-986d-2b1fbe4bed16","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2608,848],"id":"acdcd955-603b-477a-b5b6-f29344ba14f6","name":"Merge6"},{"parameters":{"fromEmail":"={{ $('Switch').item.json[\"correo solicitante\"] }}","toEmail":"={{ $json['correos receptores'] }}","subject":"=Solicitud de  {{ $('valores cargados').item.json.requerimiento }}","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2928,544],"id":"d450b703-00d6-4949-af4d-764a34052fa2","name":"envio de copia de solicitud2","webhookId":"99650612-84da-4c91-a697-61d079c61a34","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"valores cargados","type":"main","index":0},{"node":"receptores","type":"main","index":0}]]},"valores cargados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a row","type":"main","index":0},{"node":"Information Extractor","type":"main","index":0},{"node":"Merge","type":"main","index":0}],[{"node":"anulacion comprobantes","type":"main","index":0},{"node":"html anulacion","type":"main","index":0}],[{"node":"anulacion de guia1","type":"main","index":0},{"node":"Get a row1","type":"main","index":0}]]},"anulacion comprobantes":{"main":[[{"node":"correo para anulacion de comprobante","type":"main","index":0}]]},"anulacion de guia":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Get a row":{"main":[[{"node":"con adjunto","type":"main","index":0}]]},"nota de credito":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"rutas":{"main":[[]]},"split":{"main":[[{"node":"recupera adjuntos","type":"main","index":0}]]},"join binary":{"main":[[{"node":"nombres","type":"main","index":0}]]},"nombres":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"envio de solicitud de NC":{"main":[[]]},"correo para anulacion de comprobante":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"nota de credito","type":"main","index":0},{"node":"nota de credito1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"envio de solicitud de NC","type":"main","index":0}]]},"nota de credito1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"html anulacion":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"anulacion de guia1":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"recupera adjuntos":{"main":[[{"node":"join binary","type":"main","index":0}]]},"receptores":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"listado correos","type":"main","index":0}]]},"listado correos":{"main":[[{"node":"Merge5","type":"main","index":1},{"node":"Merge2","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"envio de copia de solicitud","type":"main","index":0},{"node":"Merge6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"split","type":"main","index":0}]]},"con adjunto":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"variable en blanco","type":"main","index":0}]]},"variable en blanco":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"guia adjunta","type":"main","index":0},{"node":"anulacion de guia","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"split1","type":"main","index":0}]]},"guia adjunta":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"split1":{"main":[[{"node":"recupera adjuntos1","type":"main","index":0}]]},"recupera adjuntos1":{"main":[[{"node":"join binary1","type":"main","index":0}]]},"join binary1":{"main":[[{"node":"nombres1","type":"main","index":0}]]},"nombres1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"envio de solicitud de guia","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Merge6":{"main":[[{"node":"envio de copia de solicitud2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.11.0","content-length":"3770","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"type":"records.manual.trigger","id":"f9e03557-8bd0-4c36-ada1-bc9295cabda3","version":"v3","data":{"table_id":"m15ssb58yi3alx5","table_name":"Registro de Solicitudes","rows":[{"Id":331,"CreatedAt":"2025-10-22 03:17:16+00:00","UpdatedAt":"2025-10-22 03:18:54+00:00","Numero de Guia":"T001-9999","Numero de Comprobante":null,"Requerimiento":"Anulación de Guia de Remisión","Motivo de Anulacion":"prueba","Estado de la Mercaderia":null,"Nombre Cliente":null,"Motivo":null,"Mercaderia":null,"Vendedores_id":3,"adjuntos":null,"Estado":"En espera","Personal_id":null,"hora solicitud":"2025-10-21 22:17:16+00:00","hora atencion":null,"tiempo en ser atendido(min)":null,"atendido por":null,"Nuevo Comprobante":null,"Motivo de solicitud":"prueba","Adjunto NC":null,"Importe Comprobante":null,"dias hoy":294,"dias atencion":294,"diferencia dias":0,"tipo fecha":"HOY","date":"2025-10-21","Adjunto Guia":[{"url":"https://ms3.heleo.com.pe:443/nc/uploads/noco/pgdr03jv1pxs0up/m15ssb58yi3alx5/c7qmgebd8y3ciaf/TG PEGAMENTOS OCT2025_pYFKB.pdf","title":"TG PEGAMENTOS OCT2025.pdf","mimetype":"application/pdf","size":60790,"icon":"mdi-pdf-box","id":"atrs59hgf03q85hz","thumbnails":{"tiny":{"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/thumbnails/noco/pgdr03jv1pxs0up/m15ssb58yi3alx5/c7qmgebd8y3ciaf/TG%20PEGAMENTOS%20OCT2025_pYFKB.pdf/tiny.jpg?ResponseContentDisposition=inline%3B%20filename%3D%22TG%20PEGAMENTOS%20OCT2025.pdf%22&ResponseContentType=image%2Fjpeg&expireAt=2025-10-22T00%3A30%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251021%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251021T222031Z&X-Amz-Expires=7769&X-Amz-SignedHeaders=host&X-Amz-Signature=67f04bcbd6ae3fa10d3e2c5e4c5b374d96c514a530b6b0fa437774bb02837de2"},"small":{"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/thumbnails/noco/pgdr03jv1pxs0up/m15ssb58yi3alx5/c7qmgebd8y3ciaf/TG%20PEGAMENTOS%20OCT2025_pYFKB.pdf/small.jpg?ResponseContentDisposition=inline%3B%20filename%3D%22TG%20PEGAMENTOS%20OCT2025.pdf%22&ResponseContentType=image%2Fjpeg&expireAt=2025-10-22T00%3A30%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251021%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251021T222031Z&X-Amz-Expires=7769&X-Amz-SignedHeaders=host&X-Amz-Signature=9577710ca6efdb25a6689a7f96209c31ffeb5fc4303a59160c6a8106f0fbd056"},"card_cover":{"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/thumbnails/noco/pgdr03jv1pxs0up/m15ssb58yi3alx5/c7qmgebd8y3ciaf/TG%20PEGAMENTOS%20OCT2025_pYFKB.pdf/card_cover.jpg?ResponseContentDisposition=inline%3B%20filename%3D%22TG%20PEGAMENTOS%20OCT2025.pdf%22&ResponseContentType=image%2Fjpeg&expireAt=2025-10-22T00%3A30%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251021%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251021T222031Z&X-Amz-Expires=7769&X-Amz-SignedHeaders=host&X-Amz-Signature=3d329c1540ae01fe76d197c61fbbe25f96801736ff346fe9ee0196b0d8f85c9f"}},"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/uploads/noco/pgdr03jv1pxs0up/m15ssb58yi3alx5/c7qmgebd8y3ciaf/TG%20PEGAMENTOS%20OCT2025_pYFKB.pdf?ResponseContentDisposition=inline%3B%20filename%3D%22TG%20PEGAMENTOS%20OCT2025.pdf%22&ResponseContentType=application%2Fpdf&expireAt=2025-10-22T00%3A30%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251021%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251021T222031Z&X-Amz-Expires=7769&X-Amz-SignedHeaders=host&X-Amz-Signature=21015887188ef5d9f69875d6096b21ee986fc4cb1f982beef83f2777dd1e834e"}],"reenviar":{"type":"webhook","label":"reenviar","fk_webhook_id":"hkussbxcr6cpqdot"},"Autorizado por":null,"Autorizador":null,"Personal":{"Id":3,"Nombre":"Jessica Nina"},"Solicitante":"Jessica Nina","Correo":"jessica.nina@heleo.com.pe"}]}},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/519c1d17-57e8-414a-ba89-8f0171fe5de0","executionMode":"production"}}]},"versionId":"c2be7d74-6541-4483-8f77-ff17374ab9e0","triggerCount":1,"shared":[{"createdAt":"2025-10-21T18:49:57.760Z","updatedAt":"2025-10-21T18:49:57.760Z","role":"workflow:owner","workflowId":"fhHO3OiySuxT4FjB","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}