solicitud-de-documentos-v3-yAoftXnOn9jDBbLp.json
{"createdAt":"2025-10-23T13:17:43.751Z","updatedAt":"2025-11-14T23:20:31.619Z","id":"yAoftXnOn9jDBbLp","name":"Solicitud de documentos v3","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.requerimiento }}","rightValue":"Nota de credito","operator":{"type":"string","operation":"equals"},"id":"bbbd0805-c7f6-4946-82e7-aca1e35ca9d3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nota de credito"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88f6692a-cfb7-4fc4-ac0d-79ded889b63d","leftValue":"={{ $json.requerimiento }}","rightValue":"Anulación de Comprobante","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comprobante"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51ab55c3-a7d0-4de2-aaf2-623698eab26a","leftValue":"={{ $json.requerimiento }}","rightValue":"Anulación de Guia de Remisión","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guia"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3104,-896],"id":"181f5b0b-8d17-4c5d-a246-553e23fa07a3","name":"Switch","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"ee4f67d0-1b07-4655-8a43-b1194d99b666","name":"id","value":"={{ $('input').item.json.body.data.rows[0].Id }}","type":"number"},{"id":"c3742b47-9602-4c52-b768-df27630f46c2","name":"requerimiento","value":"={{ $('input').item.json.body.data.rows[0].Requerimiento }}","type":"string"},{"id":"76f13308-42cb-4b8f-be79-26c0fe8fd609","name":"=guia","value":"={{ $('input').item.json.body.data.rows[0]['Numero de Guia'] || ' '}}","type":"string"},{"id":"364eb360-95b1-4614-b1ce-6059379e53cf","name":"comprobante","value":"={{ $('input').item.json.body.data.rows[0]['Numero de Comprobante'] || ' ' }}","type":"string"},{"id":"0229a774-bdfd-46f1-bdf3-4478487bbbd6","name":"nuevo comprobante","value":"={{ $('input').item.json.body.data.rows[0]['Nuevo Comprobante'] || ' ' }}","type":"string"},{"id":"b902d704-cefe-43d4-803a-a2b0ddf165ff","name":"motivo anulacion","value":"={{ $('input').item.json.body.data.rows[0]['Motivo de Anulacion'] || ' ' }}","type":"string"},{"id":"5f656526-e545-401f-92c4-6b41a1f268c2","name":"motivo nc","value":"={{ $('input').item.json.body.data.rows[0].Motivo || ' '}}","type":"string"},{"id":"f943ca70-4a10-456f-aaa3-a095b572abb5","name":"mercaderia","value":"={{ $('input').item.json.body.data.rows[0].Mercaderia || ' '}}","type":"string"},{"id":"707da941-c905-44df-a8ea-0aabba9a7cfe","name":"solicitante","value":"={{ $('input').item.json.body.data.rows[0].Solicitante }}","type":"string"},{"id":"b65ccad9-d4d3-4786-8277-373b95940912","name":"estado  mercaderia","value":"={{ $('input').item.json.body.data.rows[0]['Estado de la Mercaderia'] || ' '}}","type":"string"},{"id":"67b2c232-b107-4d67-85e0-42590e558998","name":"autorizador","value":"={{ $('input').item.json.body.data.rows[0].Autorizador || ' '}}","type":"string"},{"id":"280fec3d-b5f7-460f-afc3-bb809937e8a3","name":"importe","value":"={{ $('input').item.json.body.data.rows[0]['Importe Comprobante'] || ' '}}","type":"string"},{"id":"1927a278-f78b-43f5-83b1-8cbc95d57c4e","name":"correos receptores","value":"={{ $('listado correos').item.json['correos receptores'] }}","type":"string"},{"id":"0901a781-a8de-434f-8100-63a1341df509","name":"correo solicitante","value":"={{ $('input').item.json.body.data.rows[0].Correo }}","type":"string"},{"id":"90db22f3-7cdd-458d-95ac-8ebdad2d59a3","name":"correo almacen","value":"={{ $json.Correo }}","type":"string"},{"id":"ab472af7-4574-499b-a7dc-bede1a5e1376","name":"cliente","value":"={{ $('input').item.json.body.data.rows[0]['Nombre Cliente'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3376,-880],"id":"e62559f8-55f9-4609-837e-f3b370856fb6","name":"valores cargados","alwaysOutputData":true},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Comprobante</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor blanco -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Comprobante\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json.guia }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Importe de Comprobante:</strong> {{ $json.importe }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Comprobante de Reemplazo:</strong> {{ $json['nuevo comprobante'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong><br>\n                {{ $json['motivo anulacion'] }}\n              </div>\n\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n              \n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                Este mensaje fue generado automáticamente a partir de un formulario de solicitudes.\n                 <a href=\"https://link.heleo.com.pe/solicitudes_documentos\" style=\"color: #888888;\">https://link.heleo.com.pe/solicitudes_documentos</a>\n              </div>\n\n            </td>\n          </tr>\n        </table>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2752,-496],"id":"e313f621-ef9b-48f8-b162-b806e2d7312d","name":"anulacion comprobantes","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Guía de Remisión</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor principal -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Guía de Remisión\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.Solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json['Numero de Guia'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong> {{ $json['Motivo de Anulacion'] }}\n              </div>\n\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n              \n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                Este mensaje fue generado automáticamente a partir de un formulario de solicitud.\n                 <a href=\"https://link.heleo.com.pe/solicitudes_documentos\" style=\"color: #888888;\">https://link.heleo.com.pe/solicitudes_documentos</a>\n              </div>\n\n            </td>\n          </tr>\n        </table>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2208,336],"id":"8a7847f4-ac5a-4a52-a194-6e7618aca220","name":"anulacion de guia","alwaysOutputData":false},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Generación de Nota de Crédito</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Wrapper a 100% para fondo -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n        \n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"650\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor fijo 650px -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"650\" \n               style=\"width:650px; max-width:650px; min-width:650px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n              \n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Generación de Nota de Crédito\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Autorizado por:</strong> {{ $json.autorizador }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Estado de la Mercadería:</strong> {{ $json['estado  mercaderia'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Nombre Cliente:</strong> {{ $json.cliente }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo:</strong> {{ $json['motivo nc'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Mercadería:</strong>\n                <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" \n                       style=\"width:100%; border-collapse:collapse; margin-top:10px;\">\n                  <thead>\n                    <tr>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Código</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Cantidad</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Producto</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Total</th>\n                    </tr>\n                  </thead>\n                  <tbody style=\"font-size:14px; line-height:1.4;\">\n                    {{ $json.mercaderia_tabla }}\n                  </tbody>\n                </table>\n              </div>\n\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n              <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                Este mensaje fue generado automáticamente a partir de un formulario de solicitud.\n                <a href=\"https://link.heleo.com.pe/solicitudes_documentos\" style=\"color: #888888;\">https://link.heleo.com.pe/solicitudes_documentos</a>\n              </div>\n\n            </td>\n          </tr>\n        </table>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1712,-912],"id":"8ed89225-c725-406f-899a-2ca138eeb9ea","name":"nota de credito"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","id":"={{ $json.id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2736,-1200],"id":"55359e30-fb4d-47c4-982d-824fa84a3f4e","name":"Get a row","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"jsCode":"return $json.urls.map((url, index) => ({\n  url,\n  titulo: $json.titulos[index],\n  mime: $json.mimetype[index],\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,-1232],"id":"747b2926-2ad0-490c-9ba5-5c736e89a873","name":"split"},{"parameters":{"jsCode":"const newItem = { json: {}, binary: {} };\n\nitems.forEach((item, index) => {\n  const binaryKey = Object.keys(item.binary)[0];\n  newItem.binary[`file${index + 1}`] = item.binary[binaryKey];\n});\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-1232],"id":"27ed6531-6853-4423-9e62-b9403eb71377","name":"join binary"},{"parameters":{"jsCode":"const item = items[0]; // Un solo item con todos los binarios\nconst attachmentKeys = Object.keys(item.binary);\n\n// Guardamos la lista de attachments en el JSON para que el nodo Email la use\nitem.json.attachmentsList = attachmentKeys.join(',');\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-1232],"id":"9ee4d5b2-273e-43c7-8257-e5eb400e9d44","name":"nombres"},{"parameters":{"fromEmail":"={{ $('Switch').item.json['correo solicitante'] }}","toEmail":"={{ $('valores cargados').item.json['correo solicitante'] }};{{ $('valores cargados').item.json['correo almacen'] }}","subject":"Solicitud de Nota de Credito","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-448,-832],"id":"d6e22c27-6856-4241-9eae-f88dbdae42dc","name":"envio de solicitud de NC","webhookId":"98976ce8-a34d-4359-986d-2b1fbe4bed16","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2320,-784],"id":"d3d05c87-fe10-4489-af95-6023168bdbbd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FCkOHRpbraeLDbx7","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"text":"={{ $json.mercaderia }}","schemaType":"fromJson","jsonSchemaExample":"[\n  { \"codigo\": \"998\", \"cantidad\": \"50\", \"producto\": \"Cemento rápido - 25kg\", \"total\": \"500\" },\n  { \"codigo\": \"1120\", \"cantidad\": \"36\", \"producto\": \"Fragua Weber Blanco\", \"total\": \"230\" }\n]\n","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nIf you know the attribute exists but its value is unknown, output a single space (\" \") as its value."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-2480,-960],"id":"41dbc33b-36cb-441c-a3d4-fb9c7b9f6934","name":"Information Extractor","retryOnFail":true},{"parameters":{"jsCode":"// Tomamos el array de productos\nconst productos = $json.output || [];\n\n// Generamos las filas HTML\nconst filas = productos.map(p => `\n  <tr>\n    <td>${p.codigo || ''}</td>\n    <td>${p.cantidad || ''}</td>\n    <td>${p.producto || ''}</td>\n    <td>${p.total || ''}</td>\n  </tr>\n`).join(\"\");\n\n// Retornamos el HTML listo para la tabla\nreturn [{\n  json: {\n    mercaderia_tabla: filas\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,-864],"id":"2e5d35c7-fc05-4c8f-856f-62a97aae8de2","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2176,-1040],"id":"a22477e1-624e-45f9-ad71-a889a31e31de","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-448,-1056],"id":"e0b9bf63-e3d0-420f-9c6f-c5a3966ca72a","name":"Merge1"},{"parameters":{"content":"## Solicitud de Nota de Credito\ncopia de correo para los solictantes","height":656,"width":2800},"type":"n8n-nodes-base.stickyNote","position":[-3056,-1296],"typeVersion":1,"id":"4561fe30-cc41-42ea-a5c8-7b2674f24930","name":"Sticky Note"},{"parameters":{"content":"## Solicitud de Anulacion de comprobante de venta\ncopia de correo para los solictantes","height":544,"width":832,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3056,-624],"typeVersion":1,"id":"52408841-efad-42c0-abcd-6c93946fb9ed","name":"Sticky Note1"},{"parameters":{"content":"## Solicitud de Anulacion de guia de remision\ncopia de correo para los solictantes","height":560,"width":1728,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3056,-64],"typeVersion":1,"id":"6015ac5d-834d-46c9-bc92-0239458d4062","name":"Sticky Note2"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de {{ $json.requerimiento }}</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Wrapper a 100% para fondo -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n        \n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"650\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor fijo 650px -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"650\" \n               style=\"width:650px; max-width:650px; min-width:650px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n              \n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de {{ $json.requerimiento }}\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Autorizado por:</strong> {{ $json.autorizador }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Estado de la Mercadería:</strong> {{ $json['estado  mercaderia'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Nombre Cliente:</strong> {{ $json.cliente }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo:</strong> {{ $json['motivo nc'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Mercadería:</strong>\n                <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" \n                       style=\"width:100%; border-collapse:collapse; margin-top:10px;\">\n                  <thead>\n                    <tr>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Código</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Cantidad</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Producto</th>\n                      <th style=\"border:1px solid #ddd; padding:8px; text-align:left; background:#f2f2f2; color:#333; font-weight:bold; font-size:14px;\">Total</th>\n                    </tr>\n                  </thead>\n                  <tbody style=\"font-size:14px; line-height:1.4;\">\n                    {{ $json.mercaderia_tabla }}\n                  </tbody>\n                </table>\n              </div>          \n\n            </td>\n          </tr>\n           <tr>\n      <td colspan=\"2\" style=\"padding: 15px; border: 1px solid #dddddd; background-color: #f9f9f9;\">\n        Para confirmar que la atención de solicitud ha sido atendida, por favor, haz clic en el siguiente enlace:\n      </td>\n    </tr>\n    <tr>\n  <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/sl?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n    >\n      Confirmar Atención de Solicitud\n    </a>\n  </td>\n</tr>\n        </table>\n        <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1296,-576],"id":"a6a32e7f-f9b5-4217-ad65-c6201470342a","name":"nota de credito1"},{"parameters":{"content":"## Copia de correo al destinatario","height":544,"width":1952,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2208,-624],"typeVersion":1,"id":"4e15d660-1759-4067-a4ef-9ebbc13eaa63","name":"Sticky Note4"},{"parameters":{"fromEmail":"={{ $('Switch').item.json[\"correo solicitante\"] }}","toEmail":"={{ $('valores cargados').item.json['correos receptores'] }}","subject":"=Solicitud de  {{ $('valores cargados').item.json.requerimiento }}","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-400,-384],"id":"b5e9be72-af35-4d0d-9da1-3ae687033385","name":"envio de copia de solicitud","webhookId":"99650612-84da-4c91-a697-61d079c61a34","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Guía de Remisión</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor principal -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Guía de Remisión\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json.guia }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong><br>\n                {{ $json['motivo anulacion'] }}\n              </div>       \n\n            </td>\n          </tr>\n<tr>\n  <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/sl?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n    >\n      Confirmar Atención de Solicitud\n    </a>\n  </td>\n</tr>\n        </table>\n        <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1808,-368],"id":"f9a3036e-0079-41d0-8c67-830fffed5cf0","name":"anulacion de guia1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Solicitud de Anulación de Comprobante</title>\n  <meta name=\"x-apple-disable-message-reformatting\">\n</head>\n<body style=\"margin:0; padding:0; background:#f8f9fa;\">\n  <!-- Fondo general -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%; border-collapse:collapse; background:#f8f9fa;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 10px;\">\n\n        <!--[if mso | IE]>\n        <table role=\"presentation\" width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr><td>\n        <![endif]-->\n\n        <!-- Contenedor blanco -->\n        <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\"\n               style=\"width:600px; max-width:600px; min-width:600px; border-collapse:separate; border:1px solid #e0e0e0; border-radius:8px; background:#ffffff;\">\n          <tr>\n            <td style=\"padding:20px; font-family:Arial, Helvetica, sans-serif; color:#333;\">\n\n              <h2 style=\"margin:0 0 20px; font-size:22px; line-height:1.3; text-align:center; color:#0056b3;\">\n                Solicitud de Anulación de Comprobante\n              </h2>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Solicitado por:</strong> {{ $json.solicitante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Guía:</strong> {{ $json.guia }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Número de Comprobante:</strong> {{ $json.comprobante }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Importe de Comprobante:</strong> {{ $json.importe }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Comprobante de Reemplazo:</strong> {{ $json['nuevo comprobante'] }}\n              </div>\n\n              <div style=\"margin:0 0 15px; font-size:14px; line-height:1.5;\">\n                <strong style=\"color:#444;\">Motivo de Anulación:</strong><br>\n                {{ $json['motivo anulacion'] }}\n              </div>              \n\n            </td>\n          </tr>\n<tr>\n  <td colspan=\"2\" align=\"center\" style=\"padding: 20px; border: 1px solid #dddddd;\">\n    <a \n      href=\"https://ene8w.heleo.com.pe/webhook/sl?request_id={{ $json.id }}\" \n      target=\"_blank\" \n      style=\"display: inline-block; padding: 10px 15px; font-size: 16px; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;\"\n    >\n      Confirmar Atención de Solicitud\n    </a>\n  </td>\n</tr>\n        </table>\n         <div style=\"margin-top:20px; font-size:12px; color:#777; text-align:center; border-top:1px solid #e0e0e0; padding-top:10px;\">\n                PUEDE HACER SEGUIMIENTO DE LAS SOLICITUDES EN EL SIGUIENTE LINK:\n                <a href=\"https://link.heleo.com.pe/seguimiento_solicitudes\" style=\"color: #888888;\">https://link.heleo.com.pe/seguimiento_solicitudes</a>\n              </div>\n        <!--[if mso | IE]>\n          </td></tr>\n        </table>\n        <![endif]-->\n\n      </td>\n    </tr>\n  </table>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1632,-480],"id":"f798fce3-56b5-4edc-9196-61fb87219e96","name":"html anulacion","alwaysOutputData":true,"notesInFlow":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-624,-576],"id":"8e7b6ed8-f41a-4dd5-98d1-4648b5072fa6","name":"Merge3"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{ $json.titulo }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,-1232],"id":"8af56fc7-09d2-428d-bff1-16f37a4b33cb","name":"recupera adjuntos","retryOnFail":true},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pgdr03jv1pxs0up","table":"mlzp2itrhk2iut6","options":{"viewId":"vwhj54lx2flyckf5"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-3808,-1072],"id":"4fc20266-1deb-481f-9939-c39454019a01","name":"receptores","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9e31ff6f-aef6-4bf8-ab0c-e258a1f9e77c","name":"correos receptores","value":"={{ $json.Correo.join(';') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3808,-880],"id":"22e64eeb-e552-47fe-bf95-4c6120961866","name":"listado correos"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1248,-256],"id":"31b71ff0-acfd-42b3-b9e8-f21affb646f8","name":"Merge5"},{"parameters":{"assignments":{"assignments":[{"id":"aed67bf7-489e-4931-8e03-7cd2a27c4f49","name":"urls","value":"={{ $json[\"adjuntos\"].map(a => a.signedUrl) }}","type":"array"},{"id":"b2e41c5a-1cb2-4dc0-9402-ab55e6b7fb79","name":"titulos","value":"={{ $json[\"adjuntos\"].map(a => a.title) }}","type":"array"},{"id":"5bded2ba-3d2d-4ee0-b41b-7c7feaebe43a","name":"mimetype","value":"={{ $json[\"adjuntos\"].map(a => a.mimetype) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-1264],"id":"ad6c89e6-5f85-4020-9521-cc5bf4612390","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"464bae20-3c7e-4786-a41b-d9688526c422","leftValue":"={{ $json.adjuntos[0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2368,-1184],"id":"75942505-3ecd-4f0a-b97c-f0ad4f874e8d","name":"con adjunto"},{"parameters":{"assignments":{"assignments":[{"id":"c911363c-fc3e-4c42-a021-57969accb0b0","name":"attachmentsList","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,-1072],"id":"87288500-2b3c-453d-9258-d79404e494c0","name":"variable en blanco"},{"parameters":{"assignments":{"assignments":[{"id":"aed67bf7-489e-4931-8e03-7cd2a27c4f49","name":"urls","value":"={{ $json[\"Adjunto Guia\"].map(a => a.signedUrl) }}","type":"array"},{"id":"b2e41c5a-1cb2-4dc0-9402-ab55e6b7fb79","name":"titulos","value":"={{ $json[\"Adjunto Guia\"].map(a => a.title) }}","type":"array"},{"id":"5bded2ba-3d2d-4ee0-b41b-7c7feaebe43a","name":"mimetype","value":"={{ $json[\"Adjunto Guia\"].map(a => a.mimetype) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2384,32],"id":"9e423a19-7f40-4876-a165-702e6565e856","name":"Edit Fields1"},{"parameters":{"jsCode":"return $json.urls.map((url, index) => ({\n  url,\n  titulo: $json.titulos[index],\n  mime: $json.mimetype[index],\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,32],"id":"9e34cbc7-f5be-4cc0-a8fe-a89c30661593","name":"split1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"464bae20-3c7e-4786-a41b-d9688526c422","leftValue":"={{ $json['Adjunto Guia'][0] }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2608,48],"id":"7a183d8d-5ed6-463b-91e4-93be842c4bce","name":"guia adjunta"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"={{ $json.titulo }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1984,32],"id":"5830dc1a-5e32-4e76-91a3-d6d1f86ace6a","name":"recupera adjuntos1","retryOnFail":true},{"parameters":{"jsCode":"const item = items[0]; // Un solo item con todos los binarios\nconst attachmentKeys = Object.keys(item.binary);\n\n// Guardamos la lista de attachments en el JSON para que el nodo Email la use\nitem.json.attachmentsList = attachmentKeys.join(',');\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,192],"id":"43e68990-f712-41f2-8f06-50bde2888c15","name":"nombres1"},{"parameters":{"jsCode":"const newItem = { json: {}, binary: {} };\n\nitems.forEach((item, index) => {\n  const binaryKey = Object.keys(item.binary)[0];\n  newItem.binary[`file${index + 1}`] = item.binary[binaryKey];\n});\n\nreturn [newItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,192],"id":"dfd2992c-174e-4852-b649-933c4bac6d19","name":"join binary1"},{"parameters":{"fromEmail":"={{ $('Switch').item.json['correo solicitante'] }}","toEmail":"={{ $('valores cargados').item.json['correo solicitante'] }};{{ $('valores cargados').item.json['correo almacen'] }}","subject":"Solicitud de Anuacion de Guia","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ $json.attachmentsList }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-1536,336],"id":"b5160992-1bd4-4e5e-96f9-10e8c03a0d1a","name":"envio de solicitud de guia","webhookId":"98976ce8-a34d-4359-986d-2b1fbe4bed16","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"solicitudxdocumentos","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4080,-960],"id":"f1bdcd59-0f2a-452c-aca5-17f2a49d3fdc","name":"input","webhookId":"519c1d17-57e8-414a-ba89-8f0171fe5de0"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Correo"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3632,-1072],"id":"b66e4267-fb90-427a-b119-b91275cf939e","name":"lista Correos"},{"parameters":{"fromEmail":"{{ $('Switch').item.json['correo solicitante'] }}","toEmail":"={{ $('valores cargados').item.json['correo solicitante'] }}","subject":"=Solicitud de {{ $('valores cargados').item.json.requerimiento }}","html":"={{ $json.html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-2432,-432],"id":"75fe5400-c342-4109-b2b9-d652f4bdba28","name":"correo para anulacion de comprobante","webhookId":"87427f67-ab26-4f5f-91fd-fa58006bcde9","credentials":{"smtp":{"id":"k3JRkY41OWD5lbru","name":"enviador de correos de workflows"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","id":"={{ $json.id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-2848,112],"id":"b00b7ad1-1cc7-4599-bcc2-a88e61ad474a","name":"Get solicitud","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pgdr03jv1pxs0up","table":"mlzp2itrhk2iut6","options":{"viewId":"vwul1ssc39b7qq4j","where":"=(Tienda,like,Parque Industrial)"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-3808,-688],"id":"50b34913-7e8f-4492-afc5-9dde79ed8d2c","name":"almacenero","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1760,336],"id":"7b74f5bf-bddb-4e82-af81-0e25395d2bba","name":"Merge6"}],"connections":{"Switch":{"main":[[{"node":"Get a row","type":"main","index":0},{"node":"Information Extractor","type":"main","index":0},{"node":"Merge","type":"main","index":0}],[{"node":"anulacion comprobantes","type":"main","index":0},{"node":"html anulacion","type":"main","index":0}],[{"node":"anulacion de guia1","type":"main","index":0},{"node":"Get solicitud","type":"main","index":0}]]},"valores cargados":{"main":[[{"node":"Switch","type":"main","index":0}]]},"anulacion comprobantes":{"main":[[{"node":"correo para anulacion de comprobante","type":"main","index":0}]]},"anulacion de guia":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"nota de credito":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get a row":{"main":[[{"node":"con adjunto","type":"main","index":0}]]},"split":{"main":[[{"node":"recupera adjuntos","type":"main","index":0}]]},"join binary":{"main":[[{"node":"nombres","type":"main","index":0}]]},"nombres":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"nota de credito","type":"main","index":0},{"node":"nota de credito1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"envio de solicitud de NC","type":"main","index":0}]]},"nota de credito1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"anulacion de guia1":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"html anulacion":{"main":[[{"node":"envio de copia de solicitud","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"envio de copia de solicitud","type":"main","index":0}]]},"recupera adjuntos":{"main":[[{"node":"join binary","type":"main","index":0}]]},"receptores":{"main":[[{"node":"lista Correos","type":"main","index":0}]]},"listado correos":{"main":[[{"node":"almacenero","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"envio de copia de solicitud","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"split","type":"main","index":0}]]},"con adjunto":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"variable en blanco","type":"main","index":0}]]},"variable en blanco":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"split1","type":"main","index":0}]]},"split1":{"main":[[{"node":"recupera adjuntos1","type":"main","index":0}]]},"guia adjunta":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"recupera adjuntos1":{"main":[[{"node":"join binary1","type":"main","index":0}]]},"nombres1":{"main":[[{"node":"Merge5","type":"main","index":1},{"node":"Merge6","type":"main","index":0}]]},"join binary1":{"main":[[{"node":"nombres1","type":"main","index":0}]]},"input":{"main":[[{"node":"receptores","type":"main","index":0}]]},"lista Correos":{"main":[[{"node":"listado correos","type":"main","index":0}]]},"Get solicitud":{"main":[[{"node":"guia adjunta","type":"main","index":0},{"node":"anulacion de guia","type":"main","index":0}]]},"almacenero":{"main":[[{"node":"valores cargados","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"envio de solicitud de guia","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"P2KNQOljSeBCsYgy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"input":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"axios/1.11.0","content-length":"4640","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"type":"records.after.insert","id":"0a2661a8-1b3a-4e9b-91e9-c1b9d56a9ce6","version":"v3","data":{"table_id":"m15ssb58yi3alx5","table_name":"Registro de Solicitudes","rows":[{"Id":507,"CreatedAt":"2025-11-15 04:11:37+00:00","UpdatedAt":"2025-11-15 04:11:37+00:00","Numero de Guia":null,"Numero de Comprobante":"BC02-69914","Requerimiento":"Nota de credito","Motivo de Anulacion":null,"Estado de la Mercaderia":"No salio del almacen","Nombre Cliente":"CALIZAYA LOPEZ HENRY","Motivo":"CAMBIARA POR ACCESORIOS EL MATERIAL QUE TIENE PENDIENTE POR RECOGER","Mercaderia":"• **Código:** 1124<br>**Cantidad:** 50<br>**Producto:** FIERRO 3/8 <br>**Total:** S/ 1010.00\n\n• **Código:** 1125<br>**Cantidad:** 1<br>**Producto:** FIERRO 5/8 <br>**Total:** S/ 55.80\n\n• **Código:** 1123<br>**Cantidad:** 3<br>**Producto:** FIERRO 3/4 <br>**Total:** S/ 244.90\n\n <br> ","adjuntos":[{"url":"https://ms3.heleo.com.pe:443/nc/uploads/2025/11/14/60e65c63f9091a580cbaec91b037645612f9eb7e/WhatsApp Image 2025-11-14 at 6.01.14 PM_aWWbi.jpeg","title":"WhatsApp Image 2025-11-14 at 6.01.14 PM.jpeg","mimetype":"image/jpeg","size":89435,"width":942,"height":1306,"id":"at9xh59fligey19v","thumbnails":{"tiny":{"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/thumbnails/2025/11/14/60e65c63f9091a580cbaec91b037645612f9eb7e/WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM_aWWbi.jpeg/tiny.jpg?ResponseContentDisposition=inline%3B%20filename%3D%22WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM.jpeg%22&ResponseContentType=image%2Fjpeg&expireAt=2025-11-15T01%3A20%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251114T231137Z&X-Amz-Expires=7703&X-Amz-SignedHeaders=host&X-Amz-Signature=a49907234c785f9923e87983a8efc490965dca3898d39b12355be75f8104ee40"},"small":{"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/thumbnails/2025/11/14/60e65c63f9091a580cbaec91b037645612f9eb7e/WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM_aWWbi.jpeg/small.jpg?ResponseContentDisposition=inline%3B%20filename%3D%22WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM.jpeg%22&ResponseContentType=image%2Fjpeg&expireAt=2025-11-15T01%3A20%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251114T231137Z&X-Amz-Expires=7703&X-Amz-SignedHeaders=host&X-Amz-Signature=d9ec084ee9cd8db91fb56d7b38b95a76392332a2afb8ce22dfc7e73d999f8a40"},"card_cover":{"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/thumbnails/2025/11/14/60e65c63f9091a580cbaec91b037645612f9eb7e/WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM_aWWbi.jpeg/card_cover.jpg?ResponseContentDisposition=inline%3B%20filename%3D%22WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM.jpeg%22&ResponseContentType=image%2Fjpeg&expireAt=2025-11-15T01%3A20%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251114T231137Z&X-Amz-Expires=7703&X-Amz-SignedHeaders=host&X-Amz-Signature=daf6bacd2eb93d1c7faf72cabe1d54813318c316a7aef3c3f71d0f6b36b677b6"}},"signedUrl":"https://ms3.heleo.com.pe/nocodb/nc/uploads/2025/11/14/60e65c63f9091a580cbaec91b037645612f9eb7e/WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM_aWWbi.jpeg?ResponseContentDisposition=inline%3B%20filename%3D%22WhatsApp%20Image%202025-11-14%20at%206.01.14%20PM.jpeg%22&ResponseContentType=image%2Fjpeg&expireAt=2025-11-15T01%3A20%3A00.000Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=TcTYGHMnRqNvpeJyZIyS%2F20251114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251114T231137Z&X-Amz-Expires=7703&X-Amz-SignedHeaders=host&X-Amz-Signature=d43a55f36aa8ae8b2d28fa79326c3739dcb0655ff6ab8b57c282a06b6487a621"}],"Estado":"En espera","hora solicitud":"2025-11-14 23:11:37+00:00","hora atencion":null,"tiempo en ser atendido(min)":null,"atendido por":null,"Nuevo Comprobante":null,"Motivo de solicitud":"CAMBIARA POR ACCESORIOS EL MATERIAL QUE TIENE PENDIENTE POR RECOGER","Adjunto NC":null,"Importe Comprobante":null,"dias hoy":318,"dias atencion":318,"diferencia dias":0,"tipo fecha":"HOY","date":"2025-11-14","Adjunto Guia":null,"reenviar":{"type":"webhook","label":"reenviar","fk_webhook_id":"hkussbxcr6cpqdot"},"Personal":{"Id":6,"Nombre":"Yeni Velasquez","Correo":"yeni.velasquez@heleo.com.pe","Tienda_id":2},"Solicitante":"Yeni Velasquez","Correo":"yeni.velasquez@heleo.com.pe","Autorizado por":{"Id":28,"Nombre":"Rosario Mamani"},"Autorizador":"Rosario Mamani","Tienda":{"Personales":3,"Id":2,"CreatedAt":"2025-08-07 19:37:46+00:00","UpdatedAt":"2025-08-08 02:47:11+00:00","Title":"Patio Contructor"}}]}},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/solicitudxdocumentos","executionMode":"production"}}]},"versionId":"7f02a8e9-b518-460e-872c-5b308901d452","triggerCount":1,"shared":[{"createdAt":"2025-10-23T13:17:43.751Z","updatedAt":"2025-10-23T13:17:43.751Z","role":"workflow:owner","workflowId":"yAoftXnOn9jDBbLp","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}