test-telegram-8fNWPB880bUiD68N.json
{"createdAt":"2025-09-08T17:19:58.002Z","updatedAt":"2025-09-16T14:51:15.544Z","id":"8fNWPB880bUiD68N","name":"test telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"conversationKey":"={{ $json.message.from.id }}","messageField":"={{ $json.message.text }}","outputFieldName":"MensajeSalida","waitTime":10},"type":"n8n-nodes-message-buffer.messageBuffer","typeVersion":1,"position":[-128,0],"id":"2d7ee6dc-28e1-4f00-908a-a540c3ed4fcb","name":"Message Buffer","credentials":{"redis":{"id":"80fx3lEFucW5yx3K","name":"Redis account cloud"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-384,16],"id":"ce5ea445-20ab-4466-804b-a5aa2564976a","name":"telegram_trigger","webhookId":"b6cf07c5-f9fc-49a3-8fe5-635ab25151a8","credentials":{"telegramApi":{"id":"JapnsteBcRN5728Q","name":"Telegram account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[48,160],"id":"6e3696f1-2aea-42fd-97c2-81a52e8dfd6f","name":"Wait","webhookId":"d2e36f45-779d-42eb-9528-024d67a2e576"},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"={{ $json.MensajeSalida }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,-16],"id":"2e07cfbd-0914-4882-bf17-56bf8adc8c1c","name":"Send a text message","webhookId":"1bde3844-cbd9-4222-90a5-a5783f686969","credentials":{"telegramApi":{"id":"JapnsteBcRN5728Q","name":"Telegram account"}}}],"connections":{"telegram_trigger":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]},"Message Buffer":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Message Buffer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f129f7fc-cf1c-4cad-a8c6-bbb233780135","triggerCount":1,"shared":[{"createdAt":"2025-09-08T17:19:58.002Z","updatedAt":"2025-09-08T17:19:58.002Z","role":"workflow:owner","workflowId":"8fNWPB880bUiD68N","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}