web-editar-gasto-bQ840oNrZKPGYpTw.json
{"createdAt":"2025-10-24T17:57:02.566Z","updatedAt":"2025-11-06T15:33:11.426Z","id":"bQ840oNrZKPGYpTw","name":"web editar gasto","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"edit_gastos","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,160],"id":"d975f136-c980-4fb7-aff9-09cf70c89875","name":"Webhook","webhookId":"c8ad9a0d-c99e-4d80-bcb1-1c58082174b0"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Editar Gasto</title>\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      padding: 1rem;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n    }\n    \n    .container {\n      background: #fff;\n      border-radius: 16px;\n      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);\n      max-width: 500px;\n      width: 100%;\n      overflow: hidden;\n    }\n    \n    .header {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 1.5rem;\n      text-align: center;\n    }\n    \n    .header h1 {\n      font-size: 1.5rem;\n      font-weight: 600;\n      margin-bottom: 0.25rem;\n    }\n    \n    .header p {\n      font-size: 0.9rem;\n      opacity: 0.9;\n    }\n    \n    .content {\n      padding: 1.5rem;\n    }\n    \n    .form-group {\n      margin-bottom: 1.25rem;\n    }\n    \n    .form-group label {\n      display: block;\n      font-size: 0.9rem;\n      font-weight: 600;\n      color: #374151;\n      margin-bottom: 0.5rem;\n    }\n    \n    .form-group input,\n    .form-group select {\n      width: 100%;\n      padding: 0.75rem;\n      border: 2px solid #e5e7eb;\n      border-radius: 8px;\n      font-size: 1rem;\n      transition: all 0.3s;\n      background: #fff;\n    }\n    \n    .form-group input:focus,\n    .form-group select:focus {\n      outline: none;\n      border-color: #667eea;\n      box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);\n    }\n    \n    .form-group select {\n      cursor: pointer;\n      appearance: none;\n      background-image: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23374151' d='M6 9L1 4h10z'/%3E%3C/svg%3E\");\n      background-repeat: no-repeat;\n      background-position: right 0.75rem center;\n      padding-right: 2.5rem;\n    }\n    \n    .info-badge {\n      display: inline-block;\n      background: #f3f4f6;\n      color: #6b7280;\n      padding: 0.25rem 0.75rem;\n      border-radius: 12px;\n      font-size: 0.85rem;\n      margin-top: 0.25rem;\n    }\n    \n    .btn-submit {\n      width: 100%;\n      padding: 1rem;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      border: none;\n      border-radius: 8px;\n      font-size: 1rem;\n      font-weight: 600;\n      cursor: pointer;\n      transition: all 0.3s;\n      margin-top: 0.5rem;\n    }\n    \n    .btn-submit:hover:not(:disabled) {\n      transform: translateY(-2px);\n      box-shadow: 0 6px 20px rgba(102, 126, 234, 0.4);\n    }\n    \n    .btn-submit:disabled {\n      background: #d1d5db;\n      cursor: not-allowed;\n      transform: none;\n    }\n    \n    .message {\n      padding: 1rem;\n      border-radius: 8px;\n      margin-top: 1rem;\n      display: none;\n      font-size: 0.95rem;\n      animation: slideIn 0.3s ease;\n    }\n    \n    @keyframes slideIn {\n      from {\n        opacity: 0;\n        transform: translateY(-10px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n    \n    .success-message {\n      background: #d1fae5;\n      color: #065f46;\n      border: 2px solid #10b981;\n    }\n    \n    .error-message {\n      background: #fee2e2;\n      color: #991b1b;\n      border: 2px solid #ef4444;\n    }\n    \n    .icon {\n      display: inline-block;\n      margin-right: 0.5rem;\n    }\n    \n    /* Mejoras para móvil */\n    @media (max-width: 640px) {\n      body {\n        padding: 0.5rem;\n      }\n      \n      .header h1 {\n        font-size: 1.25rem;\n      }\n      \n      .content {\n        padding: 1rem;\n      }\n      \n      .form-group {\n        margin-bottom: 1rem;\n      }\n      \n      .form-group input,\n      .form-group select {\n        font-size: 16px; /* Evita zoom automático en iOS */\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✏️ Editar Gasto</h1>\n      <p>Actualiza la información de tu registro</p>\n    </div>\n    \n    <div class=\"content\">\n      <form id=\"editForm\">\n        <input type=\"hidden\" id=\"recordId\" value=\"{{ $json.Id }}\">\n        \n        <div class=\"form-group\">\n          <label for=\"monto\">💰 Monto</label>\n          <input \n            type=\"number\" \n            id=\"monto\" \n            step=\"0.01\" \n            min=\"0\"\n            value=\"{{ $json.monto }}\"\n            placeholder=\"0.00\"\n            required\n          >\n        </div>\n        \n        <div class=\"form-group\">\n          <label for=\"categoria\">📂 Categoría</label>\n          <select id=\"categoria\" required>\n            <option value=\"\">Seleccionar categoría</option>\n            <option value=\"comida\">🍔 Comida</option>\n            <option value=\"transporte\">🚗 Transporte</option>\n            <option value=\"servicios\">💡 Servicios</option>\n            <option value=\"entretenimiento\">🎬 Entretenimiento</option>\n            <option value=\"salud\">⚕️ Salud</option>\n            <option value=\"educacion\">📚 Educación</option>\n            <option value=\"hogar\">🏠 Hogar</option>\n            <option value=\"mis padres\">👨‍👩‍👦 Mis Padres</option>\n            <option value=\"otros\">📦 Otros</option>\n          </select>\n        </div>\n        \n        <div class=\"form-group\">\n          <label for=\"descripcion\">📝 Descripción</label>\n          <input \n            type=\"text\" \n            id=\"descripcion\" \n            value=\"{{ $json.descripcion }}\"\n            placeholder=\"Ej: Super mercado Plaza Vea\"\n            required\n          >\n        </div>\n        \n        <div class=\"form-group\">\n          <label for=\"fecha\">📅 Fecha</label>\n          <input \n            type=\"date\" \n            id=\"fecha\" \n            value=\"{{ $json.fecha }}\"\n            required\n          >\n        </div>\n        \n        <button type=\"submit\" class=\"btn-submit\" id=\"btnSubmit\">\n          Actualizar Gasto\n        </button>\n      </form>\n      \n      <div id=\"successMessage\" class=\"message success-message\">\n        <span class=\"icon\">✅</span>\n        <span>Gasto actualizado exitosamente</span>\n      </div>\n      \n      <div id=\"errorMessage\" class=\"message error-message\">\n        <span class=\"icon\">❌</span>\n        <span>Error al actualizar el gasto. Intenta nuevamente.</span>\n      </div>\n    </div>\n  </div>\n\n  <script>\n    // Establecer la categoría inicial\n    document.addEventListener('DOMContentLoaded', function() {\n      const categoriaActual = \"{{ $json.categoria }}\";\n      const selectCategoria = document.getElementById('categoria');\n      selectCategoria.value = categoriaActual;\n    });\n\n    // Manejo del formulario\n    document.getElementById('editForm').addEventListener('submit', async function(event) {\n      event.preventDefault();\n      \n      const btnSubmit = document.getElementById('btnSubmit');\n      const successMessage = document.getElementById('successMessage');\n      const errorMessage = document.getElementById('errorMessage');\n      \n      // Ocultar mensajes previos\n      successMessage.style.display = 'none';\n      errorMessage.style.display = 'none';\n      \n      // Deshabilitar botón y cambiar texto\n      btnSubmit.disabled = true;\n      btnSubmit.textContent = 'Actualizando...';\n      \n      // Recopilar datos del formulario\n      const formData = new FormData();\n      formData.append('id', document.getElementById('recordId').value);\n      formData.append('monto', document.getElementById('monto').value);\n      formData.append('categoria', document.getElementById('categoria').value);\n      formData.append('descripcion', document.getElementById('descripcion').value);\n      formData.append('fecha', document.getElementById('fecha').value);\n      \n      try {\n        const response = await fetch('{{ $json.webhook }}', {\n          method: 'POST',\n          body: formData\n        });\n        \n        if (response.ok) {\n          successMessage.style.display = 'block';\n          btnSubmit.textContent = '✓ Actualizado';\n          btnSubmit.style.background = '#10b981';\n          \n          // Opcional: Cerrar o redirigir después de 2 segundos\n          setTimeout(() => {\n            // window.close(); // Si quieres cerrar la ventana\n          }, 2000);\n        } else {\n          throw new Error('Error en la respuesta del servidor');\n        }\n      } catch (error) {\n        errorMessage.style.display = 'block';\n        btnSubmit.disabled = false;\n        btnSubmit.textContent = 'Actualizar Gasto';\n        console.error('Error:', error);\n      }\n    });\n  </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[784,160],"id":"68411d53-516b-462d-9fd3-3d78b00d95f1","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[960,160],"id":"f0cb54b6-7ca5-46b1-8c86-1917469ff6bd","name":"Respond to Webhook"},{"parameters":{"authentication":"nocoDbApiToken","workspaceId":"wsz4x1lj","projectId":"pgukarxe1ax1kf4","table":"mn9szdaxo9lyiht","id":"={{ $json.query.request_id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[160,80],"id":"a48e657f-3a2e-4118-8e8f-72314d334176","name":"Get a row","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"sg9AXpayfezBKp3A","name":"NocoDB Token cloud jd"}}},{"parameters":{"content":"## Web para editar los gastos\naca cree la web y la publico mediante un webhook","height":384,"width":1552},"type":"n8n-nodes-base.stickyNote","position":[-272,0],"typeVersion":1,"id":"ed44b2c9-5cd1-4ec5-9218-84a733376393","name":"Sticky Note"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[368,160],"id":"5ee786ba-30c2-40fc-9ca1-ad1aece4b89c","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"2eb25455-360a-4c97-b0ed-7a202243c63c","name":"webhook","value":"https://proxy.eficiencia.cloud/guardar_gasto","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,256],"id":"9d93c889-d2da-42fe-a6f4-42232bf323d2","name":"set webhook"},{"parameters":{"assignments":{"assignments":[{"id":"155fddfe-5fc0-4ddc-8609-6bda32170d3e","name":"Id","value":"={{ $json.Id }}","type":"number"},{"id":"eb0817b7-bc03-45e3-84bd-6897b85a0e87","name":"monto","value":"={{ $json.monto }}","type":"number"},{"id":"5843816a-792d-4a4a-ac48-9e1078899139","name":"categoria","value":"={{ $json.categoria }}","type":"string"},{"id":"118d6d59-c5a3-45c5-bc90-633e9b982ec0","name":"descripcion","value":"={{ $json.descripcion }}","type":"string"},{"id":"03bbd9aa-a2ac-4db3-afac-d4ca62230d1f","name":"fecha","value":"={{ $json.fecha }}","type":"string"},{"id":"7f49e05e-ed43-4b30-bc7c-593f74692ce6","name":"webhook","value":"={{ $json.webhook }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,160],"id":"e0dd3d97-5842-4b71-9ea6-3eab4b5a76e2","name":"Edit Fields"},{"parameters":{"content":"## usar este webhook\n### https://proxy.eficiencia.cloud/[nombre-webhook]\nEn vez de este:\n### https://ene8w.heleo.com.pe/webhook/[nombre-webhook]","width":976},"type":"n8n-nodes-base.stickyNote","position":[-272,-272],"typeVersion":1,"id":"eae2597c-ae2c-49f0-ad90-d3b9f837dd53","name":"Sticky Note1"}],"connections":{"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0},{"node":"set webhook","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Merge","type":"main","index":0}]]},"set webhook":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"190.239.25.123"},"params":{},"query":{"request_id":"14"},"body":{},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/sl","executionMode":"production"}}]},"versionId":"309a0b41-1a55-4e2d-812a-20eaca0be888","triggerCount":1,"shared":[{"createdAt":"2025-10-24T17:57:02.566Z","updatedAt":"2025-10-24T17:57:02.566Z","role":"workflow:owner","workflowId":"bQ840oNrZKPGYpTw","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}