web-dashboard-gastos-GboFMy2WsoWrwjUl.json
{"createdAt":"2025-10-25T17:08:41.448Z","updatedAt":"2025-11-05T14:05:48.372Z","id":"GboFMy2WsoWrwjUl","name":"web dashboard gastos","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"dashboard_gastos","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,160],"id":"d1f4f713-7faf-4536-b531-592b378a3b0c","name":"Webhook","webhookId":"6025d113-fbad-4654-81f7-07ca8497cf62"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1936,224],"id":"12b200fe-9116-485d-9da2-eb7dd740bf84","name":"Respond to Webhook"},{"parameters":{"content":"## Dashboard de gastos\naca cree la web y la publico mediante un webhook","height":656,"width":2384},"type":"n8n-nodes-base.stickyNote","position":[-272,-16],"typeVersion":1,"id":"4957324c-80b8-46a3-b10e-3e63baa77754","name":"Sticky Note"},{"parameters":{"content":"## usar este webhook para la web del dashboard\n### https://saas.eficiencia.cloud/gastos\nhttps://ene8w.heleo.com.pe/webhook/gastos","height":112,"width":976,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-272,-144],"typeVersion":1,"id":"31984832-f806-48f5-82f9-cdacff06a74b","name":"Sticky Note1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"m8tvrpwgjo1hwkj","limit":100,"options":{"where":"={{ $json.filtro }}"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1040,112],"id":"24444f05-8c0d-4693-a737-20958b51caa9","name":"Get many rows","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Acceso Denegado</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      margin: 0;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    }\n    .container {\n      background: white;\n      padding: 3rem;\n      border-radius: 10px;\n      box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n      text-align: center;\n      max-width: 500px;\n    }\n    h1 { color: #e74c3c; margin-bottom: 1rem; }\n    p { color: #555; line-height: 1.6; }\n    .icon { font-size: 4rem; margin-bottom: 1rem; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"icon\">🚫</div>\n    <h1>Acceso Denegado</h1>\n    <p>Este enlace ha expirado, ya fue utilizado o no es válido.</p>\n    <p>Por favor, solicita un nuevo enlace.</p>\n  </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1040,448],"id":"02589b12-1f04-4009-b1b2-2b174db96a4d","name":"sin acceso"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"prl7a2tz6nswihw","table":"mfq6lpi1ie3qtgi","limit":1,"options":{"where":"=(token,eq,{{ $json.query.token }})~and(usado,eq,false)"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[368,320],"id":"c505be39-4266-42b0-ad39-cb8b62d63c62","name":"Get token","alwaysOutputData":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"prl7a2tz6nswihw","table":"mfq6lpi1ie3qtgi","fieldsUi":{"fieldValues":[{"fieldName":"Id","fieldValue":"={{ $('Get token').item.json.Id }}"},{"fieldName":"usado","fieldValue":"true"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1936,448],"id":"b65904ba-5269-4b8e-bb09-a2a28e81cdf1","name":"Update a row","credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1712,224],"id":"da403a8b-1237-49bc-853c-0501db985f67","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"193f807d-acae-43f4-9614-31cc82d3f2eb","name":"html","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,448],"id":"29d301bc-9cbb-468e-817b-3ad45c7c4b7c","name":"set html1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,80],"id":"9fb12ac9-7c7a-4cc5-9321-2382e88e2853","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"776dae41-cd0d-4ee1-a1f4-744f7f23066a","leftValue":"={{ $json.es_preview }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,160],"id":"7f154484-d821-4de4-8de4-036779853a15","name":"detener flujo"},{"parameters":{"jsCode":"// Nodo Function: Detectar Preview de WhatsApp\n\nconst headers = $json.headers || {};\nconst userAgent = (headers['user-agent'] || '').toLowerCase();\n\n// El preview de WhatsApp tiene estas características únicas:\n// 1. user-agent: \"node\"\n// 2. accept: \"*/*\" (no es un navegador real)\n// 3. sec-fetch-mode: \"cors\" (no \"navigate\")\n// 4. timeout: \"3000\" (header específico del preview)\n\nconst esPreview = \n  userAgent === 'node' ||                           // User-agent es \"node\"\n  headers['timeout'] === '3000' ||                  // Tiene header timeout\n  (headers['sec-fetch-mode'] === 'cors' &&          // sec-fetch-mode es \"cors\"\n   headers['accept'] === '*/*');                    // Y accept es \"*/*\"\n\n// Log para debugging\nconsole.log('🔍 Análisis de petición:', {\n  'user-agent': userAgent,\n  'accept': headers['accept'],\n  'sec-fetch-mode': headers['sec-fetch-mode'],\n  'timeout': headers['timeout'],\n  'DECISIÓN': esPreview ? '⛔ PREVIEW - BLOQUEAR' : '✅ USUARIO REAL - PERMITIR'\n});\n\nif (esPreview) {\n  return [{\n    json: {\n      es_preview: true,\n      detener_flujo: true\n    }\n  }];\n}\n\n// Usuario real - continuar\nreturn [{\n  json: {\n    ...$json,\n    es_preview: false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,160],"id":"192004f6-3893-4d83-8d7d-9ed6be406d84","name":"detecta bot preview"},{"parameters":{"assignments":{"assignments":[{"id":"93237937-cb5a-4847-bbed-d877fdfd1517","name":"tiene_datos","value":"={{ $input.all().length > 0 && Object.keys($input.all()[0].json).length > 0 }}","type":"string"},{"id":"5a6ba0ae-a92b-41d5-954a-957e375c5859","name":"filtro","value":"={{ $json.filtro }}","type":"string"},{"id":"05997619-d574-4bfa-94c1-f23b6f720c55","name":"tipo_token","value":"={{ $json.tipo_token }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,320],"id":"ca13849b-1783-4ec0-97dd-c197e664e4bd","name":"set valores"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Gestión de Gastos</title>\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      padding: 1.5rem;\n    }\n    \n    .container {\n      max-width: 1200px;\n      margin: 0 auto;\n    }\n    \n    .header {\n      text-align: center;\n      color: white;\n      margin-bottom: 2rem;\n    }\n    \n    .header h1 {\n      font-size: 2.5rem;\n      font-weight: 700;\n      margin-bottom: 0.5rem;\n      text-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    \n    .header p {\n      font-size: 1.1rem;\n      opacity: 0.95;\n    }\n    \n    .gastos-container {\n      background: white;\n      border-radius: 16px;\n      padding: 1.5rem;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n    }\n    \n    .container-title {\n      font-size: 1.3rem;\n      color: #374151;\n      font-weight: 600;\n      margin-bottom: 1.5rem;\n      padding-bottom: 0.75rem;\n      border-bottom: 2px solid #f3f4f6;\n    }\n    \n    .gastos-list {\n      max-height: 600px;\n      overflow-y: auto;\n    }\n    \n    .gasto-item {\n      display: grid;\n      grid-template-columns: 80px 1fr 120px 100px 180px;\n      gap: 1rem;\n      padding: 1rem;\n      border-bottom: 1px solid #f3f4f6;\n      align-items: center;\n      transition: background 0.2s;\n    }\n    \n    .gasto-item:hover {\n      background: #f9fafb;\n    }\n    \n    .gasto-item:last-child {\n      border-bottom: none;\n    }\n    \n    .gasto-fecha {\n      font-size: 0.85rem;\n      color: #6b7280;\n      font-weight: 600;\n    }\n    \n    .gasto-descripcion {\n      color: #374151;\n      font-weight: 500;\n    }\n    \n    .gasto-categoria {\n      padding: 0.25rem 0.75rem;\n      border-radius: 12px;\n      font-size: 0.8rem;\n      font-weight: 600;\n      color: white;\n      text-align: center;\n      white-space: nowrap;\n    }\n    \n    .gasto-monto {\n      font-size: 1.1rem;\n      font-weight: 700;\n      color: #667eea;\n      text-align: right;\n    }\n    \n    .gasto-actions {\n      display: flex;\n      gap: 0.5rem;\n      justify-content: flex-end;\n    }\n    \n    .btn {\n      padding: 0.5rem 1rem;\n      border: none;\n      border-radius: 8px;\n      font-weight: 600;\n      font-size: 0.85rem;\n      cursor: pointer;\n      transition: all 0.3s;\n    }\n    \n    .btn-edit {\n      background: #3b82f6;\n      color: white;\n    }\n    \n    .btn-edit:hover {\n      background: #2563eb;\n      transform: translateY(-2px);\n    }\n    \n    .btn-delete {\n      background: #ef4444;\n      color: white;\n    }\n    \n    .btn-delete:hover {\n      background: #dc2626;\n      transform: translateY(-2px);\n    }\n    \n    .btn-primary {\n      background: #667eea;\n      color: white;\n      padding: 0.75rem 1.5rem;\n      font-size: 1rem;\n    }\n    \n    .btn-primary:hover {\n      background: #5568d3;\n    }\n    \n    .btn-secondary {\n      background: #6b7280;\n      color: white;\n      padding: 0.75rem 1.5rem;\n      font-size: 1rem;\n    }\n    \n    .btn-secondary:hover {\n      background: #4b5563;\n    }\n    \n    /* Modal */\n    .modal {\n      display: none;\n      position: fixed;\n      z-index: 1000;\n      left: 0;\n      top: 0;\n      width: 100%;\n      height: 100%;\n      background-color: rgba(0, 0, 0, 0.5);\n      backdrop-filter: blur(4px);\n    }\n    \n    .modal.active {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n    }\n    \n    .modal-content {\n      background: white;\n      border-radius: 16px;\n      padding: 2rem;\n      max-width: 500px;\n      width: 90%;\n      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);\n      animation: slideDown 0.3s ease-out;\n    }\n    \n    @keyframes slideDown {\n      from {\n        opacity: 0;\n        transform: translateY(-50px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n    \n    .modal-header {\n      font-size: 1.5rem;\n      font-weight: 700;\n      color: #374151;\n      margin-bottom: 1.5rem;\n    }\n    \n    .form-group {\n      margin-bottom: 1.25rem;\n    }\n    \n    .form-label {\n      display: block;\n      font-size: 0.9rem;\n      font-weight: 600;\n      color: #374151;\n      margin-bottom: 0.5rem;\n    }\n    \n    .form-input {\n      width: 100%;\n      padding: 0.75rem;\n      border: 2px solid #e5e7eb;\n      border-radius: 8px;\n      font-size: 1rem;\n      transition: border-color 0.3s;\n    }\n    \n    .form-input:focus {\n      outline: none;\n      border-color: #667eea;\n    }\n    \n    .form-select {\n      width: 100%;\n      padding: 0.75rem;\n      border: 2px solid #e5e7eb;\n      border-radius: 8px;\n      font-size: 1rem;\n      cursor: pointer;\n      transition: border-color 0.3s;\n    }\n    \n    .form-select:focus {\n      outline: none;\n      border-color: #667eea;\n    }\n    \n    .modal-actions {\n      display: flex;\n      gap: 1rem;\n      margin-top: 2rem;\n    }\n    \n    .modal-actions .btn {\n      flex: 1;\n    }\n    \n    /* Toast notification */\n    .toast {\n      position: fixed;\n      bottom: 2rem;\n      right: 2rem;\n      background: white;\n      padding: 1rem 1.5rem;\n      border-radius: 12px;\n      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);\n      display: none;\n      align-items: center;\n      gap: 0.75rem;\n      z-index: 2000;\n      animation: slideIn 0.3s ease-out;\n    }\n    \n    @keyframes slideIn {\n      from {\n        opacity: 0;\n        transform: translateX(100px);\n      }\n      to {\n        opacity: 1;\n        transform: translateX(0);\n      }\n    }\n    \n    .toast.active {\n      display: flex;\n    }\n    \n    .toast.success {\n      border-left: 4px solid #10b981;\n    }\n    \n    .toast.error {\n      border-left: 4px solid #ef4444;\n    }\n    \n    .toast-icon {\n      font-size: 1.5rem;\n    }\n    \n    .toast-message {\n      font-weight: 600;\n      color: #374151;\n    }\n    \n    .empty-state {\n      text-align: center;\n      padding: 3rem;\n      color: #9ca3af;\n    }\n    \n    @media (max-width: 768px) {\n      body {\n        padding: 1rem;\n      }\n      \n      .header h1 {\n        font-size: 1.8rem;\n      }\n      \n      .gasto-item {\n        grid-template-columns: 1fr;\n        gap: 0.75rem;\n      }\n      \n      .gasto-monto {\n        text-align: left;\n      }\n      \n      .gasto-actions {\n        justify-content: flex-start;\n      }\n      \n      .modal-content {\n        padding: 1.5rem;\n      }\n      \n      .modal-actions {\n        flex-direction: column;\n      }\n      \n      .toast {\n        right: 1rem;\n        left: 1rem;\n        bottom: 1rem;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✏️ Gestión de Gastos</h1>\n      <p>Edita y elimina tus registros de gastos</p>\n    </div>\n    \n    <div class=\"gastos-container\">\n      <div class=\"container-title\">Lista de Gastos</div>\n      <div class=\"gastos-list\" id=\"gastosList\"></div>\n    </div>\n  </div>\n\n  <!-- Modal de Edición -->\n  <div class=\"modal\" id=\"editModal\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">Editar Gasto</div>\n      <form id=\"editForm\">\n        <input type=\"hidden\" id=\"editId\">\n        \n        <div class=\"form-group\">\n          <label class=\"form-label\" for=\"editMonto\">Monto (S/)</label>\n          <input type=\"number\" class=\"form-input\" id=\"editMonto\" step=\"0.01\" required>\n        </div>\n        \n        <div class=\"form-group\">\n          <label class=\"form-label\" for=\"editCategoria\">Categoría</label>\n          <select class=\"form-select\" id=\"editCategoria\" required>\n            <option value=\"comida\">Comida</option>\n            <option value=\"transporte\">Transporte</option>\n            <option value=\"servicios\">Servicios</option>\n            <option value=\"entretenimiento\">Entretenimiento</option>\n            <option value=\"salud\">Salud</option>\n            <option value=\"educacion\">Educación</option>\n            <option value=\"hogar\">Hogar</option>\n            <option value=\"mis padres\">Mis Padres</option>\n            <option value=\"otros\">Otros</option>\n          </select>\n        </div>\n        \n        <div class=\"form-group\">\n          <label class=\"form-label\" for=\"editDescripcion\">Descripción</label>\n          <input type=\"text\" class=\"form-input\" id=\"editDescripcion\" required>\n        </div>\n        \n        <div class=\"form-group\">\n          <label class=\"form-label\" for=\"editFecha\">Fecha</label>\n          <input type=\"date\" class=\"form-input\" id=\"editFecha\" required>\n        </div>\n        \n        <div class=\"modal-actions\">\n          <button type=\"button\" class=\"btn btn-secondary\" onclick=\"cerrarModal()\">Cancelar</button>\n          <button type=\"submit\" class=\"btn btn-primary\">Guardar Cambios</button>\n        </div>\n      </form>\n    </div>\n  </div>\n\n  <!-- Modal de Confirmación de Eliminación -->\n  <div class=\"modal\" id=\"deleteModal\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">⚠️ Confirmar Eliminación</div>\n      <p style=\"color: #6b7280; margin-bottom: 2rem; line-height: 1.6;\">\n        ¿Estás seguro de que deseas eliminar este gasto? Esta acción no se puede deshacer.\n      </p>\n      <div id=\"deleteGastoInfo\" style=\"background: #f9fafb; padding: 1rem; border-radius: 8px; margin-bottom: 1.5rem;\"></div>\n      <div class=\"modal-actions\">\n        <button type=\"button\" class=\"btn btn-secondary\" onclick=\"cerrarModalDelete()\">Cancelar</button>\n        <button type=\"button\" class=\"btn btn-delete\" onclick=\"confirmarEliminacion()\">Sí, Eliminar</button>\n      </div>\n    </div>\n  </div>\n\n  <!-- Toast de Notificación -->\n  <div class=\"toast\" id=\"toast\">\n    <span class=\"toast-icon\" id=\"toastIcon\"></span>\n    <span class=\"toast-message\" id=\"toastMessage\"></span>\n  </div>\n\n  <script>\n    // Datos de entrada desde n8n\n    const inputData = {{ JSON.stringify($input.all()) }};\n    let gastos = inputData.map(item => {\n      const gasto = item.json;\n      // Normalizar el campo Id a id (minúscula)\n      return {\n        ...gasto,\n        id: gasto.Id || gasto.id // Soporta tanto Id como id\n      };\n    });\n    // Agregar esto después de la definición de gastos\n    const WEBHOOK_URL = 'https://saas.eficiencia.cloud/gestionar_gasto';\n    \n    // Colores para las categorías\n    const coloresCategoria = {\n      'comida': '#34d399',\n      'transporte': '#fbbf24',\n      'servicios': '#f87171',\n      'entretenimiento': '#fb923c',\n      'salud': '#60a5fa',\n      'educacion': '#a78bfa',\n      'hogar': '#2dd4bf',\n      'mis padres': '#818cf8',\n      'otros': '#c084fc'\n    };\n    \n    // Variable para almacenar el ID del gasto a eliminar\n    let gastoAEliminar = null;\n    \n    // Renderizar lista de gastos\n    function renderizarGastos() {\n      const container = document.getElementById('gastosList');\n      \n      if (gastos.length === 0) {\n        container.innerHTML = `\n          <div class=\"empty-state\">\n            <div style=\"font-size: 3rem; margin-bottom: 1rem;\">📭</div>\n            <p>No hay gastos para mostrar</p>\n          </div>\n        `;\n        return;\n      }\n      \n      // Ordenar por fecha descendente\n      const gastosOrdenados = [...gastos].sort((a, b) => new Date(b.fecha) - new Date(a.fecha));\n      \n      container.innerHTML = gastosOrdenados.map(gasto => {\n        const color = coloresCategoria[gasto.categoria] || '#9ca3af';\n        const [year, month, day] = gasto.fecha.split('-');\n        const fechaFormateada = `${day}/${month}/${year}`;\n        \n        return `\n          <div class=\"gasto-item\">\n            <div class=\"gasto-fecha\">${fechaFormateada}</div>\n            <div class=\"gasto-descripcion\">${gasto.descripcion}</div>\n            <div class=\"gasto-categoria\" style=\"background-color: ${color};\">${gasto.categoria}</div>\n            <div class=\"gasto-monto\">S/ ${parseFloat(gasto.monto).toFixed(2)}</div>\n            <div class=\"gasto-actions\">\n              <button class=\"btn btn-edit\" onclick=\"abrirModalEditar('${gasto.id}')\">✏️ Editar</button>\n              <button class=\"btn btn-delete\" onclick=\"abrirModalEliminar('${gasto.id}')\">🗑️ Eliminar</button>\n            </div>\n          </div>\n        `;\n      }).join('');\n    }\n    \n    // Abrir modal de edición\n    function abrirModalEditar(id) {\n      const gasto = gastos.find(g => g.id == id);\n      if (!gasto) return;\n      \n      document.getElementById('editId').value = gasto.id;\n      document.getElementById('editMonto').value = gasto.monto;\n      document.getElementById('editCategoria').value = gasto.categoria;\n      document.getElementById('editDescripcion').value = gasto.descripcion;\n      document.getElementById('editFecha').value = gasto.fecha;\n      \n      document.getElementById('editModal').classList.add('active');\n    }\n    \n    // Cerrar modal de edición\n    function cerrarModal() {\n      document.getElementById('editModal').classList.remove('active');\n    }\n    \n    // Abrir modal de eliminación\n    function abrirModalEliminar(id) {\n      const gasto = gastos.find(g => g.id == id);\n      if (!gasto) return;\n      \n      gastoAEliminar = id;\n      \n      const [year, month, day] = gasto.fecha.split('-');\n      const fechaFormateada = `${day}/${month}/${year}`;\n      \n      document.getElementById('deleteGastoInfo').innerHTML = `\n        <strong>Descripción:</strong> ${gasto.descripcion}<br>\n        <strong>Monto:</strong> S/ ${parseFloat(gasto.monto).toFixed(2)}<br>\n        <strong>Categoría:</strong> ${gasto.categoria}<br>\n        <strong>Fecha:</strong> ${fechaFormateada}\n      `;\n      \n      document.getElementById('deleteModal').classList.add('active');\n    }\n    \n    // Cerrar modal de eliminación\n    function cerrarModalDelete() {\n      document.getElementById('deleteModal').classList.remove('active');\n      gastoAEliminar = null;\n    }\n    \n    // Confirmar eliminación\n    async function confirmarEliminacion() {\n      if (!gastoAEliminar) return;\n      \n      try {\n        const response = await fetch(WEBHOOK_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ \n            accion: 'eliminar',\n            id: gastoAEliminar \n          })\n        });\n        \n        if (response.ok) {\n          // Eliminar del array local\n          gastos = gastos.filter(g => g.id != gastoAEliminar);\n          renderizarGastos();\n          cerrarModalDelete();\n          mostrarToast('Gasto eliminado correctamente', 'success');\n        } else {\n          throw new Error('Error al eliminar');\n        }\n        \n      } catch (error) {\n        console.error('Error al eliminar:', error);\n        mostrarToast('Error al eliminar el gasto', 'error');\n      }\n    }\n    \n    // Manejar envío del formulario de edición\n    document.getElementById('editForm').addEventListener('submit', async function(e) {\n      e.preventDefault();\n      \n      const id = document.getElementById('editId').value;\n      const datosActualizados = {\n        accion: 'editar',\n        id: id,\n        monto: document.getElementById('editMonto').value,\n        categoria: document.getElementById('editCategoria').value,\n        descripcion: document.getElementById('editDescripcion').value,\n        fecha: document.getElementById('editFecha').value\n      };\n      \n      try {\n        const response = await fetch(WEBHOOK_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify(datosActualizados)\n        });\n        \n        if (response.ok) {\n          // Actualizar en el array local\n          const index = gastos.findIndex(g => g.id == id);\n          if (index !== -1) {\n            gastos[index] = { ...gastos[index], ...datosActualizados };\n          }\n          \n          renderizarGastos();\n          cerrarModal();\n          mostrarToast('Gasto actualizado correctamente', 'success');\n        } else {\n          throw new Error('Error al actualizar');\n        }\n        \n      } catch (error) {\n        console.error('Error al actualizar:', error);\n        mostrarToast('Error al actualizar el gasto', 'error');\n      }\n    });\n    \n    // Mostrar toast de notificación\n    function mostrarToast(mensaje, tipo) {\n      const toast = document.getElementById('toast');\n      const icon = document.getElementById('toastIcon');\n      const messageEl = document.getElementById('toastMessage');\n      \n      toast.className = `toast ${tipo}`;\n      icon.textContent = tipo === 'success' ? '✓' : '✕';\n      messageEl.textContent = mensaje;\n      \n      toast.classList.add('active');\n      \n      setTimeout(() => {\n        toast.classList.remove('active');\n      }, 3000);\n    }\n    \n    // Cerrar modales al hacer clic fuera\n    window.onclick = function(event) {\n      const editModal = document.getElementById('editModal');\n      const deleteModal = document.getElementById('deleteModal');\n      \n      if (event.target === editModal) {\n        cerrarModal();\n      }\n      if (event.target === deleteModal) {\n        cerrarModalDelete();\n      }\n    }\n    \n    // Inicializar\n    renderizarGastos();\n  </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1488,320],"id":"370a1aba-745a-426e-8dd3-0f7766dc85ed","name":"CRUD"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Dashboard de Gastos</title>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js\"></script>\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      min-height: 100vh;\n      padding: 1.5rem;\n    }\n    \n    .dashboard {\n      max-width: 1400px;\n      margin: 0 auto;\n    }\n    \n    .header {\n      text-align: center;\n      color: white;\n      margin-bottom: 2rem;\n    }\n    \n    .header h1 {\n      font-size: 2.5rem;\n      font-weight: 700;\n      margin-bottom: 0.5rem;\n      text-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    \n    .header p {\n      font-size: 1.1rem;\n      opacity: 0.95;\n    }\n    \n    .filter-info {\n      background: rgba(255, 255, 255, 0.2);\n      backdrop-filter: blur(10px);\n      color: white;\n      padding: 0.75rem 1.5rem;\n      border-radius: 12px;\n      margin: 0 auto 1.5rem;\n      max-width: 600px;\n      text-align: center;\n      display: none;\n    }\n    \n    .filter-info.active {\n      display: block;\n    }\n    \n    .filter-info strong {\n      font-weight: 700;\n    }\n    \n    .clear-filter {\n      background: white;\n      color: #667eea;\n      border: none;\n      padding: 0.4rem 1rem;\n      border-radius: 8px;\n      font-weight: 600;\n      cursor: pointer;\n      margin-left: 1rem;\n      transition: all 0.3s;\n    }\n    \n    .clear-filter:hover {\n      transform: scale(1.05);\n      box-shadow: 0 2px 8px rgba(0,0,0,0.2);\n    }\n    \n    .cards-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n      gap: 1.5rem;\n      margin-bottom: 2rem;\n    }\n    \n    .card {\n      background: white;\n      border-radius: 16px;\n      padding: 1.5rem;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n      transition: transform 0.3s, box-shadow 0.3s;\n    }\n    \n    .card:hover {\n      transform: translateY(-4px);\n      box-shadow: 0 8px 12px rgba(0,0,0,0.15);\n    }\n    \n    .card-title {\n      font-size: 0.9rem;\n      color: #6b7280;\n      font-weight: 600;\n      margin-bottom: 0.75rem;\n      text-transform: uppercase;\n      letter-spacing: 0.5px;\n    }\n    \n    .card-value {\n      font-size: 2.5rem;\n      font-weight: 700;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      -webkit-background-clip: text;\n      -webkit-text-fill-color: transparent;\n      background-clip: text;\n    }\n    \n    .charts-grid {\n      display: grid;\n      grid-template-columns: 1fr 1.5fr;\n      gap: 1.5rem;\n      margin-bottom: 2rem;\n    }\n    \n    .chart-container {\n      background: white;\n      border-radius: 16px;\n      padding: 1.5rem;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n    }\n    \n    .chart-title {\n      font-size: 1.1rem;\n      color: #374151;\n      font-weight: 600;\n      margin-bottom: 1.5rem;\n      padding-bottom: 0.75rem;\n      border-bottom: 2px solid #f3f4f6;\n    }\n    \n    .chart-wrapper {\n      position: relative;\n      height: 350px;\n      cursor: pointer;\n    }\n    \n    .line-chart-wrapper {\n      height: 300px;\n    }\n    \n    .gastos-list-container {\n      background: white;\n      border-radius: 16px;\n      padding: 1.5rem;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n      margin-bottom: 2rem;\n    }\n    \n    .gastos-list {\n      max-height: 500px;\n      overflow-y: auto;\n    }\n    \n    .gasto-item {\n      display: grid;\n      grid-template-columns: auto 1fr auto auto;\n      gap: 1rem;\n      padding: 1rem;\n      border-bottom: 1px solid #f3f4f6;\n      align-items: center;\n      transition: background 0.2s;\n    }\n    \n    .gasto-item:hover {\n      background: #f9fafb;\n    }\n    \n    .gasto-item:last-child {\n      border-bottom: none;\n    }\n    \n    .gasto-fecha {\n      font-size: 0.85rem;\n      color: #6b7280;\n      font-weight: 600;\n      min-width: 80px;\n    }\n    \n    .gasto-descripcion {\n      color: #374151;\n      font-weight: 500;\n    }\n    \n    .gasto-categoria {\n      padding: 0.25rem 0.75rem;\n      border-radius: 12px;\n      font-size: 0.8rem;\n      font-weight: 600;\n      color: white;\n      white-space: nowrap;\n    }\n    \n    .gasto-monto {\n      font-size: 1.1rem;\n      font-weight: 700;\n      color: #667eea;\n      min-width: 90px;\n      text-align: right;\n    }\n    \n    .empty-state {\n      text-align: center;\n      padding: 3rem;\n      color: #9ca3af;\n    }\n    \n    .empty-state svg {\n      width: 64px;\n      height: 64px;\n      margin: 0 auto 1rem;\n      opacity: 0.5;\n    }\n    \n    .summary-panel {\n      background: white;\n      border-radius: 16px;\n      padding: 1.5rem;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n      text-align: center;\n    }\n    \n    .summary-title {\n      font-size: 1.2rem;\n      color: #374151;\n      font-weight: 600;\n      margin-bottom: 0.5rem;\n    }\n    \n    .summary-author {\n      font-size: 0.95rem;\n      color: #6b7280;\n    }\n    \n    @media (max-width: 1200px) {\n      .charts-grid {\n        grid-template-columns: 1fr;\n      }\n    }\n    \n    @media (max-width: 768px) {\n      body {\n        padding: 1rem;\n      }\n      \n      .header h1 {\n        font-size: 1.8rem;\n      }\n      \n      .cards-grid {\n        grid-template-columns: 1fr;\n        gap: 1rem;\n      }\n      \n      .card-value {\n        font-size: 2rem;\n      }\n      \n      .charts-grid {\n        gap: 1rem;\n      }\n      \n      .chart-wrapper {\n        height: 300px;\n      }\n      \n      .line-chart-wrapper {\n        height: 250px;\n      }\n      \n      .gasto-item {\n        grid-template-columns: 1fr;\n        gap: 0.5rem;\n      }\n      \n      .gasto-monto {\n        text-align: left;\n      }\n    }\n    \n    @media (max-width: 480px) {\n      .header h1 {\n        font-size: 1.5rem;\n      }\n      \n      .header p {\n        font-size: 0.95rem;\n      }\n      \n      .card-value {\n        font-size: 1.75rem;\n      }\n      \n      .chart-wrapper {\n        height: 250px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"dashboard\">\n    <div class=\"header\">\n      <h1>📊 Dashboard de Gastos</h1>\n      <p>Análisis detallado de tus finanzas personales</p>\n    </div>\n    \n    <div class=\"filter-info\" id=\"filterInfo\">\n      <span>Filtrando por: <strong id=\"filterText\">Todos</strong></span>\n      <button class=\"clear-filter\" onclick=\"clearFilter()\">✕ Limpiar filtro</button>\n    </div>\n    \n    <div class=\"cards-grid\">\n      <div class=\"card\">\n        <div class=\"card-title\">Cantidad de gastos</div>\n        <div class=\"card-value\" id=\"cantidadGastos\">0</div>\n      </div>\n      \n      <div class=\"card\">\n        <div class=\"card-title\">Total de gastos</div>\n        <div class=\"card-value\" id=\"totalGastos\">S/ 0.00</div>\n      </div>\n    </div>\n    \n    <div class=\"charts-grid\">\n      <div class=\"chart-container\">\n        <div class=\"chart-title\">Gastos por categoría</div>\n        <div class=\"chart-wrapper\">\n          <canvas id=\"pieChart\"></canvas>\n        </div>\n      </div>\n      \n      <div class=\"chart-container\">\n        <div class=\"chart-title\">Distribución de gastos por días</div>\n        <div class=\"chart-wrapper line-chart-wrapper\">\n          <canvas id=\"lineChart\"></canvas>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"gastos-list-container\">\n      <div class=\"chart-title\">Detalle de gastos</div>\n      <div class=\"gastos-list\" id=\"gastosList\"></div>\n    </div>\n    \n    <div class=\"summary-panel\">\n      <div class=\"summary-title\">Panel resumen de todos mi registro de gastos</div>\n      <div class=\"summary-author\">Autor: EficiencIA Cloud</div>\n    </div>\n  </div>\n\n  <script>\n    // Datos de entrada desde n8n\n    const inputData = {{ JSON.stringify($input.all()) }};\n    const datosOriginales = inputData.map(item => item.json);\n    \n    // Variables globales\n    let pieChart, lineChart;\n    let categoriaActiva = null;\n    \n    // Colores para las categorías\n    const coloresCategoria = {\n      'comida': '#34d399',\n      'transporte': '#fbbf24',\n      'servicios': '#f87171',\n      'entretenimiento': '#fb923c',\n      'salud': '#60a5fa',\n      'educacion': '#a78bfa',\n      'hogar': '#2dd4bf',\n      'mis padres': '#818cf8',\n      'otros': '#c084fc'\n    };\n    \n    // Procesar datos\n    function procesarDatos(datos) {\n      const cantidad = datos.length;\n      const total = datos.reduce((sum, gasto) => sum + parseFloat(gasto.monto || 0), 0);\n      \n      const gastosPorCategoria = {};\n      datos.forEach(gasto => {\n        const cat = gasto.categoria || 'otros';\n        gastosPorCategoria[cat] = (gastosPorCategoria[cat] || 0) + parseFloat(gasto.monto || 0);\n      });\n      \n      const gastosPorDia = {};\n      datos.forEach(gasto => {\n        const fecha = gasto.fecha;\n        gastosPorDia[fecha] = (gastosPorDia[fecha] || 0) + parseFloat(gasto.monto || 0);\n      });\n      \n      const fechasOrdenadas = Object.keys(gastosPorDia).sort();\n      \n      return { cantidad, total, gastosPorCategoria, gastosPorDia, fechasOrdenadas };\n    }\n    \n    // Actualizar tarjetas\n    function actualizarTarjetas(resultado) {\n      document.getElementById('cantidadGastos').textContent = resultado.cantidad;\n      document.getElementById('totalGastos').textContent = `S/ ${resultado.total.toFixed(2).replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\")}`;\n    }\n    \n    // Renderizar lista de gastos\n    function renderizarListaGastos(datos) {\n      const container = document.getElementById('gastosList');\n      \n      if (datos.length === 0) {\n        container.innerHTML = `\n          <div class=\"empty-state\">\n            <div style=\"font-size: 3rem; margin-bottom: 1rem;\">📭</div>\n            <p>No hay gastos para mostrar</p>\n          </div>\n        `;\n        return;\n      }\n      \n      // Ordenar por fecha descendente\n      const datosOrdenados = [...datos].sort((a, b) => new Date(b.fecha) - new Date(a.fecha));\n      \n      container.innerHTML = datosOrdenados.map(gasto => {\n        const color = coloresCategoria[gasto.categoria] || '#9ca3af';\n        const [year, month, day] = gasto.fecha.split('-');\n        const fechaFormateada = `${day}/${month}/${year}`;\n        \n        return `\n          <div class=\"gasto-item\">\n            <div class=\"gasto-fecha\">${fechaFormateada}</div>\n            <div class=\"gasto-descripcion\">${gasto.descripcion}</div>\n            <div class=\"gasto-categoria\" style=\"background-color: ${color};\">${gasto.categoria}</div>\n            <div class=\"gasto-monto\">S/ ${parseFloat(gasto.monto).toFixed(2)}</div>\n          </div>\n        `;\n      }).join('');\n    }\n    \n    // Crear gráfico de torta\n    function crearPieChart(resultado) {\n      const categorias = Object.keys(resultado.gastosPorCategoria);\n      const montosCategoria = Object.values(resultado.gastosPorCategoria);\n      const coloresPie = categorias.map(cat => coloresCategoria[cat] || '#9ca3af');\n      \n      const ctx = document.getElementById('pieChart').getContext('2d');\n      \n      if (pieChart) pieChart.destroy();\n      \n      pieChart = new Chart(ctx, {\n        type: 'doughnut',\n        data: {\n          labels: categorias,\n          datasets: [{\n            data: montosCategoria,\n            backgroundColor: coloresPie,\n            borderWidth: 3,\n            borderColor: '#fff',\n            hoverOffset: 15\n          }]\n        },\n        options: {\n          responsive: true,\n          maintainAspectRatio: false,\n          onClick: (event, elements) => {\n            if (elements.length > 0) {\n              const index = elements[0].index;\n              const categoria = categorias[index];\n              filtrarPorCategoria(categoria);\n            }\n          },\n          plugins: {\n            legend: {\n              position: 'right',\n              labels: {\n                padding: 15,\n                font: { size: 12 },\n                generateLabels: function(chart) {\n                  const data = chart.data;\n                  return data.labels.map((label, i) => {\n                    const value = data.datasets[0].data[i];\n                    const total = data.datasets[0].data.reduce((a, b) => a + b, 0);\n                    const porcentaje = ((value / total) * 100).toFixed(2);\n                    return {\n                      text: `${label}: ${porcentaje}%`,\n                      fillStyle: data.datasets[0].backgroundColor[i],\n                      hidden: false,\n                      index: i\n                    };\n                  });\n                }\n              }\n            },\n            tooltip: {\n              callbacks: {\n                label: function(context) {\n                  const label = context.label || '';\n                  const value = context.parsed;\n                  const total = context.dataset.data.reduce((a, b) => a + b, 0);\n                  const porcentaje = ((value / total) * 100).toFixed(2);\n                  return `${label}: S/ ${value.toFixed(2)} (${porcentaje}%)`;\n                }\n              }\n            }\n          }\n        }\n      });\n    }\n    \n    // Crear gráfico de línea\n    function crearLineChart(resultado) {\n      const fechas = resultado.fechasOrdenadas;\n      const montosPorDia = fechas.map(fecha => resultado.gastosPorDia[fecha]);\n      \n      const ctx = document.getElementById('lineChart').getContext('2d');\n      \n      if (lineChart) lineChart.destroy();\n      \n      lineChart = new Chart(ctx, {\n        type: 'line',\n        data: {\n          labels: fechas.map(fecha => {\n            const [year, month, day] = fecha.split('-');\n            return `${day}/${month}`;\n          }),\n          datasets: [{\n            label: 'Gastos diarios',\n            data: montosPorDia,\n            borderColor: '#14b8a6',\n            backgroundColor: 'rgba(20, 184, 166, 0.1)',\n            borderWidth: 3,\n            fill: true,\n            tension: 0.4,\n            pointRadius: 4,\n            pointHoverRadius: 6,\n            pointBackgroundColor: '#14b8a6',\n            pointBorderColor: '#fff',\n            pointBorderWidth: 2\n          }]\n        },\n        options: {\n          responsive: true,\n          maintainAspectRatio: false,\n          plugins: {\n            legend: { display: false },\n            tooltip: {\n              callbacks: {\n                label: function(context) {\n                  return `Gastos: S/ ${context.parsed.y.toFixed(2)}`;\n                }\n              }\n            }\n          },\n          scales: {\n            y: {\n              beginAtZero: true,\n              ticks: {\n                callback: function(value) {\n                  return 'S/ ' + value.toFixed(0);\n                }\n              },\n              grid: { color: 'rgba(0, 0, 0, 0.05)' }\n            },\n            x: { grid: { display: false } }\n          }\n        }\n      });\n    }\n    \n    // Filtrar por categoría\n    function filtrarPorCategoria(categoria) {\n      categoriaActiva = categoria;\n      const datosFiltrados = datosOriginales.filter(g => g.categoria === categoria);\n      const resultado = procesarDatos(datosFiltrados);\n      \n      actualizarTarjetas(resultado);\n      crearLineChart(resultado);\n      renderizarListaGastos(datosFiltrados);\n      \n      document.getElementById('filterInfo').classList.add('active');\n      document.getElementById('filterText').textContent = categoria.charAt(0).toUpperCase() + categoria.slice(1);\n    }\n    \n    // Limpiar filtro\n    function clearFilter() {\n      categoriaActiva = null;\n      const resultado = procesarDatos(datosOriginales);\n      \n      actualizarTarjetas(resultado);\n      crearPieChart(resultado);\n      crearLineChart(resultado);\n      renderizarListaGastos(datosOriginales);\n      \n      document.getElementById('filterInfo').classList.remove('active');\n    }\n    \n    // Inicializar dashboard\n    function inicializar() {\n      const resultado = procesarDatos(datosOriginales);\n      actualizarTarjetas(resultado);\n      crearPieChart(resultado);\n      crearLineChart(resultado);\n      renderizarListaGastos(datosOriginales);\n    }\n    \n    // Ejecutar al cargar\n    inicializar();\n  </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1488,96],"id":"ec9b7144-d4a6-4402-9a4b-e6f8ee17fb21","name":"DASHBOARD"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eda58d75-7714-4499-a0a9-4f11924f080f","leftValue":"={{ $('set valores').item.json.tipo_token }}","rightValue":"reporte","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,208],"id":"bbb97185-bcf9-472c-b94b-f8657f9ad4a2","name":"reporte"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f4d76ef4-203b-4b36-a04e-73f7ab7b7933","leftValue":"={{ $json.tiene_datos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,288],"id":"286669b3-b6b0-4a7c-aef2-c3f81d348e2b","name":"acceso"}],"connections":{"Webhook":{"main":[[{"node":"detecta bot preview","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"reporte","type":"main","index":0}]]},"sin acceso":{"main":[[{"node":"set html1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Get token":{"main":[[{"node":"set valores","type":"main","index":0}]]},"Update a row":{"main":[[]]},"Limit":{"main":[[{"node":"set html1","type":"main","index":0}]]},"set html1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"detener flujo":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Get token","type":"main","index":0}]]},"detecta bot preview":{"main":[[{"node":"detener flujo","type":"main","index":0}]]},"set valores":{"main":[[{"node":"acceso","type":"main","index":0}]]},"CRUD":{"main":[[{"node":"Limit","type":"main","index":0}]]},"DASHBOARD":{"main":[[{"node":"Limit","type":"main","index":0}]]},"reporte":{"main":[[{"node":"DASHBOARD","type":"main","index":0}],[{"node":"CRUD","type":"main","index":0}]]},"acceso":{"main":[[{"node":"Get many rows","type":"main","index":0}],[{"node":"sin acceso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","cache-control":"max-age=0","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"190.239.25.123","cf-ew-via":"15","cf-ray":"9997ba43b4c362c5-HAM","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"eficiencia.cloud","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-auth-token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmYjY3NThkYi1lY2U5LTRiM2EtYmFiNi03ODUyYWMxNTlmZjYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYxMDU1NDYxfQ.21BDxpv_octfivPWzxFM-PbVydcoHWKiNvZvYjUM15c","x-forwarded-for":"162.158.202.102","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"07bf72e2d994","x-real-ip":"162.158.202.102"},"params":{},"query":{"token":"b0c29bd3b2fcd3d5b4b9705d70ac22a33be292b3cc2a0b4ff20f8e3ebbb196d5"},"body":{},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/dashboard_gastos","executionMode":"production"}}]},"versionId":"1cf9571d-5513-4650-ac59-822f740a744c","triggerCount":1,"shared":[{"createdAt":"2025-10-25T17:08:41.448Z","updatedAt":"2025-10-25T17:08:41.448Z","role":"workflow:owner","workflowId":"GboFMy2WsoWrwjUl","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}