web-confirmacion-despacho-mqg-1NkslMhCzLG8oAt5.json
{"createdAt":"2025-10-16T15:39:35.742Z","updatedAt":"2025-10-16T18:33:55.892Z","id":"1NkslMhCzLG8oAt5","name":"WEB confirmacion despacho MQG","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"confirmacion_mqg","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,224],"id":"f759ea70-4557-4d24-9e0d-83eaa18f3d27","name":"Webhook","webhookId":"7464c723-b67e-4d44-bfc5-ff1cd3cddf2e"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Atención Despacho Moquegua</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background: linear-gradient(135deg, #e0eafc, #cfdef3);\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      min-height: 100vh;\n      margin: 0;\n      color: #333;\n    }\n    .container {\n      background: #fff;\n      padding: 2rem;\n      border-radius: 10px;\n      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);\n      max-width: 500px;\n      width: 100%;\n      text-align: center;\n    }\n    h1 {\n      color: #2c3e50;\n      margin-bottom: 1rem;\n      font-size: 1.8rem;\n    }\n    .info-box {\n      background: #f8f9fa;\n      padding: 1rem;\n      border-radius: 5px;\n      margin-bottom: 1rem;\n      border-left: 4px solid #6c757d;\n      text-align: left;\n    }\n    .label {\n      font-size: 0.9rem;\n      color: #6c757d;\n      margin-bottom: 0.3rem;\n    }\n    .value {\n      font-size: 1.1rem;\n      font-weight: bold;\n      color: #495057;\n    }\n    .estado-badge {\n      display: inline-flex;\n      align-items: center;\n      padding: 0.5rem 1rem;\n      border-radius: 20px;\n      font-size: 0.9rem;\n      font-weight: bold;\n      color: white;\n    }\n    .estado-pendiente {\n      background-color: #ffc107;\n    }\n    button {\n      background: #3498db;\n      color: #fff;\n      border: none;\n      padding: 0.8rem 1.5rem;\n      font-size: 1rem;\n      border-radius: 5px;\n      cursor: pointer;\n      margin-top: 1.5rem;\n      transition: background 0.3s;\n    }\n    button:disabled {\n      background: #bdc3c7;\n      cursor: not-allowed;\n    }\n    button:hover:not(:disabled) {\n      background: #2980b9;\n    }\n    .success-message, .error-message {\n      margin: 1rem 0;\n      padding: 1rem;\n      border-radius: 5px;\n      display: none;\n    }\n    .success-message {\n      background: #d4edda;\n      color: #155724;\n    }\n    .error-message {\n      background: #f8d7da;\n      color: #721c24;\n    }\n    label {\n      display: block;\n      font-size: 1rem;\n      margin: 0.5rem 0;\n      text-align: left;\n      color: #34495e;\n    }\n    input, select {\n      width: 100%;\n      padding: 0.7rem;\n      border: 1px solid #ccc;\n      border-radius: 5px;\n      margin-bottom: 1rem;\n      font-size: 1rem;\n      box-sizing: border-box;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Atención Despacho Moquegua</h1>\n\n    <div class=\"info-box\">\n      <div class=\"label\">Comprobante:</div>\n      <div class=\"value\">{{ $json.comprobante }}</div>\n    </div>\n\n    <div class=\"info-box\">\n      <div class=\"label\">Cliente:</div>\n      <div class=\"value\">{{ $json.cliente }}</div>\n    </div>\n\n    <div class=\"info-box\">\n      <div class=\"label\">Estado:</div>\n      <div class=\"estado-badge estado-pendiente\">{{ $json.estado }}</div>\n    </div>\n\n    <form id=\"solicitudForm\">\n      <input type=\"hidden\" id=\"requestId\" value=\"{{ $json.request_id }}\">\n\n      <label for=\"guia\">Número de Guía de Remisión:</label>\n      <input type=\"text\" id=\"guia\" placeholder=\"Ej: T008-005746\">\n\n      <button id=\"enviar\" type=\"submit\" disabled>Enviar Confirmación</button>\n    </form>\n\n    <div id=\"mensaje\" class=\"success-message\"></div>\n    <div id=\"error\" class=\"error-message\"></div>\n  </div>\n\n  <script>\n  function validarFormulario() {     \n    const guia = document.getElementById('guia');\n    const boton = document.getElementById('enviar');\n\n    // ✅ Cambia la expresión regular según el formato de guía que necesites    \n    const regexGuia = /^[A-Za-z].*$/;   \n\n    if (regexGuia.test(guia.value.trim())) {\n      boton.disabled = false;\n    } else {\n      boton.disabled = true;\n    }\n  }\n\n  async function enviarDatos(event) {\n    event.preventDefault();\n\n    const requestId = document.getElementById('requestId').value;\n    const guia = document.getElementById('guia').value;\n    const boton = document.getElementById('enviar');\n\n    boton.disabled = true;\n    boton.textContent = 'Enviando...';\n\n    try {\n      let formData = new FormData();\n      formData.append('request_id', requestId);\n      formData.append('guia', guia);\n\n      const response = await fetch('https://ene8w.heleo.com.pe/webhook/confirmar_mqg', {\n        method: 'POST',\n        body: formData\n      });\n\n      if (response.ok) {\n        document.getElementById('mensaje').textContent = '✅ Solicitud confirmada exitosamente';\n        document.getElementById('mensaje').style.display = 'block';\n        boton.textContent = 'Confirmado';\n        boton.style.backgroundColor = '#28a745';\n      } else {\n        throw new Error('Error en el servidor');\n      }\n    } catch (error) {\n      document.getElementById('error').textContent = '❌ Error al enviar la confirmación';\n      document.getElementById('error').style.display = 'block';\n      boton.disabled = false;\n      boton.textContent = 'Enviar Confirmación';\n    }\n  }\n\n  document.addEventListener('DOMContentLoaded', function() {\n    document.getElementById('guia').addEventListener('input', validarFormulario);\n    document.getElementById('solicitudForm').addEventListener('submit', enviarDatos);\n  });\n</script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[576,224],"id":"11eb0f65-4a95-4627-90da-ea6a65a75f2c","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[816,224],"id":"60d7e14d-f704-4099-91bd-045e7f58c9d5","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"280d8b56-745f-4326-9379-b9dbb47c9d79","name":"request_id","value":"={{ $json.Id }}","type":"string"},{"id":"51623da0-82ca-4c8b-9f68-0ad4974ab556","name":"comprobante","value":"={{ $json['COMPROBANTE VENTA'] }}","type":"string"},{"id":"8fe05369-8ff5-4138-9fe0-26a7518a9029","name":"cliente","value":"={{ $json.CLIENTE }}","type":"string"},{"id":"ee2c2bc8-5297-4136-8359-e5c2709f3eaa","name":"estado","value":"={{ $json.ESTADO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,224],"id":"488b7893-c5b9-4b19-b5f1-652f3b1f5bdc","name":"Edit Fields"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pc78lwdskp5zr58","table":"mzlpnea8erodu6b","id":"={{ $json.query.request_id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[48,224],"id":"dc0391ac-bfe9-4017-9c46-5cb07237ebfc","name":"Get a row","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"content":"## Web de confirmacion de atencion\naca cree la web y la publico mediante un webhook","height":384,"width":1552},"type":"n8n-nodes-base.stickyNote","position":[-416,64],"typeVersion":1,"id":"e66d29ba-f506-47ac-a1f3-0bb560748db9","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"190.239.25.123"},"params":{},"query":{"request_id":"14"},"body":{},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/sl","executionMode":"production"}}]},"versionId":"61b20a81-d467-49e4-b77f-041a33576c6f","triggerCount":1,"shared":[{"createdAt":"2025-10-16T15:39:35.742Z","updatedAt":"2025-10-16T15:39:35.742Z","role":"workflow:owner","workflowId":"1NkslMhCzLG8oAt5","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}