web-respuesta-solicitud-rRqEXTN6Zm2YrtoR.json
{"createdAt":"2025-08-19T18:54:21.669Z","updatedAt":"2025-09-15T15:48:30.869Z","id":"rRqEXTN6Zm2YrtoR","name":"web respuesta solicitud","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"sl","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,96],"id":"72c5816b-2339-4156-acae-febdb3581bbe","name":"Webhook","webhookId":"c8ad9a0d-c99e-4d80-bcb1-1c58082174b0"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Atención de Solicitud</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #e0eafc, #cfdef3);\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            min-height: 100vh;\n            margin: 0;\n            color: #333;\n        }\n        .container {\n            background: #fff;\n            padding: 2rem;\n            border-radius: 10px;\n            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);\n            max-width: 500px;\n            width: 100%;\n            text-align: center;\n        }\n        h1 {\n            color: #2c3e50;\n            margin-bottom: 1rem;\n            font-size: 1.8rem;\n        }\n        .solicitante-info {\n            background: #f8f9fa;\n            padding: 1rem;\n            border-radius: 5px;\n            margin-bottom: 1.5rem;\n            border-left: 4px solid #6c757d;\n        }\n        .solicitante-label {\n            font-size: 0.9rem;\n            color: #6c757d;\n            margin-bottom: 0.3rem;\n        }\n        .solicitante-name {\n            font-size: 1.1rem;\n            font-weight: bold;\n            color: #495057;\n        }\n        .estado-info {\n            background: #f8f9fa;\n            padding: 1rem;\n            border-radius: 5px;\n            margin-bottom: 1.5rem;\n            border-left: 4px solid #6c757d;\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n        }\n        .estado-label {\n            font-size: 0.9rem;\n            color: #6c757d;\n            margin-bottom: 0.3rem;\n        }\n        .estado-badge {\n            display: inline-flex;\n            align-items: center;\n            padding: 0.5rem 1rem;\n            border-radius: 20px;\n            font-size: 0.9rem;\n            font-weight: bold;\n            color: white;\n        }\n        .estado-en-espera {\n            background-color: #17a2b8;\n        }\n        .estado-ya-atendida {\n            background-color: #28a745;\n        }\n        .estado-no-atendido {\n            background-color: #dc3545;\n        }\n        .estado-content {\n            flex: 1;\n        }\n        label {\n            display: block;\n            font-size: 1.1rem;\n            margin-bottom: 0.5rem;\n            color: #34495e;\n            text-align: left;\n        }\n        select, input[type=\"file\"] {\n            width: 100%;\n            padding: 0.8rem;\n            font-size: 1rem;\n            border: 1px solid #ccc;\n            border-radius: 5px;\n            background: #f9f9f9;\n            transition: border-color 0.3s;\n            margin-bottom: 1rem;\n            box-sizing: border-box;\n        }\n        select:focus, input[type=\"file\"]:focus {\n            border-color: #3498db;\n            outline: none;\n        }\n        .file-upload-area {\n            border: 2px dashed #ccc;\n            border-radius: 5px;\n            padding: 1.5rem;\n            margin-bottom: 1rem;\n            transition: all 0.3s;\n            cursor: pointer;\n        }\n        .file-upload-area:hover {\n            border-color: #3498db;\n            background: #f8f9fa;\n        }\n        .file-upload-area.dragover {\n            border-color: #3498db;\n            background: #e3f2fd;\n        }\n        .file-info {\n            background: #e8f5e8;\n            padding: 0.8rem;\n            border-radius: 5px;\n            margin-bottom: 1rem;\n            display: none;\n            border-left: 4px solid #28a745;\n        }\n        .file-name {\n            font-weight: bold;\n            color: #155724;\n        }\n        .file-size {\n            font-size: 0.9rem;\n            color: #666;\n        }\n        .remove-file {\n            background: #dc3545;\n            color: white;\n            border: none;\n            padding: 0.3rem 0.8rem;\n            border-radius: 3px;\n            cursor: pointer;\n            font-size: 0.8rem;\n            margin-top: 0.5rem;\n        }\n        .remove-file:hover {\n            background: #c82333;\n        }\n        button {\n            background: #3498db;\n            color: #fff;\n            border: none;\n            padding: 0.8rem 1.5rem;\n            font-size: 1rem;\n            border-radius: 5px;\n            cursor: pointer;\n            margin-top: 1.5rem;\n            transition: background 0.3s;\n        }\n        button:disabled {\n            background: #bdc3c7;\n            cursor: not-allowed;\n        }\n        button:hover:not(:disabled) {\n            background: #2980b9;\n        }\n        .success-message, .error-message {\n            margin: 1rem 0;\n            padding: 1rem;\n            border-radius: 5px;\n            display: none;\n        }\n        .success-message {\n            background: #d4edda;\n            color: #155724;\n        }\n        .error-message {\n            background: #f8d7da;\n            color: #721c24;\n        }\n        .loading {\n            background: #cce7ff;\n            color: #0066cc;\n        }\n        .step {\n            background: #f8f9fa;\n            padding: 1rem;\n            border-radius: 5px;\n            margin-bottom: 1rem;\n            border-left: 4px solid #17a2b8;\n        }\n        .step-number {\n            background: #17a2b8;\n            color: white;\n            border-radius: 50%;\n            width: 25px;\n            height: 25px;\n            display: inline-flex;\n            align-items: center;\n            justify-content: center;\n            font-size: 0.9rem;\n            margin-right: 0.5rem;\n        }\n        .hidden {\n            display: none;\n        }\n        .file-section {\n            display: block;\n        }\n        @media (max-width: 600px) {\n            .container {\n                margin: 1rem;\n                padding: 1.5rem;\n            }\n            h1 {\n                font-size: 1.5rem;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Atención de Solicitud de: {{ $json.Requerimiento }}</h1>\n        \n        <!-- Información del solicitante -->\n        <div class=\"solicitante-info\">\n            <div class=\"solicitante-label\">Solicitante:</div>\n            <div class=\"solicitante-name\">{{ $json.Solicitante }}</div>\n        </div>\n        \n        <!-- Estado de atención -->\n        <div class=\"estado-info\">\n            <div class=\"estado-content\">\n                <div class=\"estado-label\">Estado de Solicitud:</div>\n            </div>\n            <div class=\"estado-badge\" id=\"estadoBadge\">\n                {{ $json.Estado }}\n            </div>\n        </div>\n        \n        <!-- Sección de archivo PDF - Solo para \"Nota de credito\" -->\n        <div class=\"file-section\" id=\"fileSection\">\n            <div class=\"step\">\n                <span class=\"step-number\">1</span>\n                <strong>Adjunta la Nota de credito en PDF (opcional)</strong>\n            </div>\n            \n            <div class=\"file-upload-area\" id=\"fileUploadArea\">\n                <p>📄 Arrastra tu la NC aquí o haz clic para seleccionar</p>\n                <input type=\"file\" id=\"pdfFile\" accept=\".pdf\" style=\"display: none;\">\n            </div>\n            \n            <div class=\"file-info\" id=\"fileInfo\">\n                <div class=\"file-name\" id=\"fileName\"></div>\n                <div class=\"file-size\" id=\"fileSize\"></div>\n                <button type=\"button\" class=\"remove-file\" onclick=\"removeFile()\">Quitar archivo</button>\n            </div>\n        </div>\n        \n        <div class=\"step\">\n            <span class=\"step-number\" id=\"stepNumber\">2</span>\n            <strong>Selecciona el usuario responsable</strong>\n        </div>\n        \n        <form id=\"solicitudForm\">\n            <input type=\"hidden\" id=\"requestId\" value=\"{{ $json.request_id }}\">\n            <input type=\"hidden\" id=\"requerimiento\" value=\"{{ $json.Requerimiento }}\">\n            <input type=\"hidden\" id=\"estado\" value=\"{{ $json.Estado }}\">\n            <label for=\"usuario\">Selecciona un usuario:</label>\n            {{ $json.comboHtml }}\n            <button id=\"enviar\" type=\"submit\" disabled>Enviar Confirmación</button>\n        </form>\n        \n        <div id=\"mensaje\" class=\"success-message\"></div>\n        <div id=\"error\" class=\"error-message\"></div>\n    </div>\n\n    <script>\n        let selectedFile = null;\n\n        function activarBoton() {\n            var select = document.getElementById('usuario');\n            var boton = document.getElementById('enviar');\n            \n            if (select && select.value !== '') {\n                boton.disabled = false;\n            } else {\n                boton.disabled = true;\n            }\n        }\n\n        function mostrarMensaje(texto, tipo = 'success') {\n            const mensaje = document.getElementById('mensaje');\n            const error = document.getElementById('error');\n            \n            // Ocultar ambos mensajes\n            mensaje.style.display = 'none';\n            error.style.display = 'none';\n            \n            if (tipo === 'success') {\n                mensaje.textContent = texto;\n                mensaje.style.display = 'block';\n            } else {\n                error.textContent = texto;\n                error.style.display = 'block';\n            }\n        }\n\n        function formatFileSize(bytes) {\n            if (bytes === 0) return '0 Bytes';\n            const k = 1024;\n            const sizes = ['Bytes', 'KB', 'MB', 'GB'];\n            const i = Math.floor(Math.log(bytes) / Math.log(k));\n            return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + ' ' + sizes[i];\n        }\n\n        function handleFileSelect(file) {\n            if (file && file.type === 'application/pdf') {\n                selectedFile = file;\n                document.getElementById('fileName').textContent = file.name;\n                document.getElementById('fileSize').textContent = formatFileSize(file.size);\n                document.getElementById('fileInfo').style.display = 'block';\n                document.getElementById('fileUploadArea').innerHTML = '<p style=\"color: #28a745;\">✅ PDF adjuntado correctamente</p>';\n            } else {\n                mostrarMensaje('❌ Por favor selecciona un archivo PDF válido.', 'error');\n                removeFile();\n            }\n        }\n\n        function removeFile() {\n            selectedFile = null;\n            document.getElementById('fileInfo').style.display = 'none';\n            document.getElementById('fileUploadArea').innerHTML = '<p>📄 Arrastra tu archivo PDF aquí o haz clic para seleccionar</p>';\n            document.getElementById('pdfFile').value = '';\n        }\n\n        function configurarVisibildadArchivo() {\n            const requerimiento = document.getElementById('requerimiento').value;\n            const fileSection = document.getElementById('fileSection');\n            const stepNumber = document.getElementById('stepNumber');\n            \n            // Si el requerimiento NO es \"Nota de credito\", ocultar la sección de archivo\n            if (requerimiento !== 'Nota de credito') {\n                fileSection.style.display = 'none';\n                stepNumber.textContent = '1'; // Cambiar numeración del paso\n            } else {\n                fileSection.style.display = 'block';\n                stepNumber.textContent = '2'; // Mantener numeración original\n            }\n        }\n\n        function configurarEstadoBadge() {\n            const estado = document.getElementById('estado').value;\n            const estadoBadge = document.getElementById('estadoBadge');\n            \n            // Remover clases existentes\n            estadoBadge.classList.remove('estado-en-espera', 'estado-ya-atendida', 'estado-no-atendido');\n            \n            // Agregar clase según el estado\n            switch(estado) {\n                case 'En espera':\n                    estadoBadge.classList.add('estado-en-espera');\n                    break;\n                case 'Ya atendida':\n                    estadoBadge.classList.add('estado-ya-atendida');\n                    break;\n                case 'No atendido':\n                    estadoBadge.classList.add('estado-no-atendido');\n                    break;\n                default:\n                    estadoBadge.classList.add('estado-en-espera'); // Por defecto\n            }\n        }\n\n        async function enviarDatos(event) {\n            event.preventDefault();\n            \n            const requestId = document.getElementById('requestId').value;\n            const usuarioId = document.getElementById('usuario').value;\n            const requerimiento = document.getElementById('requerimiento').value;\n            const estado = document.getElementById('estado').value;\n            const boton = document.getElementById('enviar');\n            \n            // Cambiar estado del botón\n            boton.disabled = true;\n            boton.textContent = 'Enviando...';\n            \n            try {\n                let formData = new FormData();\n                formData.append('request_id', requestId);\n                formData.append('user_id', usuarioId);\n                formData.append('requerimiento', requerimiento);\n                formData.append('estado', estado);\n                \n                // Adjuntar archivo PDF si existe Y si el requerimiento es \"Nota de credito\"\n                if (selectedFile && requerimiento === 'Nota de credito') {\n                    formData.append('pdf_file', selectedFile);\n                }\n                \n                // Enviar al webhook\n                const response = await fetch('https://ene8w.heleo.com.pe/webhook/confirmacion_solicitud', {\n                    method: 'POST',\n                    body: formData\n                });\n                \n                if (response.ok) {\n                    const archivoMensaje = (selectedFile && requerimiento === 'Nota de credito') ? ' (con archivo adjunto)' : '';\n                    mostrarMensaje('✅ Solicitud confirmada exitosamente!' + archivoMensaje, 'success');\n                    boton.textContent = 'Confirmado';\n                    boton.style.backgroundColor = '#28a745';\n                } else {\n                    throw new Error('Error en el servidor');\n                }\n                \n            } catch (error) {\n                mostrarMensaje('❌ Error al enviar la confirmación. Intenta de nuevo.', 'error');\n                boton.disabled = false;\n                boton.textContent = 'Enviar Confirmación';\n            }\n        }\n\n        // Ejecutar al cargar la página\n        document.addEventListener('DOMContentLoaded', function() {\n            // Configurar visibilidad de la sección de archivo\n            configurarVisibildadArchivo();\n            \n            // Configurar colores del badge de estado\n            configurarEstadoBadge();\n            \n            activarBoton();\n            \n            // Configurar área de drop para archivos (solo si la sección está visible)\n            const fileUploadArea = document.getElementById('fileUploadArea');\n            const fileInput = document.getElementById('pdfFile');\n            const fileSection = document.getElementById('fileSection');\n            \n            if (fileSection.style.display !== 'none') {\n                // Click en el área para abrir selector de archivos\n                fileUploadArea.addEventListener('click', () => {\n                    fileInput.click();\n                });\n                \n                // Cambio en el input de archivo\n                fileInput.addEventListener('change', (e) => {\n                    if (e.target.files.length > 0) {\n                        handleFileSelect(e.target.files[0]);\n                    }\n                });\n                \n                // Drag and drop events\n                fileUploadArea.addEventListener('dragover', (e) => {\n                    e.preventDefault();\n                    fileUploadArea.classList.add('dragover');\n                });\n                \n                fileUploadArea.addEventListener('dragleave', (e) => {\n                    e.preventDefault();\n                    fileUploadArea.classList.remove('dragover');\n                });\n                \n                fileUploadArea.addEventListener('drop', (e) => {\n                    e.preventDefault();\n                    fileUploadArea.classList.remove('dragover');\n                    \n                    const files = e.dataTransfer.files;\n                    if (files.length > 0) {\n                        handleFileSelect(files[0]);\n                    }\n                });\n            }\n            \n            // Agregar evento al formulario\n            document.getElementById('solicitudForm').addEventListener('submit', enviarDatos);\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[672,96],"id":"0d3d0980-b81f-4f33-a3f4-83fd6e1423d3","name":"HTML"},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"pgdr03jv1pxs0up","table":"mlzp2itrhk2iut6","options":{"viewId":"vwhj54lx2flyckf5"}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[0,96],"id":"e5cb47e4-e112-4933-9b63-e8df840ff74d","name":"Get many rows","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst inputData = $input.all();\n\n// Procesar los datos para crear las opciones del combo\nlet optionsHtml = '<option value=\"\">Seleccione un empleado...</option>\\n';\n\n// Iterar sobre cada elemento de datos\ninputData.forEach(item => {\n  const data = item.json;\n  optionsHtml += `<option value=\"${data.Id}\">${data.Nombre}</option>\\n`;\n});\n\n// Crear el HTML del combo desplegable con el ID correcto y el evento onchange\nconst selectHtml = `<select id=\"usuario\" name=\"usuario\" onchange=\"activarBoton()\">\n${optionsHtml}</select>`;\n\n// Retornar el HTML del combo\nreturn [\n  {\n    json: {\n      comboHtml: selectHtml\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"id":"b379080f-fef9-4933-8bfa-d148184d01b3","name":"Code"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[880,96],"id":"e482292a-2db5-4e5c-81bb-a663d6b83315","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"280d8b56-745f-4326-9379-b9dbb47c9d79","name":"request_id","value":"={{ $json.Id }}","type":"string"},{"id":"29c20e3f-3df1-490e-84b7-483138d069d8","name":"Requerimiento","value":"={{ $json.Requerimiento }}","type":"string"},{"id":"838a674d-ddb4-404a-93bf-b6688943d4c6","name":"Solicitante","value":"={{ $json.Solicitante }}","type":"string"},{"id":"98556748-2998-4421-b449-21a7b5bedc5b","name":"Estado","value":"={{ $json.Estado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,288],"id":"655899cf-9558-4122-afb7-0fb90bcd34f9","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[432,192],"id":"6258cd3b-53ad-43ab-b7df-103b5015b110","name":"Merge"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"pgdr03jv1pxs0up","table":"m15ssb58yi3alx5","id":"={{ $json.query.request_id }}"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[-16,288],"id":"0abc48fb-3b3e-495b-8a4c-2188938ca38c","name":"Get a row","retryOnFail":true,"credentials":{"nocoDbApiToken":{"id":"VzaOAq3reUMnCYi4","name":"NocoDB Token account"}}},{"parameters":{"content":"## Web de confirmacion de atencion\naca cree la web y la publico mediante un webhook","height":592,"width":1552},"type":"n8n-nodes-base.stickyNote","position":[-352,-64],"typeVersion":1,"id":"ce8f7e96-acd5-4b2a-84ce-65f1f22adc4f","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[{"node":"Get many rows","type":"main","index":0},{"node":"Get a row","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"ene8w.heleo.com.pe","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5,es-PE;q=0.4","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Microsoft Edge\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"190.239.25.123","x-forwarded-host":"ene8w.heleo.com.pe","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e1a79d945b11","x-real-ip":"190.239.25.123"},"params":{},"query":{"request_id":"42"},"body":{},"webhookUrl":"https://ene8w.heleo.com.pe/webhook/sl","executionMode":"production"}}]},"versionId":"b06f78bf-4fd9-43da-8ed4-3f4fe5737123","triggerCount":1,"shared":[{"createdAt":"2025-08-19T18:54:21.669Z","updatedAt":"2025-08-19T18:54:21.669Z","role":"workflow:owner","workflowId":"rRqEXTN6Zm2YrtoR","projectId":"SqMi70IbghSQH4eu"}],"tags":[]}